Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

test
  .github/workflows/main.yml
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

add feature_column.py
  python/runtime/feature_derivation/feature_column.py
  python/runtime/feature_derivation/feature_column_test.py
Due: copyright_checker, pylint

Refine PAI submitter code structure (#2733)
  python/runtime/pai/entry.py
  python/runtime/pai/pai_distributed.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/tensorflow/__init__.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/pai/tensorflow/train_estimator.py
  python/runtime/pai/tensorflow/train_keras.py
  python/runtime/pai/xgboost/explain.py
  python/runtime/pai/xgboost/predict.py
Due: copyright_checker, pylint

Add KMeans and RF PAI submitter
  python/runtime/pai/kmeans.py
  python/runtime/pai/random_forest.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

add secrets
  .github/workflows/main.yml
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

test
  .github/workflows/main.yml
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

follow comments
  python/runtime/feature_derivation/__init__.py
  python/runtime/feature_derivation/feature_column.py
  python/runtime/feature_derivation/feature_column_test.py
  python/runtime/feature_derivation/field_desc.py
Due: copyright_checker, pylint

polish doc
  python/runtime/feature_derivation/field_desc.py
Due: copyright_checker, pylint

Add feature_column.py (#2735)
  python/runtime/feature_derivation/__init__.py
  python/runtime/feature_derivation/feature_column.py
  python/runtime/feature_derivation/feature_column_test.py
  python/runtime/feature_derivation/field_desc.py
Due: copyright_checker, pylint

use model type defined in runtim.model
  python/runtime/model/model.py
  python/runtime/oss.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

fix string compare
  go/ir/ir.go
Due: copyright_checker

test
  .github/workflows/main.yml
Due: none

clean up
  .github/workflows/main.yml
  docker/ci/install-odps.bash
  scripts/travis/deploy_client.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

PAI submitter for KMeans and RandomForest (#2736)
  python/runtime/model/model.py
  python/runtime/oss.py
  python/runtime/pai/kmeans.py
  python/runtime/pai/random_forest.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

Evaluate for PAI
  python/runtime/__init__.py
  python/runtime/pai/__init__.py
  python/runtime/pai/entry.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/xgboost/evaluate.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/set_log_level.py
Due: copyright_checker, pylint

fix feature derivation bug
  go/ir/derivation.go
  go/ir/derivation_test.go
Due: copyright_checker

fix feature derivation bug (#2738)
  go/ir/derivation.go
  go/ir/derivation_test.go
Due: copyright_checker

move feature derivation from go to python
  python/runtime/feature_derivation/__init__.py
  python/runtime/feature_derivation/feature_column.py
  python/runtime/feature_derivation/feature_column_test.py
  python/runtime/feature_derivation/feature_derivation.py
  python/runtime/feature_derivation/feature_derivation_test.py
Due: copyright_checker, pylint

add ut
  python/runtime/feature_derivation/feature_derivation_test.py
Due: copyright_checker, pylint

test push stage (#2716)
  .github/workflows/main.yml
  docker/dev/Dockerfile
  docker/dev/install.sh
  docker/jupyter/Dockerfile
  docker/modelzooserver/Dockerfile
  docker/mysql/Dockerfile
  docker/server/Dockerfile
  docker/step/Dockerfile
  scripts/travis/build.sh
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

fix develop pai training
  go/codegen/pai/template_tf.go
  go/codegen/tensorflow/template_train.go
Due: copyright_checker

update
  go/codegen/pai/codegen_test.go
Due: copyright_checker

Move feature derivation code from Go to Python (#2739)
  python/runtime/feature_derivation/__init__.py
  python/runtime/feature_derivation/feature_column.py
  python/runtime/feature_derivation/feature_column_test.py
  python/runtime/feature_derivation/feature_derivation.py
  python/runtime/feature_derivation/feature_derivation_test.py
Due: copyright_checker, pylint

rename feature python dir
  python/runtime/feature/__init__.py
  python/runtime/feature/column.py
  python/runtime/feature/column_test.py
  python/runtime/feature/derivation.py
  python/runtime/feature/derivation_test.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

rename feature python dir (#2742)
  python/runtime/feature/__init__.py
  python/runtime/feature/column.py
  python/runtime/feature/column_test.py
  python/runtime/feature/derivation.py
  python/runtime/feature/derivation_test.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

Fix develop pai training (#2740)
  go/codegen/pai/codegen_test.go
  go/codegen/pai/template_tf.go
  go/codegen/tensorflow/template_train.go
Due: copyright_checker

Update mysql Dockerfile
  docker/mysql/Dockerfile
Due: none

test windows bash shell
  .github/workflows/main.yml
Due: none

modify code
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

Update e2e test case
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

refine python derivation.py
  python/runtime/feature/derivation.py
Due: copyright_checker, pylint

test polish
  .github/workflows/main.yml
Due: none

PAI submitter for TF and XGB evaluation (#2737)
  python/runtime/__init__.py
  python/runtime/pai/__init__.py
  python/runtime/pai/entry.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/xgboost/evaluate.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/set_log_level.py
Due: copyright_checker, pylint

update cli design to support model zoo list
  doc/design/cli_model_zoo_cmd.md
Due: none
