Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

update __init__.py fix flake8
  python/runtime/local/__init__.py
Due: copyright_checker, pylint

polish py db code
  python/runtime/model/db.py
  python/runtime/model/model.py
Due: copyright_checker, pylint

Add XGBoost evaluation codegen (#2867)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/xgboost.go
  python/runtime/local/__init__.py
  python/runtime/local/submitter.py
  python/runtime/local/xgboost_submitter/evaluate.py
  python/runtime/model/db.py
  python/runtime/model/model.py
Due: copyright_checker, pylint

Retain build-essential and python3-dev in the step image.
  docker/step/Dockerfile
Due: none

fix xgb string data contains slash
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

fix ci
  python/runtime/local/xgboost_submitter/predict.py
Due: copyright_checker, pylint

Fix xgb string data contains slash (#2869)
  python/runtime/local/xgboost_submitter/predict.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

Retain build-essential and python3-dev in the step image. (#2868)
  docker/step/Dockerfile
Due: none

xgboost support native model explain for speed
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/pai/codegen.go
  go/codegen/pai/template_xgboost.go
  go/codegen/xgboost/codegen_explain.go
  go/codegen/xgboost/template_explain.go
  go/executor/executor.go
  go/executor/pai.go
  go/executor/pre_exec.go
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

update
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

fix indentation
  go/codegen/xgboost/template_explain.go
Due: copyright_checker

Collect step's output to given file (#2858)
  go/workflow/couler/codegen.go
  go/workflow/couler/codegen_test.go
  go/workflow/couler/template.go
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker, pylint

XGBoost support native model explain for speed (#2871)
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/pai/codegen.go
  go/codegen/pai/template_xgboost.go
  go/codegen/xgboost/codegen_explain.go
  go/codegen/xgboost/template_explain.go
  go/executor/executor.go
  go/executor/pai.go
  go/executor/pre_exec.go
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

add optimize codegen
  docker/step/Dockerfile
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_optimize.go
  go/codegen/experimental/codegen_step.go
  go/ir/ir.go
  python/runtime/local/optimize.py
  scripts/test/workflow.sh
Due: copyright_checker, pylint, shellcheck

simplify some code
  go/codegen/experimental/codegen_step.go
Due: copyright_checker

show train
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_show_train.go
  go/codegen/experimental/codegen_step.go
  python/runtime/dbapi/table_writer/protobuf_writer.py
  python/runtime/local/__init__.py
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

show train
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

update
  go/workflow/workflow.go
Due: copyright_checker

Support show train statement (#2874)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_show_train.go
  go/codegen/experimental/codegen_step.go
  go/workflow/workflow.go
  python/runtime/dbapi/table_writer/protobuf_writer.py
  python/runtime/local/__init__.py
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

polish
  go/codegen/experimental/codegen_step.go
Due: copyright_checker

update for predict
  python/runtime/pai/entry.py
  python/runtime/pai/pai_model.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

Add optimize codegen (#2873)
  docker/step/Dockerfile
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_optimize.go
  go/codegen/experimental/codegen_step.go
  go/ir/ir.go
  python/runtime/local/optimize.py
  scripts/test/workflow.sh
Due: copyright_checker, pylint, shellcheck

follow comments
  python/runtime/pai/pai_model.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

refine explain col name
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

fix lint
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

fix xgb predict error
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/cmd/sqlflowserver/testing.go
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

fix ci
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/ir/derivation_test.go
Due: copyright_checker

Runtime.pai use python feature column implementation (#2865)
  python/runtime/dbapi/__init__.py
  python/runtime/dbapi/connection.py
  python/runtime/model/db.py
  python/runtime/pai/entry.py
  python/runtime/pai/pai_model.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/pai/tensorflow_submitter/train_estimator.py
  python/runtime/pai/tensorflow_submitter/train_keras.py
  python/runtime/temp_file.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

fix explain
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

refine explain col name (#2875)
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

Add graceful exit time for step
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker, pylint

WIP update runtime pai explain evaluate
  python/runtime/explainer.py
  python/runtime/pai/entry.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/pai/xgboost_submitter/train.py
Due: copyright_checker, pylint

wip
  python/runtime/pai/entry.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/xgboost_submitter/train.py
Due: copyright_checker, pylint

fix hive test
  go/cmd/sqlflowserver/testing.go
Due: copyright_checker

wip
  python/runtime/pai/entry.py
Due: copyright_checker, pylint

increase mysql test timeout
  scripts/test/mysql.sh
Due: copyright_checker, shellcheck

wip
  python/runtime/pai/submitter_test.py
  python/runtime/pai/xgboost_submitter/train.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

update
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/testing.go
Due: copyright_checker

wip
  python/runtime/xgboost/dataset.py
Due: copyright_checker, pylint

Fix xgb predict error (#2876)
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/testing.go
  go/ir/derivation_test.go
  python/runtime/xgboost/explain.py
  python/runtime/xgboost/predict.py
  scripts/test/mysql.sh
Due: copyright_checker, pylint, shellcheck
