Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Chinese tutorial for DNN on iris (#3038)
  doc/tutorial/iris-dnn.cn.md
  doc/tutorial/iris-dnn.md
Due: none

update
  go/cmd/sqlflow/main.go
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/cmd/sqlflowserver/testing.go
  go/modelzooserver/using_model_test.go
Due: copyright_checker

fix python tests
  python/couler/tests/test_argo.py
Due: copyright_checker, pylint

add link to playground in readme (#3041)
  README.md
Due: none

Remove "model-dir" argument of sqlflowserver (#3044)
  doc/design/high_available_sqlflow_server.md
  go/cmd/sqlflow/main_test.go
  go/cmd/sqlflowserver/e2e_alisa_test.go
  go/cmd/sqlflowserver/e2e_alps_test.go
  go/cmd/sqlflowserver/e2e_hive_test.go
  go/cmd/sqlflowserver/e2e_maxcompute_test.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/cmd/sqlflowserver/main.go
  go/cmd/step/step.go
  go/codegen/experimental/parse_to_ir.go
  go/executor/executor.go
  go/ir/ir_generator.go
  go/ir/ir_generator_test.go
  go/model/model.go
  go/model/model_test.go
  go/modelzooserver/using_model_test.go
  go/sql/convergence_test.go
  go/sql/executor_ir.go
  go/sql/executor_ir_test.go
  go/sqlflowserver/sqlflowserver.go
  go/sqlflowserver/sqlflowserver_test.go
  go/step/step.go
  go/step/step_test.go
Due: copyright_checker

Fix argo yaml generate with datasource string contains special char (#3031)
  go/workflow/couler/codegen_test.go
  python/couler/couler/argo.py
  python/couler/tests/test_argo.py
Due: copyright_checker, pylint

update doc
  doc/datasets/popularize_creditcardfraud.sql
  doc/sqlflow.org_cn/fraud-dnn.cn.md
Due: none

add buffer for SQLFS writer
  python/runtime/model/db.py
Due: copyright_checker, pylint

refine close
  python/runtime/model/db.py
Due: copyright_checker, pylint

update doc
  doc/sqlflow.org_cn/tutorials/fraud-dnn.cn.md
Due: none

update
  go/sqlflowserver/sqlflowserver.go
Due: copyright_checker

modify doc
  doc/sqlflow.org_cn/tutorials/fraud-dnn.cn.md
Due: none

Prepare to support PAI prediction using experimental codegen (#3039)
  go/codegen/experimental/codegen_step.go
  go/executor/alisa.go
  go/executor/pai.go
  go/executor/pai_local.go
  go/model/model.go
  python/runtime/alisa/submitter.py
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/maxcompute.py
  python/runtime/model/db.py
  python/runtime/model/model.py
  python/runtime/model/modelzoo.py
  python/runtime/pai/__init__.py
  python/runtime/pai/pai_model.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/table_ops.py
  python/runtime/pai_local/__init__.py
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

try to fix baron download (#3046)
  docker/dev/install.sh
Due: copyright_checker, shellcheck

pai predict
  go/codegen/experimental/codegen_step_predict.go
  python/runtime/dbapi/connection.py
  python/runtime/local/submitter.py
  python/runtime/local/tensorflow_submitter/evaluate.py
  python/runtime/local/tensorflow_submitter/local_test_base.py
  python/runtime/local/tensorflow_submitter/train.py
  python/runtime/local/xgboost_submitter/evaluate.py
  python/runtime/local/xgboost_submitter/predict.py
  python/runtime/pai/cluster_conf.py
  python/runtime/pai/entry.py
  python/runtime/pai/pai_ml/kmeans.py
  python/runtime/pai/pai_ml/random_forest.py
  python/runtime/pai/submitter_predict.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/table_ops.py
  python/runtime/step/create_result_table.py
  python/runtime/step/tensorflow/predict.py
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

fix xgboost label name
  python/runtime/local/xgboost_submitter/predict.py
Due: copyright_checker, pylint

fix hive ci
  python/runtime/model/db.py
Due: copyright_checker, pylint

Chinese doc: add quick start (#3033)
  doc/sqlflow.org_cn/install_in_k8s.cn.md
  doc/sqlflow.org_cn/quick_start_cn.md
Due: none

Clean up workflow compile code (#3043)
  go/cmd/sqlflow/main.go
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/cmd/sqlflowserver/testing.go
  go/modelzooserver/using_model_test.go
  go/proto/sqlflow.proto
  go/sqlflowserver/sqlflowserver.go
  go/sqlflowserver/sqlflowserver_test.go
  go/workflow/argo/fetch.go
  go/workflow/argo/fetch_test.go
  go/workflow/argo/submit.go
  go/workflow/argo/workflow.go
  go/workflow/couler/codegen.go
  go/workflow/couler/codegen_test.go
  go/workflow/workflow.go
Due: copyright_checker

fix sqlflow:ci image build error with pip deps resolving after 2020.10
  docker/ci/install-pips.bash
Due: shellcheck

clean up bucket name
  go/codegen/pai/codegen.go
  go/codegen/pai/tensorflow_test.go
  go/model/model.go
Due: copyright_checker

remove workflow backend arg
  go/sqlflowserver/sqlflowserver.go
  go/workflow/workflow.go
Due: copyright_checker

polish
  python/runtime/pai/submitter_predict.py
Due: copyright_checker, pylint

add pai evaluate
  go/codegen/experimental/codegen_step_evaluate.go
  python/runtime/local/submitter.py
  python/runtime/local/tensorflow_submitter/local_test_base.py
  python/runtime/local/xgboost_submitter/evaluate.py
  python/runtime/pai/entry.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/step/tensorflow/evaluate.py
Due: copyright_checker, pylint

clean up bucket name (#3050)
  go/codegen/pai/codegen.go
  go/codegen/pai/tensorflow_test.go
  go/model/model.go
Due: copyright_checker

remove workflow backend arg (#3051)
  go/sqlflowserver/sqlflowserver.go
  go/workflow/workflow.go
Due: copyright_checker

always remove root perm dirs when pushing images
  .github/workflows/main.yml
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

support pai predict using experimental codegen (#3048)
  go/codegen/experimental/codegen_step_predict.go
  python/runtime/dbapi/connection.py
  python/runtime/local/submitter.py
  python/runtime/local/tensorflow_submitter/evaluate.py
  python/runtime/local/tensorflow_submitter/local_test_base.py
  python/runtime/local/tensorflow_submitter/train.py
  python/runtime/local/xgboost_submitter/evaluate.py
  python/runtime/local/xgboost_submitter/predict.py
  python/runtime/pai/cluster_conf.py
  python/runtime/pai/entry.py
  python/runtime/pai/pai_ml/kmeans.py
  python/runtime/pai/pai_ml/random_forest.py
  python/runtime/pai/submitter_predict.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/table_ops.py
  python/runtime/step/create_result_table.py
  python/runtime/step/tensorflow/predict.py
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

fix image build push
  doc/tutorial/energe_lstmbasedtimeseries.md
  docker/dev/build.sh
  docker/jupyter/Dockerfile
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

fix max length per row
  python/runtime/model/db.py
Due: copyright_checker, pylint

fix hive ut error
  python/runtime/step/tensorflow/evaluate.py
  scripts/test/hive.sh
Due: copyright_checker, pylint, shellcheck

update
  doc/tutorial/energe_lstmbasedtimeseries.md
  docker/step/Dockerfile
Due: none

fix ci
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

Add buffer size for SQLFS writer in Python side (#3047)
  python/runtime/model/db.py
Due: copyright_checker, pylint

increase max length per row
  python/runtime/model/db.py
Due: copyright_checker, pylint

Support PAI TensorFlow evaluation using experimental codegen (#3052)
  go/codegen/experimental/codegen_step_evaluate.go
  python/runtime/local/submitter.py
  python/runtime/local/tensorflow_submitter/local_test_base.py
  python/runtime/local/xgboost_submitter/evaluate.py
  python/runtime/pai/entry.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/step/tensorflow/evaluate.py
  scripts/test/hive.sh
Due: copyright_checker, pylint, shellcheck

increase max length per row (#3054)
  python/runtime/model/db.py
Due: copyright_checker, pylint

Fix sqlflow:ci image build error with pip deps resolving after 2020.10 (#3049)
  docker/ci/install-pips.bash
  docker/dev/build.sh
  docker/jupyter/Dockerfile
  docker/step/Dockerfile
  scripts/test/prepare.sh
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

WIP
  go/codegen/pai/template_tf.go
  go/codegen/tensorflow/template_train.go
  python/runtime/pai/entry.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train.py
  python/runtime/tensorflow/train_estimator.py
  python/runtime/tensorflow/train_keras.py
Due: copyright_checker, pylint

polish
  .github/workflows/main.yml
Due: none

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
