Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Add TO RUN tutorial.
  doc/tutorial/fraud-analysis.md
Due: none

Do some rephrase
  doc/tutorial/fraud-analysis.md
Due: none

Some runtime code clean ups (#2976)
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/step/tensorflow/train.py
  python/runtime/step/tensorflow/train_estimator.py
  python/runtime/step/tensorflow/train_keras.py
  python/runtime/tensorflow/train.py
  python/runtime/tensorflow/train_estimator.py
Due: copyright_checker, pylint

polish maxcompute writer (#2975)
  python/runtime/db_writer/pai_maxcompute.py
Due: copyright_checker, pylint

fix optimize
  go/cmd/sqlflowserver/e2e_workflow_test.go
  python/runtime/local/optimize.py
Due: copyright_checker, pylint

fix ut
  go/cmd/sqlflow/main_test.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
Due: copyright_checker

fix xgboost ndim
  python/runtime/local/xgboost_submitter/predict.py
  python/runtime/local/xgboost_submitter/xgboost_local_test.py
Due: copyright_checker, pylint

fix caseTrainRegression
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

update
  go/cmd/sqlflowserver/e2e_common_cases.go
  python/runtime/dbapi/connection.py
Due: copyright_checker, pylint

fix optimizer loss
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

fix optimize (#2986)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  python/runtime/local/optimize.py
Due: copyright_checker, pylint

fix dtype error
  python/runtime/local/tensorflow_submitter/predict.py
Due: copyright_checker, pylint

udpate
  python/runtime/local/xgboost_submitter/evaluate.py
  python/runtime/local/xgboost_submitter/explain.py
  python/runtime/local/xgboost_submitter/predict.py
  python/runtime/local/xgboost_submitter/train.py
Due: copyright_checker, pylint

fix ut
  python/runtime/dbapi/mysql_test.py
Due: copyright_checker, pylint

fix caseRegression
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

fix ut
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/codegen/experimental/codegen_normal_stmt.go
  python/runtime/dbapi/connection.py
Due: copyright_checker, pylint

fix optimizer loss (#2988)
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

fix py ut, make query/execute raise Exception
  go/codegen/experimental/codegen_normal_stmt.go
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/hive_test.py
  python/runtime/dbapi/maxcompute_test.py
  python/runtime/dbapi/mysql_test.py
Due: copyright_checker, pylint

Resolve comments.
  doc/tutorial/fraud-analysis.md
Due: none

WIP: fix experimental code gen modelzoo test error
  go/model/model.go
  go/model/model_test.go
  go/modelzooserver/using_model_test.go
  python/runtime/model/db.py
Due: copyright_checker, pylint

Fix dtype error when executing TensorFlow prediction (#2989)
  python/runtime/local/tensorflow_submitter/predict.py
  python/runtime/local/xgboost_submitter/evaluate.py
  python/runtime/local/xgboost_submitter/explain.py
  python/runtime/local/xgboost_submitter/predict.py
  python/runtime/local/xgboost_submitter/train.py
Due: copyright_checker, pylint

fix caseRegression (#2990)
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

fix experimental codegen model zoo test cases
  go/model/model.go
  go/model/model_test.go
  go/modelzooserver/modelzooserver.go
  go/modelzooserver/using_model_test.go
  python/runtime/model/db.py
Due: copyright_checker, pylint

fix rs not found
  python/runtime/dbapi/hive_test.py
  python/runtime/dbapi/maxcompute_test.py
Due: copyright_checker, pylint

fix show train error on hive
  python/runtime/model/db.py
Due: copyright_checker, pylint

Add self.commit after conn.execute and make dbapi raise Exception (#2974)
  go/cmd/sqlflow/main_test.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/codegen/experimental/codegen_normal_stmt.go
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/hive_test.py
  python/runtime/dbapi/maxcompute_test.py
  python/runtime/dbapi/mysql_test.py
Due: copyright_checker, pylint

fix error of tryExperimentalExecute
  go/executor/executor.go
Due: copyright_checker

add dtype to xgboost numeric
  python/runtime/feature/compile.py
  python/runtime/xgboost/feature_column.py
Due: copyright_checker, pylint

Add %%sqlflow annotation.
  doc/tutorial/fraud-analysis.md
Due: none

Add the tutorial of data analysis using TO RUN statement. (#2977)
  doc/tutorial/fraud-analysis.md
Due: none

Added more examples for instruction
  README.md
Due: none

clean up
  go/modelzooserver/modelzooserver.go
  go/modelzooserver/using_model_test.go
Due: copyright_checker

fix show train error on hive (#2993)
  python/runtime/model/db.py
Due: copyright_checker, pylint

add dtype to xgboost numeric (#2994)
  python/runtime/feature/compile.py
  python/runtime/xgboost/feature_column.py
Due: copyright_checker, pylint

add multi:softprob
  python/runtime/local/xgboost_submitter/predict.py
Due: copyright_checker, pylint

update
  go/codegen/experimental/codegen_step.go
  python/runtime/model/db.py
Due: copyright_checker, pylint

follow comments
  python/runtime/local/xgboost_submitter/predict.py
Due: copyright_checker, pylint

Added more examples for instruction (#2995)
  README.md
Due: none

update
  go/codegen/experimental/codegen_step.go
  go/model/model.go
Due: copyright_checker

support special char in username/passwd for mysql
  python/runtime/dbapi/mysql.py
Due: copyright_checker, pylint

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
