Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

testing
  pkg/modelzooserver/image_build_test.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/templates.go
  python/sqlflow_submitter/import_custom_models.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker, pylint

update
  python/sqlflow_submitter/import_custom_models.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker, pylint

update
  python/sqlflow_submitter/import_custom_models.py
  python/sqlflow_submitter/tensorflow/evaluate.py
  python/sqlflow_submitter/tensorflow/explain.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker, pylint

add ci docker push auth
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

test ci
  python/sqlflow_submitter/tensorflow/evaluate.py
  python/sqlflow_submitter/tensorflow/explain.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker, pylint

refine transform_fn codes
  docker/ci/install-pips.bash
  pkg/sql/codegen/common.go
  pkg/sql/codegen/pai/template_tf.go
  pkg/sql/codegen/pai/template_xgboost.go
  pkg/sql/codegen/xgboost/template_evaluate.go
  pkg/sql/codegen/xgboost/template_explain.go
  pkg/sql/codegen/xgboost/template_pred.go
  pkg/sql/codegen/xgboost/template_train.go
  pkg/step/feature/derivation.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/feature_column.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint, shellcheck

test ci
  python/sqlflow_submitter/tensorflow/predict.py
Due: copyright_checker, pylint

Polish XGBoost feature column design doc (#2345)
  doc/design/xgboost_feature_column.md
Due: none

Fix import any package name (#2367)
  python/sqlflow_submitter/import_custom_models.py
  python/sqlflow_submitter/tensorflow/evaluate.py
  python/sqlflow_submitter/tensorflow/explain.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker, pylint

test ci
  .travis.yml
  pkg/modelzooserver/image_build_test.go
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

test fix ci
  pkg/modelzooserver/image_build.go
  pkg/modelzooserver/image_build_test.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

Add comment in start_argo.sh
  scripts/travis/start_argo.sh
Due: copyright_checker, shellcheck

generate notebook token
  doc/run/k8s/install-sqlflow.yaml
  doc/run/kubernetes.md
Due: none

refine code to pass pai tests
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

fix ci
  pkg/modelzooserver/get_model_classes.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

add ci debug info
  scripts/travis/start_argo.sh
Due: copyright_checker, shellcheck

set axel to be quiet
  scripts/travis/start_argo.sh
Due: copyright_checker, shellcheck

fix ci
  pkg/modelzooserver/tar_test.go
Due: copyright_checker

change axel with wget, because ci get stuck
  scripts/travis/start_argo.sh
Due: copyright_checker, shellcheck

fix ci
  .travis.yml
Due: none

Add script to find fast mirror for docker (#2358)
  docker/dev/find_fastest_resources.sh
  scripts/travis/start_argo.sh
Due: copyright_checker, shellcheck

add hints for alisa
  pkg/sql/executor_ir.go
Due: copyright_checker

rename fun
  pkg/sql/executor_ir.go
Due: copyright_checker

cli add model zoo command
  doc/design/cli_model_zoo_cmd.md
Due: none

generate notebook token (#2368)
  doc/run/k8s/install-sqlflow.yaml
  doc/run/kubernetes.md
Due: none

Rename to_run_stmt.md into to_run.md
  doc/design/to_run.md
Due: none

Summarize TO RUN design
  doc/design/to_run.md
Due: none

fill-graph with fill-column 80
  doc/design/to_run.md
Due: none

Correct Argo UI port
  doc/run/kubernetes.md
Due: none

add pmml export support
  docker/ci/install-pips.bash
  pkg/sql/codegen/pai/template_tf.go
  pkg/sql/codegen/pai/template_xgboost.go
  pkg/sql/codegen/xgboost/template_evaluate.go
  pkg/sql/codegen/xgboost/template_explain.go
  pkg/sql/codegen/xgboost/template_pred.go
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/evaluate.py
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/feature_column.py
  python/sqlflow_submitter/xgboost/predict.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint, shellcheck

Update kubernetes.md
  doc/run/kubernetes.md
Due: none

change command name
  doc/design/cli_model_zoo_cmd.md
Due: none

Correct Argo UI port (#2372)
  doc/run/kubernetes.md
Due: none

update
  doc/run/k8s/install-sqlflow.yaml
Due: none

add ut and fix ut
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/common.go
  pkg/sql/testdata/churn_sql.go
  pkg/step/feature/derivation.go
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/feature_column.py
  python/sqlflow_submitter/xgboost/predict.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

Update residual local models repo
  docker/dev/build.sh
  go.mod
Due: copyright_checker, shellcheck

Update to_run.md
  doc/design/to_run.md
Due: none

Move /Dockerfile to /docker/ci
  docker/ci/Dockerfile
  go.mod
Due: none

polish sqlRewriter on docker run
  pkg/sql/executor_ir.go
Due: copyright_checker

Use docker/ci/Dockerfile in CI
  scripts/travis/build.sh
Due: copyright_checker, shellcheck
