Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

Enable globbing
  docker/dev/install.sh
Due: copyright_checker, shellcheck

Gobbling
  docker/dev/install.sh
Due: copyright_checker, shellcheck

Remove the call to convert_markdown_into_ipynb.sh
  doc/tutorial/apsara2019/Dockerfile
  go.mod
Due: none

Remove the unused convert_markdown_into_ipynb.sh
  scripts/convert_markdown_into_ipynb.sh
Due: copyright_checker, shellcheck

Remove convert markdown into ipynb.sh (#2275)
  doc/tutorial/apsara2019/Dockerfile
  go.mod
  scripts/convert_markdown_into_ipynb.sh
Due: copyright_checker, shellcheck

Install yamllint in dev docker image (#2274)
  docker/dev/install.sh
Due: copyright_checker, shellcheck

move xgboost_feature_column.md
  doc/design/xgboost_feature_column.md
Due: none

move xgboost_feature_column.md (#2278)
  doc/design/xgboost_feature_column.md
Due: none

update by comment
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/proto/modelzooserver.proto
Due: copyright_checker

Release and query trained models in model zoo (#2269)
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/proto/modelzooserver.proto
Due: copyright_checker

WIP: support upload model repo files and release the model
  go.mod
  pkg/modelzooserver/input_check.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/templates.go
Due: copyright_checker

pass selected cols to pred result on PAI
  cmd/sqlflowserver/main_test.go
  go.mod
  pkg/parser/external/parser.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/tensorflow/input_fn.py
  python/sqlflow_submitter/tensorflow/predict.py
Due: copyright_checker, pylint

update
  cmd/sqlflowserver/main_test.go
  pkg/parser/external/parser.go
Due: copyright_checker

Split setup_minikube.sh into multiple scripts reusable by desktop
  scripts/travis/export_k8s_vars.sh
  scripts/travis/install_axel.sh
  scripts/travis/install_kubectl.sh
  scripts/travis/install_minikube.sh
  scripts/travis/start_argo.sh
  scripts/travis/start_minikube.sh
  scripts/travis/start_tekton.sh
Due: copyright_checker, shellcheck

Check install_kubectl.sh
  scripts/travis/install_kubectl.sh
Due: copyright_checker, shellcheck

Debug: expose only one CI job
  .travis.yml
Due: none

Print command
  scripts/travis/install_kubectl.sh
Due: copyright_checker, shellcheck

fix default java version is 11, which will cause odpscmd error
  docker/ci/install-java.bash
  go.mod
Due: shellcheck

Use source with script that export vars
  scripts/travis/setup_minikube.sh
Due: copyright_checker, shellcheck

Re-enable all CI jobs
  .travis.yml
  scripts/travis/install_kubectl.sh
Due: copyright_checker, shellcheck

fix default java version is 11, which will cause odpscmd error (#2299)
  docker/ci/install-java.bash
  go.mod
Due: shellcheck

fix NUMERIC shape omitted bug
  cmd/sqlflowserver/main_test.go
  pkg/sql/ir_generator.go
Due: copyright_checker

Split setup_minikube.sh into multiple scripts reusable by desktop (#2298)
  scripts/travis/export_k8s_vars.sh
  scripts/travis/install_axel.sh
  scripts/travis/install_kubectl.sh
  scripts/travis/install_minikube.sh
  scripts/travis/setup_minikube.sh
  scripts/travis/start_argo.sh
  scripts/travis/start_minikube.sh
  scripts/travis/start_tekton.sh
Due: copyright_checker, shellcheck

fix BUCKET cannot accept column name and negative boundaries
  pkg/sql/ir_generator.go
  pkg/sql/ir_generator_test.go
Due: copyright_checker

Move install-mysql.bash from docker/ci to docker/mysql
  docker/mysql/install-mysql.bash
Due: shellcheck

Move MySQL imstall and data population into docker/mysql/
  Dockerfile
  docker/ci/start.sh
  docker/mysql/Dockerfile
  docker/mysql/start.bash
Due: copyright_checker, shellcheck

Split install-mysql into server and client
  Dockerfile
  docker/ci/install-mysql-client.bash
  docker/mysql/Dockerfile
  docker/mysql/install-mysql-server.bash
Due: shellcheck

Wait forever after populate datasets
  docker/mysql/start.bash
Due: shellcheck

Expose MySQL server to the host
  docker/mysql/Dockerfile
  docker/mysql/start.bash
Due: shellcheck

wip
  go.mod
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/tar.go
  pkg/modelzooserver/tar_test.go
Due: copyright_checker

fix error on xgboost
  cmd/sqlflowserver/main_test.go
  python/sqlflow_submitter/xgboost/dataset.py
Due: copyright_checker, pylint

fix BUCKET cannot accept column name and negative boundaries (#2302)
  pkg/sql/ir_generator.go
  pkg/sql/ir_generator_test.go
Due: copyright_checker

Pass selected cols to pred result on PAI (#2293)
  cmd/sqlflowserver/main_test.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/tensorflow/input_fn.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/xgboost/dataset.py
Due: copyright_checker, pylint

follow comments on bucket column pr
  pkg/sql/ir_generator.go
Due: copyright_checker

Call scripts/travis/upload_coveralls.sh in Travis CI VM
  .travis.yml
  scripts/travis/upload_coveralls.sh
Due: copyright_checker, shellcheck

chinese doc: add developer guide
  doc/sqlflow.org_cn/develop_tutorial.cn.md
  doc/sqlflow.org_cn/figures/develop_guide_workflow.png
Due: none

modify indent
  doc/sqlflow.org_cn/develop_tutorial.cn.md
Due: none

Update
  .travis.yml
  Dockerfile
  docker/ci/start.sh
  docker/mysql/Dockerfile
  docker/mysql/start.bash
  scripts/test/ipython.sh
  scripts/test/units.sh
Due: copyright_checker, shellcheck

Polish setup_minikube.sh
  .travis.yml
  scripts/travis/install_kubectl.sh
  scripts/travis/start_minikube.sh
Due: copyright_checker, shellcheck
