Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, yamlfmt

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

yamlfmt:
  name: yamlfmt
  entry: bash ./scripts/pre-commit/yamlfmt.sh
  language: system

support importing any custom model package
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/pai/template_tf.go
  pkg/sql/codegen/tensorflow/template_evaluate.go
  pkg/sql/codegen/tensorflow/template_explain.go
  pkg/sql/codegen/tensorflow/template_pred.go
  pkg/sql/codegen/tensorflow/template_train.go
  pkg/sql/pai_submitter.go
  python/sqlflow_submitter/import_custom_models.py
Due: copyright_checker

Blindly test
  scripts/travis/build.sh
Due: copyright_checker

update
  pkg/sql/alisa_submitter.go
  pkg/sql/pai_submitter.go
Due: copyright_checker

cli: fix datasource and display problem (#2194)
  cmd/sqlflow/main.go
  cmd/sqlflow/main_test.go
  cmd/sqlflow/rpc_stream_renderer.go
Due: copyright_checker

update
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/pai/template_tf.go
  pkg/sql/codegen/tensorflow/template_evaluate.go
  pkg/sql/codegen/tensorflow/template_explain.go
  pkg/sql/codegen/tensorflow/template_pred.go
  pkg/sql/codegen/tensorflow/template_train.go
  python/sqlflow_submitter/tensorflow/evaluate.py
  python/sqlflow_submitter/tensorflow/explain.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker

diagnosis missing params
  cmd/sqlflowserver/main_test.go
  pkg/sql/submitter.go
  python/sqlflow_submitter/tensorflow/diagnosis.py
  python/sqlflow_submitter/tensorflow/train_estimator.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker

update
  python/sqlflow_submitter/tensorflow/diagnosis.py
Due: copyright_checker

fix kearse estimator
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker

Update
  scripts/travis/build.sh
  scripts/travis/push.sh
Due: copyright_checker

Chown +x upload_overalls.sh
  scripts/upload_coveralls.sh
Due: copyright_checker

Update
  scripts/pre-commit/docgen.sh
  scripts/pre-commit/google_java_format.sh
  scripts/pre-commit/jsbeautifier.sh
  scripts/pre-commit/shellcheck.sh
  scripts/pre-commit/yamlfmt.sh
  scripts/travis/build.sh
Due: copyright_checker

Use sqlflow:ci to replace sqlflow:latest
  .travis.yml
  doc/argo-setup.md
  doc/build.md
  doc/k8s/sqlflow-all-in-one-without-mysql.yaml
  doc/k8s/sqlflow-all-in-one.yaml
  doc/tutorial/apsara2019/Dockerfile
  java/parser/README.md
  scripts/upload_coveralls.sh
Due: copyright_checker, yamlfmt

build.sh try to pull sqlflow.:dev
  scripts/travis/build.sh
Due: copyright_checker

Try fix CI case Hive
  .travis.yml
Due: yamlfmt

Remove unnecessary fmt.Print
  cmd/sqlflow/main_test.go
Due: copyright_checker

Redirect both stdout and stderr from curl to null
  scripts/test/hive.sh
Due: copyright_checker

Split the devbox image from /Dockerfile into /docker/dev/Dockerfile (#2203)
  .gitignore
  .travis.yml
  Dockerfile
  doc/argo-setup.md
  doc/build.md
  doc/k8s/sqlflow-all-in-one-without-mysql.yaml
  doc/k8s/sqlflow-all-in-one.yaml
  doc/tutorial/apsara2019/Dockerfile
  docker/dev/Dockerfile
  docker/dev/README.md
  docker/dev/build.sh
  docker/dev/install-download-tools.bash
  docker/dev/install-elasticdl.bash
  docker/dev/install-go.bash
  docker/dev/install-hadoop.bash
  docker/dev/install-java.bash
  docker/dev/install-jupyter.bash
  docker/dev/install-mysql.bash
  docker/dev/install-odps.bash
  docker/dev/install-protobuf.bash
  docker/dev/install-python.bash
  docker/dev/install-shell-tools.bash
  docker/dev/js/custom.js
  docker/dev/js/sqlflow.js
  java/parser/README.md
  scripts/deploy.sh
  scripts/pre-commit/docgen.sh
  scripts/pre-commit/google_java_format.sh
  scripts/pre-commit/jsbeautifier.sh
  scripts/pre-commit/yamlfmt.sh
  scripts/test/hive.sh
  scripts/test/ipython.sh
  scripts/test/java.sh
  scripts/test/maxcompute.sh
  scripts/test/setup_k8s_env.sh
  scripts/test/units.sh
  scripts/test/workflow.sh
  scripts/travis/build.sh
  scripts/travis/push.sh
  scripts/upload_coveralls.sh
Due: copyright_checker, jsbeautifier, yamlfmt

Remove unnecessary fmt.Print (#2209)
  cmd/sqlflow/main_test.go
Due: copyright_checker

Redirect both stdout and stderr from curl to null (#2210)
  scripts/test/hive.sh
Due: copyright_checker

Mount Go, Python, Java cache into the devbox container
  scripts/travis/build.sh
Due: copyright_checker

fix CI
  python/sqlflow_submitter/tensorflow/evaluate.py
  python/sqlflow_submitter/tensorflow/explain.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker

clean up
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

Mount Go, Python, Java cache into the devbox container (#2211)
  scripts/travis/build.sh
Due: copyright_checker

Remove install-download-tools.bash
  docker/dev/Dockerfile
  docker/dev/install-download-tools.bash
Due: none

Remove install-shell-tools.bash
  docker/dev/Dockerfile
  docker/dev/install-shell-tools.bash
Due: none

Move apt-get install build-essential to Dockerfile
  docker/dev/Dockerfile
  docker/dev/install-python.bash
Due: none

do not push images in CI builds
  .travis.yml
  cmd/sqlflowserver/main_test.go
Due: copyright_checker, yamlfmt

do not push images in CI builds
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

Install wget
  docker/dev/Dockerfile
Due: none

Recover Deploy stage in .travis.yml
  scripts/travis/deploy.sh
  scripts/travis/push.sh
Due: copyright_checker

Recover Deploy stage in .travis.yml
  .travis.yml
Due: yamlfmt

Correct tag name
  scripts/travis/deploy.sh
Due: copyright_checker

Call deploy.sh with fullpath
  .travis.yml
Due: yamlfmt

Add docker/dev/install.sh
  docker/dev/Dockerfile
  docker/dev/install.sh
Due: copyright_checker

Move install-mysql.bash to docker/ci/
  docker/ci/install-mysql.bash
Due: none

Remove install-protobuf.bash
  docker/dev/Dockerfile
  docker/dev/install-protobuf.bash
  docker/dev/install.sh
Due: copyright_checker

Remove install-java.bash
  docker/dev/Dockerfile
  docker/dev/install-java.bash
  docker/dev/install.sh
Due: copyright_checker

Move install-hadoop to docker/ci/
  docker/ci/install-hadoop.bash
  docker/dev/Dockerfile
Due: none

Separate install-python into dev and ci
  docker/ci/install-mysql.bash
  docker/ci/install-python.bash
  docker/dev/Dockerfile
  docker/dev/install.sh
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  yamlfmt: any of: \.(yaml|yml)$
