Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

fix pai evaluate (#3086)
  python/runtime/tensorflow/evaluate.py
Due: copyright_checker, pylint

test ci
  python/runtime/step/tensorflow/local_test_base.py
Due: copyright_checker, pylint

fix ci
  python/runtime/local/submitter_test.py
  python/runtime/step/xgboost/xgboost_local_test.py
Due: copyright_checker, pylint

update
  python/runtime/step/xgboost/xgboost_local_test.py
Due: copyright_checker, pylint

Resolve comments.
  go/cmd/sqlflowserver/e2e_workflow_test.go
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

fix ci
  go/codegen/experimental/codegen_couler.go
  go/workflow/couler/codegen_test.go
  go/workflow/couler/template.go
  go/workflow/workflow.go
Due: copyright_checker

update python tests
  python/runtime/step/tensorflow/local_test_base.py
  python/runtime/step/xgboost/xgboost_local_test.py
Due: copyright_checker, pylint

fix pai evaluate err
  go/codegen/alps/template_train.go
  go/executor/alisa.go
  go/executor/pai.go
Due: copyright_checker

fix
  go/executor/pai.go
Due: copyright_checker

Fix pai evaluate error (#3087)
  go/codegen/alps/template_train.go
  go/executor/alisa.go
  go/executor/pai.go
Due: copyright_checker

fix typo
  go/executor/alisa.go
  go/executor/pai.go
Due: copyright_checker

fix comments
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/pai/template_tf.go
  go/workflow/workflow.go
  python/runtime/step/tensorflow/evaluate.py
Due: copyright_checker, pylint

fix typo (#3088)
  go/executor/alisa.go
  go/executor/pai.go
Due: copyright_checker

Fix runtime.pai submitter (#3073)
  go/codegen/pai/template_tf.go
  python/runtime/alisa/submitter.py
  python/runtime/local/submitter.py
  python/runtime/local/submitter_test.py
  python/runtime/pai/create_result_table.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
  python/runtime/step/create_result_table.py
  python/runtime/step/tensorflow/evaluate.py
  python/runtime/step/tensorflow/explain.py
  python/runtime/step/tensorflow/local_test_base.py
  python/runtime/step/tensorflow/predict.py
  python/runtime/step/xgboost/evaluate.py
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
  python/runtime/step/xgboost/train.py
  python/runtime/step/xgboost/xgboost_local_test.py
  python/runtime/tensorflow/explain.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

Move CaseWorkflowRunPythonScript out of test running using experimental workflow.
  go/cmd/sqlflowserver/e2e_workflow_test.go
Due: copyright_checker

Raise error if runnable execution fails.
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

remove oss model load
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
  python/runtime/step/tensorflow/evaluate.py
  python/runtime/step/xgboost/evaluate.py
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
Due: copyright_checker, pylint

Implement local submitter for TO RUN in SQLFlow runtime. (#3079)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_step_run.go
  go/executor/executor.go
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

raise run error
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

update
  go/codegen/experimental/codegen_normal_stmt.go
  go/codegen/tensorflow/codegen.go
  python/runtime/model/db.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
  python/runtime/step/tensorflow/local_test_base.py
  python/runtime/step/tensorflow/train_keras.py
  python/runtime/step/xgboost/evaluate.py
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
  python/runtime/step/xgboost/train.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

fix invalide env
  go/workflow/couler/codegen_test.go
  go/workflow/couler/template.go
Due: copyright_checker

update
  python/runtime/step/xgboost/predict.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

escape couler env value
  go/workflow/couler/template.go
Due: copyright_checker

add output extra predict
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/experimental/codegen_step_predict.go
  go/codegen/pai/template_tf.go
  go/codegen/pai/tensorflow.go
  go/codegen/tensorflow/codegen.go
  go/codegen/tensorflow/template_pred.go
  go/executor/alisa.go
  go/executor/executor.go
  go/executor/fields.go
  go/executor/pai.go
  go/executor/pre_exec.go
  python/runtime/local/submitter.py
  python/runtime/pai/submitter_predict.py
  python/runtime/step/create_result_table.py
  python/runtime/step/tensorflow/predict.py
  python/runtime/step/xgboost/predict.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

fix ci
  go/cmd/sqlflowserver/e2e_mysql_test.go
Due: copyright_checker

update models
  docker/dev/build.sh
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

fix ut
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

[Refactory] Remove oss model save/load on PAI (#3091)
  go/codegen/experimental/codegen_normal_stmt.go
  go/codegen/tensorflow/codegen.go
  python/runtime/model/db.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
  python/runtime/step/tensorflow/evaluate.py
  python/runtime/step/tensorflow/local_test_base.py
  python/runtime/step/tensorflow/train_keras.py
  python/runtime/step/xgboost/evaluate.py
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
  python/runtime/step/xgboost/train.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

raise run error (#3092)
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

Fix doc problem
  doc/tutorial/iris-dnn.cn.md
  doc/tutorial/iris-dnn.md
Due: none

fix ci
  python/runtime/local/submitter.py
  python/runtime/pai/submitter_predict.py
Due: copyright_checker, pylint

refine sqlfs
  go/codegen/experimental/codegen_step.go
  go/model/model.go
  go/modelzooserver/modelzooserver.go
  go/modelzooserver/using_model_test.go
  go/sqlfs/hive_writer_test.go
  go/sqlfs/reader.go
  go/sqlfs/reader_test.go
  go/sqlfs/sql_writer_test.go
  python/runtime/model/db.py
Due: copyright_checker, pylint

Fix doc problem (#3094)
  doc/tutorial/iris-dnn.cn.md
  doc/tutorial/iris-dnn.md
Due: none

remove log
  go/codegen/experimental/codegen_normal_stmt.go
Due: copyright_checker

Support outputing more columns for prediction (#3093)
  docker/dev/build.sh
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/experimental/codegen_step_predict.go
  go/codegen/pai/template_tf.go
  go/codegen/pai/tensorflow.go
  go/codegen/tensorflow/codegen.go
  go/codegen/tensorflow/template_pred.go
  go/executor/alisa.go
  go/executor/executor.go
  go/executor/fields.go
  go/executor/pai.go
  go/executor/pre_exec.go
  python/runtime/local/submitter.py
  python/runtime/pai/submitter_predict.py
  python/runtime/step/create_result_table.py
  python/runtime/step/tensorflow/predict.py
  python/runtime/step/xgboost/predict.py
  python/runtime/tensorflow/predict.py
  scripts/test/prepare.sh
Due: copyright_checker, pylint, shellcheck

remove log (#3096)
  go/codegen/experimental/codegen_normal_stmt.go
Due: copyright_checker

refine sqlfs (#3095)
  go/codegen/experimental/codegen_step.go
  go/model/model.go
  go/modelzooserver/modelzooserver.go
  go/modelzooserver/using_model_test.go
  go/sqlfs/hive_writer_test.go
  go/sqlfs/reader.go
  go/sqlfs/reader_test.go
  go/sqlfs/sql_writer_test.go
  python/runtime/model/db.py
Due: copyright_checker, pylint

fix typo
  go/sqlfs/reader.go
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
