Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: local
  hooks:
  - id: yamlfmt
    name: yamlfmt
    entry: bash ./scripts/pre-commit/yamlfmt.sh
    language: system
    files: \.(yaml|yml)$
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.20
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  sha: master
  hooks:
  - id: black
    args: [--line-length=79]
    # - repo: https://github.com/pre-commit/pre-commit-hooks
    #   rev: v2.2.3
    #   hooks:
    #   - id: flake8
    # - repo: git://github.com/skorokithakis/pre-commit-mypy
    #   rev: v0.701
    #   hooks:
    #   - id: mypy
    # - repo: https://github.com/asottile/seed-isort-config
    #   rev: v1.9.1
    #   hooks:
    #   - id: seed-isort-config

Remove install-go.bash
  docker/dev/install-go.bash
  docker/dev/install.sh
Due: copyright_checker

Move install-odps.bash
  docker/ci/install-odps.bash
  docker/dev/Dockerfile
Due: none

Move install-elasticdl.bash
  docker/ci/install-elasticdl.bash
  docker/dev/Dockerfile
Due: none

Update Dockerfiles
  Dockerfile
  docker/dev/Dockerfile
Due: none

chmod +x deploy.sh
  scripts/travis/deploy.sh
Due: copyright_checker

Remove scripts/travis/push.sh
  .travis.yml
  scripts/travis/push.sh
Due: copyright_checker, yamlfmt

Restore docker push stage (#2213)
  .travis.yml
  scripts/travis/deploy.sh
  scripts/travis/push.sh
Due: copyright_checker, yamlfmt

refine
  pkg/sql/codegen/pai/template_tf.go
  pkg/sql/pai_submitter.go
  python/sqlflow_submitter/__init__.py
  python/sqlflow_submitter/import_custom_models.py
  python/sqlflow_submitter/tensorflow/evaluate.py
  python/sqlflow_submitter/tensorflow/explain.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker

Update
  Dockerfile
Due: none

Move js from docker/dev to docker/ci
  Dockerfile
  docker/ci/js/custom.js
  docker/ci/js/sqlflow.js
Due: jsbeautifier

chmod +x docker/dev/install.sh
  docker/dev/install.sh
Due: copyright_checker

export GO paths
  docker/dev/install.sh
Due: copyright_checker

install
  docker/dev/Dockerfile
  docker/dev/install.sh
Due: copyright_checker

support to exit sqlflow cli by typing "exit" or "quit"
  cmd/sqlflow/main.go
  cmd/sqlflow/main_test.go
Due: copyright_checker

Clear cache after install
  docker/dev/install.sh
Due: copyright_checker

Remove uncessary comment
  Dockerfile
Due: none

Move install-jupyter.bahs
  docker/ci/install-jupyter.bash
Due: none

update as comment
  cmd/sqlflowserver/main_test.go
  pkg/sql/submitter.go
  python/sqlflow_submitter/tensorflow/diag.py
  python/sqlflow_submitter/tensorflow/diagnosis.py
  python/sqlflow_submitter/tensorflow/train_estimator.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker

Update
  Dockerfile
  docker/ci/install-build-essential.bash
  docker/ci/install-java.bash
  docker/ci/install-python.bash
Due: none

Update model zoo design ER image and re-phrase
  doc/design/figures/model_zoo_er.png
  doc/design/model_zoo.md
Due: none

support to exit sqlflow cli by typing "exit" or "quit" (#2217)
  cmd/sqlflow/main.go
  cmd/sqlflow/main_test.go
Due: copyright_checker

move os.Exit(0) to runStmt
  cmd/sqlflow/main.go
Due: copyright_checker

fix regrex
  python/sqlflow_submitter/tensorflow/diag.py
Due: copyright_checker

fix regex
  python/sqlflow_submitter/tensorflow/diag.py
Due: copyright_checker

rename to diagnositic
  pkg/sql/submitter.go
  python/sqlflow_submitter/tensorflow/diag.py
Due: copyright_checker

Chinese doc: add credit card fraud prediction example
  doc/sqlflow.org_cn/credit_card_fraud.cn.md
  doc/sqlflow.org_cn/figures/fraud_xgb_decision_figure.png
  doc/sqlflow.org_cn/figures/fraud_xgb_explain_bar.png
  doc/sqlflow.org_cn/figures/fraud_xgb_explain_scatter.png
  doc/sqlflow.org_cn/index.md
Due: none

move os.Exit(0) to runStmt (#2222)
  cmd/sqlflow/main.go
Due: copyright_checker

Update
  docker/ci/install-python.bash
  docker/dev/Dockerfile
  docker/dev/build.sh
  docker/dev/install.sh
Due: copyright_checker

Switch caching building sqlflow:dev
  docker/dev/build.sh
  scripts/travis/build.sh
Due: copyright_checker

No need to have curl --insecure -I
  docker/dev/install.sh
Due: copyright_checker

Update
  Dockerfile
  docker/ci/install-elasticdl.bash
  docker/ci/install-jupyter.bash
  docker/ci/install-mysql.bash
  docker/ci/install-python.bash
Due: none

Setup IPYTHON_STARTUP env
  Dockerfile
Due: none

Copy docker/ci/js into image
  Dockerfile
  docker/ci/install-jupyter.bash
Due: none

pip install --quiet
  Dockerfile
  docker/ci/install-jupyter.bash
  docker/ci/install-odps.bash
  docker/ci/install-python.bash
  docker/dev/install.sh
Due: copyright_checker

Make apt-get install >/dev/null
  docker/ci/install-build-essential.bash
  docker/ci/install-elasticdl.bash
  docker/ci/install-java.bash
  docker/ci/install-mysql.bash
  docker/ci/install-python.bash
Due: none

Silence /Dockerfile
  docker/dev/install.sh
Due: copyright_checker

Seperate install-pips.bash out frominstall-python.bash
  Dockerfile
  docker/ci/install-pips.bash
Due: none

Update
  Dockerfile
  docker/ci/install-java.bash
Due: none
