Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

support custom train loop model prediction and evaluation
  go/cmd/sqlflowserver/e2e_mysql_test.go
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train_keras.py
Due: copyright_checker, pylint

fix ut
  python/runtime/tensorflow/estimator_example.py
  python/runtime/tensorflow/explain_example.py
Due: copyright_checker, pylint

Unify eval estimator code (#2757)
  go/codegen/pai/template_tf.go
  python/runtime/__init__.py
  python/runtime/import_custom_models.py
  python/runtime/import_model.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/tensorflow/estimator_example.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/explain_example.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train.py
  python/symbol_extractor.py
Due: copyright_checker, pylint

refine codes
  python/runtime/import_model.py
  python/runtime/tensorflow/__init__.py
  python/runtime/tensorflow/estimator_example.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/evaluate_example.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/explain_example.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/keras_example.py
  python/runtime/tensorflow/keras_example_reg.py
  python/runtime/tensorflow/keras_with_feature_column_input.py
  python/runtime/tensorflow/metrics.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/set_log_level.py
  python/runtime/tensorflow/train.py
  python/runtime/tensorflow/train_estimator.py
  python/runtime/tensorflow/train_keras.py
  python/runtime/verifier/__init__.py
  python/runtime/verifier/verifier.py
Due: copyright_checker, pylint

refine feature and model python code by flake8
  python/runtime/feature/__init__.py
  python/runtime/feature/column.py
  python/runtime/feature/derivation.py
  python/runtime/feature/derivation_test.py
  python/runtime/feature/field_desc.py
  python/runtime/model/__init__.py
  python/runtime/model/model.py
  python/runtime/model/tar_test.py
Due: copyright_checker, pylint

SQLFlow cli support model/repo list (#2750)
  go/cmd/sqlflow/main.go
  go/cmd/sqlflow/main_test.go
  go/cmd/sqlflow/model_zoo_client.go
  go/cmd/sqlflow/model_zoo_client_test.go
  go/modelzooserver/modelzooserver.go
Due: copyright_checker

alisa submitter prototype
  python/runtime/alisa/submitter.py
Due: copyright_checker, pylint

update models repo
  docker/dev/build.sh
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

refine codes (#2760)
  python/runtime/import_model.py
  python/runtime/tensorflow/__init__.py
  python/runtime/tensorflow/estimator_example.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/evaluate_example.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/explain_example.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/keras_example.py
  python/runtime/tensorflow/keras_example_reg.py
  python/runtime/tensorflow/keras_with_feature_column_input.py
  python/runtime/tensorflow/metrics.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/set_log_level.py
  python/runtime/tensorflow/train.py
  python/runtime/tensorflow/train_estimator.py
  python/runtime/tensorflow/train_keras.py
  python/runtime/verifier/__init__.py
  python/runtime/verifier/verifier.py
Due: copyright_checker, pylint

refine feature and model python code by flake8 (#2761)
  python/runtime/feature/__init__.py
  python/runtime/feature/column.py
  python/runtime/feature/derivation.py
  python/runtime/feature/derivation_test.py
  python/runtime/feature/field_desc.py
  python/runtime/model/__init__.py
  python/runtime/model/model.py
  python/runtime/model/tar_test.py
Due: copyright_checker, pylint

refine codes in runtime
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/db_writer/pai_maxcompute.py
  python/runtime/diagnostics.py
  python/runtime/explainer.py
  python/runtime/maxcompute.py
  python/runtime/model_metadata.py
  python/runtime/oss.py
Due: copyright_checker, pylint

Fix actions push linux binary (#2756)
  .github/workflows/main.yml
Due: none

refine codes in runtime
  python/runtime/alps/train.py
  python/runtime/alps/train_example.py
  python/runtime/alps/train_test.py
  python/runtime/local/xgboost/__init__.py
  python/runtime/local/xgboost/train_test.py
  python/runtime/optimize/__init__.py
  python/runtime/optimize/local.py
  python/runtime/optimize/model_generation.py
  python/runtime/optimize/model_generation_test.py
  python/runtime/optimize/optflow.py
  python/runtime/pai/cluster_conf.py
  python/runtime/xgboost/feature_column.py
  python/runtime/xgboost/predict.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

refine codes by flake8
  python/couler/couler/__init__.py
  python/couler/couler/argo.py
  python/couler/setup.py
  python/plotille_text_backend.py
  python/sql_data.py
  python/test_magic.py
  python/test_magic_elasticdl.py
  python/test_sql_data.py
  scripts/pre-commit/copyright.py
Due: copyright_checker, pylint

update
  go/attribute/attribute_test.go
  go/cmd/sqlflow/main_test.go
Due: copyright_checker

refine python/runtime/pai by flake8
  python/runtime/pai/__init__.py
  python/runtime/pai/cluster_conf.py
  python/runtime/pai/entry.py
  python/runtime/pai/pai_distributed.py
  python/runtime/pai/random_forest.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/pai/tensorflow/train_estimator.py
  python/runtime/pai/tensorflow/train_keras.py
  python/runtime/pai/xgboost/evaluate.py
  python/runtime/pai/xgboost/explain.py
  python/runtime/pai/xgboost/predict.py
  python/runtime/pai/xgboost/train.py
Due: copyright_checker, pylint

refine codes in python/runtime/xgboost by flake8
  python/runtime/xgboost/__init__.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/explain.py
  python/runtime/xgboost/feature_column.py
  python/runtime/xgboost/predict.py
  python/runtime/xgboost/tracker.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

refine codes in runtime (#2764)
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/db_writer/pai_maxcompute.py
  python/runtime/diagnostics.py
  python/runtime/explainer.py
  python/runtime/maxcompute.py
  python/runtime/model_metadata.py
  python/runtime/oss.py
Due: copyright_checker, pylint

Support custom train loop model prediction and evaluation (#2759)
  docker/dev/build.sh
  go/attribute/attribute_test.go
  go/cmd/sqlflow/main_test.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train_keras.py
  scripts/test/prepare.sh
Due: copyright_checker, pylint, shellcheck

refine codes in python/runtime/xgboost by flake8 (#2768)
  python/runtime/xgboost/__init__.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/explain.py
  python/runtime/xgboost/feature_column.py
  python/runtime/xgboost/predict.py
  python/runtime/xgboost/tracker.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

refine codes by flake8 (#2766)
  python/couler/couler/__init__.py
  python/couler/couler/argo.py
  python/couler/setup.py
  python/plotille_text_backend.py
  python/sql_data.py
  python/test_magic.py
  python/test_magic_elasticdl.py
  python/test_sql_data.py
  scripts/pre-commit/copyright.py
Due: copyright_checker, pylint

refine python/runtime/pai by flake8 (#2767)
  python/runtime/pai/__init__.py
  python/runtime/pai/cluster_conf.py
  python/runtime/pai/entry.py
  python/runtime/pai/pai_distributed.py
  python/runtime/pai/random_forest.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/pai/tensorflow/train_estimator.py
  python/runtime/pai/tensorflow/train_keras.py
  python/runtime/pai/xgboost/evaluate.py
  python/runtime/pai/xgboost/explain.py
  python/runtime/pai/xgboost/predict.py
  python/runtime/pai/xgboost/train.py
Due: copyright_checker, pylint

Add model zoo to playground
  doc/run/k8s/install-sqlflow.yaml
Due: none

Add log for model zoo server
  go/modelzooserver/modelzooserver.go
Due: copyright_checker

update indent
  doc/run/k8s/install-sqlflow.yaml
Due: none

test alps submitter
  python/runtime/alps/train.py
  python/runtime/alps/train_example.py
Due: copyright_checker, pylint

refine codes in runtime (#2765)
  python/runtime/alps/train.py
  python/runtime/alps/train_example.py
  python/runtime/alps/train_test.py
  python/runtime/local/xgboost/__init__.py
  python/runtime/local/xgboost/train_test.py
  python/runtime/optimize/__init__.py
  python/runtime/optimize/local.py
  python/runtime/optimize/model_generation.py
  python/runtime/optimize/model_generation_test.py
  python/runtime/optimize/optflow.py
  python/runtime/tensorflow/train_keras.py
Due: copyright_checker, pylint

add feature_column compile
  python/runtime/feature/column.py
  python/runtime/feature/compile.py
  python/runtime/feature/compile_test.py
  python/runtime/xgboost/feature_column.py
Due: copyright_checker, pylint

follow comments
  python/runtime/feature/compile.py
Due: copyright_checker, pylint

update
  python/runtime/feature/compile.py
Due: copyright_checker, pylint

fix xgboost training with greater than 255 feature columns
  go/codegen/xgboost/codegen.go
  go/codegen/xgboost/template_evaluate.go
  go/codegen/xgboost/template_explain.go
  go/codegen/xgboost/template_pred.go
  go/codegen/xgboost/template_train.go
Due: copyright_checker

fix xgboost training with greater than 255 feature columns (#2774)
  go/codegen/xgboost/codegen.go
  go/codegen/xgboost/template_evaluate.go
  go/codegen/xgboost/template_explain.go
  go/codegen/xgboost/template_pred.go
  go/codegen/xgboost/template_train.go
Due: copyright_checker

Add feature column compilation (#2772)
  python/runtime/feature/column.py
  python/runtime/feature/compile.py
  python/runtime/feature/compile_test.py
  python/runtime/xgboost/feature_column.py
Due: copyright_checker, pylint

Fix kmeans name check (#2753)
  go/ir/ir.go
  go/modelzooserver/modelzooserver.go
Due: copyright_checker

Add model zoo to playground (#2770)
  doc/run/k8s/install-sqlflow.yaml
Due: none

Minimize model zoo image
  docker/modelzooserver/Dockerfile
Due: none

add comment
  docker/modelzooserver/Dockerfile
Due: none

add alps codegen
  go/codegen/alps/codegen.go
  go/codegen/alps/codegen_test.go
  go/codegen/alps/template_train.go
  go/codegen/tensorflow/codegen.go
  python/runtime/alps/train_example.py
Due: copyright_checker, pylint

Minimize model zoo image (#2777)
  docker/modelzooserver/Dockerfile
Due: none

alisa submitter prototype (#2763)
  python/runtime/alisa/submitter.py
Due: copyright_checker, pylint
