Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

modify code
  go/codegen/codegen_feature_column.go
Due: copyright_checker

add optimize on language guide
  doc/language_guide.md
Due: none

Add refactored workflow codegen e2e pai and local (#2891)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_normal_stmt.go
  python/runtime/pai/get_pai_tf_cmd.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/xgboost_submitter/train.py
Due: copyright_checker, pylint

update
  doc/language_guide.md
Due: none

follow comment
  doc/language_guide.md
Due: none

fix maxcompute.py
  python/runtime/dbapi/maxcompute.py
Due: copyright_checker, pylint

fix maxcompute.py (#2901)
  python/runtime/dbapi/maxcompute.py
Due: copyright_checker, pylint

support CI using PAI docker image
  python/runtime/model/oss.py
  python/runtime/pai/submitter_test.py
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

fix lint
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

Add optimize clause in language_guide.md (#2900)
  doc/language_guide.md
Due: none

fix lint
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

Add wait to exit time for step
  go/workflow/couler/codegen.go
Due: copyright_checker

update
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

Collect step log: add wait to exit time env variable for step (#2905)
  go/workflow/couler/codegen.go
Due: copyright_checker

Support CI using PAI docker image (#2902)
  python/runtime/model/oss.py
  python/runtime/pai/submitter_test.py
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

Add step container init code
  go/codegen/experimental/codegen_couler.go
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker, pylint

remove unused print
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

Add step init code for step container (#2906)
  go/codegen/experimental/codegen_couler.go
  python/couler/couler/steps/sqlflow_step.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

fix optimizer predict
  python/runtime/diagnostics.py
Due: copyright_checker, pylint

update
  python/runtime/diagnostics.py
Due: copyright_checker, pylint

update
  python/runtime/diagnostics.py
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/keras_with_feature_column_input.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

remove unnecessary codes
  python/runtime/diagnostics.py
  python/runtime/pai/tensorflow_submitter/predict.py
Due: copyright_checker, pylint

update
  python/runtime/tensorflow/keras_with_feature_column_input.py
Due: copyright_checker, pylint

Add TO RUN syntax in the language guide.
  doc/language_guide.md
Due: none

Add more command parameters in the example TO RUN statement.
  doc/language_guide.md
Due: none

Do some rephrase.
  doc/language_guide.md
Due: none

Resolve comments.
  doc/language_guide.md
Due: none

Update the example statement for TO RUN
  doc/language_guide.md
Due: none

fix optimizer predict (#2908)
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/keras_with_feature_column_input.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

Add python pb generate in dev docker
  docker/dev/build.sh
Due: copyright_checker, shellcheck

Add python pb generate in dev docker (#2911)
  docker/dev/build.sh
Due: copyright_checker, shellcheck

support local pai ut using docker image
  go.mod
  go.sum
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/tensorflow/codegen.go
  go/executor/executor.go
  go/executor/pai.go
  go/executor/pai_local.go
Due: copyright_checker

Add the TO RUN syntax in the language guide. (#2909)
  doc/language_guide.md
Due: none

update set flags
  go/executor/pai_local.go
  python/runtime/model/oss.py
  python/runtime/pai/tensorflow_submitter/train.py
Due: copyright_checker, pylint

update
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/executor/pai.go
  go/executor/pai_local.go
  python/runtime/db_writer/pai_maxcompute.py
  python/runtime/dbapi/paiio.py
  python/runtime/model/oss.py
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/tensorflow/evaluate.py
Due: copyright_checker, pylint

update
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
Due: copyright_checker

update
  python/runtime/db_writer/pai_maxcompute.py
  python/runtime/dbapi/paiio.py
Due: copyright_checker, pylint

update
  go.mod
  go.sum
Due: none

update
  python/runtime/db.py
  python/runtime/local/xgboost_submitter/explain.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

load model weights by variables dir
  python/runtime/models/example.py
  python/runtime/pai/tensorflow_submitter/train_keras.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/load_model.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train_keras.py
Due: copyright_checker, pylint

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
