Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

change optflow api
  go/executor/pai.go
  python/runtime/optimize/optflow.py
  python/runtime/optimize/optflow_fsl_generaion_test.py
Due: copyright_checker, pylint

polish
  python/runtime/optimize/optflow.py
Due: copyright_checker, pylint

add more ut
  python/runtime/optimize/optflow_fsl_generaion_test.py
Due: copyright_checker, pylint

Update OptFlow FSL generation code when len(variables) == 2 (#2778)
  go/executor/pai.go
  python/runtime/optimize/optflow.py
  python/runtime/optimize/optflow_fsl_generaion_test.py
Due: copyright_checker, pylint

update
  go/cmd/sqlflowserver/e2e_alps_test.go
  go/codegen/alps/codegen.go
  go/codegen/alps/template_train.go
  go/executor/alps.go
  go/executor/executor.go
Due: copyright_checker

alps submitter and codegen (#2771)
  go/cmd/sqlflowserver/e2e_alps_test.go
  go/codegen/alps/codegen.go
  go/codegen/alps/codegen_test.go
  go/codegen/alps/template_train.go
  go/codegen/tensorflow/codegen.go
  go/executor/alps.go
  go/executor/executor.go
  python/runtime/alps/train.py
  python/runtime/alps/train_example.py
Due: copyright_checker, pylint

support download model to local in cli
  go/cmd/sqlflow/down_model.go
  go/cmd/sqlflow/main.go
Due: copyright_checker

update
  go/cmd/sqlflow/down_model.go
  go/cmd/sqlflow/main.go
Due: copyright_checker

Add query to db.py
  python/runtime/db.py
  python/runtime/db_test.py
Due: copyright_checker, pylint

change delete with truncate
  python/runtime/db_test.py
Due: copyright_checker, pylint

Support download model to local in cli (#2779)
  go/cmd/sqlflow/down_model.go
  go/cmd/sqlflow/main.go
Due: copyright_checker

fix Tensorflow -> TensorFlow
  doc/design/alps_submitter.md
  doc/design/codegen_couler_use_ir.md
  doc/design/couler_sqlflow.md
  doc/design/diag_attribute_error.md
  doc/design/model_zoo.md
  doc/model_parameter.md
  doc/sqlflow.org_cn/index.md
  doc/talk/201906/sqlflow.slide
  doc/talk/20190620/sqlflow.slide
  docker/step/README.md
  go/codegen/alps/template_train.go
  go/codegen/pai/codegen.go
  go/codegen/tensorflow/docgen.go
  go/codegen/tensorflow/docgen_test.go
  go/ir/derivation.go
  python/runtime/alps/train_example.py
  python/runtime/feature/derivation.py
  python/runtime/pai/pai_distributed.py
  python/runtime/pai/submitter.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint

WIP generate workflow using runtime
  go/codegen/experimental/codegen.go
  go/codegen/experimental/rewrite_hints.go
Due: copyright_checker

add optimization guide doc
  doc/tutorial/optimization_guide.md
Due: none

set EnableWindowFunc to true by default for TiDB parser.
  go/parser/external/tidb_parser.go
  go/parser/external/tidb_parser_test.go
Due: copyright_checker

Add query api to db.py (#2782)
  python/runtime/db.py
  python/runtime/db_test.py
Due: copyright_checker, pylint

Set EnableWindowFunc to be true by default for TiDB parser. (#2786)
  go/parser/external/tidb_parser.go
  go/parser/external/tidb_parser_test.go
Due: copyright_checker

DB interface base class
  python/runtime/dbapi/__init__.py
  python/runtime/dbapi/connection.py
Due: copyright_checker, pylint

fix Tensorflow -> TensorFlow (#2783)
  doc/design/alps_submitter.md
  doc/design/codegen_couler_use_ir.md
  doc/design/couler_sqlflow.md
  doc/design/diag_attribute_error.md
  doc/design/model_zoo.md
  doc/model_parameter.md
  doc/sqlflow.org_cn/index.md
  doc/talk/201906/sqlflow.slide
  doc/talk/20190620/sqlflow.slide
  docker/step/README.md
  go/codegen/alps/template_train.go
  go/codegen/pai/codegen.go
  go/codegen/tensorflow/docgen.go
  go/codegen/tensorflow/docgen_test.go
  go/ir/derivation.go
  python/runtime/alps/train_example.py
  python/runtime/feature/derivation.py
  python/runtime/pai/pai_distributed.py
  python/runtime/pai/submitter.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint

wip update
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/xgboost.go
Due: copyright_checker

update
  go/codegen/experimental/codegen_test.go
Due: copyright_checker

update
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/xgboost.go
Due: copyright_checker

polish according to comments
  doc/tutorial/optimization_guide.md
Due: none

fix hive ci
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_test.go
Due: copyright_checker

test ci
  python/runtime/alisa/submitter.py
  scripts/pre-commit/pylint.sh
Due: copyright_checker, pylint, shellcheck

Add optimization guide doc (#2785)
  doc/tutorial/optimization_guide.md
Due: none

test again
  .github/workflows/main.yml
  scripts/pre-commit/pylint.sh
Due: copyright_checker, shellcheck

Generate workflow using runtime (#2784)
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/rewrite_hints.go
  go/codegen/experimental/xgboost.go
Due: copyright_checker

fix develop jupyter image build
  docker/jupyter/Dockerfile
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

update
  .travis.yml
  scripts/pre-commit/pylint.sh
Due: copyright_checker, shellcheck

DB api base class (#2787)
  python/runtime/dbapi/__init__.py
  python/runtime/dbapi/connection.py
Due: copyright_checker, pylint

WIP generate workflow step code using runtime fea der
  go/codegen/alps/codegen.go
  go/codegen/codegen_python_values.go
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/xgboost.go
  go/codegen/tensorflow/codegen.go
  go/codegen/xgboost/codegen.go
  python/runtime/feature/__init__.py
  python/runtime/feature/derivation.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

add to_dict and from_dict method
  python/runtime/feature/column.py
  python/runtime/feature/column_test.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

tested local
  go/codegen/codegen_python_values.go
  go/codegen/codegen_python_values_test.go
  go/codegen/experimental/xgboost.go
Due: copyright_checker

Add MySQL db-api implementation
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/mysql_connection.py
  python/runtime/dbapi/mysql_connection_test.py
Due: copyright_checker, pylint

add to_dict and from_dict method (#2792)
  python/runtime/feature/column.py
  python/runtime/feature/column_test.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

add json dump load support
  python/runtime/feature/column.py
  python/runtime/feature/column_test.py
  python/runtime/feature/derivation_test.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint
