Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

add e2e test to ARIMA model
  cmd/sqlflowserver/testing.go
  pkg/sql/testdata/fund_sql.go
Due: copyright_checker

update
  python/sqlflow_submitter/tensorflow/keras_example.py
  python/sqlflow_submitter/tensorflow/train_predict_test.py
Due: copyright_checker, pylint

add optimize attr checker
  pkg/sql/codegen/optimize/codegen.go
  pkg/sql/codegen/optimize/template_optimize.go
  pkg/sql/ir_generator.go
  pkg/sql/ir_generator_test.go
  python/sqlflow_submitter/optimize/optimize.py
Due: copyright_checker, pylint

remove is_pai
  pkg/sql/codegen/optimize/codegen.go
  pkg/sql/codegen/optimize/template_optimize.go
  pkg/sql/submitter.go
Due: copyright_checker

update
  pkg/executor/alisa.go
  pkg/executor/executor.go
  pkg/executor/pai.go
Due: copyright_checker

Support native keras models (#2466)
  cmd/sqlflow/main_test.go
  docker/dev/build.sh
  pkg/sql/codegen/attribute/attribute_test.go
  python/extract_docstring.py
  python/sqlflow_submitter/tensorflow/keras_example.py
  python/sqlflow_submitter/tensorflow/keras_example_reg.py
  python/sqlflow_submitter/tensorflow/keras_with_feature_column_input.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train_keras.py
  python/sqlflow_submitter/tensorflow/train_predict_test.py
Due: copyright_checker, pylint, shellcheck

delete unused cmd.go
  pkg/sql/cmd.go
Due: copyright_checker

fix ut
  cmd/sqlflowserver/e2e_common_cases.go
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

update
  pkg/sql/testdata/fund_sql.go
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

update
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

Move codegen as a top-most package
  pkg/codegen/codegen_feature_column.go
  pkg/codegen/pai/cluster_config.go
  pkg/codegen/pai/codegen.go
  pkg/codegen/pai/codegen_test.go
  pkg/codegen/pai/explain_render.go
  pkg/codegen/pai/kmeans.go
  pkg/codegen/pai/pai.go
  pkg/codegen/pai/random_forests.go
  pkg/codegen/pai/template_tf.go
  pkg/codegen/pai/template_xgboost.go
  pkg/codegen/pai/tensorflow.go
  pkg/codegen/tensorflow/codegen.go
  pkg/codegen/tensorflow/codegen_test.go
  pkg/codegen/tensorflow/docgen.go
  pkg/codegen/tensorflow/docgen_test.go
  pkg/codegen/tensorflow/template_evaluate.go
  pkg/codegen/tensorflow/template_explain.go
  pkg/codegen/tensorflow/template_pred.go
  pkg/codegen/tensorflow/template_train.go
  pkg/codegen/xgboost/codegen.go
  pkg/codegen/xgboost/codegen_explain.go
  pkg/codegen/xgboost/codegen_explain_test.go
  pkg/codegen/xgboost/codegen_test.go
  pkg/codegen/xgboost/docgen.go
  pkg/codegen/xgboost/docgen_test.go
  pkg/codegen/xgboost/template_evaluate.go
  pkg/codegen/xgboost/template_explain.go
  pkg/codegen/xgboost/template_pred.go
  pkg/codegen/xgboost/template_train.go
  pkg/sql/alisa_submitter.go
  pkg/sql/ir_generator.go
  pkg/sql/pai_submitter.go
  pkg/sql/submitter.go
Due: copyright_checker

Move attribute as a top-most package
  pkg/attribute/attribute.go
  pkg/attribute/attribute_test.go
  pkg/attribute/checker.go
  pkg/attribute/checker_test.go
  pkg/attribute/model_parameters.go
  pkg/attribute/xgboost_objective_params.go
  pkg/sql/codegen/pai/kmeans.go
  pkg/sql/codegen/tensorflow/codegen.go
  pkg/sql/codegen/xgboost/codegen.go
Due: copyright_checker

Update more import path
  cmd/docgen/model_parameter.go
  cmd/sqlflow/main_test.go
  cmd/sqlflow/prompt.go
  doc/design/couler_sqlflow.md
  doc/design/intermediate_representation.md
  doc/walkthrough.md
  pkg/sql/submitter.go
  pkg/workflow/couler/katib.go
Due: copyright_checker

Move pkg/sql/codegen/optimze into pkg/codegen/optimze
  pkg/codegen/optimize/codegen.go
  pkg/codegen/optimize/template_optimize.go
Due: copyright_checker

Gofmt
  pkg/codegen/pai/codegen.go
  pkg/codegen/pai/codegen_test.go
  pkg/codegen/pai/tensorflow.go
  pkg/codegen/xgboost/codegen.go
  pkg/codegen/xgboost/codegen_explain.go
  pkg/sql/alisa_submitter.go
  pkg/sql/ir_generator.go
  pkg/sql/pai_submitter.go
Due: copyright_checker

Remove uncessary type
  doc/model_parameter.md
  pkg/attribute/attribute.go
Due: copyright_checker

Declare base_score as float
  doc/model_parameter.md
  pkg/attribute/model_parameters.go
Due: copyright_checker

Design comparisons of how to contribute models (#2427)
  doc/design/contribute_models_comparison.md
Due: none

Remove unnecessary type (#2485)
  doc/model_parameter.md
  pkg/attribute/attribute.go
  pkg/attribute/model_parameters.go
Due: copyright_checker

Add typed API
  pkg/attribute/attribute.go
Due: copyright_checker

follow parts of comments
  pkg/codegen/optimize/codegen.go
  pkg/codegen/optimize/template_optimize.go
  pkg/parser/extended_syntax_parser.y
  pkg/sql/ir_generator.go
  python/sqlflow_submitter/optimize/__init__.py
  python/sqlflow_submitter/optimize/runner.py
Due: copyright_checker, pylint

Save model metadata into model_meta.json
  pkg/sql/codegen/tensorflow/codegen.go
  pkg/sql/codegen/tensorflow/codegen_test.go
  pkg/sql/codegen/tensorflow/template_train.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/codegen_test.go
  pkg/sql/codegen/xgboost/template_train.go
  python/sqlflow_submitter/model_metadata.py
  python/sqlflow_submitter/tensorflow/train.py
  python/sqlflow_submitter/tensorflow/train_estimator.py
  python/sqlflow_submitter/tensorflow/train_keras.py
  python/sqlflow_submitter/xgboost/model_save_test.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

Add e2e test of ARIMAWithSTLDecomposition model (#2483)
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_mysql_test.go
  cmd/sqlflowserver/testing.go
  pkg/sql/testdata/fund_sql.go
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

Add typed API (#2486)
  pkg/attribute/attribute.go
Due: copyright_checker

[Programming]Add optimize attribute checker (#2482)
  pkg/codegen/optimize/codegen.go
  pkg/codegen/optimize/template_optimize.go
  pkg/parser/extended_syntax_parser.y
  pkg/sql/ir_generator.go
  pkg/sql/ir_generator_test.go
  pkg/sql/submitter.go
  python/sqlflow_submitter/optimize/__init__.py
  python/sqlflow_submitter/optimize/optimize.py
  python/sqlflow_submitter/optimize/runner.py
Due: copyright_checker, pylint

polish keras wrapped model init with feature columns
  python/sqlflow_submitter/tensorflow/diag.py
  python/sqlflow_submitter/tensorflow/evaluate.py
  python/sqlflow_submitter/tensorflow/explain.py
  python/sqlflow_submitter/tensorflow/keras_with_feature_column_input.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train_estimator.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

update
  python/sqlflow_submitter/tensorflow/keras_with_feature_column_input.py
Due: copyright_checker, pylint

fix ut
  pkg/executor/executor_test.go
  pkg/sql/executor_ir_test.go
Due: copyright_checker

add name to attribute checker
  pkg/attribute/attribute.go
  pkg/attribute/attribute_test.go
  pkg/attribute/checker.go
  pkg/attribute/checker_test.go
  pkg/codegen/optimize/codegen.go
Due: copyright_checker

polish function and add some comments
  pkg/codegen/pai/pai.go
  pkg/executor/alisa.go
  pkg/executor/executor.go
  pkg/executor/pai.go
  pkg/executor/pre_exec.go
Due: copyright_checker

update
  pkg/codegen/pai/pai.go
Due: copyright_checker

sort import
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

Save model meta into 'model_meta.json' (#2476)
  pkg/codegen/tensorflow/codegen.go
  pkg/codegen/tensorflow/codegen_test.go
  pkg/codegen/tensorflow/template_train.go
  pkg/codegen/xgboost/codegen.go
  pkg/codegen/xgboost/codegen_test.go
  pkg/codegen/xgboost/template_train.go
  python/sqlflow_submitter/model_metadata.py
  python/sqlflow_submitter/tensorflow/train.py
  python/sqlflow_submitter/tensorflow/train_estimator.py
  python/sqlflow_submitter/tensorflow/train_keras.py
  python/sqlflow_submitter/xgboost/model_save_test.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

update
  python/sqlflow_submitter/tensorflow/keras_with_feature_column_input.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

fix ci
  pkg/database/testing.go
  pkg/database/testing_test.go
  pkg/executor/alisa_test.go
  pkg/executor/executor_test.go
  pkg/executor/sql_stmt_test.go
  pkg/sql/convergence_test.go
  pkg/sql/executor_ir_test.go
  pkg/sql/ir_generator_test.go
  pkg/test/testing.go
Due: copyright_checker

fix optimize bracket depth bug
  python/sqlflow_submitter/optimize/model_generation_test.py
  python/sqlflow_submitter/optimize/optimize.py
Due: copyright_checker, pylint

fix optimize bracket depth bug (#2490)
  python/sqlflow_submitter/optimize/model_generation_test.py
  python/sqlflow_submitter/optimize/optimize.py
Due: copyright_checker, pylint

revert attribute check to ir_generator
  pkg/executor/executor.go
  pkg/executor/pai.go
  pkg/executor/pre_exec.go
  pkg/sql/executor_ir.go
  pkg/sql/ir_generator.go
  pkg/sql/ir_generator_test.go
Due: copyright_checker

remove redundant variable
  pkg/sql/alisa_submitter.go
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
