Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Update
  .travis.yml
  go.mod
Due: none

Route MySQL server networking
  .travis.yml
  go.mod
Due: none

Expose MySQL server address to host network
  .gitignore
  .travis.yml
  docker/ci/install-mysql-client.bash
Due: shellcheck

Call scripts/travis/upload_coveralls.sh in Travis CI VM (#2310)
  .travis.yml
  scripts/travis/upload_coveralls.sh
Due: copyright_checker, shellcheck

Fix https://github.com/sql-machine-learning/sqlflow/pull/2306#issuecomment-631042632
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

Start minikube after all docker bulid
  .travis.yml
Due: none

Fix workflow test
  .travis.yml
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

Use SQLFLOW_WORKFLOW_STEP_IMAGE=sqlflow:ci
  .travis.yml
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

Polish Travis CI (#2312)
  .travis.yml
  go.mod
  scripts/travis/install_kubectl.sh
  scripts/travis/start_minikube.sh
Due: copyright_checker, shellcheck

Make NUMERIC shape optional (#2309)
  cmd/sqlflowserver/main_test.go
  pkg/sql/ir_generator.go
Due: copyright_checker

Add a MySQL server Docker image and use it in MySQL CI job
  .travis.yml
  docker/mysql/Dockerfile
  docker/mysql/install-mysql-server.bash
  docker/mysql/start.bash
Due: shellcheck

Fix a bug
  docker/mysql/Dockerfile
Due: none

fix mysql datasource
  go.mod
  pkg/database/db_test.go
  pkg/sql/ir_generator_test.go
  pkg/step/feature/derivation_test.go
Due: copyright_checker

get testing mysql connection string
  pkg/database/db_test.go
  pkg/database/testing.go
  pkg/database/testing_test.go
  pkg/sql/ir_generator_test.go
  pkg/step/feature/derivation_test.go
  pkg/workflow/couler/codegen_test.go
Due: copyright_checker

reuse GetTestingMySQLConfig
  pkg/database/db_test.go
Due: copyright_checker

fix connection MySQL failed
  cmd/sqlflow/main_test.go
  cmd/sqlflowserver/main_test.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/step/step_test.go
  python/sqlflow_submitter/db_test.py
Due: copyright_checker, pylint

add testing mysql url in python
  cmd/sqlflowserver/main_test.go
  python/sqlflow_submitter/db_test.py
  python/sqlflow_submitter/tensorflow/estimator_example.py
  python/sqlflow_submitter/xgboost/explain_test.py
Due: copyright_checker, pylint

update
  cmd/step/step_test.go
  pkg/server/sqlflowserver_test.go
  pkg/sql/codegen/tensorflow/codegen_test.go
  pkg/sql/codegen/xgboost/codegen_test.go
Due: copyright_checker

fix python failed
  python/sqlflow_submitter/db_test.py
  python/test_sql_data.py
Due: copyright_checker, pylint

pass env to python subprocess
  python/sqlflow_submitter/tensorflow/train_predict_test.py
Due: copyright_checker, pylint

Add a MySQL server Docker image and use it in MySQL CI job (#2315)
  .travis.yml
  cmd/sqlflow/main_test.go
  cmd/sqlflowserver/main_test.go
  cmd/step/step_test.go
  docker/mysql/Dockerfile
  docker/mysql/install-mysql-server.bash
  docker/mysql/start.bash
  go.mod
  pkg/database/db_test.go
  pkg/database/testing.go
  pkg/database/testing_test.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/server/sqlflowserver_test.go
  pkg/sql/codegen/tensorflow/codegen_test.go
  pkg/sql/codegen/xgboost/codegen_test.go
  pkg/sql/ir_generator_test.go
  pkg/step/feature/derivation_test.go
  pkg/step/step_test.go
  pkg/workflow/couler/codegen_test.go
  python/sqlflow_submitter/db_test.py
  python/sqlflow_submitter/tensorflow/estimator_example.py
  python/sqlflow_submitter/tensorflow/train_predict_test.py
  python/sqlflow_submitter/xgboost/explain_test.py
  python/test_sql_data.py
Due: copyright_checker, pylint, shellcheck

add more information to log while error occurs
  pkg/workflow/argo/fetch.go
Due: copyright_checker

fix workflow ut
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

fix mysql connection failed
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

update
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

update
  docker/mysql/start.bash
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

add last section
  doc/sqlflow.org_cn/develop_tutorial.cn.md
Due: none

check mysql pod ready
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

submit mysql pod yaml
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

SQLFlow 开发者入门 (#2311)
  doc/sqlflow.org_cn/develop_tutorial.cn.md
  doc/sqlflow.org_cn/figures/develop_guide_workflow.png
Due: none

upload coverage to codecov
  .travis.yml
  README.md
  scripts/test/units.sh
  scripts/travis/upload_codecov.sh
Due: copyright_checker, shellcheck

update
  docker/mysql/start.bash
  scripts/test/mysql_pod.yaml
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

add random seed for tf train deterministic result
  pkg/sql/convergence_test.go
  pkg/sql/env.go
  python/sqlflow_submitter/env.py
  python/sqlflow_submitter/tensorflow/pai_distributed.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

polish logs
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

fix maxcompute test
  .travis.yml
Due: none

follow comments
  pkg/sql/convergence_test.go
  python/sqlflow_submitter/seeding.py
  python/sqlflow_submitter/tensorflow/pai_distributed.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

remove env.go
  pkg/sql/env.go
Due: copyright_checker

Separate mysql server (#2306)
  .gitignore
  .travis.yml
  Dockerfile
  docker/ci/install-mysql-client.bash
  docker/ci/start.sh
  docker/mysql/start.bash
  scripts/test/ipython.sh
  scripts/test/mysql_pod.yaml
  scripts/test/units.sh
  scripts/test/workflow.sh
  scripts/travis/install_kubectl.sh
  scripts/travis/start_minikube.sh
Due: copyright_checker, shellcheck

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
