Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

update
  python/sqlflow_submitter/tensorflow/diag.py
  python/sqlflow_submitter/tensorflow/keras_with_feature_column_input.py
Due: copyright_checker, pylint

Polish keras wrapped model init with feature columns (#2487)
  python/sqlflow_submitter/tensorflow/diag.py
  python/sqlflow_submitter/tensorflow/evaluate.py
  python/sqlflow_submitter/tensorflow/explain.py
  python/sqlflow_submitter/tensorflow/keras_with_feature_column_input.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train_estimator.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

cleanup sql package, move submitters to executor pkg (#2481)
  cmd/sqlflow/rpc_stream_renderer.go
  pkg/database/testing.go
  pkg/database/testing_test.go
  pkg/executor/alisa.go
  pkg/executor/alisa_test.go
  pkg/executor/cmd.go
  pkg/executor/executor.go
  pkg/executor/executor_test.go
  pkg/executor/fields.go
  pkg/executor/pai.go
  pkg/executor/pai_test.go
  pkg/executor/pre_exec.go
  pkg/executor/sql_stmt.go
  pkg/executor/sql_stmt_test.go
  pkg/ir/ir.go
  pkg/server/sqlflowserver.go
  pkg/sql/alisa_submitter_test.go
  pkg/sql/convergence_test.go
  pkg/sql/executor_ir.go
  pkg/sql/executor_ir_test.go
  pkg/sql/ir_generator.go
  pkg/sql/ir_generator_test.go
  pkg/step/step.go
  pkg/test/testing.go
Due: copyright_checker

Move ir_generator.go to the ir package and split ir_generate_test.go into two files
  pkg/executor/executor.go
  pkg/executor/pre_exec.go
  pkg/ir/derivation.go
  pkg/ir/derivation_test.go
  pkg/ir/ir.go
  pkg/ir/ir_generator.go
  pkg/ir/ir_generator_test.go
  pkg/model/model.go
  pkg/sql/executor_ir.go
  pkg/sql/ir_generator_test.go
  pkg/verifier/verifier.go
Due: copyright_checker

Modify step image README.md (#2489)
  docker/step/README.md
Due: none

Move ir_generator.go to the ir package and split ir_generate_test.go into two files (#2491)
  pkg/executor/executor.go
  pkg/executor/pre_exec.go
  pkg/ir/derivation.go
  pkg/ir/derivation_test.go
  pkg/ir/ir.go
  pkg/ir/ir_generator.go
  pkg/ir/ir_generator_test.go
  pkg/model/model.go
  pkg/sql/executor_ir.go
  pkg/sql/ir_generator_test.go
  pkg/verifier/verifier.go
Due: copyright_checker

rename extract_docstring.py -> symbol_extractor.py
  pkg/attribute/attribute.go
  pkg/attribute/model_parameters.go
  python/symbol_extractor.py
Due: copyright_checker, pylint

refine attribute dict methods
  pkg/attribute/attribute.go
  pkg/attribute/attribute_test.go
Due: copyright_checker

rename extract_docstring.py -> symbol_extractor.py (#2495)
  pkg/attribute/attribute.go
  pkg/attribute/model_parameters.go
  python/symbol_extractor.py
Due: copyright_checker, pylint

rename ExtractDocString
  cmd/sqlflow/main_test.go
  doc/design/diag_attribute_error.md
  pkg/attribute/attribute.go
  pkg/attribute/attribute_test.go
  pkg/codegen/tensorflow/codegen.go
Due: copyright_checker

fill model metadata when releasing to model zoo
  cmd/sqlflow/model_zoo_client.go
  cmd/sqlflow/model_zoo_client_test.go
  go.mod
  go.sum
  pkg/codegen/tensorflow/codegen.go
  pkg/codegen/tensorflow/template_train.go
  pkg/codegen/xgboost/codegen.go
  pkg/codegen/xgboost/template_train.go
  pkg/executor/executor.go
  pkg/model/model.go
  pkg/model/model_test.go
  pkg/sql/executor_ir.go
  python/sqlflow_submitter/model_metadata.py
  python/sqlflow_submitter/tensorflow/train.py
  python/sqlflow_submitter/tensorflow/train_estimator.py
  python/sqlflow_submitter/tensorflow/train_keras.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

fix Unknown checker bug
  pkg/attribute/attribute.go
  pkg/attribute/attribute_test.go
Due: copyright_checker

rename ExtractDocString (#2497)
  cmd/sqlflow/main_test.go
  doc/design/diag_attribute_error.md
  pkg/attribute/attribute.go
  pkg/attribute/attribute_test.go
  pkg/codegen/tensorflow/codegen.go
Due: copyright_checker

Put table_writer package under step/
  cmd/sqlflow/main.go
  cmd/sqlflow/rpc_stream_renderer.go
  cmd/step/step.go
  pkg/step/step.go
  pkg/step/step_test.go
  pkg/step/tablewriter/ascii.go
  pkg/step/tablewriter/ascii_test.go
  pkg/step/tablewriter/protobuf.go
  pkg/step/tablewriter/protobuf_test.go
Due: copyright_checker

WIP fix pai maxcompute tests
  cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  pkg/codegen/pai/template_tf.go
  pkg/codegen/tensorflow/template_train.go
  python/sqlflow_submitter/tensorflow/keras_with_feature_column_input.py
Due: copyright_checker, pylint

wip should update models version
  cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  pkg/codegen/pai/template_tf.go
Due: copyright_checker

use database testing session
  pkg/model/model.go
  pkg/model/model_test.go
Due: copyright_checker

update models version
  docker/dev/build.sh
Due: copyright_checker, shellcheck

Do some rephrase in to_run.md
  doc/design/to_run.md
Due: none

Fix pai maxcompute tests (#2501)
  cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  docker/dev/build.sh
  pkg/codegen/pai/template_tf.go
  pkg/codegen/tensorflow/template_train.go
  python/sqlflow_submitter/tensorflow/keras_with_feature_column_input.py
Due: copyright_checker, pylint, shellcheck

Put table_writer package under step/ (#2500)
  cmd/sqlflow/main.go
  cmd/sqlflow/rpc_stream_renderer.go
  cmd/step/step.go
  pkg/step/step.go
  pkg/step/step_test.go
  pkg/step/tablewriter/ascii.go
  pkg/step/tablewriter/ascii_test.go
  pkg/step/tablewriter/protobuf.go
  pkg/step/tablewriter/protobuf_test.go
Due: copyright_checker

Refine attribute dictionary methods (#2496)
  pkg/attribute/attribute.go
  pkg/attribute/attribute_test.go
Due: copyright_checker

hide Description
  pkg/attribute/attribute.go
  pkg/attribute/attribute_test.go
  pkg/attribute/checker.go
  pkg/attribute/checker_test.go
  pkg/codegen/optimize/codegen.go
  pkg/codegen/pai/kmeans.go
  pkg/codegen/tensorflow/codegen.go
  pkg/codegen/xgboost/codegen.go
  pkg/workflow/couler/katib.go
Due: copyright_checker

Rename pkg/server to pkg/sqlflowserver
  cmd/sqlflow/main_test.go
  cmd/sqlflowserver/e2e_alisa_test.go
  cmd/sqlflowserver/e2e_alps_test.go
  cmd/sqlflowserver/e2e_hive_test.go
  cmd/sqlflowserver/e2e_maxcompute_test.go
  cmd/sqlflowserver/e2e_mysql_test.go
  cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  cmd/sqlflowserver/e2e_workflow_test.go
  cmd/sqlflowserver/main.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/using_model_test.go
  pkg/sqlflowserver/.gitignore
  pkg/sqlflowserver/index.html
  pkg/sqlflowserver/sqlflowserver.go
  pkg/sqlflowserver/sqlflowserver_test.go
  pkg/sqlflowserver/wait_port_ready.go
Due: copyright_checker

polish
  doc/model_parameter.md
  pkg/attribute/attribute.go
Due: copyright_checker

polish
  pkg/attribute/attribute.go
Due: copyright_checker

update
  doc/model_parameter.md
  pkg/attribute/attribute.go
Due: copyright_checker

fix PyUtilib version
  docker/ci/install-pips.bash
Due: shellcheck

fix PyUtilib version (#2506)
  docker/ci/install-pips.bash
Due: shellcheck

Do some rephrase in to_run.md (#2503)
  doc/design/to_run.md
Due: none

Rename pkg/server to pkg/sqlflowserver (#2505)
  cmd/sqlflow/main_test.go
  cmd/sqlflowserver/e2e_alisa_test.go
  cmd/sqlflowserver/e2e_alps_test.go
  cmd/sqlflowserver/e2e_hive_test.go
  cmd/sqlflowserver/e2e_maxcompute_test.go
  cmd/sqlflowserver/e2e_mysql_test.go
  cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  cmd/sqlflowserver/e2e_workflow_test.go
  cmd/sqlflowserver/main.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/using_model_test.go
  pkg/sqlflowserver/.gitignore
  pkg/sqlflowserver/index.html
  pkg/sqlflowserver/sqlflowserver.go
  pkg/sqlflowserver/sqlflowserver_test.go
  pkg/sqlflowserver/wait_port_ready.go
Due: copyright_checker

Update attribute definition by named type methods and hide attribute.Description (#2504)
  doc/model_parameter.md
  pkg/attribute/attribute.go
  pkg/attribute/attribute_test.go
  pkg/attribute/checker.go
  pkg/attribute/checker_test.go
  pkg/codegen/optimize/codegen.go
  pkg/codegen/pai/kmeans.go
  pkg/codegen/tensorflow/codegen.go
  pkg/codegen/xgboost/codegen.go
  pkg/workflow/couler/katib.go
Due: copyright_checker

remove XGBoostObjectiveJSON
  pkg/attribute/attribute.go
  pkg/attribute/xgboost_objective_params.go
Due: copyright_checker

add name to attr checker
  pkg/attribute/attribute.go
  pkg/attribute/attribute_test.go
  pkg/attribute/checker.go
  pkg/attribute/checker_test.go
Due: copyright_checker

remove go.mod
  cmd/sqlflow/model_zoo_client.go
  go.mod
  go.sum
  pkg/model/model.go
  pkg/model/model_test.go
Due: copyright_checker

remove XGBoostObjectiveJSON (#2508)
  pkg/attribute/attribute.go
  pkg/attribute/xgboost_objective_params.go
Due: copyright_checker

Use the same parser for maxcompute and alisa.
  pkg/parser/external/parser.go
Due: copyright_checker

polish attribute validate
  pkg/attribute/attribute.go
  pkg/attribute/attribute_test.go
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
