Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

update
  docker/dev/build.sh
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

remove LIMIT
  go/cmd/sqlflowserver/e2e_mysql_test.go
Due: copyright_checker

Add TensorFlow local evaluate Python code (#2953)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  python/runtime/local/create_result_table.py
  python/runtime/local/tensorflow_submitter/evaluate.py
  python/runtime/local/tensorflow_submitter/predict.py
  python/runtime/local/tensorflow_submitter/tensorflow_local_test.py
  python/runtime/local/xgboost_submitter/evaluate.py
  python/runtime/local/xgboost_submitter/explain.py
  python/runtime/local/xgboost_submitter/train.py
  python/runtime/local/xgboost_submitter/xgboost_local_test.py
  python/runtime/step/tensorflow/train.py
  python/runtime/temp_file.py
  python/runtime/tensorflow/evaluate.py
Due: copyright_checker, pylint

Enable distributed predict for XGBoost on PAI (#2954)
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/pai/cluster_config.go
  go/codegen/pai/codegen.go
  go/codegen/pai/template_xgboost.go
  go/sql/executor_ir.go
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

Polish code (#2950)
  go/sql/executor_ir.go
Due: copyright_checker

update
  go/cmd/sqlflow/main_test.go
Due: copyright_checker

fix ut
  docker/mysql/Dockerfile
  go/attribute/attribute_test.go
Due: copyright_checker

fix ut
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

test ci
  go/cmd/sqlflow/main_test.go
Due: copyright_checker

Add ScoreCard Model e2e test (#2951)
  doc/datasets/popularize_give_me_some_credit.sql
  docker/dev/build.sh
  docker/mysql/Dockerfile
  go/attribute/attribute_test.go
  go/cmd/sqlflow/main_test.go
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

add tensorflow local explain
  python/runtime/db.py
  python/runtime/dbapi/connection.py
  python/runtime/local/tensorflow_submitter/estimator_test.py
  python/runtime/local/tensorflow_submitter/explain.py
  python/runtime/local/tensorflow_submitter/keras_test.py
  python/runtime/local/tensorflow_submitter/local_test_base.py
  python/runtime/local/xgboost_submitter/xgboost_local_test.py
  python/runtime/tensorflow/explain.py
Due: copyright_checker, pylint

follow comments
  go/codegen/alps/template_train.go
  go/codegen/tensorflow/template_evaluate.go
  go/codegen/tensorflow/template_explain.go
  go/codegen/tensorflow/template_pred.go
  go/codegen/tensorflow/template_train.go
  go/ir/derivation.go
  go/ir/feature_column.go
  go/ir/ir_generator.go
  go/ir/ir_generator_test.go
  python/runtime/db.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

fix ut
  python/runtime/local/tensorflow_submitter/keras_test.py
  python/runtime/local/tensorflow_submitter/local_test_base.py
Due: copyright_checker, pylint

add scorecard tutorial
  doc/tutorial/score_card.md
  doc/tutorial/scripts/give_me_some_credit.py
Due: copyright_checker, pylint

update
  doc/tutorial/score_card.md
Due: none

Add tensorflow local explain Python code (#2956)
  python/runtime/db.py
  python/runtime/dbapi/connection.py
  python/runtime/local/tensorflow_submitter/estimator_test.py
  python/runtime/local/tensorflow_submitter/explain.py
  python/runtime/local/tensorflow_submitter/keras_test.py
  python/runtime/local/tensorflow_submitter/local_test_base.py
  python/runtime/local/xgboost_submitter/xgboost_local_test.py
  python/runtime/tensorflow/explain.py
Due: copyright_checker, pylint

add more workflow ut
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_normal_stmt.go
Due: copyright_checker

Add weighted_category_column support for key-value list column data (#2939)
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/cmd/sqlflowserver/testing.go
  go/codegen/alps/template_train.go
  go/codegen/codegen_feature_column.go
  go/codegen/tensorflow/template_evaluate.go
  go/codegen/tensorflow/template_explain.go
  go/codegen/tensorflow/template_pred.go
  go/codegen/tensorflow/template_train.go
  go/ir/derivation.go
  go/ir/derivation_test.go
  go/ir/feature_column.go
  go/ir/ir_generator.go
  go/ir/ir_generator_test.go
  go/ir/mock_ir.go
  go/sql/executor_ir_test.go
  go/sql/testdata/weighted_keyvalue_case_sql.go
  go/workflow/couler/codegen_test.go
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

Add GitHub Actions link to CI badge
  README.md
Due: none

fix ut
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_normal_stmt.go
  go/codegen/experimental/codegen_optimize.go
  go/codegen/experimental/codegen_step_evaluate.go
  go/codegen/experimental/codegen_step_explain.go
  go/codegen/experimental/codegen_step_predict.go
  go/codegen/experimental/codegen_step_train.go
Due: copyright_checker

try to enlarge time out
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

fix show train ut failure
  go/workflow/couler/codegen.go
Due: copyright_checker

update
  go/cmd/sqlflowserver/e2e_workflow_test.go
Due: copyright_checker

clean docker tags after push
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

Add GitHub Actions link to CI badge (#2960)
  README.md
Due: none

[Refactory]Add more workflow unittests (#2959)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_normal_stmt.go
  go/codegen/experimental/codegen_optimize.go
  go/codegen/experimental/codegen_step_evaluate.go
  go/codegen/experimental/codegen_step_explain.go
  go/codegen/experimental/codegen_step_predict.go
  go/codegen/experimental/codegen_step_train.go
  go/workflow/couler/codegen.go
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

make default docker image configurable
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_couler.go
Due: copyright_checker

clean docker tags after push (#2961)
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

polish doc
  doc/tutorial/score_card.md
Due: none

update models commit
  docker/dev/build.sh
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

make default docker image configurable (#2962)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_couler.go
Due: copyright_checker

refine couler codegen
  go/codegen/experimental/codegen_couler.go
Due: copyright_checker

fix ut
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_test.go
Due: copyright_checker

update
  go/codegen/experimental/codegen_step_train.go
Due: copyright_checker

fix ident
  go/codegen/experimental/codegen_couler.go
Due: copyright_checker

Refine couler codegen template (#2963)
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_step_train.go
  go/codegen/experimental/codegen_test.go
Due: copyright_checker

add credit scorecard tutorial (#2957)
  doc/tutorial/score_card.md
  doc/tutorial/scripts/give_me_some_credit.py
  docker/dev/build.sh
  scripts/test/prepare.sh
Due: copyright_checker, pylint, shellcheck

infer weighted categorical columns
  go/ir/derivation.go
  python/runtime/pai/xgboost_submitter/train.py
  python/runtime/tensorflow/train.py
  python/runtime/tensorflow/train_estimator.py
Due: copyright_checker, pylint

Add dsw link for some doc
  doc/tutorial/fraud-dnn.md
  doc/tutorial/housing-explain.md
  doc/tutorial/housing-xgboost.md
  doc/tutorial/iris-dnn.md
  doc/tutorial/optimization_guide.md
Due: none

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
