Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, yamlfmt

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

yamlfmt:
  name: yamlfmt
  entry: bash ./scripts/pre-commit/yamlfmt.sh
  language: system

Expose ports (#2197)
  Dockerfile
  doc/run/cli.md
Due: none

Simplify install-*.bash (#2198)
  Dockerfile
  scripts/docker/install-shell-tools.bash
Due: none

support submit to evaluate for alisa (#2179)
  pkg/sql/alisa_submitter.go
  pkg/sql/pai_submitter.go
Due: copyright_checker

update
  cmd/sqlflowserver/main_test.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

support resources in couler
  pkg/workflow/couler/codegen.go
  pkg/workflow/couler/codegen_test.go
  pkg/workflow/couler/template.go
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker

polish distributed xgboost on PAI
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_train.go
  python/sqlflow_submitter/xgboost/pai_rabit.py
  python/sqlflow_submitter/xgboost/tracker.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker

polish code
  pkg/workflow/couler/codegen.go
  pkg/workflow/couler/codegen_test.go
Due: copyright_checker

fix ci
  pkg/sql/codegen/xgboost/codegen.go
Due: copyright_checker

Add docker/dev/Dockerfile
  docker/dev/Dockerfile
Due: none

Separate /Dockerfile for CI and docker/dev/Dockerfile for devbox
  Dockerfile
  docker/dev/Dockerfile
Due: none

Move scripts/docker/install-*.bash to docker/dev/
  docker/dev/Dockerfile
  docker/dev/install-download-tools.bash
  docker/dev/install-elasticdl.bash
  docker/dev/install-go.bash
  docker/dev/install-hadoop.bash
  docker/dev/install-java.bash
  docker/dev/install-jupyter.bash
  docker/dev/install-mysql.bash
  docker/dev/install-odps.bash
  docker/dev/install-protobuf.bash
  docker/dev/install-python.bash
  docker/dev/install-shell-tools.bash
  docker/dev/js/custom.js
  docker/dev/js/sqlflow.js
Due: jsbeautifier

Update
  Dockerfile
  docker/dev/README.md
  docker/dev/build.sh
Due: copyright_checker

Simplify convert_markdown_into_ipynb.sh
  Dockerfile
  scripts/convert_markdown_into_ipynb.sh
  scripts/docker/install-go.bash
Due: copyright_checker

Update build.sh
  docker/dev/Dockerfile
  docker/dev/build.sh
Due: copyright_checker

Comment
  docker/dev/Dockerfile
Due: none

Update /Dockerfile
  .gitignore
  Dockerfile
  docker/dev/Dockerfile
  docker/dev/README.md
  docker/dev/build.sh
  docker/dev/install-go.bash
Due: copyright_checker

backup fluid workflow
  pkg/workflow/fluid/codegen.go
  pkg/workflow/fluid/codegen_test.go
  pkg/workflow/fluid/template.go
  pkg/workflow/tekton/fetch.go
  pkg/workflow/tekton/submit.go
  pkg/workflow/workflow.go
Due: copyright_checker

update
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

Add Copyright to docker/dev/build.sh
  docker/dev/build.sh
Due: copyright_checker

Add exeuctable mode ot scripts/tests/*.sh
  scripts/test/hive.sh
  scripts/test/ipython.sh
  scripts/test/java.sh
  scripts/test/maxcompute.sh
  scripts/test/setup_k8s_env.sh
  scripts/test/units.sh
  scripts/test/workflow.sh
Due: copyright_checker

Correct PYTHONPATH
  Dockerfile
  scripts/test/units.sh
Due: copyright_checker

Move fluid code to a separated branch (#2202)
  cmd/sqlflowserver/main_test.go
  pkg/workflow/fluid/codegen.go
  pkg/workflow/fluid/codegen_test.go
  pkg/workflow/fluid/template.go
  pkg/workflow/tekton/fetch.go
  pkg/workflow/tekton/submit.go
  pkg/workflow/workflow.go
Due: copyright_checker

Polish distributed XGBoost training on PAI (#2200)
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_train.go
  python/sqlflow_submitter/xgboost/pai_rabit.py
  python/sqlflow_submitter/xgboost/tracker.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker

support resources in Couler codegen (#2199)
  pkg/workflow/couler/codegen.go
  pkg/workflow/couler/codegen_test.go
  pkg/workflow/couler/template.go
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker

Update .travis.yml
  .travis.yml
  docker/dev/build.sh
  scripts/deploy.sh
  scripts/travis/build.sh
Due: copyright_checker, yamlfmt

Try remove set -e from .travis.yml
  .travis.yml
Due: yamlfmt

Do not fail if docker pull failed
  .travis.yml
  scripts/travis/build.sh
Due: copyright_checker, yamlfmt

in deploy.sh, docker push sqlflow:ci anyway
  scripts/deploy.sh
Due: copyright_checker

docker push in deploy.sh anyway
  scripts/deploy.sh
Due: copyright_checker

Fix a bug in travis/biuld.sh
  scripts/travis/build.sh
Due: copyright_checker

Docker push at the end of the first stage
  .travis.yml
  scripts/deploy.sh
Due: copyright_checker, yamlfmt

cli: fix datasource and display problem
  cmd/sqlflow/main.go
  cmd/sqlflow/rpc_stream_renderer.go
Due: copyright_checker

clean up
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

Add scripts/travis/push.sh
  .travis.yml
  scripts/travis/push.sh
Due: copyright_checker, yamlfmt

Chmod +x push.sh
  scripts/travis/push.sh
Due: copyright_checker

cli: fix read stmt problem
  cmd/sqlflow/main.go
  cmd/sqlflow/main_test.go
Due: copyright_checker

diagnose docker run sqlflow:dev not executed
  scripts/travis/build.sh
Due: copyright_checker

Update
  scripts/travis/build.sh
Due: copyright_checker

docker pull quiet
  scripts/travis/build.sh
Due: copyright_checker

docker pull no way to quiet
  scripts/travis/build.sh
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  yamlfmt: any of: \.(yaml|yml)$
