Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Polish XGBoost local train code (#2715)
  python/runtime/local/xgboost/train.py
Due: copyright_checker, pylint

polish
  python/runtime/model/db.py
  python/runtime/model/model.py
  python/runtime/model/tar.py
Due: copyright_checker, pylint

save and load model in runtime library (#2711)
  python/runtime/model/__init__.py
  python/runtime/model/db.py
  python/runtime/model/model.py
  python/runtime/model/model_test.py
  python/runtime/model/tar.py
  python/runtime/model/tar_test.py
  python/runtime/sqlfs/__init__.py
Due: copyright_checker, pylint

remove is_pai in predict and explain
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/pai/template_tf.go
  go/codegen/pai/tensorflow.go
  go/codegen/tensorflow/codegen.go
  go/codegen/tensorflow/template_explain.go
  go/codegen/tensorflow/template_pred.go
  python/runtime/explainer.py
  python/runtime/pai/explain.py
  python/runtime/pai/predict.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

update
  go/codegen/pai/template_tf.go
  go/codegen/pai/template_xgboost.go
  go/codegen/xgboost/template_train.go
  python/runtime/pai/explain.py
Due: copyright_checker, pylint

Add XGBoost train submitter on PAI
  python/runtime/pai/entry.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/xgboost/__init__.py
  python/runtime/pai/xgboost/train.py
Due: copyright_checker, pylint

remove unused import
  python/runtime/pai/entry.py
Due: copyright_checker, pylint

update
  python/runtime/tensorflow/explain_example.py
Due: copyright_checker, pylint

remove comments in sql
  go/parser/lexer.go
  go/parser/sqlflow_parser.go
  go/parser/sqlflow_parser_test.go
  go/sql/executor_ir.go
Due: copyright_checker

remove comments in sql (#2721)
  go/parser/lexer.go
  go/parser/sqlflow_parser.go
  go/parser/sqlflow_parser_test.go
  go/sql/executor_ir.go
Due: copyright_checker

fix pai test cases
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  python/runtime/pai/explain.py
  python/runtime/pai/predict.py
  python/runtime/tensorflow/explain.py
Due: copyright_checker, pylint

test
  .github/workflows/main.yml
  scripts/travis/deploy_client.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

Remove is_pai in predict and explain (#2718)
  go/codegen/pai/template_tf.go
  go/codegen/pai/template_xgboost.go
  go/codegen/pai/tensorflow.go
  go/codegen/tensorflow/codegen.go
  go/codegen/tensorflow/template_explain.go
  go/codegen/tensorflow/template_pred.go
  go/codegen/xgboost/template_train.go
  python/runtime/explainer.py
  python/runtime/pai/explain.py
  python/runtime/pai/predict.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/explain_example.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

refine code
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

implement runtime.local.xgboost.pred
  python/runtime/local/xgboost/__init__.py
  python/runtime/local/xgboost/predict.py
  python/runtime/local/xgboost/train_test.py
Due: copyright_checker, pylint

update
  python/runtime/local/xgboost/predict.py
Due: copyright_checker, pylint

Add PAI predict
  python/runtime/oss.py
  python/runtime/pai/entry.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/xgboost/predict.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

PAI submitter for XGBoost training (#2719)
  python/runtime/pai/entry.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/xgboost/__init__.py
  python/runtime/pai/xgboost/train.py
Due: copyright_checker, pylint

PAI XGB predict and explain
  python/runtime/pai/entry.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

remove useless print
  python/runtime/oss.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

move go code to python to unify code
  go/codegen/optimize/codegen.go
  go/codegen/optimize/codegen_test.go
  go/codegen/optimize/template_optimize.go
  go/executor/pai.go
  go/executor/pre_exec.go
  go/verifier/verifier.go
  python/runtime/optimize/__init__.py
  python/runtime/optimize/local.py
  python/runtime/optimize/model_generation.py
  python/runtime/optimize/model_generation_test.py
  python/runtime/optimize/optflow.py
  python/runtime/optimize/optimize.py
Due: copyright_checker, pylint

add comments to each python method
  python/runtime/optimize/local.py
  python/runtime/optimize/model_generation.py
  python/runtime/optimize/optflow.py
Due: copyright_checker, pylint

Move the optimize Go code to Python code (#2727)
  go/codegen/optimize/codegen.go
  go/codegen/optimize/codegen_test.go
  go/codegen/optimize/template_optimize.go
  go/executor/pai.go
  go/executor/pre_exec.go
  go/verifier/verifier.go
  python/runtime/optimize/__init__.py
  python/runtime/optimize/local.py
  python/runtime/optimize/model_generation.py
  python/runtime/optimize/model_generation_test.py
  python/runtime/optimize/optflow.py
  python/runtime/optimize/optimize.py
Due: copyright_checker, pylint

PAI submitter XGBoost predict and explain (#2726)
  python/runtime/oss.py
  python/runtime/pai/entry.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/xgboost/predict.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

for test
  .github/workflows/main.yml
Due: none

test push images
  .github/workflows/main.yml
  docker/dev/install.sh
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

add Binary var type support
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/executor/executor.go
  python/runtime/optimize/local.py
Due: copyright_checker, pylint

skip timeout maxcompute tests
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

add Binary var type support (#2729)
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/executor/executor.go
  python/runtime/optimize/local.py
Due: copyright_checker, pylint

fix typo
  python/runtime/optimize/local.py
Due: copyright_checker, pylint

add test
  go/parser/sqlflow_parser_test.go
Due: copyright_checker

test build and push
  .github/workflows/main.yml
  docker/dev/Dockerfile
  docker/jupyter/Dockerfile
  docker/modelzooserver/Dockerfile
  docker/mysql/Dockerfile
  docker/server/Dockerfile
  docker/step/Dockerfile
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

Add ut for comment removement (#2731)
  go/parser/sqlflow_parser_test.go
  python/runtime/optimize/local.py
Due: copyright_checker, pylint

test
  .github/workflows/main.yml
  docker/dev/install.sh
Due: copyright_checker, shellcheck

test
  docker/dev/install.sh
Due: copyright_checker, shellcheck

test
  docker/ci/install-odps.bash
Due: shellcheck

refine pai code structure
  python/runtime/pai/__init__.py
  python/runtime/pai/entry.py
  python/runtime/pai/explain.py
  python/runtime/pai/pai_distributed.py
  python/runtime/pai/predict.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/train.py
  python/runtime/pai/train_estimator.py
  python/runtime/pai/train_keras.py
  python/runtime/pai/xgboost/predict.py
Due: copyright_checker, pylint

remove unused function
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

move tensorflow files to a sub-package
  python/runtime/pai/tensorflow/__init__.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/pai/tensorflow/train_estimator.py
  python/runtime/pai/tensorflow/train_keras.py
  python/runtime/pai/xgboost/explain.py
Due: copyright_checker, pylint

add docstring
  python/runtime/pai/xgboost/explain.py
Due: copyright_checker, pylint

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
