Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

follow comments
  cmd/modelzooserver/main.go
Due: copyright_checker

Add model zoo server binary (#2435)
  cmd/modelzooserver/main.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/using_model_test.go
Due: copyright_checker

Build sqlflow:step in Travis CI (#2426)
  scripts/travis/build.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

Update the syntax file.
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
Due: copyright_checker

Update TO Run Syntax
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
Due: copyright_checker

Update RNN model unit tests
  cmd/sqlflowserver/e2e_mysql_test.go
Due: copyright_checker

unify is_estimator
  pkg/sql/codegen/pai/template_tf.go
  python/sqlflow_submitter/tensorflow/evaluate.py
  python/sqlflow_submitter/tensorflow/get_tf_model_type.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker, pylint

model zoo client
  cmd/sqlflow/main.go
  cmd/sqlflow/main_test.go
  cmd/sqlflow/model_zoo_client.go
  cmd/sqlflow/model_zoo_client_test.go
  pkg/model/model.go
Due: copyright_checker

update go.mod
  go.mod
  go.sum
Due: none

Update TO RUN Syntax file
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/parser/lexer.go
Due: copyright_checker

update sqlflow cli main.go
  cmd/sqlflow/main.go
Due: copyright_checker

update thoughts
  doc/design/contribute_models_comparison.md
Due: none

fix ut fail
  python/sqlflow_submitter/tensorflow/get_tf_model_type.py
Due: copyright_checker, pylint

test only support mysql
  cmd/sqlflow/model_zoo_client_test.go
Due: copyright_checker

modelzoo server extract uploaded model repo to tmp dir
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

fix ut
  cmd/sqlflow/main_test.go
Due: copyright_checker

update
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

follow comments on ir field naming
  pkg/parser/extended_syntax_parser.y
  pkg/sql/codegen/xgboost/template_train.go
  pkg/sql/ir_generator.go
Due: copyright_checker

fix ci ut fail again
  pkg/sql/codegen/pai/template_tf.go
Due: copyright_checker

change assert pkg
  pkg/tar/tar_test.go
Due: copyright_checker

fix e2e test
  cmd/sqlflow/model_zoo_client_test.go
  cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

fix issubclass bug
  python/sqlflow_submitter/tensorflow/get_tf_model_type.py
Due: copyright_checker, pylint

Update docker image tag
  docker/dev/build.sh
Due: copyright_checker, shellcheck

change assert pkg (#2440)
  pkg/tar/tar_test.go
Due: copyright_checker

models guide
  doc/design/model_guide.md
Due: none

update
  doc/design/model_guide.md
Due: none

modelzoo server extract uploaded model repo to tmp dir (#2439)
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

Complement the test case for TO RUN statement
  pkg/parser/extended_syntax_parser_test.go
Due: copyright_checker

Use space instead of tabs to make the code aligned
  pkg/parser/extended_syntax_parser.y
  pkg/parser/lexer.go
Due: copyright_checker

Add the missing comma
  pkg/parser/extended_syntax_parser_test.go
Due: copyright_checker

update
  pkg/parser/extended_syntax_parser.y
Due: none

remove import * in Python
  python/sqlflow_submitter/tensorflow/__init__.py
Due: copyright_checker, pylint

Auto-update the code using pre-commit
  pkg/parser/extended_syntax_parser_test.go
Due: copyright_checker

Add the bad test case of TO RUN statement parsing.
  pkg/parser/extended_syntax_parser_test.go
Due: copyright_checker

Unify is_estimator codes (#2437)
  pkg/sql/codegen/pai/template_tf.go
  python/sqlflow_submitter/tensorflow/evaluate.py
  python/sqlflow_submitter/tensorflow/get_tf_model_type.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker, pylint

Update RNN model unit tests (#2436)
  cmd/sqlflowserver/e2e_mysql_test.go
  docker/dev/build.sh
Due: copyright_checker, shellcheck

update time series tutorial model name
  doc/tutorial/energe_lstmbasedtimeseries.md
Due: none

support incremental training in XGBoost (#2422)
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/main_test.go
  pkg/ir/ir.go
  pkg/parser/extended_syntax_parser.y
  pkg/sql/alisa_submitter.go
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/pai/codegen_test.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_train.go
  pkg/sql/executor_ir.go
  pkg/sql/ir_generator.go
  pkg/sql/pai_submitter.go
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

Support mathematical programming syntax parsing (#2430)
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/parser/lexer.go
Due: copyright_checker

split and write grpc data in blocks when release repo
  cmd/sqlflow/model_zoo_client.go
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
