Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

add test
  python/runtime/db.py
  python/runtime/db_test.py
Due: copyright_checker, pylint

fix lint
  python/runtime/db_test.py
Due: copyright_checker, pylint

MySQL connection support default port
  python/runtime/dbapi/mysql.py
  python/runtime/dbapi/mysql_test.py
Due: copyright_checker, pylint

Support local pai ut using docker image (#2912)
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/tensorflow/codegen.go
  go/executor/executor.go
  go/executor/pai.go
  go/executor/pai_local.go
  python/runtime/db_writer/pai_maxcompute.py
  python/runtime/dbapi/paiio.py
  python/runtime/model/oss.py
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/tensorflow/evaluate.py
Due: copyright_checker, pylint

MySQL connection support default port (#2915)
  python/runtime/dbapi/mysql.py
  python/runtime/dbapi/mysql_test.py
Due: copyright_checker, pylint

Polish playground on cloud
  docker/jupyterhub/Dockerfile
  docker/jupyterhub/jupyterhub_config.py
  docker/jupyterhub/provision.sh
Due: copyright_checker, pylint, shellcheck

remove unrelated file
  go/codegen/codegen_feature_column.go
Due: copyright_checker

add download model doc
  doc/download_model.md
Due: none

follow comments
  doc/export_model.md
  doc/quick_start.md
Due: none

Polish playground on the cloud (#2916)
  docker/jupyterhub/Dockerfile
  docker/jupyterhub/jupyterhub_config.py
  docker/jupyterhub/provision.sh
Due: copyright_checker, pylint, shellcheck

Support null values for xgboost (#2894)
  go/cmd/sqlflowserver/e2e_mysql_test.go
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/local/xgboost_submitter/explain.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

fix pai
  go/codegen/pai/template_tf.go
  python/runtime/model/oss.py
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/pai/tensorflow_submitter/train_keras.py
  python/runtime/tensorflow/keras_example.py
  python/runtime/tensorflow/keras_example_reg.py
  python/runtime/tensorflow/keras_with_feature_column_input.py
Due: copyright_checker, pylint

add comments
  python/runtime/tensorflow/load_model.py
Due: copyright_checker, pylint

fix load_dir
  python/runtime/model/oss.py
Due: copyright_checker, pylint

fix feature column type derivation
  go/codegen/codegen_feature_column.go
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

format code
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

support Python CI scripts
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/tensorflow/template_train.go
  python/runtime/dbapi/paiio.py
  python/runtime/model/oss.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/explain.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

remove unused code
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

update
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint

fix_pai_ci_cases
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

Try to save model definition and weights together after training Keras model (#2914)
  go/codegen/pai/template_tf.go
  python/runtime/model/oss.py
  python/runtime/models/example.py
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/pai/tensorflow_submitter/train_keras.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/keras_example.py
  python/runtime/tensorflow/keras_example_reg.py
  python/runtime/tensorflow/keras_with_feature_column_input.py
  python/runtime/tensorflow/load_model.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train_keras.py
Due: copyright_checker, pylint

fix predict result processing
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

unify pop parameters
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/keras_with_feature_column_input.py
  python/runtime/tensorflow/load_model.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

Install bash in model zoo docker image.
  docker/modelzooserver/Dockerfile
Due: none

Fix the issue that the required packages are not installed if =false
  docker/modelzooserver/Dockerfile
Due: none

Support Python CI scripts (#2921)
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/tensorflow/template_train.go
  python/runtime/dbapi/paiio.py
  python/runtime/model/oss.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/explain.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

polish xgboost runtime
  go/codegen/experimental/codegen_step_train.go
  python/runtime/local/xgboost_submitter/train.py
Due: copyright_checker, pylint

unify pop parameters (#2922)
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/keras_with_feature_column_input.py
  python/runtime/tensorflow/load_model.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

polish xgboost runtime (#2924)
  go/codegen/experimental/codegen_step_train.go
  python/runtime/local/xgboost_submitter/train.py
Due: copyright_checker, pylint

Install bash in model zoo docker image. (#2923)
  docker/modelzooserver/Dockerfile
Due: none

port tf local
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_step_train.go
  go/codegen/experimental/semantic_xgboost.go
  python/runtime/local/submitter.py
  python/runtime/local/tensorflow_submitter/__init__.py
  python/runtime/local/tensorflow_submitter/train.py
  python/runtime/local/xgboost_submitter/train.py
Due: copyright_checker, pylint

test sqlflow ipython magic in ci
  .github/workflows/main.yml
  docker/jupyter/install-jupyter.sh
  scripts/test/ipython.sh
Due: copyright_checker, shellcheck

model zoo -> database, model is in the database until you upload it to modelzoo
  doc/export_model.md
Due: none

update
  go/cmd/sqlflowserver/e2e_workflow_test.go
Due: copyright_checker

fix run on ci
  scripts/test/ipython.sh
Due: copyright_checker, shellcheck

fix ut
  go/codegen/experimental/codegen_step.go
Due: copyright_checker

fix categorizeAttributes
  go/codegen/experimental/codegen_step.go
Due: copyright_checker

fix PAI py3 tests
  python/runtime/model/oss.py
Due: copyright_checker, pylint

fix PAI py3 tests (#2930)
  python/runtime/model/oss.py
Due: copyright_checker, pylint

Fix feature column type derivation (#2920)
  go/codegen/codegen_feature_column.go
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
