Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

move derivation to submitter (#3065)
  python/runtime/local/submitter.py
  python/runtime/pai/submitter_train.py
  python/runtime/step/tensorflow/local_test_base.py
  python/runtime/step/tensorflow/train.py
  python/runtime/step/xgboost/train.py
  python/runtime/step/xgboost/xgboost_local_test.py
Due: copyright_checker, pylint

pai optimize
  go/codegen/experimental/codegen_optimize.go
  go/codegen/optimize/template_optimize.go
  python/runtime/optimize/optflow.py
  python/runtime/step/optimize.py
Due: copyright_checker, pylint

fix import
  python/runtime/step/optimize.py
Due: copyright_checker, pylint

Fix PAI model metadata saving (#3062)
  go/codegen/experimental/codegen_step.go
  python/runtime/model/model.py
  python/runtime/pai/submitter_train.py
Due: copyright_checker, pylint

update
  python/runtime/local/submitter.py
  python/runtime/model/model.py
  python/runtime/pai/submitter_train.py
  python/runtime/step/xgboost/train.py
Due: copyright_checker, pylint

remove local.xgboost_submitter
  python/runtime/pai/xgboost_submitter/__init__.py
  python/runtime/pai/xgboost_submitter/evaluate.py
  python/runtime/pai/xgboost_submitter/explain.py
  python/runtime/pai/xgboost_submitter/predict.py
  python/runtime/pai/xgboost_submitter/train.py
Due: copyright_checker, pylint

add OneClassSVM ut
  docker/dev/build.sh
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

fix typo (#3066)
  doc/run/docker.md
Due: none

update
  python/runtime/local/submitter.py
  python/runtime/pai/submitter_train.py
  python/runtime/step/xgboost/train.py
  python/runtime/step/xgboost/xgboost_local_test.py
Due: copyright_checker, pylint

fix ut
  python/runtime/step/optimize.py
Due: copyright_checker, pylint

fix ut
  go/attribute/attribute_test.go
  go/cmd/sqlflow/main_test.go
Due: copyright_checker

fix lint
  python/runtime/step/xgboost/train.py
Due: copyright_checker, pylint

fix args
  python/runtime/local/submitter.py
  python/runtime/step/xgboost/train.py
Due: copyright_checker, pylint

Fix pai explain (#3064)
  python/runtime/pai/submitter_explain.py
Due: copyright_checker, pylint

update
  python/runtime/step/xgboost/predict.py
Due: copyright_checker, pylint

fix ci
  python/runtime/db.py
  python/runtime/step/xgboost/predict.py
Due: copyright_checker, pylint

add kits for developer
  docker/dev/install.sh
Due: copyright_checker, shellcheck

Remove xgboost_submitter (#3061)
  python/runtime/db.py
  python/runtime/local/submitter.py
  python/runtime/model/model.py
  python/runtime/pai/entry.py
  python/runtime/pai/submitter_predict.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/xgboost_submitter/__init__.py
  python/runtime/pai/xgboost_submitter/evaluate.py
  python/runtime/pai/xgboost_submitter/explain.py
  python/runtime/pai/xgboost_submitter/predict.py
  python/runtime/pai/xgboost_submitter/train.py
  python/runtime/step/xgboost/evaluate.py
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
  python/runtime/step/xgboost/train.py
  python/runtime/step/xgboost/xgboost_local_test.py
Due: copyright_checker, pylint

add kits for developer (#3071)
  docker/dev/install.sh
Due: copyright_checker, shellcheck

pyalisa: refine pop and add test_case
  python/runtime/dbapi/pyalisa/alisa.py
  python/runtime/dbapi/pyalisa/client.py
  python/runtime/dbapi/pyalisa/pop.py
  python/runtime/dbapi/pyalisa/pop_test.py
Due: copyright_checker, pylint

update doc
  python/runtime/dbapi/pyalisa/pop.py
Due: copyright_checker, pylint

fix runtime.pai submitter
  go/codegen/pai/template_tf.go
  python/runtime/model/oss.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
  python/runtime/step/xgboost/predict.py
  python/runtime/step/xgboost/train.py
Due: copyright_checker, pylint

Add e2e ut for OneClassSVM model (#3069)
  docker/dev/build.sh
  go/attribute/attribute_test.go
  go/cmd/sqlflow/main_test.go
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

add sqlfs read meta mode
  go/codegen/experimental/codegen_step.go
  go/model/model.go
  go/modelzooserver/modelzooserver.go
  go/modelzooserver/using_model_test.go
  go/sqlfs/hive_writer_test.go
  go/sqlfs/reader.go
  go/sqlfs/reader_test.go
  go/sqlfs/sql_writer_test.go
  python/runtime/model/db.py
  python/runtime/model/model.py
  python/runtime/model/modelzoo.py
Due: copyright_checker, pylint

hide Reader -> reader
  go/sqlfs/reader.go
Due: copyright_checker

rename frames -> fragments
  go/sqlfs/reader.go
Due: copyright_checker

PAI optimize (#3067)
  go/codegen/experimental/codegen_optimize.go
  go/codegen/optimize/template_optimize.go
  python/runtime/local/optimize.py
  python/runtime/optimize/optflow.py
  python/runtime/step/optimize.py
Due: copyright_checker, pylint

update
  python/runtime/model/db.py
Due: copyright_checker, pylint

migrate couler-proj/couler
  docker/dev/build.sh
  go/workflow/couler/codegen.go
  go/workflow/couler/codegen_test.go
  go/workflow/couler/template.go
Due: copyright_checker, shellcheck

remove old code
  docker/dev/build.sh
Due: copyright_checker, shellcheck

add alisa config
  python/runtime/dbapi/pyalisa/config.py
  python/runtime/dbapi/pyalisa/config_test.py
Due: copyright_checker, pylint

Remove unnecessary port-forward-log file.
  port-forward-log
Due: none

Revert "Fix argo yaml generate with datasource string contains special char (#3031)"
  go/workflow/couler/codegen_test.go
  python/couler/couler/argo.py
  python/couler/tests/test_argo.py
Due: copyright_checker, pylint

Revert "Fix argo yaml generate with datasource string contains special char (#3031)" (#3080)
  go/workflow/couler/codegen_test.go
  python/couler/couler/argo.py
  python/couler/tests/test_argo.py
Due: copyright_checker, pylint

wip
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/workflow/workflow.go
  python/runtime/pai/submitter_explain.py
  python/runtime/step/xgboost/explain.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

remove build dir
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

fix pai label
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

update one class svm ut
  docker/dev/build.sh
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

Use parameters stdout and stderr instead of capture_output in Python 3.6.9
  go/codegen/experimental/codegen_step_run.go
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

fix pai label (#3082)
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
