Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

fix parser ut
  go/parser/external/parser_test.go
Due: copyright_checker

fix bugs
  python/runtime/pai/cluster_conf.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

change get_shap_result signature
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

check spelling
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

fix parser ut (#2683)
  go/parser/external/parser_test.go
Due: copyright_checker

update
  go/cmd/sqlflowserver/e2e_common_cases.go
  python/runtime/pai/pai_distributed.py
  python/runtime/pai/train_keras.py
Due: copyright_checker, pylint

Move diag.py to the topmost package
  go/executor/executor.go
  python/runtime/diag.py
  python/runtime/pai/cluster_conf.py
  python/runtime/pai/cluster_conf_test.py
  python/runtime/pai/submitter.py
  python/runtime/tensorflow/keras_with_feature_column_input.py
  python/runtime/tensorflow/train_estimator.py
Due: copyright_checker, pylint

Fix isort
  python/runtime/pai/cluster_conf_test.py
  python/runtime/pai/submitter.py
  python/runtime/tensorflow/train_estimator.py
Due: copyright_checker, pylint

PAI submitter: add explain function (#2672)
  go/executor/pai.go
  python/runtime/pai/entry/tensorflow.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

fix aone ci
  go/parser/external/parser_test.go
Due: copyright_checker

fix pai ci
  python/runtime/pai/pai_distributed.py
  python/runtime/pai/train_keras.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

Fix UT failure
  go/cmd/sqlflow/main_test.go
Due: copyright_checker

update
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

move oss operation functions to oss.py
  python/runtime/oss.py
  python/runtime/pai/entry/tensorflow.py
  python/runtime/pai/oss.py
  python/runtime/pai/submitter.py
  python/runtime/pai/train_keras.py
Due: copyright_checker, pylint

fix aone ci (#2684)
  go/parser/external/parser_test.go
Due: copyright_checker

Make the attribute check for XGBoost model compatible with reg:linear objective function. (#2680)
  go/attribute/xgboost_objective_params.go
  go/cmd/sqlflow/main_test.go
Due: copyright_checker

Fix pai develop ci (#2685)
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/codegen/pai/codegen.go
  go/codegen/pai/template_xgboost.go
  python/runtime/pai/pai_distributed.py
  python/runtime/pai/train.py
  python/runtime/pai/train_keras.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train_keras.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

fix indent
  go/codegen/pai/template_xgboost.go
Due: copyright_checker

update
  python/runtime/model/model.py
Due: copyright_checker, pylint

update as comment
  python/runtime/model/model.py
Due: copyright_checker, pylint

remove decomp method
  go/ir/derivation.go
Due: copyright_checker

fix pylint
  python/runtime/model/model.py
Due: copyright_checker, pylint

remove fieldTypes in derivation.go
  go/ir/derivation.go
Due: copyright_checker

refine verify method, remove fieldTypes
  go/codegen/optimize/codegen.go
  go/executor/pre_exec.go
  go/ir/derivation.go
  go/verifier/verifier.go
  go/verifier/verifier_test.go
Due: copyright_checker

fix indent (#2688)
  go/codegen/pai/template_xgboost.go
Due: copyright_checker

Remove duplicate codes in derivation.go (#2690)
  go/ir/derivation.go
Due: copyright_checker

refine verify method, remove fieldTypes (#2689)
  go/codegen/optimize/codegen.go
  go/executor/pre_exec.go
  go/ir/derivation.go
  go/verifier/verifier.go
  go/verifier/verifier_test.go
Due: copyright_checker

Add `runtime.model.Model` class to save/load SQLFlow model (#2682)
  python/runtime/model/__init__.py
  python/runtime/model/model.py
  python/runtime/model/model_test.py
Due: copyright_checker, pylint

fix deploy step on github actions
  scripts/travis/deploy_client.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

Providing more explicit error message about the lack of OSS access permissions
  go/executor/alisa.go
  go/executor/pai.go
  go/executor/pai_test.go
Due: copyright_checker

ut
  go/executor/pai_test.go
Due: copyright_checker

PAI tensorflow train submitting done
  python/runtime/db_writer/__init__.py
  python/runtime/db_writer/maxcompute.py
  python/runtime/pai/entry/tensorflow.py
  python/runtime/pai/model.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/train.py
  python/runtime/tensorflow/estimator_example.py
  python/runtime/tensorflow/evaluate_example.py
  python/runtime/tensorflow/explain_example.py
  python/runtime/tensorflow/keras_example.py
  python/runtime/tensorflow/keras_example_reg.py
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint

test db type id
  python/runtime/db_test.py
Due: copyright_checker, pylint

add tar operators
  python/runtime/sqlfs/__init__.py
  python/runtime/sqlfs/tar.py
  python/runtime/sqlfs/tar_test.py
Due: copyright_checker, pylint

add tar operators
  python/runtime/sqlfs/tar_test.py
Due: copyright_checker, pylint

refine code
  python/runtime/pai/model.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

add model zoo default modeldef
  go/cmd/sqlflow/model_zoo_client.go
  go/modelzooserver/add_default_model_defs.go
  go/modelzooserver/modelzooserver.go
  go/modelzooserver/using_model_test.go
Due: copyright_checker

update
  go/modelzooserver/add_default_model_defs.go
  go/modelzooserver/modelzooserver.go
  go/modelzooserver/using_model_test.go
Due: copyright_checker

add vscode java files to gitignore
  .gitignore
Due: none

move oss operation functions to oss.py (#2687)
  python/runtime/explainer.py
  python/runtime/optimize/optflow_submit.py
  python/runtime/oss.py
  python/runtime/pai/entry/tensorflow.py
  python/runtime/pai/oss.py
  python/runtime/pai/submitter.py
  python/runtime/pai/train_keras.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
