Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Add json dump and load support for FeatureColumn (#2794)
  python/runtime/feature/column.py
  python/runtime/feature/column_test.py
  python/runtime/feature/derivation_test.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

add marshal json on Go
  go/ir/derivation.go
  go/ir/derivation_test.go
  go/ir/feature_column.go
  go/ir/feature_column_test.go
Due: copyright_checker

format code
  python/runtime/dbapi/maxcompute.py
  python/runtime/dbapi/maxcompute_test.py
Due: copyright_checker, pylint

Add maxcompute DB-API (#2801)
  python/runtime/dbapi/maxcompute.py
  python/runtime/dbapi/maxcompute_test.py
Due: copyright_checker, pylint

Derive the absolute path of the runnable program if users just input a file name.
  go/executor/alisa.go
  go/executor/executor.go
Due: copyright_checker

Use python -m command to invoke the TO RUN statement in default submitter.
  go/executor/executor.go
Due: copyright_checker

Move getRunnableProgramAbsPath to alisa.go
  go/executor/alisa.go
  go/executor/executor.go
Due: copyright_checker

wip
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/xgboost.go
  go/workflow/couler/codegen.go
Due: copyright_checker

fix pai xgboost package deps
  go/codegen/pai/template_tf.go
Due: copyright_checker

Push images on self hosted machine (#2799)
  .github/workflows/main.yml
  docker/dev/install.sh
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

fix pai xgboost package deps (#2803)
  go/codegen/pai/template_tf.go
Due: copyright_checker

move and refine metadata
  python/runtime/model/__init__.py
  python/runtime/model/metadata.py
  python/runtime/model/metadata_test.py
  python/runtime/model/model.py
  python/runtime/model_metadata.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/pai/tensorflow/train_keras.py
  python/runtime/tensorflow/train.py
  python/runtime/tensorflow/train_estimator.py
  python/runtime/tensorflow/train_keras.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

fix ci ut
  python/runtime/feature/compile.py
Due: copyright_checker, pylint

Simplify TO RUN command - use filename instead of absolute path for the executable or script program (#2804)
  go/executor/alisa.go
  go/executor/executor.go
Due: copyright_checker

polish db-api
  python/runtime/dbapi/__init__.py
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/hive.py
  python/runtime/dbapi/hive_test.py
  python/runtime/dbapi/maxcompute.py
  python/runtime/dbapi/maxcompute_test.py
  python/runtime/dbapi/mysql.py
  python/runtime/dbapi/mysql_test.py
Due: copyright_checker, pylint

Adapt paiio with DB-API
  python/runtime/dbapi/__init__.py
  python/runtime/dbapi/paiio.py
Due: copyright_checker, pylint

fix yaml generate
  go/codegen/experimental/codegen_couler.go
  python/couler/couler/argo.py
Due: copyright_checker, pylint

fix ut
  python/runtime/model/metadata.py
  python/runtime/model/metadata_test.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/tensorflow/train.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

Polish DB-API code, export unified connect function from package. (#2808)
  python/runtime/dbapi/__init__.py
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/hive.py
  python/runtime/dbapi/hive_test.py
  python/runtime/dbapi/maxcompute.py
  python/runtime/dbapi/maxcompute_test.py
  python/runtime/dbapi/mysql.py
  python/runtime/dbapi/mysql_test.py
Due: copyright_checker, pylint

Adapt paiio with DB-API
  python/runtime/dbapi/paiio.py
Due: copyright_checker, pylint

fix tests
  go/codegen/experimental/codegen_test.go
  go/workflow/couler/codegen_test.go
Due: copyright_checker

fix package deps
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

fix pip package deps
  docker/ci/install-pips.bash
Due: shellcheck

add solved y to optimize
  python/runtime/optimize/local.py
  python/runtime/optimize/model_generation_test.py
Due: copyright_checker, pylint

add try import paiio
  python/runtime/dbapi/paiio.py
Due: copyright_checker, pylint

update
  docker/ci/install-pips.bash
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

follow lhw comment
  python/runtime/model/metadata_test.py
Due: copyright_checker, pylint

add solved y to optimize (#2810)
  python/runtime/optimize/local.py
  python/runtime/optimize/model_generation_test.py
Due: copyright_checker, pylint

Generate couler code of workflow steps (#2806)
  docker/ci/install-pips.bash
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/xgboost.go
  go/workflow/couler/codegen.go
  go/workflow/couler/codegen_test.go
  python/couler/couler/argo.py
  scripts/test/prepare.sh
Due: copyright_checker, pylint, shellcheck

install baron solver in Docker image
  docker/dev/install.sh
  python/runtime/optimize/model_generation_test.py
Due: copyright_checker, pylint, shellcheck

polish
  docker/dev/install.sh
Due: copyright_checker, shellcheck

make constraint optional
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_hive_test.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/ir/ir_generator.go
  go/parser/extended_syntax_parser.y
  go/parser/extended_syntax_parser_test.go
Due: copyright_checker

Refine metadata collect and save/load (#2807)
  python/runtime/feature/compile.py
  python/runtime/model/__init__.py
  python/runtime/model/metadata.py
  python/runtime/model/metadata_test.py
  python/runtime/model/model.py
  python/runtime/model_metadata.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/pai/tensorflow/train_keras.py
  python/runtime/tensorflow/train.py
  python/runtime/tensorflow/train_estimator.py
  python/runtime/tensorflow/train_keras.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

add experimental workflow end2end test
  go/cmd/sqlflowserver/e2e_workflow_experimental_test.go
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/parse_to_ir.go
  go/codegen/experimental/xgboost.go
  go/workflow/workflow.go
Due: copyright_checker

disable actions maxcompute test
  .github/workflows/main.yml
Due: none

fix workflow ci env
  go/cmd/sqlflowserver/e2e_workflow_experimental_test.go
Due: copyright_checker

use db-api in old code
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/db_writer/hive.py
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/hive.py
  python/runtime/dbapi/maxcompute.py
  python/runtime/dbapi/mysql.py
  python/runtime/dbapi/paiio.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/testing.py
Due: copyright_checker, pylint

fix typo
  python/runtime/dbapi/__init__.py
Due: copyright_checker, pylint

update test code
  go/cmd/sqlflowserver/e2e_workflow_experimental_test.go
  go/cmd/sqlflowserver/e2e_workflow_test.go
Due: copyright_checker

pull latest step before running workflow
  .github/workflows/main.yml
Due: none

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
