Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: local
  hooks:
  - id: yamlfmt
    name: yamlfmt
    entry: bash ./scripts/pre-commit/yamlfmt.sh
    language: system
    files: \.(yaml|yml)$
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.20
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  sha: master
  hooks:
  - id: black
    args: [--line-length=79]
    # - repo: https://github.com/pre-commit/pre-commit-hooks
    #   rev: v2.2.3
    #   hooks:
    #   - id: flake8
    # - repo: git://github.com/skorokithakis/pre-commit-mypy
    #   rev: v0.701
    #   hooks:
    #   - id: mypy
    # - repo: https://github.com/asottile/seed-isort-config
    #   rev: v1.9.1
    #   hooks:
    #   - id: seed-isort-config

follow comments
  doc/design/figures/xgboost_feature_column.md
Due: none

config workflow spec in couler cluster_config
  pkg/workflow/couler/codegen_test.go
  python/couler/couler/argo.py
Due: copyright_checker

Use Qiniu than AWS for releasing
  scripts/travis/deploy_client.sh
Due: copyright_checker

config workflow spec in couler cluster_config (#2241)
  pkg/workflow/couler/codegen_test.go
  python/couler/couler/argo.py
Due: copyright_checker

Use Qiniu than AWS for releasing (#2242)
  scripts/travis/deploy_client.sh
Due: copyright_checker

XGBoost feature column support design doc (#2240)
  doc/design/figures/xgboost_feature_column.md
Due: none

move server ready check function for all e2e unit tests (#2239)
  cmd/sqlflowserver/main_test.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/server/wait_port_ready.go
Due: copyright_checker

Release model definitions and list them (#2232)
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

bypass all select cols to prediction result table
  pkg/sql/executor_ir.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/db_test.py
  python/sqlflow_submitter/tensorflow/input_fn.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/xgboost/dataset.py
Due: copyright_checker

A python module for contracts based verification
  python/contracts.py
  python/contracts_test.py
Due: copyright_checker

Fix bug
  scripts/travis/deploy_client.sh
Due: copyright_checker

Disable unit test about dist training on xgboost, because the dataset is too small for all workers to read.
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

Fix bug (#2246)
  scripts/travis/deploy_client.sh
Due: copyright_checker

Download axel other than curl
  docker/dev/install.sh
Due: copyright_checker

disable deploying Windows and Linux SQLFlow client in CI
  .travis.yml
Due: yamlfmt

Update install.sh
  docker/dev/install.sh
Due: copyright_checker

Use axel instead of curl for downloading
  doc/tutorial/apsara2019/Dockerfile
  docker/ci/install-build-essential.bash
  docker/ci/install-hadoop.bash
  docker/ci/install-kubectl.bash
  docker/ci/install-odps.bash
  scripts/travis/deploy_client.sh
  scripts/travis/setup_minikube.sh
Due: copyright_checker

Install curl
  docker/dev/install.sh
Due: copyright_checker

Dont run axel from sudo
  scripts/travis/setup_minikube.sh
Due: copyright_checker

Install axel in scripts/travis/*.sh
  scripts/travis/setup_minikube.sh
Due: copyright_checker

Install axel on Travis CI VM
  scripts/travis/deploy_client.sh
  scripts/travis/setup_minikube.sh
Due: copyright_checker

Use axel than curl (#2252)
  doc/tutorial/apsara2019/Dockerfile
  docker/ci/install-build-essential.bash
  docker/ci/install-hadoop.bash
  docker/ci/install-kubectl.bash
  docker/ci/install-odps.bash
  docker/dev/install.sh
  scripts/travis/deploy_client.sh
  scripts/travis/setup_minikube.sh
Due: copyright_checker

Install protoc in deploy_client.sh
  scripts/travis/deploy_client.sh
Due: copyright_checker

Install axel
  scripts/travis/deploy_client.sh
  scripts/travis/setup_minikube.sh
Due: copyright_checker

add sudo
  scripts/travis/deploy_client.sh
Due: copyright_checker

clean up legacy model zoo code (#2233)
  pkg/model/model.go
Due: copyright_checker

disable deploying Windows and Linux SQLFlow client in CI (#2251)
  .travis.yml
Due: yamlfmt

Re-enable all OSes in deploy
  .travis.yml
Due: yamlfmt

update
  .travis.yml
Due: yamlfmt

Install protoc in deploy_client.sh (#2254)
  .travis.yml
  scripts/travis/deploy_client.sh
  scripts/travis/setup_minikube.sh
Due: copyright_checker, yamlfmt

Disable unit test about dist training on xgboost, because the dataset is too small for all workers to read. (#2247)
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

Remove deploy_macos.sh, replaced by deploy_client.sh
  scripts/travis/deploy_macos.sh
Due: copyright_checker

Remove pre-commit hook yamlfmt
  .pre-commit-config.yaml
  docker/dev/install.sh
  go.mod
  scripts/pre-commit/yamlfmt.sh
Due: copyright_checker, yamlfmt

Revert go.mod
  go.mod
Due: none

Remove deploy_macos.sh, replaced by deploy_client.sh (#2255)
  scripts/travis/deploy_macos.sh
Due: copyright_checker

Remove pre-commit hook yamlfmt (#2256)
  .pre-commit-config.yaml
  docker/dev/install.sh
  scripts/pre-commit/yamlfmt.sh
Due: copyright_checker, yamlfmt

update
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/tensorflow/input_fn.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/explain.py
Due: copyright_checker

update
  python/sqlflow_submitter/db.py
Due: copyright_checker

return model definition join model collection
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/proto/modelzooserver.proto
Due: copyright_checker

add tf_generator
  python/sqlflow_submitter/tensorflow/input_fn.py
Due: copyright_checker
