Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

add download link for sqlflow cli
  doc/run/cli.md
Due: none

update
  doc/design/model_guide.md
Due: none

Build modelzooserver Docker image (#2448)
  docker/modelzooserver/Dockerfile
  scripts/travis/build.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

debug setup argo on ci
  scripts/travis/start_argo.sh
Due: copyright_checker, shellcheck

update
  scripts/travis/start_argo.sh
Due: copyright_checker, shellcheck

update QiNiu cdn domain
  docker/ci/install-odps.bash
  docker/dev/install.sh
  scripts/travis/start_argo.sh
Due: copyright_checker, shellcheck

add download link for sqlflow cli (#2459)
  doc/run/cli.md
Due: none

update QiNiu cdn domain (#2464)
  docker/ci/install-odps.bash
  docker/dev/install.sh
  scripts/travis/start_argo.sh
Due: copyright_checker, shellcheck

Fix typos in warning messages (#2449)
  pkg/sql/executor_ir.go
  pkg/sql/pai_submitter.go
Due: copyright_checker

Refine model zoo CLI UT (#2457)
  cmd/sqlflow/model_zoo_client_test.go
  cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

Rename show train result header
  cmd/sqlflowserver/e2e_common_cases.go
  pkg/sql/submitter.go
Due: copyright_checker

refine wording
  doc/design/model_meta_storage.md
Due: none

WIP: support any native keras model
  python/sqlflow_submitter/tensorflow/keras_example.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

add file
  python/sqlflow_submitter/tensorflow/keras_with_feature_column_input.py
Due: copyright_checker, pylint

update design syntax
  doc/design/programming_solver.md
Due: none

Disable JupyterNotebook's token validation for playground
  doc/run/k8s/install-sqlflow.yaml
Due: none

fix typo in Jupyter dockerfile
  docker/jupyter/Dockerfile
Due: none

update
  doc/design/programming_solver.md
Due: none

add field description to metadata
  doc/design/model_meta_storage.md
Due: none

ignore comments on test if a hint
  pkg/sql/executor_ir.go
  pkg/sql/executor_ir_test.go
Due: copyright_checker

add metadata definition
  doc/design/model_meta_storage.md
Due: none

Rename show train result header (#2465)
  cmd/sqlflowserver/e2e_common_cases.go
  pkg/sql/submitter.go
Due: copyright_checker

Update optimize design syntax of variable definition (#2467)
  doc/design/programming_solver.md
Due: none

reduce jupyter image size
  docker/jupyter/Dockerfile
  docker/jupyter/install-jupyter.bash
Due: shellcheck

add comment
  docker/jupyter/install-jupyter.bash
Due: shellcheck

update
  docker/jupyter/install-jupyter.bash
Due: shellcheck

Design doc for model metadata storage (#2456)
  doc/design/model_meta_storage.md
Due: none

update
  docker/jupyter/Dockerfile
Due: none

install playground with multi-users mode
  doc/k8s/sqlflow-all-in-one-without-mysql.yaml
  doc/k8s/sqlflow-all-in-one.yaml
  doc/k8s/sqlflow-jhub.yaml
  doc/k8s/sqlflow-mysql.yaml
  doc/k8s/sqlflow-populate-demo-dataset.yaml
  doc/k8s/sqlflow-server.yaml
  doc/k8s/sqlflowhub/Dockerfile
  doc/k8s/sqlflowhub/jupyterhub_config.py
  doc/run/k8s/install-playgroun-multi-users.yaml
  docker/jupyterhub/Dockerfile
  docker/jupyterhub/jupyterhub_config.py
Due: copyright_checker, pylint

update
  doc/run/k8s/install-playgroun-multi-users.yaml
Due: none

Put testing utility to a more common file
  pkg/sql/convergence_test.go
  pkg/sql/executor_ir_test.go
  pkg/sql/executor_normal_stmt_test.go
  pkg/sql/ir_generator_test.go
  pkg/sql/testing.go
Due: copyright_checker

ignore comments on test if a hint (#2468)
  pkg/sql/executor_ir.go
  pkg/sql/executor_ir_test.go
Due: copyright_checker

Disable JupyterNotebook's token validation for playground (#2469)
  doc/run/k8s/install-sqlflow.yaml
  docker/jupyter/Dockerfile
Due: none

Put testing utility to a more common file (#2470)
  pkg/sql/convergence_test.go
  pkg/sql/executor_ir_test.go
  pkg/sql/executor_normal_stmt_test.go
  pkg/sql/ir_generator_test.go
  pkg/sql/testing.go
Due: copyright_checker

Reduce Jupyter image size (#2471)
  docker/jupyter/Dockerfile
  docker/jupyter/install-jupyter.bash
Due: shellcheck

Rename solve to optimize
  pkg/ir/ir_generator.go
  pkg/proto/ir.proto
Due: copyright_checker

Model zoo client
  cmd/sqlflow/model_zoo_client.go
  go.mod
  go.sum
Due: copyright_checker

Fix Model Zoo UT
  cmd/sqlflowserver/e2e_workflow_test.go
  docker/dev/build.sh
  python/sqlflow/platform/default.py
  python/sqlflow/platform/pai.py
  python/sqlflow/proto/__init__.py
  python/sqlflow_submitter/tensorflow/explain.py
Due: copyright_checker, pylint, shellcheck

Install grpcio for Python
  docker/dev/install.sh
Due: copyright_checker, shellcheck

Framework for PAI
  pkg/proto/proto.go
  python/sqlflow/platform/pai.py
Due: copyright_checker, pylint

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
