Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

Update the error message.
  pkg/executor/alisa.go
Due: copyright_checker

fix ir_generator_test.go
  pkg/ir/ir_generator_test.go
Due: copyright_checker

Add quotation mark for the argument values of PyODPS task.
  pkg/executor/alisa.go
Due: copyright_checker

Add expr.go and test
  pkg/ast/expr.go
  pkg/ast/expr_test.go
Due: copyright_checker

add Expr.ToTokens
  pkg/parser/extended_syntax_parser.y
Due: none

Update
  pkg/ast/expr.go
  pkg/ast/expr_test.go
Due: copyright_checker

Move
  pkg/parser/ast/expr.go
  pkg/parser/ast/expr_test.go
Due: copyright_checker

Remove comments
  pkg/parser/ast/expr.go
Due: copyright_checker

fix expr quote
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
Due: copyright_checker

Add package parser/ast -- expr.go and expr_test.go (#2533)
  pkg/parser/ast/expr.go
  pkg/parser/ast/expr_test.go
Due: copyright_checker

add Expr.ToTokens (#2532)
  pkg/parser/extended_syntax_parser.y
Due: none

Adjust the location of executeCommand method
  pkg/executor/executor.go
Due: copyright_checker

fix expr quote (#2534)
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
Due: copyright_checker

Add single quotation marks for the SQLFLOW_TO_RUN_SELECT parameter value while submitting the PyODPS task.
  pkg/executor/alisa.go
Due: copyright_checker

Refactor runCommand and runProgram
  pkg/executor/alisa.go
  pkg/executor/executor.go
Due: copyright_checker

Update according to the pre-commit check
  pkg/executor/executor.go
Due: copyright_checker

Minimize docker image (#2526)
  docker/dev/find_fastest_resources.sh
  docker/mysql/Dockerfile
  docker/mysql/install-mysql-server.bash
  docker/mysql/start.bash
  pkg/workflow/argo/fetch_test.go
Due: copyright_checker, shellcheck

Add parser/ast/attrs*.go
  pkg/parser/ast/attrs.go
  pkg/parser/ast/attrs_test.go
Due: copyright_checker

Rename literal in expr.go into atomic
  pkg/parser/ast/expr.go
  pkg/parser/ast/expr_test.go
Due: copyright_checker

Rename Expr.typ into Expr.token
  pkg/parser/ast/expr.go
  pkg/parser/ast/expr_test.go
Due: copyright_checker

Rename Expr.val into Expr.value
  pkg/parser/ast/expr.go
  pkg/parser/ast/expr_test.go
Due: copyright_checker

Add commnets
  pkg/parser/ast/expr.go
Due: copyright_checker

Add ast/math_program.go
  pkg/parser/ast/math_program.go
Due: copyright_checker

Revert the renaming from literal to atomic
  pkg/parser/ast/expr.go
  pkg/parser/ast/expr_test.go
Due: copyright_checker

Rename ConstraintExpr into Constraint
  pkg/parser/extended_syntax_parser.y
Due: none

Rename ConstraintExpr into Constraint
  pkg/ir/ir_generator.go
  pkg/parser/extended_syntax_parser.y
Due: copyright_checker

grammar rule Constraint into constraint
  pkg/parser/extended_syntax_parser.y
Due: none

modify readMe bug
  docker/dev/README.md
Due: none

modify readMe bug v1.0
  docker/dev/README.md
Due: none

modify readMe bug (#2542)
  docker/dev/README.md
Due: none

Update
  pkg/parser/extended_syntax_parser_test.go
Due: copyright_checker

Rename type ConstraintExpr into Constraint in *.y (#2539)
  pkg/ir/ir_generator.go
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
Due: copyright_checker

Remove out-of-date comments.
  pkg/executor/alisa.go
Due: copyright_checker

use lex member as parser result
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/parser/lexer.go
Due: copyright_checker

polish
  cmd/sqlflowserver/e2e_mysql_test.go
  pkg/ir/derivation.go
  pkg/ir/derivation_test.go
Due: copyright_checker

Add parser/ast/attrs*.go (#2536)
  pkg/parser/ast/attrs.go
  pkg/parser/ast/attrs_test.go
Due: copyright_checker

fix xgboost embedding not supported
  pkg/codegen/tensorflow/codegen.go
  pkg/ir/derivation.go
  pkg/ir/derivation_test.go
Due: copyright_checker

Add ast/math_program.go (#2538)
  pkg/parser/ast/math_program.go
Due: copyright_checker

use lex member as parser result (#2544)
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/parser/lexer.go
Due: copyright_checker

add test for sqlfs read write maxcompute
  go.mod
  go.sum
  pkg/database/testing.go
  pkg/sqlfs/table.go
  pkg/sqlfs/writer_test.go
  scripts/test/maxcompute.sh
Due: copyright_checker, shellcheck
