Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

update
  .github/workflows/main.yml
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

update
  go/codegen/pai/template_tf.go
  go/codegen/pai/template_xgboost.go
  go/codegen/xgboost/template_train.go
  python/runtime/pai/entry/tensorflow.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

update
  .github/workflows/main.yml
Due: none

update
  python/runtime/tensorflow/train_keras.py
Due: copyright_checker, pylint

refine doc
  python/runtime/db.py
  python/runtime/pai/entry/tensorflow.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

workflow support of optimize
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/sql/executor_ir.go
  go/workflow/couler/codegen.go
Due: copyright_checker

test github actions
  .github/workflows/main.yml
Due: none

fix ut
  go/cmd/sqlflowserver/e2e_workflow_test.go
Due: copyright_checker

Workflow support of optimize clause (#2668)
  go/sql/executor_ir.go
  go/workflow/couler/codegen.go
Due: copyright_checker

fix python run error
  go/executor/cmd.go
  python/runtime/optimize/__init__.py
  python/runtime/optimize/optflow_submit.py
  python/runtime/optimize/optimize.py
Due: copyright_checker, pylint

add try-catch import
  python/runtime/optimize/__init__.py
Due: copyright_checker, pylint

add combinational optimize support
  go/codegen/optimize/codegen.go
  go/codegen/optimize/codegen_test.go
  go/executor/pai.go
Due: copyright_checker

add local xgboost train
  python/runtime/local/__init__.py
  python/runtime/local/xgboost/__init__.py
  python/runtime/local/xgboost/train.py
  python/runtime/local/xgboost/train_test.py
Due: copyright_checker, pylint

polish
  go/codegen/optimize/codegen.go
Due: copyright_checker

update
  python/runtime/local/xgboost/train.py
Due: copyright_checker, pylint

Fix Dataworks Python Program Run Error (#2669)
  go/executor/cmd.go
  python/runtime/optimize/__init__.py
  python/runtime/optimize/optflow_submit.py
  python/runtime/optimize/optimize.py
Due: copyright_checker, pylint

add module docstring
  python/runtime/local/xgboost/train.py
Due: copyright_checker, pylint

create predict table update
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

remove unused FLAGS argument
  python/runtime/tensorflow/train.py
  python/runtime/tensorflow/train_estimator.py
  python/runtime/tensorflow/train_keras.py
Due: copyright_checker, pylint

Add PAI submitter for TensorFlow prediction (#2661)
  python/runtime/db.py
  python/runtime/pai/entry/tensorflow.py
  python/runtime/pai/model.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

merge from remote
  go/executor/pai.go
  python/runtime/pai/entry/tensorflow.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

add doc string
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

Remove is_pai conditions and clean up the code (#2666)
  go/codegen/pai/template_tf.go
  go/codegen/pai/template_xgboost.go
  go/codegen/xgboost/template_train.go
  python/runtime/pai/entry/tensorflow.py
  python/runtime/pai/pai_distributed.py
  python/runtime/pai/train.py
  python/runtime/pai/train_estimator.py
  python/runtime/pai/train_keras.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train_estimator.py
  python/runtime/tensorflow/train_keras.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

remove unnecessary codes
  go/codegen/optimize/codegen.go
  go/codegen/optimize/codegen_test.go
Due: copyright_checker

add comments
  go/executor/cmd.go
Due: copyright_checker

fix pai ci
  go/codegen/pai/template_tf.go
  go/codegen/pai/tensorflow.go
  go/codegen/tensorflow/template_train.go
  python/runtime/db.py
  python/runtime/pai/submitter.py
  python/runtime/pai/train_estimator.py
Due: copyright_checker, pylint

add comments (#2673)
  go/executor/cmd.go
Due: copyright_checker

Add deploy stage for github actions (#2665)
  .github/workflows/main.yml
Due: none

fix verifier regexp to match multiple blanks
  go/verifier/verifier.go
  go/verifier/verifier_test.go
Due: copyright_checker

update
  python/runtime/local/xgboost/__init__.py
  python/runtime/local/xgboost/train.py
Due: copyright_checker, pylint

fix verifier regexp to match multiple blanks (#2676)
  go/verifier/verifier.go
  go/verifier/verifier_test.go
Due: copyright_checker

fix pai ci (#2675)
  go/codegen/pai/template_tf.go
  go/codegen/pai/tensorflow.go
  go/codegen/tensorflow/template_train.go
  python/runtime/db.py
  python/runtime/pai/submitter.py
  python/runtime/pai/train_estimator.py
Due: copyright_checker, pylint

fix ci
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
Due: copyright_checker

Add local XGBoost train API (#2671)
  python/runtime/local/__init__.py
  python/runtime/local/xgboost/__init__.py
  python/runtime/local/xgboost/train.py
  python/runtime/local/xgboost/train_test.py
Due: copyright_checker, pylint

Make the attribute check for XGBoost model compatible with reg:linear
  go/attribute/xgboost_objective_params.go
Due: copyright_checker

wip: test fix pai ci
  go/codegen/pai/codegen.go
  go/codegen/pai/template_xgboost.go
  python/runtime/pai/train.py
Due: copyright_checker, pylint

add runtime model class
  python/runtime/model/__init__.py
  python/runtime/model/model.py
  python/runtime/model/model_test.py
Due: copyright_checker, pylint

update
  python/runtime/pai/pai_distributed.py
  python/runtime/tensorflow/train_keras.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

update
  python/runtime/model/model.py
  python/runtime/model/model_test.py
Due: copyright_checker, pylint
