Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, yamlfmt

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

yamlfmt:
  name: yamlfmt
  entry: bash ./scripts/pre-commit/yamlfmt.sh
  language: system

adding one option for populating data locally.
  scripts/start.sh
Due: copyright_checker

Support iterative training on xgboost (#2056)
  cmd/sqlflowserver/main_test.go
  doc/model_parameter.md
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/codegen_test.go
  pkg/sql/codegen/xgboost/template_train.go
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/predict.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker

bring the mysql setup alone function back (#2058)
  scripts/start.sh
Due: copyright_checker

add the preparation of populating mysql dataset locally for running examples.
  doc/run/repl.md
Due: none

add prototypes
  doc/design/figures/list_model_defs.png
  doc/design/figures/list_trained_model.png
  doc/design/figures/model_def_detail.png
  doc/design/figures/new_model_def.png
  doc/design/figures/trained_model_detail.png
  doc/design/model_market.md
Due: none

escape backticks in couler sqlflow step
  cmd/sqlflowserver/main_test.go
  pkg/workflow/couler/template.go
  python/couler/couler/steps/__init__.py
  python/couler/couler/steps/sqlflow.py
Due: copyright_checker

Manually escaping double-quote
  pkg/sql/pai_submitter.go
  pkg/workflow/couler/codegen_test.go
  pkg/workflow/couler/template.go
Due: copyright_checker

Revert sqlflow/main_test into double-quote
  cmd/sqlflow/main_test.go
Due: copyright_checker

Add missed label column
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

update
  cmd/sqlflowserver/main_test.go
  pkg/workflow/couler/codegen_test.go
  pkg/workflow/couler/template.go
  python/couler/couler/steps/sqlflow.py
Due: copyright_checker

Disable bash substitution to make backtick works in MaxCompute (#2057)
  cmd/sqlflowserver/main_test.go
  pkg/sql/pai_submitter.go
  pkg/workflow/couler/codegen_test.go
  pkg/workflow/couler/template.go
Due: copyright_checker

update sqlflow step
  pkg/workflow/couler/codegen_test.go
  python/couler/couler/steps/sqlflow_step.py
  python/couler/tests/test_sqlflow_step.py
Due: copyright_checker

Fix misspells
  cmd/repl/repl_test.go
  pkg/tablewriter/protobuf.go
Due: copyright_checker

Fix misspells (#2063)
  cmd/repl/repl_test.go
  pkg/tablewriter/protobuf.go
Due: copyright_checker

add auto completion for xgboost objective param #2059
  cmd/repl/prompt.go
  cmd/repl/repl_test.go
  pkg/sql/codegen/attribute/attribute.go
  pkg/sql/codegen/attribute/checker_test.go
  pkg/sql/codegen/attribute/xgboost_objective_params.go
Due: copyright_checker

WIP: support xgboost iterative training on PAI:wq
  cmd/sqlflowserver/main_test.go
  python/sqlflow_submitter/xgboost/dataset.py
Due: copyright_checker

fix ci
  cmd/sqlflowserver/main_test.go
  python/couler/couler/pyfunc.py
  python/couler/couler/steps/sqlflow_step.py
  python/couler/tests/test_sqlflow_step.py
Due: copyright_checker

Add model_market_er.md
  doc/design/model_market_er.md
Due: none

Update model_market_er.md
  doc/design/model_market_er.md
Due: none

skip if no file changed
  scripts/pre-commit/shellcheck.sh
Due: copyright_checker

Add shellcheck in pre-commit (#2045)
  .pre-commit-config.yaml
  scripts/pre-commit/shellcheck.sh
Due: copyright_checker, yamlfmt

Polish install-go.bash
  scripts/docker/install-go.bash
Due: none

Polish install-jupyter.bash
  scripts/docker/install-jupyter.bash
Due: none

Polish install-hadoop.bash
  scripts/docker/install-hadoop.bash
Due: none

Update scripts following shellcheck
  .pre-commit-config.yaml
  scripts/pre-commit/google_java_format.sh
  scripts/pre-commit/jsbeautifier.sh
  scripts/pre-commit/pylint.sh
  scripts/pre-commit/shellcheck.sh
  scripts/pre-commit/yamlfmt.sh
Due: copyright_checker, yamlfmt

clean up
  .pre-commit-config.yaml
Due: yamlfmt

replace hand coded xgboost objective with auto extracted ones & fix unit test
  cmd/repl/repl_test.go
  pkg/sql/codegen/attribute/xgboost_objective_params.go
  pkg/sql/codegen/xgboost/codegen.go
Due: copyright_checker

Format scripts/docker/install-*.bash (#2067)
  scripts/docker/install-go.bash
  scripts/docker/install-hadoop.bash
  scripts/docker/install-jupyter.bash
Due: none

remove the message that is not shown now.
  doc/run/repl.md
Due: none

revert the unrelated changes.
  scripts/start.sh
Due: copyright_checker

Update pre-commit scripts to follow shellcheck (#2068)
  scripts/pre-commit/google_java_format.sh
  scripts/pre-commit/jsbeautifier.sh
  scripts/pre-commit/pylint.sh
  scripts/pre-commit/shellcheck.sh
  scripts/pre-commit/yamlfmt.sh
Due: copyright_checker

update per comments.
  doc/run/repl.md
Due: none

fix ci
  cmd/sqlflow/main_test.go
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

follow comments.
  doc/design/model_market.md
Due: none

add er diagram
  doc/design/model_market.md
Due: none

escape backticks in Couler sqlflow step (#2060)
  cmd/sqlflow/main_test.go
  pkg/workflow/couler/codegen_test.go
  pkg/workflow/couler/template.go
  python/couler/couler/pyfunc.py
  python/couler/couler/steps/__init__.py
  python/couler/couler/steps/sqlflow_step.py
  python/couler/tests/test_sqlflow_step.py
Due: copyright_checker

add auto completion for xgboost objective param #2059 (#2061)
  cmd/repl/prompt.go
  cmd/repl/repl_test.go
  pkg/sql/codegen/attribute/attribute.go
  pkg/sql/codegen/attribute/checker_test.go
  pkg/sql/codegen/attribute/xgboost_objective_params.go
  pkg/sql/codegen/xgboost/codegen.go
Due: copyright_checker

Fix several misspells
  doc/design/argo_workflow_on_sqlflow.md
  doc/design/logs.md
  doc/design/sql_program_dependency_analyze.md
  doc/design/workflow_package.md
  java/parser/README.md
Due: none

An imperfect utility for finding misspells in SQLFlow
  python/tools/spell_check.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  yamlfmt: any of: \.(yaml|yml)$
