Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, yamlfmt

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

yamlfmt:
  name: yamlfmt
  entry: bash ./scripts/pre-commit/yamlfmt.sh
  language: system

Slightly improve syntax error message (#2170)
  pkg/parser/lexer.go
  pkg/parser/sqlflow_parser_test.go
Due: copyright_checker

Support to evaluate on PAI (#2153)
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/pai/template_tf.go
  pkg/sql/codegen/pai/tensorflow.go
  pkg/sql/executor_ir_test.go
  pkg/sql/pai_submitter.go
  python/sqlflow_submitter/tensorflow/evaluate.py
Due: copyright_checker

change BaseParser to accept more parse result fields (#2166)
  java/parse-interface/src/main/java/org/sqlflow/parser/parse/BaseParser.java
  java/parser-calcite/src/main/java/org/sqlflow/parser/calcite/CalciteParserAdaptor.java
  java/parser-hive/src/main/java/org/sqlflow/parser/hive/HiveParserAdaptor.java
Due: google_style_java

update models repo
  Dockerfile
Due: none

Fix dec model training is ignoring sample dimensions (#2159)
  Dockerfile
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker

support xgboost evaluation (non distributed)
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_train.go
  pkg/sql/submitter.go
  python/sqlflow_submitter/xgboost/predict.py
Due: copyright_checker

add files
  pkg/sql/codegen/xgboost/template_evaluate.go
  python/sqlflow_submitter/xgboost/evaluate.py
Due: copyright_checker

fix pai ut
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/pai/template_xgboost.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_evaluate.go
  pkg/sql/codegen/xgboost/template_train.go
  pkg/sql/submitter.go
  python/sqlflow_submitter/xgboost/evaluate.py
  python/sqlflow_submitter/xgboost/predict.py
Due: copyright_checker

cli support read from file -, add server start cmd for cli
  cmd/sqlflow/main.go
  scripts/start.sh
Due: copyright_checker

rename Parser.proto to parser.proto
  Dockerfile
  java/parser/README.md
  java/parser/src/main/proto/parser.proto
  pkg/proto/parser.proto
  pkg/proto/proto.go
  scripts/test/java.sh
Due: copyright_checker

disable dec model test temproraly
  pkg/sql/executor_ir_test.go
Due: copyright_checker

fix dec test loss got nan
  pkg/sql/executor_ir_test.go
Due: copyright_checker

update SQLFlow cli doc
  doc/build.md
  doc/run/cli.md
  doc/run/figures/repl.gif
Due: none

cli support read from file -, add server start cmd for cli (#2174)
  cmd/sqlflow/main.go
  scripts/start.sh
Due: copyright_checker

fix dec test loss got nan (#2175)
  pkg/sql/executor_ir_test.go
Due: copyright_checker

Support xgboost evaluation (non distributed) (#2172)
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/pai/template_xgboost.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_evaluate.go
  pkg/sql/codegen/xgboost/template_train.go
  pkg/sql/executor_ir_test.go
  pkg/sql/submitter.go
  python/sqlflow_submitter/xgboost/evaluate.py
  python/sqlflow_submitter/xgboost/predict.py
Due: copyright_checker

fix alisa task failed
  pkg/sql/alisa_submitter.go
Due: copyright_checker

update
  pkg/sql/alisa_submitter.go
Due: copyright_checker

fix alisa task failed (#2176)
  pkg/sql/alisa_submitter.go
Due: copyright_checker

rename Parser.proto to parser.proto (#2178)
  Dockerfile
  java/parser/README.md
  java/parser/src/main/proto/parser.proto
  pkg/proto/parser.proto
  pkg/proto/proto.go
  scripts/test/java.sh
Due: copyright_checker

Update SQLFlow command line tool doc (#2167)
  doc/build.md
  doc/run/cli.md
  doc/run/figures/repl.gif
Due: none

support submit to evaluate for alisa
  pkg/sql/alisa_submitter.go
  pkg/sql/pai_submitter.go
Due: copyright_checker

add model zoo server proto
  pkg/proto/proto.go
Due: copyright_checker

add proto file
  pkg/proto/modelzooserver.proto
Due: none

Add model zoo server proto (#2180)
  pkg/proto/modelzooserver.proto
  pkg/proto/proto.go
Due: copyright_checker

add base structure of model zoo server
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

chinese doc - titanic tutorial
  doc/quick_start.md
  doc/sqlflow.org_cn/figures/titanic_shap_bar.png
  doc/sqlflow.org_cn/figures/titanic_shap_scatter.png
  doc/sqlflow.org_cn/titanic_survival_prediction.cn.md
Due: none

chinese doc - titanic tutorial (#2187)
  doc/quick_start.md
  doc/sqlflow.org_cn/figures/titanic_shap_bar.png
  doc/sqlflow.org_cn/figures/titanic_shap_scatter.png
  doc/sqlflow.org_cn/titanic_survival_prediction.cn.md
Due: none

update model zoo design and proto, adding database schema
  doc/design/model_zoo.md
  pkg/proto/modelzooserver.proto
Due: none

add model zoo er picture
  doc/design/figures/model_zoo_er.png
Due: none

fix kears pred failed
  pkg/sql/codegen/pai/template_tf.go
  python/sqlflow_submitter/tensorflow/predict.py
Due: copyright_checker

install models wheel
  Dockerfile
Due: none

install models wheel (#2193)
  Dockerfile
Due: none

fix kerase predict failed
  python/sqlflow_submitter/tensorflow/predict.py
Due: copyright_checker

polish py
  python/sqlflow_submitter/tensorflow/predict.py
Due: copyright_checker

By expose ports in Dockerfile, only need -P when docker run
  .dockerignore
  Dockerfile
  doc/run/cli.md
Due: none

Remove .dockerignore from this change
  .dockerignore
Due: none

Simplify install-*.bash
  Dockerfile
  scripts/docker/install-shell-tools.bash
Due: none

Fix Keras pred failed (#2192)
  pkg/sql/codegen/pai/template_tf.go
  python/sqlflow_submitter/tensorflow/predict.py
Due: copyright_checker

Update model zoo design and proto, adding database schema (#2189)
  doc/design/figures/model_zoo_er.png
  doc/design/model_zoo.md
  pkg/proto/modelzooserver.proto
Due: none

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  yamlfmt: any of: \.(yaml|yml)$
