Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Follow comments
  docker/dev/find_fastest_resources.sh
Due: copyright_checker, shellcheck

follow comments
  docker/ci/install-hadoop.bash
Due: shellcheck

Update install-hadoop.bash
  docker/ci/install-hadoop.bash
Due: shellcheck

add churn dataset in maxcompute
  cmd/sqlflowserver/main_test.go
  go.mod
  pkg/sql/testdata/churn_sql.go
Due: copyright_checker

Add choose_xxx functions to find_fastest_resource.sh (#2398)
  docker/dev/Dockerfile
  docker/dev/find_fastest_resources.sh
  docker/dev/install.sh
  go.mod
Due: copyright_checker, shellcheck

move feature column codegen to common path for XGBoost models support
  go.mod
  pkg/sql/codegen/feature/codegen_feature_column.go
  pkg/sql/codegen/tensorflow/codegen.go
  pkg/sql/fields.go
  pkg/step/feature/derivation.go
Due: copyright_checker

Modify step image build process
  docker/step/Dockerfile
  docker/step/set_up_env.sh
Due: copyright_checker, shellcheck

add copyleft
  docker/dev/find_fastest_resources.sh
  docker/step/set_up_env.sh
Due: copyright_checker, shellcheck

Add mathematical programming with sqlflow design (#2333)
  doc/design/programming_solver.md
Due: none

Choose better path dynamically to download hadoop (#2400)
  docker/ci/install-hadoop.bash
Due: shellcheck

change deriveFeatureColumnCode to be deriveFeatureColumnCodeAndFieldDesc
  pkg/sql/codegen/feature/codegen_feature_column.go
  pkg/sql/codegen/tensorflow/codegen.go
Due: copyright_checker

fix error message
  pkg/sql/codegen/feature/codegen_feature_column.go
Due: copyright_checker

add churn dataset in maxcompute (#2401)
  cmd/sqlflowserver/main_test.go
  pkg/sql/testdata/churn_sql.go
Due: copyright_checker

polish step image build script
  docker/dev/find_fastest_resources.sh
  docker/step/Dockerfile
  docker/step/choose_fastest_apt_pip_sources.sh
  docker/step/set_up_env.sh
Due: copyright_checker, shellcheck

remove choose_fastest_apt_pip_sources.sh
  docker/step/Dockerfile
  docker/step/choose_fastest_apt_pip_sources.sh
Due: copyright_checker, shellcheck

add ut and move codegen_feature_column package to codegen
  pkg/sql/codegen/codegen_feature_column.go
  pkg/sql/codegen/tensorflow/codegen.go
  pkg/sql/testdata/feature_derivation_case.go
Due: copyright_checker

Move feature column codegen to common path for XGBoost models support (#2402)
  pkg/sql/codegen/codegen_feature_column.go
  pkg/sql/codegen/tensorflow/codegen.go
  pkg/sql/fields.go
  pkg/sql/testdata/feature_derivation_case.go
  pkg/step/feature/derivation.go
Due: copyright_checker

support upload trained model to model zoo server
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/proto/modelzooserver.proto
Due: copyright_checker

polish codes, and follow comments
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/codegen_feature_column.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/codegen_explain.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/xgboost/predict.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

Add examples to run an C++/Go executable or an script program
  doc/design/to_run.md
Due: none

suppress pai read out exception
  python/sqlflow_submitter/db.py
Due: copyright_checker, pylint

Modify step image build process (#2397)
  docker/step/Dockerfile
Due: none

Model zoo server receive client uploaded trained model (#2396)
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/proto/modelzooserver.proto
Due: copyright_checker

Add the example for INTO suffix
  doc/design/to_run.md
Due: none

Do some rephrase
  doc/design/to_run.md
Due: none

Add more content in The Context section.
  doc/design/to_run.md
Due: none

update model zoo namings
  doc/design/cli_model_zoo_cmd.md
  doc/design/model_zoo.md
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/proto/modelzooserver.proto
Due: copyright_checker

WIP: e2e test using a model zoo model
  pkg/modelzooserver/using_model_test.go
Due: copyright_checker

Modify dev image build process, make it faster in China
  docker/dev/Dockerfile
  docker/dev/README.md
  docker/dev/build.sh
  docker/dev/find_fastest_resources.sh
  docker/dev/install.sh
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

remove CROSS support, and add some code comments
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/codegen_feature_column.go
  pkg/sql/codegen/xgboost/template_train.go
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/feature_column.py
Due: copyright_checker, pylint

remove my_model hard code
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

Modify dev image build process, make it faster in China (#2407)
  docker/dev/Dockerfile
  docker/dev/README.md
  docker/dev/build.sh
  docker/dev/find_fastest_resources.sh
  docker/dev/install.sh
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

Update
  docker/dev/README.md
  docker/dev/install.sh
Due: copyright_checker, shellcheck

Remove unnecessary ending empty lines
  docker/dev/install.sh
Due: copyright_checker, shellcheck

update model zoo namings (#2404)
  doc/design/cli_model_zoo_cmd.md
  doc/design/model_zoo.md
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/proto/modelzooserver.proto
Due: copyright_checker

Polish playground (#2408)
  docker/dev/README.md
  docker/dev/install.sh
Due: copyright_checker, shellcheck

e2e using model zoo model test
  pkg/model/model.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/using_model_test.go
  pkg/proto/modelzooserver.proto
  python/sqlflow_submitter/db.py
Due: copyright_checker, pylint

change port
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/using_model_test.go
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
