Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, yamlfmt

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

yamlfmt:
  name: yamlfmt
  entry: bash ./scripts/pre-commit/yamlfmt.sh
  language: system

Add pre-commit rules to check Python code
  .pre-commit-config.yaml
Due: yamlfmt

Remvoe duplicated isort
  scripts/docker/install-python.bash
Due: none

Update
  .pre-commit-config.yaml
  scripts/docker/install-python.bash
Due: yamlfmt

Remove some rules
  .pre-commit-config.yaml
Due: yamlfmt

Install pylint
  scripts/docker/install-python.bash
Due: none

Refactor tensorflow code (#2026)
  pkg/sql/codegen/tensorflow/template_pred.go
  pkg/sql/codegen/tensorflow/template_train.go
  python/sqlflow_submitter/tensorflow/explain.py
  python/sqlflow_submitter/tensorflow/get_tf_version.py
  python/sqlflow_submitter/tensorflow/input_fn.py
  python/sqlflow_submitter/tensorflow/pai_distributed.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/set_log_level.py
  python/sqlflow_submitter/tensorflow/train.py
  python/sqlflow_submitter/tensorflow/train_estimator.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker

Write our own pylint.sh to check only changed files
  .pre-commit-config.yaml
  scripts/pre-commit/pylint.sh
Due: copyright_checker, yamlfmt

Cleanup .pre-commit
  .pre-commit-config.yaml
Due: yamlfmt

add support for all skilearn models
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/codegen_test.go
  pkg/sql/executor_ir_test.go
Due: copyright_checker

update doc
  doc/model_parameter.md
  pkg/sql/codegen/xgboost/docgen.go
Due: copyright_checker

update naming
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/executor_ir_test.go
  pkg/sql/executor_normal_stmt.go
Due: copyright_checker

Add Python linter (#2034)
  .pre-commit-config.yaml
  scripts/docker/install-python.bash
  scripts/pre-commit/pylint.sh
Due: copyright_checker, yamlfmt

Add flake8
  scripts/docker/install-python.bash
  scripts/pre-commit/pylint.sh
Due: copyright_checker

Fix XGBoost model parameter set
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/codegen_test.go
Due: copyright_checker

ignore not found
  Dockerfile
  scripts/test/fluid.sh
Due: copyright_checker

couler to fluid
  Dockerfile
Due: none

Fix XGBoost model parameter set (#2037)
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/codegen_test.go
Due: copyright_checker

follow comment
  pkg/parser/external/java_parser.go
  pkg/parser/external/parser.go
  pkg/parser/external/parser_test.go
  pkg/parser/external/tidb_parser.go
  pkg/parser/external/tidb_parser_test.go
  pkg/parser/sqlflow_parser.go
Due: copyright_checker

update some details of dependency analysis in the design doc
  doc/design/sql_program_dependency_analyze.md
Due: none

Add flake8 (#2036)
  scripts/docker/install-python.bash
  scripts/pre-commit/pylint.sh
Due: copyright_checker

no need tar
  Dockerfile
Due: none

fix ci
  pkg/step/step.go
Due: copyright_checker

Remove debug message
  pkg/sql/codegen/xgboost/codegen.go
Due: copyright_checker

Support using external memory to train XGBoost models
  cmd/sqlflowserver/main_test.go
  doc/model_parameter.md
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_train.go
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/predict.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker

Fix UT
  pkg/sql/codegen/xgboost/codegen_test.go
Due: copyright_checker

Setup Tekton and Fluid in Travis-CI (#2031)
  Dockerfile
  scripts/test/fluid.sh
  scripts/test/setup_k8s_env.sh
  scripts/test/workflow.sh
Due: copyright_checker

fix some out-dated link in walkthrough.md
  doc/walkthrough.md
Due: none

Revised
  cmd/sqlflowserver/main_test.go
  doc/model_parameter.md
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_train.go
Due: copyright_checker

Support using external memory to train XGBoost models (#2019)
  cmd/sqlflowserver/main_test.go
  doc/model_parameter.md
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/codegen_test.go
  pkg/sql/codegen/xgboost/template_train.go
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/predict.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker

Fix typos
  cmd/repl/prompt.go
  cmd/repl/repl.go
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

refine doc wording in walkthrough.md
  doc/walkthrough.md
Due: none

add model market design
  doc/design/figures/model_market_overview.png
  doc/design/figures/model_zoo_summary.png
  doc/design/model_market.md
  doc/design/model_zoo.md
Due: none

make pass CI
  pkg/sql/codegen/xgboost/codegen_test.go
Due: copyright_checker

Doc link fix (#2042)
  doc/walkthrough.md
Due: none

Fix typos (#2041)
  cmd/repl/prompt.go
  cmd/repl/repl.go
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

Correct variable nams
  scripts/pre-commit/pylint.sh
  scripts/pre-commit/yamlfmt.sh
Due: copyright_checker

Add shellcheck in pre-commit
  .pre-commit-config.yaml
  scripts/pre-commit/shellcheck.sh
Due: copyright_checker, yamlfmt

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  yamlfmt: any of: \.(yaml|yml)$
