Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

Remove two sites that are not mirrors
  docker/dev/find_fastest_apt_source.sh
Due: copyright_checker, shellcheck

polish
  doc/design/programming_solver.md
Due: none

Remove a redundent starting of MySQL server (#2338)
  .travis.yml
Due: none

Polish language guide document (#2325)
  doc/language_guide.md
Due: none

Fix xgboost dist train data sharding problem (#2331)
  cmd/sqlflowserver/main_test.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

Add find_fastest_apt_source.sh (#2342)
  docker/dev/find_fastest_apt_source.sh
Due: copyright_checker, shellcheck

Add comments to .travis.yml (#2337)
  .travis.yml
Due: none

add script to determine whether we are in China or not
  docker/ci/determine_country.bash
Due: shellcheck

change script indent
  docker/ci/determine_country.bash
Due: shellcheck

add script to find fastest maven repo
  docker/ci/determine_country.bash
  docker/dev/find_fastest_maven_repo.sh
Due: copyright_checker, shellcheck

add script to find best go proxy
  docker/dev/find_fastest_apt_source.sh
  docker/dev/find_fastest_maven_repo.sh
Due: copyright_checker, shellcheck

add script to find best go proxy
  docker/dev/find_fastest_go_proxy.sh
Due: copyright_checker, shellcheck

polish
  doc/design/diag_attribute_error.md
Due: none

update
  doc/design/diag_attribute_error.md
Due: none

Design: diagnostic attribute error (#2334)
  doc/design/diag_attribute_error.md
Due: none

polish XGBoost feature column design doc
  doc/design/xgboost_feature_column.md
Due: none

Add script to find fastest resources for building
  docker/dev/find_fastest_apt_source.sh
  docker/dev/find_fastest_go_proxy.sh
  docker/dev/find_fastest_resources.sh
Due: copyright_checker, shellcheck

Remove test code
  docker/dev/find_fastest_resources.sh
Due: copyright_checker, shellcheck

add input checkers
  pkg/modelzooserver/input_check.go
  pkg/modelzooserver/modelzooserver.go
Due: copyright_checker

fix grammar error
  doc/design/xgboost_feature_column.md
Due: none

add explanation of set_column_names
  doc/design/xgboost_feature_column.md
Due: none

Do some rephrase
  doc/design/to_run_stmt.md
Due: none

follow comments
  pkg/modelzooserver/modelzooserver.go
Due: copyright_checker

Add script to find fastest go proxy (#2344)
  docker/dev/find_fastest_apt_source.sh
  docker/dev/find_fastest_resources.sh
Due: copyright_checker, shellcheck

add missing files
  pkg/modelzooserver/input_check_test.go
Due: copyright_checker

update the design
  doc/design/programming_solver.md
Due: none

Add model zoo input checkers (#2346)
  pkg/modelzooserver/input_check.go
  pkg/modelzooserver/input_check_test.go
  pkg/modelzooserver/modelzooserver.go
Due: copyright_checker

deploy mysql image
  scripts/travis/deploy_server.sh
Due: copyright_checker, shellcheck

Polish the section of
  doc/design/to_run_stmt.md
Due: none

install sqlflow on k8s
  doc/run/k8s/install-sqlflow.yaml
  doc/run/kubernetes.md
Due: none

remove duplicate deploy_server.sh
  .travis.yml
  scripts/travis/deploy_docker.sh
  scripts/travis/deploy_server.sh
Due: copyright_checker, shellcheck

deploy mysql image (#2351)
  .travis.yml
  scripts/travis/deploy_docker.sh
  scripts/travis/deploy_server.sh
Due: copyright_checker, shellcheck
