Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

pyalisa (#3107)
  python/runtime/dbapi/pyalisa/client.py
  python/runtime/dbapi/pyalisa/client_test.py
  python/runtime/dbapi/pyalisa/config.py
  python/runtime/dbapi/pyalisa/config_test.py
  python/runtime/dbapi/pyalisa/pop.py
  python/runtime/dbapi/pyalisa/task.py
  python/runtime/dbapi/pyalisa/task_test.py
Due: copyright_checker, pylint

fix typo
  python/runtime/dbapi/pyalisa/client.py
Due: copyright_checker, pylint

init dbapi/alisa.py
  python/runtime/dbapi/alisa.py
Due: copyright_checker, pylint

update setuptools in Docker
  docker/step/Dockerfile
Due: none

Bring back workflow CI (#3108)
  docker/step/Dockerfile
  python/runtime/dbapi/pyalisa/client.py
Due: copyright_checker, pylint

add visual url
  python/runtime/optimize/optflow.py
Due: copyright_checker, pylint

add job failure exception
  python/runtime/optimize/optflow.py
Due: copyright_checker, pylint

Add visual url for math programming task logging (#3110)
  python/runtime/optimize/optflow.py
Due: copyright_checker, pylint

add | for table row
  doc/language_guide.md
Due: none

add | for table row (#3111)
  doc/language_guide.md
Due: none

Using couler-proj/couler (#3075)
  docker/dev/build.sh
  go/codegen/experimental/codegen_couler.go
  go/workflow/couler/codegen.go
  go/workflow/couler/codegen_test.go
  go/workflow/couler/template.go
  go/workflow/workflow.go
  scripts/test/prepare.sh
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

chore: Remove unused and outdated Couler Python code
  python/couler/.gitignore
  python/couler/LICENSE
  python/couler/MANIFEST.in
  python/couler/Makefile
  python/couler/README.md
  python/couler/couler/__init__.py
  python/couler/couler/__main__.py
  python/couler/couler/_version.py
  python/couler/couler/argo.py
  python/couler/couler/client.py
  python/couler/couler/pyfunc.py
  python/couler/couler/steps/__init__.py
  python/couler/couler/steps/sqlflow_step.py
  python/couler/requirements.txt
  python/couler/setup.cfg
  python/couler/setup.py
  python/couler/tests/__init__.py
  python/couler/tests/test_argo.py
  python/couler/tests/test_sqlflow_step.py
  python/couler/tests/test_version.py
Due: copyright_checker, pylint

Fix name and link to Docker hub account
  doc/build.md
Due: none

Fix wrong links to go files in walk-through docs
  doc/walkthrough.md
Due: none

Fix wrong links to go files in walk-through docs (#3115)
  doc/walkthrough.md
Due: none

Fix name and link to Docker hub account (#3114)
  doc/build.md
Due: none

chore: Remove unused and outdated Couler Python code (#3113)
  python/couler/.gitignore
  python/couler/LICENSE
  python/couler/MANIFEST.in
  python/couler/Makefile
  python/couler/README.md
  python/couler/couler/__init__.py
  python/couler/couler/__main__.py
  python/couler/couler/_version.py
  python/couler/couler/argo.py
  python/couler/couler/client.py
  python/couler/couler/pyfunc.py
  python/couler/couler/steps/__init__.py
  python/couler/couler/steps/sqlflow_step.py
  python/couler/requirements.txt
  python/couler/setup.cfg
  python/couler/setup.py
  python/couler/tests/__init__.py
  python/couler/tests/test_argo.py
  python/couler/tests/test_sqlflow_step.py
  python/couler/tests/test_version.py
Due: copyright_checker, pylint

Update dead repl link to point to cli page
  doc/design/cli.md
Due: none

Fix playground typo in quick start docs
  doc/quick_start.md
Due: none

Adding few more helpful links in quickstart docs
  doc/quick_start.md
Due: none

Fix playground typo in quick start docs (#3118)
  doc/quick_start.md
Due: none

Update dead repl link to point to cli page (#3117)
  doc/design/cli.md
Due: none

Adding few more helpful links in quickstart docs (#3119)
  doc/quick_start.md
Due: none

support couler submitter
  go/sqlflowserver/sqlflowserver.go
  go/workflow/couler/codegen.go
  go/workflow/couler/template.go
  go/workflow/workflow.go
  python/runtime/pai/submitter_evaluate.py
Due: copyright_checker, pylint

fix version match
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

update
  go/workflow/couler/codegen_test.go
Due: copyright_checker

update
  go/workflow/couler/template.go
Due: copyright_checker

Support couler submitter (#3123)
  go/sqlflowserver/sqlflowserver.go
  go/workflow/couler/codegen.go
  go/workflow/couler/codegen_test.go
  go/workflow/couler/template.go
  go/workflow/workflow.go
  python/runtime/pai/submitter_evaluate.py
  scripts/test/prepare.sh
Due: copyright_checker, pylint, shellcheck

fix couler submitter codegen and submitting
  go/sqlflowserver/sqlflowserver.go
  go/workflow/couler/template.go
Due: copyright_checker

update
  go/workflow/couler/codegen.go
Due: copyright_checker

fix couler submitter codegen and submitting (#3125)
  go/sqlflowserver/sqlflowserver.go
  go/workflow/couler/codegen.go
  go/workflow/couler/template.go
Due: copyright_checker

fix workflow pending
  go/workflow/argo/workflow.go
Due: copyright_checker

fix workflow pending (#3126)
  go/workflow/argo/workflow.go
Due: copyright_checker

do not remove py3-pip after install python package, this would remove the reuired package six
  docker/server/Dockerfile
Due: none

do not remove py3-pip after install python package, this would remove the reuired package six (#3127)
  docker/server/Dockerfile
Due: none

add my dev test files
  test/m.go
  test/m.py
Due: copyright_checker, pylint

add clickhouse python driver
  python/runtime/db.py
  python/runtime/db_writer/__init__.py
  python/runtime/db_writer/clickhouse.py
  python/runtime/dbapi/__init__.py
  python/runtime/dbapi/clickhouse.py
Due: copyright_checker, pylint

add clickhouse parse and sqlfs writer
  go/parser/external/parser.go
  go/sqlfs/sql_writer.go
  go/sqlfs/table.go
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
