Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

Move diag.py to the topmost package
  go/executor/executor.go
  python/runtime/diag.py
  python/runtime/pai/cluster_conf.py
  python/runtime/pai/cluster_conf_test.py
  python/runtime/pai/submitter.py
  python/runtime/tensorflow/keras_with_feature_column_input.py
  python/runtime/tensorflow/train_estimator.py
Due: copyright_checker, pylint

Fix isort and missed modification
  python/runtime/pai/cluster_conf_test.py
  python/runtime/pai/entry/tensorflow.py
  python/runtime/tensorflow/train_estimator.py
Due: copyright_checker, pylint

Rename diag.py to diagnostics.py
  go/executor/executor.go
  python/runtime/diagnostics.py
  python/runtime/pai/cluster_conf.py
  python/runtime/pai/cluster_conf_test.py
  python/runtime/pai/train_estimator.py
  python/runtime/tensorflow/keras_with_feature_column_input.py
  python/runtime/tensorflow/train_estimator.py
Due: copyright_checker, pylint

Fix missed modification
  python/runtime/pai/train_estimator.py
Due: copyright_checker, pylint

rename entry/tensflow.py to entry/tf.py
  python/runtime/pai/entry/tf.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

spelling check
  python/runtime/pai/entry/tf.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

rename guessError to diagnose
  go/executor/alisa.go
  go/executor/pai.go
  go/executor/pai_test.go
Due: copyright_checker

add limit 0 to test
  python/runtime/db_test.py
Due: copyright_checker, pylint

format code
  python/runtime/pai/cluster_conf.py
  python/runtime/pai/train.py
Due: copyright_checker, pylint

Fix CI
  python/runtime/model/model.py
  python/runtime/pai/train_estimator.py
  python/runtime/tensorflow/keras_with_feature_column_input.py
Due: copyright_checker, pylint

revert estimator_string
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/train.py
  python/runtime/tensorflow/estimator_example.py
  python/runtime/tensorflow/evaluate_example.py
  python/runtime/tensorflow/explain_example.py
  python/runtime/tensorflow/keras_example.py
  python/runtime/tensorflow/keras_example_reg.py
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint

revert estimator_string
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

add selected_columns_and_types method
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/maxcompute.py
  scripts/test/maxcompute.sh
Due: copyright_checker, pylint, shellcheck

fix table name error
  python/runtime/db_test.py
Due: copyright_checker, pylint

Fix CI
  python/runtime/model/model.py
  python/runtime/model/model_test.py
Due: copyright_checker, pylint

update
  .gitignore
Due: none

fix ci
  go/modelzooserver/modelzooserver_test.go
Due: copyright_checker

Move diag.py to the topmost package (#2686)
  go/executor/executor.go
  python/runtime/diagnostics.py
  python/runtime/model/model.py
  python/runtime/model/model_test.py
  python/runtime/pai/cluster_conf.py
  python/runtime/pai/cluster_conf_test.py
  python/runtime/pai/entry/tensorflow.py
  python/runtime/pai/submitter.py
  python/runtime/pai/train_estimator.py
  python/runtime/tensorflow/keras_with_feature_column_input.py
  python/runtime/tensorflow/train_estimator.py
Due: copyright_checker, pylint

fix ci ut
  python/runtime/db.py
  python/runtime/db_test.py
Due: copyright_checker, pylint

Add vscode java files to gitignore (#2696)
  .gitignore
Due: none

fix hive ci ut failure
  python/runtime/db_test.py
Due: copyright_checker, pylint

Implement runtime.sqlfs.zip APIs to compress/decompress a directory (#2694)
  python/runtime/sqlfs/__init__.py
  python/runtime/sqlfs/tar.py
  python/runtime/sqlfs/tar_test.py
Due: copyright_checker, pylint

Add model zoo default modeldef (#2695)
  go/cmd/sqlflow/model_zoo_client.go
  go/modelzooserver/add_default_model_defs.go
  go/modelzooserver/modelzooserver.go
  go/modelzooserver/modelzooserver_test.go
  go/modelzooserver/using_model_test.go
Due: copyright_checker

Providing more explicit error message about the lack of OSS auth (#2692)
  go/executor/alisa.go
  go/executor/pai.go
  go/executor/pai_test.go
Due: copyright_checker

remove unused import
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

Add selected_columns_and_types method (#2698)
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/maxcompute.py
  scripts/test/maxcompute.sh
Due: copyright_checker, pylint, shellcheck

polish code
  python/runtime/db.py
  python/runtime/db_test.py
Due: copyright_checker, pylint

Add test case for PAI TF training (#2697)
  python/runtime/db_writer/__init__.py
  python/runtime/db_writer/maxcompute.py
  python/runtime/oss.py
  python/runtime/pai/cluster_conf.py
  python/runtime/pai/entry/tensorflow.py
  python/runtime/pai/entry/tf.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/train.py
Due: copyright_checker, pylint

Fix model zoo server build image using kaniko
  go/modelzooserver/image_build.go
  go/modelzooserver/modelzooserver.go
Due: copyright_checker

polish code
  python/runtime/db.py
Due: copyright_checker, pylint

rename MYSQL_DATA_TYPE_DICT to MYSQL_FIELD_TYPE_DICT
  python/runtime/db.py
  python/runtime/db_test.py
Due: copyright_checker, pylint

polish code (#2702)
  python/runtime/db.py
Due: copyright_checker, pylint

Polish db.limit_select and db.MYSQL_DATA_TYPE_DICT (#2700)
  python/runtime/db.py
  python/runtime/db_test.py
Due: copyright_checker, pylint

test windows deploy
  .github/workflows/main.yml
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

unify python datasource
  python/runtime/alps/train_test.py
  python/runtime/db_test.py
  python/runtime/local/xgboost/train_test.py
  python/runtime/pai/submitter_test.py
  python/runtime/tensorflow/estimator_example.py
  python/runtime/testing.py
  python/runtime/xgboost/explain_test.py
Due: copyright_checker, pylint

Fix model zoo server build image using kaniko (#2701)
  go/modelzooserver/image_build.go
  go/modelzooserver/modelzooserver.go
Due: copyright_checker

fix hive ut
  python/runtime/db_test.py
Due: copyright_checker, pylint

Submit prediction task on PAI
  python/runtime/oss.py
  python/runtime/pai/entry/__init__.py
  python/runtime/pai/entry/tf.py
  python/runtime/pai/predict.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

remove extra param
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint
