Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, yamlfmt

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

yamlfmt:
  name: yamlfmt
  entry: bash ./scripts/pre-commit/yamlfmt.sh
  language: system

update
  python/sqlflow_submitter/tensorflow/input_fn.py
Due: copyright_checker

update
  python/sqlflow_submitter/tensorflow/predict.py
Due: copyright_checker

update
  python/sqlflow_submitter/db.py
Due: copyright_checker

Do deploy at the first CI stage
  .travis.yml
  scripts/travis/deploy_client.sh
Due: copyright_checker, yamlfmt

Enable deploy from pull request for debug
  scripts/travis/deploy_client.sh
Due: copyright_checker

make axel print
  scripts/travis/deploy_client.sh
Due: copyright_checker

axel print version
  scripts/travis/deploy_client.sh
Due: copyright_checker

Use Ubuntu Bionic for deploy Linux
  .travis.yml
Due: yamlfmt

use the correct qshell filename
  scripts/travis/deploy_client.sh
Due: copyright_checker

Try using 0 instead of syscall.Stdin with terminal.IsTerminal
  cmd/sqlflow/main.go
Due: copyright_checker

Remove import syscall
  cmd/sqlflow/main.go
Due: copyright_checker

GOBIN=$PWD otherwise Windows cnanot access the output
  scripts/travis/deploy_client.sh
Due: copyright_checker

Use --overwrite with qshell rput
  scripts/travis/deploy_client.sh
Due: copyright_checker

Use $F instead of qshell because for windows it is qshell.exe
  scripts/travis/deploy_client.sh
Due: copyright_checker

Shorter lines
  scripts/travis/deploy_client.sh
Due: copyright_checker

brew install > /dev/null
  scripts/travis/deploy_client.sh
Due: copyright_checker

Upload sqlflow.exe for Windows
  scripts/travis/deploy_client.sh
Due: copyright_checker

Silence deploy
  scripts/travis/deploy_client.sh
Due: copyright_checker

move deploy to the second CI stage
  .travis.yml
  scripts/travis/deploy_client.sh
Due: copyright_checker, yamlfmt

Deploy SQLFlow client in CI (#2264)
  .travis.yml
  cmd/sqlflow/main.go
  scripts/travis/deploy_client.sh
Due: copyright_checker, yamlfmt

Support importing any custom model package (#2204)
  cmd/sqlflowserver/main_test.go
  pkg/sql/alisa_submitter.go
  pkg/sql/codegen/pai/template_tf.go
  pkg/sql/codegen/tensorflow/template_evaluate.go
  pkg/sql/codegen/tensorflow/template_explain.go
  pkg/sql/codegen/tensorflow/template_pred.go
  pkg/sql/codegen/tensorflow/template_train.go
  pkg/sql/pai_submitter.go
  python/sqlflow_submitter/__init__.py
  python/sqlflow_submitter/import_custom_models.py
  python/sqlflow_submitter/tensorflow/estimator_example.py
  python/sqlflow_submitter/tensorflow/evaluate.py
  python/sqlflow_submitter/tensorflow/evaluate_example.py
  python/sqlflow_submitter/tensorflow/explain.py
  python/sqlflow_submitter/tensorflow/explain_example.py
  python/sqlflow_submitter/tensorflow/keras_example.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker

return model definition join model collection (#2261)
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/proto/modelzooserver.proto
Due: copyright_checker

WIP: release trained models
  pkg/modelzooserver/modelzooserver.go
  pkg/proto/modelzooserver.proto
Due: copyright_checker

add tests
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

update
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/db_test.py
Due: copyright_checker

trip semicolon on hive
  python/sqlflow_submitter/db.py
Due: copyright_checker

Move scripts/upload_coveralls.sh to scripts/travis/
  .travis.yml
  scripts/upload_coveralls.sh
Due: copyright_checker, yamlfmt

Move
  scripts/travis/upload_coveralls.sh
Due: copyright_checker

Remove long lines
  scripts/travis/upload_coveralls.sh
Due: copyright_checker

Move scripts/tensorflow_step_images/ to docker/step/
  docker/step/Dockerfile
  docker/step/README.md
Due: none

Polish start.sh
  Dockerfile
  docker/ci/start.sh
Due: copyright_checker

Polish upload coveralls.sh (#2270)
  .travis.yml
  scripts/travis/upload_coveralls.sh
Due: copyright_checker, yamlfmt

Polish start.sh (#2272)
  Dockerfile
  docker/ci/start.sh
Due: copyright_checker

Move scripts/tensorflow_step_images/ to docker/step/ (#2271)
  docker/step/Dockerfile
  docker/step/README.md
Due: none

Pass all select cols to prediction result table (#2243)
  pkg/sql/executor_ir.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/db_test.py
  python/sqlflow_submitter/tensorflow/input_fn.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/explain.py
Due: copyright_checker

Generate more readable messages
  python/contracts.py
  python/contracts_test.py
Due: copyright_checker

Fix the example
  python/contracts.py
  python/contracts_test.py
Due: copyright_checker

Install yamllint in dev docker image
  docker/dev/install.sh
  go.mod
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  yamlfmt: any of: \.(yaml|yml)$
