Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

fix typo (#3097)
  go/sqlfs/reader.go
Due: copyright_checker

fix passing selected row to pred result
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

update
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

fix runtime pai submitter
  python/runtime/pai/prepare_archive.py
  python/runtime/pai/submit_pai_task.py
  python/runtime/step/xgboost/evaluate.py
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
  python/runtime/step/xgboost/train.py
Due: copyright_checker, pylint

pyalisa support py2
  python/runtime/dbapi/pyalisa/pop.py
Due: copyright_checker, pylint

update
  python/runtime/step/xgboost/evaluate.py
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
Due: copyright_checker, pylint

refine sqlfs
  go/sqlfs/hive_writer_test.go
  go/sqlfs/reader.go
  go/sqlfs/reader_test.go
  go/sqlfs/sql_writer_test.go
Due: copyright_checker

update
  go/sqlfs/reader.go
Due: copyright_checker

Refine SQLFS reader (#3100)
  go/sqlfs/hive_writer_test.go
  go/sqlfs/reader.go
  go/sqlfs/reader_test.go
  go/sqlfs/sql_writer_test.go
Due: copyright_checker

Fix runtime pai submitter (#3099)
  python/runtime/pai/prepare_archive.py
  python/runtime/pai/submit_pai_task.py
  python/runtime/step/xgboost/evaluate.py
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
  python/runtime/step/xgboost/train.py
Due: copyright_checker, pylint

convert generator to feature sample
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

passing selected row to the prediction result table (#3098)
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

fix label delete
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

add models doc
  doc/sqlflow.org_cn/models.md
Due: none

update
  doc/sqlflow.org_cn/models.md
  doc/sqlflow.org_cn/params.md
Due: none

update by comment
  doc/sqlflow.org_cn/models.md
  doc/sqlflow.org_cn/params.md
Due: none

Add models doc (#3103)
  doc/sqlflow.org_cn/models.md
  doc/sqlflow.org_cn/params.md
Due: none

update actions env setting
  .github/workflows/main.yml
  scripts/travis/actions_env2_travis.sh
Due: copyright_checker, shellcheck

update params doc
  doc/language_guide.md
  doc/sqlflow.org_cn/params.md
Due: none

update
  doc/sqlflow.org_cn/params.md
Due: none

update actions env setting (#3104)
  .github/workflows/main.yml
  scripts/travis/actions_env2_travis.sh
Due: copyright_checker, shellcheck

Update params doc (#3105)
  doc/language_guide.md
  doc/sqlflow.org_cn/params.md
Due: none

add task.py
  python/runtime/dbapi/pyalisa/task.py
Due: copyright_checker, pylint

implement task.py
  python/runtime/dbapi/pyalisa/task.py
Due: copyright_checker, pylint

move from_env from client to config module
  python/runtime/dbapi/pyalisa/client.py
Due: copyright_checker, pylint

move from_env from client to config module
  python/runtime/dbapi/pyalisa/client_test.py
Due: copyright_checker, pylint

move from_env from client to config module
  python/runtime/dbapi/pyalisa/config.py
Due: copyright_checker, pylint

fix response field name
  python/runtime/dbapi/pyalisa/client.py
Due: copyright_checker, pylint

add env:SKYNET_TENANT_ID
  python/runtime/dbapi/pyalisa/config.py
Due: copyright_checker, pylint

fix task
  python/runtime/dbapi/pyalisa/task.py
Due: copyright_checker, pylint

add test for task
  python/runtime/dbapi/pyalisa/task_test.py
Due: copyright_checker, pylint

fix client
  python/runtime/dbapi/pyalisa/client.py
Due: copyright_checker, pylint

remove duplicate test case
  python/runtime/dbapi/pyalisa/client_test.py
Due: copyright_checker, pylint

fix config en/decoding
  python/runtime/dbapi/pyalisa/config.py
Due: copyright_checker, pylint

fix test for config
  python/runtime/dbapi/pyalisa/config_test.py
Due: copyright_checker, pylint

add test case for task
  python/runtime/dbapi/pyalisa/task_test.py
Due: copyright_checker, pylint

add fixme
  python/runtime/dbapi/pyalisa/config_test.py
Due: copyright_checker, pylint

fix unittest for alisa.config
  python/runtime/dbapi/pyalisa/config_test.py
Due: copyright_checker, pylint
