Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

Incremental training
  python/sqlflow/features.py
  python/sqlflow/platform/default.py
Due: copyright_checker, pylint

Rebase
  pkg/sql/executor_ir_test.go
Due: copyright_checker

Fix workflow UT
  pkg/workflow/couler/codegen.go
  pkg/workflow/couler/codegen_test.go
Due: copyright_checker

Fix UTs
  pkg/sql/executor_ir.go
  pkg/sql/submitter.go
  pkg/workflow/argo/fetch_test.go
  python/sqlflow/execute.py
  python/sqlflow/platform/default.py
Due: copyright_checker, pylint

polish doc
  doc/run/k8s/install-sqlflow-multi-users.yaml
  doc/run/kubernetes.md
  docker/jupyterhub/Dockerfile
  docker/jupyterhub/jupyterhub_config.py
Due: copyright_checker, pylint

wip support native keras model
  python/sqlflow_submitter/tensorflow/keras_example.py
  python/sqlflow_submitter/tensorflow/keras_example_reg.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train_keras.py
  python/sqlflow_submitter/tensorflow/train_predict_test.py
Due: copyright_checker, pylint

Install playground with multi-users mode (#2473)
  doc/k8s/sqlflow-all-in-one-without-mysql.yaml
  doc/k8s/sqlflow-all-in-one.yaml
  doc/k8s/sqlflow-jhub.yaml
  doc/k8s/sqlflow-mysql.yaml
  doc/k8s/sqlflow-populate-demo-dataset.yaml
  doc/k8s/sqlflow-server.yaml
  doc/k8s/sqlflowhub/Dockerfile
  doc/k8s/sqlflowhub/jupyterhub_config.py
  doc/run/k8s/install-sqlflow-multi-users.yaml
  doc/run/kubernetes.md
  docker/jupyterhub/Dockerfile
  docker/jupyterhub/jupyterhub_config.py
Due: copyright_checker, pylint

model list
  doc/sqlflow.org_cn/model_list.md
Due: none

update
  doc/sqlflow.org_cn/model_list.md
Due: none

merge files
  doc/design/model_meta_storage.md
Due: none

Design doc for model metadata storage
  doc/design/model_meta_storage.md
Due: none

add metadata definition
  doc/design/model_meta_storage.md
Due: none

refine wording
  doc/design/model_meta_storage.md
Due: none

add field description to metadata
  doc/design/model_meta_storage.md
Due: none

Migration to Python: encapsulating sqlflow_submitter
  pkg/proto/ir.proto
  python/sqlflow/__init__.py
  python/sqlflow/column/__init__.py
  python/sqlflow/column/tensorflow.py
  python/sqlflow/column/xgboost.py
  python/sqlflow/features.py
  python/sqlflow/platform/__init__.py
  python/sqlflow/platform/default.py
  python/sqlflow/proto/__init__.py
Due: copyright_checker, pylint

support optflow kubemaker submission
  docker/ci/install-pips.bash
  pkg/ir/ir.go
  pkg/parser/extended_syntax_parser.y
  pkg/sql/alisa_submitter.go
  pkg/sql/codegen/optimize/codegen.go
  pkg/sql/codegen/optimize/template_optimize.go
  pkg/sql/executor_ir.go
  pkg/sql/ir_generator.go
  pkg/sql/ir_generator_test.go
  pkg/sql/pai_submitter.go
  pkg/sql/submitter.go
  python/sqlflow_submitter/optimize/__init__.py
  python/sqlflow_submitter/optimize/model_generation_test.py
  python/sqlflow_submitter/optimize/optimize.py
  python/sqlflow_submitter/optimize/runner.py
Due: copyright_checker, pylint, shellcheck

polish ut code
  python/sqlflow_submitter/optimize/model_generation_test.py
Due: copyright_checker, pylint

test ci py ver
  docker/ci/install-pips.bash
  scripts/test/units.sh
Due: copyright_checker, shellcheck

test ci py ver
  scripts/test/units.sh
Due: copyright_checker, shellcheck

test ci 2
  scripts/test/units.sh
Due: copyright_checker, shellcheck

A document lists SQLFlow modes (#2475)
  doc/sqlflow.org_cn/model_list.md
Due: none

open ut
  scripts/test/units.sh
Due: copyright_checker, shellcheck

clean up sections
  doc/design/contribute_models_comparison.md
Due: none

update models repo
  docker/dev/build.sh
Due: copyright_checker, shellcheck

update pyomo version to fix ci ut failure
  docker/ci/install-pips.bash
  pkg/sql/ir_generator.go
  python/sqlflow_submitter/optimize/optimize.py
Due: copyright_checker, pylint, shellcheck

support non-aggregation group by
  python/sqlflow_submitter/optimize/model_generation_test.py
  python/sqlflow_submitter/optimize/optimize.py
Due: copyright_checker, pylint

update
  python/sqlflow_submitter/tensorflow/keras_example.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

fix prediction type recgnizn
  python/extract_docstring.py
  python/sqlflow_submitter/tensorflow/predict.py
Due: copyright_checker, pylint

update
  cmd/sqlflow/main_test.go
  pkg/sql/codegen/attribute/attribute_test.go
Due: copyright_checker

follow comments
  pkg/ir/ir.go
  pkg/parser/extended_syntax_parser.y
  pkg/sql/codegen/optimize/codegen.go
  pkg/sql/codegen/optimize/template_optimize.go
  pkg/sql/ir_generator.go
  pkg/sql/ir_generator_test.go
  pkg/sql/pai_submitter.go
  pkg/sql/submitter.go
  python/sqlflow_submitter/optimize/model_generation_test.py
  python/sqlflow_submitter/optimize/optimize.py
Due: copyright_checker, pylint

refactor executor
  cmd/sqlflow/rpc_stream_renderer.go
  pkg/executor/alisa.go
  pkg/executor/alisa_test.go
  pkg/executor/cmd.go
  pkg/executor/executor.go
  pkg/executor/executor_test.go
  pkg/executor/fields.go
  pkg/executor/pai.go
  pkg/executor/pai_test.go
  pkg/executor/pre_exec.go
  pkg/executor/sql_stmt.go
  pkg/executor/sql_stmt_test.go
  pkg/ir/ir.go
  pkg/server/sqlflowserver.go
  pkg/sql/executor_ir.go
  pkg/sql/ir_generator.go
  pkg/sql/ir_generator_test.go
  pkg/step/step.go
Due: copyright_checker

update
  cmd/sqlflow/rpc_stream_renderer.go
  pkg/step/step.go
Due: copyright_checker

[Programming] Support optflow task submission in PAI (#2478)
  docker/ci/install-pips.bash
  pkg/ir/ir.go
  pkg/parser/extended_syntax_parser.y
  pkg/sql/alisa_submitter.go
  pkg/sql/codegen/optimize/codegen.go
  pkg/sql/codegen/optimize/template_optimize.go
  pkg/sql/executor_ir.go
  pkg/sql/ir_generator.go
  pkg/sql/ir_generator_test.go
  pkg/sql/pai_submitter.go
  pkg/sql/submitter.go
  python/sqlflow_submitter/optimize/__init__.py
  python/sqlflow_submitter/optimize/model_generation_test.py
  python/sqlflow_submitter/optimize/optimize.py
  python/sqlflow_submitter/optimize/runner.py
Due: copyright_checker, pylint, shellcheck

update
  pkg/executor/alisa.go
  pkg/executor/alisa_test.go
  pkg/executor/cmd.go
  pkg/executor/executor.go
  pkg/executor/executor_test.go
  pkg/executor/fields.go
  pkg/executor/pai.go
  pkg/executor/pai_test.go
  pkg/executor/pre_exec.go
  pkg/executor/sql_stmt.go
  pkg/executor/sql_stmt_test.go
  pkg/sql/executor_ir.go
Due: copyright_checker

Modify step image README.md
  docker/step/README.md
Due: none

add optimize attr checker
  pkg/sql/codegen/optimize/codegen.go
  pkg/sql/codegen/optimize/template_optimize.go
  pkg/sql/ir_generator.go
  pkg/sql/ir_generator_test.go
  python/sqlflow_submitter/optimize/optimize.py
Due: copyright_checker, pylint

add e2e test to ARIMA model
  cmd/sqlflowserver/e2e_mysql_test.go
  cmd/sqlflowserver/testing.go
  docker/dev/build.sh
  pkg/sql/testdata/fund_sql.go
  python/extract_docstring.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint, shellcheck
