Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

update
  pkg/executor/alisa.go
  pkg/executor/pai.go
  pkg/modelzooserver/image_build.go
  pkg/modelzooserver/image_build_test.go
  pkg/modelzooserver/templates.go
Due: copyright_checker

Add missed python requirements to the step image
  docker/step/Dockerfile
Due: none

fix deploy docker images (#2592)
  scripts/travis/build.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

add energy dataset to mysql image
  docker/mysql/Dockerfile
Due: none

Fix indention
  docker/step/Dockerfile
Due: none

done testing
  pkg/modelzooserver/image_build.go
  pkg/randstring/randstring.go
Due: copyright_checker

[Design doc] Redesign numeric column clause (#2579)
  doc/design/numeric_column_clause.md
Due: none

Add missed python modules to the step image (#2594)
  docker/step/Dockerfile
Due: none

Fix invalide table format (#2577)
  doc/sqlflow.org_cn/models/rnn_based_time_series.md
Due: none

Add missed python requirements to the step image (#2595)
  docker/step/Dockerfile
Due: none

Update install-jupyter.sh
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

decouple ir
  cmd/sqlflow/rpc_stream_renderer.go
  pkg/interpreter/alisa.go
  pkg/interpreter/alisa_test.go
  pkg/interpreter/cmd.go
  pkg/interpreter/executor.go
  pkg/interpreter/executor_test.go
  pkg/interpreter/fields.go
  pkg/interpreter/pai.go
  pkg/interpreter/pai_test.go
  pkg/interpreter/pre_exec.go
  pkg/interpreter/sql_stmt.go
  pkg/interpreter/sql_stmt_test.go
  pkg/ir/ir.go
  pkg/sql/executor_ir.go
  pkg/sqlflowserver/sqlflowserver.go
  pkg/step/step.go
Due: copyright_checker

update
  pkg/ir/ir.go
Due: copyright_checker

fix ut
  cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

Follow the rebranding
  doc/design/alps_submitter.md
  doc/design/programming_solver.md
  doc/talk/201905/sqlflow.slide
  doc/talk/201906/sqlflow.slide
  doc/talk/20190620/sqlflow.slide
Due: none

Update install-jupyter.sh (#2598)
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

fix ut
  pkg/interpreter/executor.go
Due: copyright_checker

Implement the executors for TO RUN statement. (#2535)
  cmd/sqlflowserver/e2e_workflow_test.go
  go.mod
  go.sum
  pkg/executor/alisa.go
  pkg/executor/executor.go
  pkg/sql/executor_ir.go
  pkg/workflow/couler/codegen.go
  pkg/workflow/couler/template.go
Due: copyright_checker

update
  pkg/interpreter/executor.go
Due: copyright_checker

Update cli usage doc to adapt the latest playground (#2586)
  doc/run/cli.md
Due: none

add energy dataset to mysql image (#2596)
  cmd/sqlflowserver/e2e_common_cases.go
  docker/mysql/Dockerfile
Due: copyright_checker

Follow the rebranding (#2602)
  doc/design/alps_submitter.md
  doc/design/programming_solver.md
  doc/talk/201905/sqlflow.slide
  doc/talk/201906/sqlflow.slide
  doc/talk/20190620/sqlflow.slide
Due: none

follow comments
  pkg/modelzooserver/image_build.go
  pkg/modelzooserver/templates.go
Due: copyright_checker

renmae interperate back to executor
  cmd/sqlflow/rpc_stream_renderer.go
  pkg/executor/alisa.go
  pkg/executor/alisa_test.go
  pkg/executor/cmd.go
  pkg/executor/executor.go
  pkg/executor/executor_test.go
  pkg/executor/fields.go
  pkg/executor/pai.go
  pkg/executor/pai_test.go
  pkg/executor/pre_exec.go
  pkg/executor/sql_stmt.go
  pkg/executor/sql_stmt_test.go
  pkg/sql/executor_ir.go
  pkg/sqlflowserver/sqlflowserver.go
  pkg/step/step.go
Due: copyright_checker

go mod tidy
  go.mod
  go.sum
Due: none

Support release model repo using kaniko on kubernetes (#2580)
  pkg/executor/alisa.go
  pkg/executor/pai.go
  pkg/modelzooserver/image_build.go
  pkg/modelzooserver/image_build_test.go
  pkg/modelzooserver/templates.go
  pkg/randstring/randstring.go
Due: copyright_checker

Decouple ir and executor (#2600)
  pkg/executor/executor.go
  pkg/ir/ir.go
  pkg/sql/executor_ir.go
Due: copyright_checker

follow comments
  doc/design/xgboost_feature_column.md
  doc/language_guide.md
  pkg/ir/derivation.go
Due: copyright_checker

release model runs on the server
  cmd/sqlflow/model_zoo_client.go
  pkg/model/model.go
  pkg/modelzooserver/input_check.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/using_model_test.go
  pkg/proto/modelzooserver.proto
Due: copyright_checker

update
  doc/design/libsvm_format_column.md
Due: none

Remove NUMERIC column clause (#2593)
  cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  doc/design/alps_submitter.md
  doc/design/ant_xgboost.md
  doc/design/elasticdl_on_sqlflow.md
  doc/design/train_parameters.md
  doc/design/xgboost_feature_column.md
  doc/language_guide.md
  pkg/ir/derivation.go
  pkg/ir/ir_generator.go
  pkg/ir/ir_generator_test.go
  pkg/sql/executor_ir_test.go
Due: copyright_checker

add e2e tests
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_mysql_test.go
  pkg/codegen/tensorflow/template_evaluate.go
  pkg/codegen/tensorflow/template_explain.go
  pkg/codegen/tensorflow/template_pred.go
  pkg/ir/derivation.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/tensorflow/input_fn.py
Due: copyright_checker, pylint

fix explain_test.py
  python/sqlflow_submitter/db.py
Due: copyright_checker, pylint

fix download model
  pkg/modelzooserver/modelzooserver.go
Due: copyright_checker

minimize step and server image
  docker/server/Dockerfile
  docker/step/Dockerfile
Due: none

Use qiniu north America bucket for cli release
  .travis.yml
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

update to remove LibSVM
  doc/design/libsvm_format_column.md
Due: none

change tensor -> vector
  doc/design/libsvm_format_column.md
Due: none

fix indent
  .travis.yml
Due: none

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
