Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

update models commit
  docker/dev/build.sh
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

change html/template -> text/template
  go/codegen/experimental/codegen_show_train.go
Due: copyright_checker

Use text/template instead of html/tempalte package for quoted strings in code_gen.
  go/codegen/experimental/codegen_step_run.go
  go/executor/executor.go
Due: copyright_checker

update
  go/codegen/experimental/codegen_couler.go
  go/workflow/couler/codegen.go
  go/workflow/couler/codegen_test.go
  go/workflow/couler/template.go
Due: copyright_checker

remove build dir (#3081)
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

format code
  python/runtime/dbapi/pyalisa/config.py
Due: copyright_checker, pylint

change html/template -> text/template (#3084)
  go/codegen/experimental/codegen_show_train.go
Due: copyright_checker

Resolve pre-commit issues.
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

fix ci
  docker/dev/build.sh
  go/codegen/experimental/run.py
  go/workflow/couler/codegen.go
  go/workflow/couler/codegen_test.go
  scripts/test/workflow.sh
Due: copyright_checker, pylint, shellcheck

update models
  docker/dev/build.sh
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

pyalisa: refine pop and add test_case (#3072)
  python/runtime/dbapi/pyalisa/__init__.py
  python/runtime/dbapi/pyalisa/pop.py
  python/runtime/dbapi/pyalisa/pop_test.py
Due: copyright_checker, pylint

pyalisa: add alisa config (#3077)
  python/runtime/dbapi/pyalisa/config.py
  python/runtime/dbapi/pyalisa/config_test.py
Due: copyright_checker, pylint

Add sqlfs read one by one mode to speed up metadata reading (#3074)
  go/codegen/experimental/codegen_step.go
  go/model/model.go
  go/modelzooserver/modelzooserver.go
  go/modelzooserver/using_model_test.go
  go/sqlfs/hive_writer_test.go
  go/sqlfs/reader.go
  go/sqlfs/reader_test.go
  go/sqlfs/sql_writer_test.go
  python/runtime/model/db.py
  python/runtime/model/model.py
  python/runtime/model/modelzoo.py
Due: copyright_checker, pylint

update
  docker/dev/build.sh
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

Update models repo and add OneClassSVM ut to PAI (#3083)
  docker/dev/build.sh
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

remove unnecessary file
  go/codegen/experimental/run.py
Due: copyright_checker, pylint

debug ci
  go/workflow/couler/codegen_test.go
Due: copyright_checker

update
  go/workflow/couler/codegen_test.go
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

test ci
  go/workflow/couler/codegen_test.go
Due: copyright_checker

fix ci
  docker/dev/build.sh
  go/workflow/couler/codegen.go
  go/workflow/couler/codegen_test.go
  go/workflow/workflow.go
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

fix ci
  go/workflow/workflow.go
Due: copyright_checker

fix runtime pai submitter
  python/runtime/local/submitter.py
  python/runtime/local/submitter_test.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/submitter_explain.py
  python/runtime/step/create_result_table.py
  python/runtime/step/xgboost/evaluate.py
  python/runtime/step/xgboost/explain.py
Due: copyright_checker, pylint

fix pre-commit
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
Due: copyright_checker, pylint

pyalisa: add request client
  python/runtime/dbapi/pyalisa/client.py
  python/runtime/dbapi/pyalisa/client_test.py
  python/runtime/dbapi/pyalisa/config.py
Due: copyright_checker, pylint

clean code
  python/runtime/dbapi/pyalisa/client.py
  python/runtime/dbapi/pyalisa/client_test.py
Due: copyright_checker, pylint

clean code
  python/runtime/dbapi/pyalisa/client.py
Due: copyright_checker, pylint

test ci
  python/runtime/local/submitter.py
  python/runtime/model/oss.py
  python/runtime/step/tensorflow/explain.py
  python/runtime/step/tensorflow/predict.py
  python/runtime/step/xgboost/evaluate.py
Due: copyright_checker, pylint

update
  python/runtime/step/tensorflow/explain.py
Due: copyright_checker, pylint

fix ci
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

clean code
  python/runtime/dbapi/pyalisa/config.py
Due: copyright_checker, pylint

pyalisa: add request client (#3085)
  python/runtime/dbapi/pyalisa/client.py
  python/runtime/dbapi/pyalisa/client_test.py
  python/runtime/dbapi/pyalisa/config.py
Due: copyright_checker, pylint

fix pai evaluate
  python/runtime/tensorflow/evaluate.py
Due: copyright_checker, pylint

update
  python/runtime/alisa/submitter.py
  python/runtime/local/submitter.py
  python/runtime/pai/create_result_table.py
  python/runtime/pai/submitter_explain.py
  python/runtime/step/create_result_table.py
  python/runtime/step/tensorflow/evaluate.py
  python/runtime/step/tensorflow/explain.py
  python/runtime/tensorflow/explain.py
Due: copyright_checker, pylint

fix precommit
  python/runtime/pai/create_result_table.py
  python/runtime/step/create_result_table.py
  python/runtime/step/tensorflow/explain.py
Due: copyright_checker, pylint

fix precommit
  python/runtime/step/create_result_table.py
Due: copyright_checker, pylint
