Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

fix maxcompute dsn
  python/runtime/testing.py
Due: copyright_checker, pylint

Add docstrings for python functions
  python/runtime/explainer.py
  python/runtime/seeding.py
  python/runtime/sqlfs/tar.py
Due: copyright_checker, pylint

Unify python datasource codes (#2703)
  python/runtime/alps/train_test.py
  python/runtime/db_test.py
  python/runtime/local/xgboost/train_test.py
  python/runtime/pai/submitter_test.py
  python/runtime/tensorflow/estimator_example.py
  python/runtime/testing.py
  python/runtime/xgboost/explain_test.py
Due: copyright_checker, pylint

add Python verifier code
  python/runtime/verifier/__init__.py
  python/runtime/verifier/verifier.py
  python/runtime/verifier/verifier_test.py
Due: copyright_checker, pylint

merge upstream
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

skip pai test
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

Submit prediction task on PAI (#2704)
  python/runtime/oss.py
  python/runtime/pai/entry/__init__.py
  python/runtime/pai/entry/tf.py
  python/runtime/pai/predict.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

Follow comments
  python/runtime/seeding.py
Due: copyright_checker, pylint

add python method doc
  python/runtime/verifier/verifier.py
Due: copyright_checker, pylint

Add docstrings for several functions to improve readability (#2705)
  python/runtime/explainer.py
  python/runtime/seeding.py
  python/runtime/sqlfs/tar.py
Due: copyright_checker, pylint

Fix typos
  python/runtime/db.py
  python/runtime/optimize/optimize.py
  python/runtime/xgboost/tracker.py
Due: copyright_checker, pylint

Fix typos (#2707)
  python/runtime/db.py
  python/runtime/optimize/optimize.py
  python/runtime/xgboost/tracker.py
Due: copyright_checker, pylint

Add Python verifier code (#2706)
  python/runtime/verifier/__init__.py
  python/runtime/verifier/verifier.py
  python/runtime/verifier/verifier_test.py
Due: copyright_checker, pylint

make verifier.fetch_samples return field_names and field_types
  python/runtime/db.py
  python/runtime/maxcompute.py
  python/runtime/verifier/verifier.py
  python/runtime/verifier/verifier_test.py
Due: copyright_checker, pylint

make verifier.fetch_samples return field_names and field_types (#2708)
  python/runtime/db.py
  python/runtime/maxcompute.py
  python/runtime/verifier/verifier.py
  python/runtime/verifier/verifier_test.py
Due: copyright_checker, pylint

fix model zoo server kaniko build
  go/modelzooserver/image_build.go
Due: copyright_checker

Add docker image of to run statement to the execution context.
  go/executor/alisa.go
  go/executor/executor.go
Due: copyright_checker

fix comparison token conversion
  go/codegen/optimize/codegen.go
Due: copyright_checker

support adding pod tolerations etc.
  go/modelzooserver/image_build.go
Due: copyright_checker

test windows get branches
  .github/workflows/main.yml
Due: none

polish get branch name
  .github/workflows/main.yml
Due: none

fix get branch name
  .github/workflows/main.yml
Due: none

clean up
  .github/workflows/main.yml
Due: none

Fix model zoo server kaniko build (#2709)
  go/modelzooserver/image_build.go
Due: copyright_checker

Fix deploy step on github actions (#2691)
  .github/workflows/main.yml
  scripts/travis/deploy_client.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

remove LE etc
  go/codegen/optimize/codegen.go
Due: copyright_checker

save and load model
  python/runtime/model/__init__.py
  python/runtime/model/db.py
  python/runtime/model/model.py
  python/runtime/model/model_test.py
  python/runtime/model/tar.py
  python/runtime/model/tar_test.py
  python/runtime/sqlfs/__init__.py
Due: copyright_checker, pylint

Support explain on PAI
  python/runtime/explainer.py
  python/runtime/pai/entry.py
  python/runtime/pai/explain.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/tensorflow/explain.py
Due: copyright_checker, pylint

[OptFlow Programming]Support combinational optimize cases and remove the code to obtain table data (#2670)
  go/codegen/optimize/codegen.go
  go/codegen/optimize/codegen_test.go
  go/executor/pai.go
Due: copyright_checker

kaniko force build to run in internal
  go/modelzooserver/image_build.go
Due: copyright_checker

kaniko force build to run in internal (#2713)
  go/modelzooserver/image_build.go
Due: copyright_checker

polish code
  python/runtime/model/db.py
  python/runtime/model/model.py
  python/runtime/model/model_test.py
  python/runtime/model/tar_test.py
Due: copyright_checker, pylint

Add docker image name after TO RUN keyword in the execution context. (#2710)
  go/executor/alisa.go
  go/executor/executor.go
Due: copyright_checker

polish xgboost local train code
  python/runtime/local/xgboost/train.py
Due: copyright_checker, pylint

refine param name
  python/runtime/local/xgboost/train.py
Due: copyright_checker, pylint

Support explain on PAI (#2712)
  python/runtime/explainer.py
  python/runtime/pai/entry.py
  python/runtime/pai/explain.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/tensorflow/explain.py
Due: copyright_checker, pylint

test push stage
  .github/workflows/main.yml
Due: none

update
  .github/workflows/main.yml
Due: none

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
