Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

update
  doc/design/codegen.md
Due: none

update ci
  .github/workflows/main.yml
  go/cmd/sqlflowserver/testing.go
  scripts/test/prepare.sh
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

update ci
  .github/workflows/main.yml
Due: none

update
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

fix ci ut
  python/runtime/db.py
Due: copyright_checker, pylint

add emit prefix on generator interface
  doc/design/codegen.md
Due: none

support get hive/maxcompute schema
  python/runtime/db.py
  python/runtime/db_test.py
Due: copyright_checker, pylint

Polish db_generator code (#2652)
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/maxcompute.py
  python/runtime/optimize/optimize.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/explain.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

update
  docker/dev/find_fastest_resources.sh
Due: copyright_checker, shellcheck

polish get_dataset_fn
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint

code generator design (#2640)
  doc/design/codegen.md
Due: none

polish mysql init wait
  .github/workflows/main.yml
  docker/mysql/start.bash
  scripts/test/mysql.sh
Due: copyright_checker, shellcheck

fix ut
  python/runtime/db_test.py
Due: copyright_checker, pylint

update
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

fix models get feature name
  docker/dev/build.sh
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint, shellcheck

update
  go/cmd/sqlflowserver/e2e_common_cases.go
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

refine optflow interface
  go/codegen/optimize/codegen.go
  go/codegen/optimize/codegen_test.go
  go/codegen/optimize/template_optimize.go
  go/ir/derivation.go
  go/verifier/verifier.go
  python/runtime/optimize/optimize.py
Due: copyright_checker, pylint

fix models get feature name (#2657)
  docker/dev/build.sh
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint, shellcheck

change datasource with connection
  python/runtime/db.py
  python/runtime/db_test.py
Due: copyright_checker, pylint

update mysql check inited
  docker/mysql/start.bash
  scripts/test/mysql.sh
Due: copyright_checker, shellcheck

refine optflow interface (#2658)
  go/codegen/optimize/codegen.go
  go/codegen/optimize/codegen_test.go
  go/codegen/optimize/template_optimize.go
  go/ir/derivation.go
  go/verifier/verifier.go
  python/runtime/optimize/optimize.py
Due: copyright_checker, pylint

Add get schema tool function in db.py (#2654)
  python/runtime/db.py
  python/runtime/db_test.py
Due: copyright_checker, pylint

update mysql check inited
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

update
  .github/workflows/main.yml
Due: none

add alisa submitter implementation of optimize
  go/executor/alisa.go
  go/executor/pai.go
Due: copyright_checker

remove unnecessay comments
  go/executor/pai.go
Due: copyright_checker

add pai tf prediction
  python/runtime/db.py
  python/runtime/pai/entry/tensorflow.py
  python/runtime/pai/model.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

add db exec function
  python/runtime/db.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

Polish get_dataset_fn (#2655)
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint

Use github actions to do CI (#2638)
  .github/workflows/main.yml
  docker/dev/find_fastest_resources.sh
  docker/dev/install.sh
  docker/mysql/start.bash
  go/cmd/sqlflowserver/testing.go
  go/sql/testdata/xgboost_sparse_data_case_sql.go
  scripts/test/hive.sh
  scripts/test/maxcompute.sh
  scripts/test/mysql.sh
  scripts/test/prepare.sh
  scripts/test/workflow.sh
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

add requests requirement
  docker/ci/install-pips.bash
Due: shellcheck

Add Alisa submitter implementation of optimize clause (#2659)
  go/executor/alisa.go
  go/executor/pai.go
Due: copyright_checker

disable delpoy image on PR
  docker/step/Dockerfile
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

add requests requirement (#2662)
  docker/ci/install-pips.bash
Due: shellcheck

test deploy
  .github/workflows/main.yml
Due: none

disable delpoy image on PR (#2664)
  docker/step/Dockerfile
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

remove is_pai conditions and clean up the code
  go/cmd/sqlflowserver/e2e_common_cases.go
  python/runtime/pai/pai_distributed.py
  python/runtime/pai/train.py
  python/runtime/pai/train_estimator.py
  python/runtime/pai/train_keras.py
  python/runtime/tensorflow/train_estimator.py
  python/runtime/tensorflow/train_keras.py
Due: copyright_checker, pylint

update
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker
