Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

support special char in username/passwd for mysql (#2998)
  python/runtime/dbapi/mysql.py
Due: copyright_checker, pylint

fix feature derivation bug
  go/ir/feature_column.go
  python/runtime/feature/derivation.py
  python/runtime/local/xgboost_submitter/train.py
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

Fix xgboost predict error (#2987)
  python/runtime/local/xgboost_submitter/predict.py
  python/runtime/local/xgboost_submitter/xgboost_local_test.py
Due: copyright_checker, pylint

fix experimental codegen model zoo test cases (#2992)
  go/codegen/experimental/codegen_step.go
  go/model/model.go
  go/model/model_test.go
  go/modelzooserver/modelzooserver.go
  python/runtime/model/db.py
Due: copyright_checker, pylint

enable modelzoo
  go/modelzooserver/modelzooserver.go
Due: copyright_checker

fix inc train
  python/runtime/local/tensorflow_submitter/train.py
  python/runtime/step/tensorflow/train_estimator.py
Due: copyright_checker, pylint

Add interactive example example section in doc
  README.md
Due: none

fix feature derivation bug (#2999)
  go/ir/feature_column.go
  python/runtime/feature/derivation.py
  python/runtime/local/xgboost_submitter/train.py
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

fix inc train (#3000)
  python/runtime/local/tensorflow_submitter/train.py
  python/runtime/step/tensorflow/train_estimator.py
Due: copyright_checker, pylint

Add interactive example section in home page (#3001)
  README.md
Due: none

Initial implementation of codegen_step_run.
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_step_run.go
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

fix some ut
  go/ir/feature_column.go
  python/runtime/feature/compile.py
  python/runtime/feature/derivation.py
  python/runtime/local/create_result_table.py
  python/runtime/step/tensorflow/train_keras.py
Due: copyright_checker, pylint

Chinese doc: install in VM
  doc/sqlflow.org_cn/install_in_vm.cn.md
Due: none

fix checkpoint bug fix codegen tests
  go/codegen/experimental/codegen_test.go
  go/ir/feature_column_test.go
  python/runtime/step/tensorflow/train_estimator.py
Due: copyright_checker, pylint

Fix some test case when using refactorized codegen (#3002)
  go/codegen/experimental/codegen_test.go
  go/ir/feature_column.go
  go/ir/feature_column_test.go
  python/runtime/feature/compile.py
  python/runtime/feature/derivation.py
  python/runtime/local/create_result_table.py
  python/runtime/step/tensorflow/train_estimator.py
  python/runtime/step/tensorflow/train_keras.py
Due: copyright_checker, pylint

update column grammar doc
  doc/language_guide.md
Due: none

unify dump model code
  go/cmd/sqlflow/down_model.go
  go/cmd/sqlflow/model_zoo_client.go
  go/model/model.go
  go/model/model_test.go
  go/modelzooserver/modelzooserver.go
Due: copyright_checker

fix refactored test model zoo
  go/model/model.go
  go/modelzooserver/modelzooserver_test.go
Due: copyright_checker

fix modelzoo ut
  go/codegen/experimental/codegen_step.go
  go/modelzooserver/modelzooserver_test.go
  python/runtime/model/model.py
Due: copyright_checker, pylint

update
  go/modelzooserver/modelzooserver_test.go
Due: copyright_checker

Revert "fix modelzoo ut"
  go/codegen/experimental/codegen_step.go
  go/modelzooserver/modelzooserver_test.go
  python/runtime/model/model.py
Due: copyright_checker, pylint

test py ut, ready to revert
  go/modelzooserver/modelzooserver_test.go
  go/modelzooserver/using_model_test.go
Due: copyright_checker

Chinese doc: install SQLFLow in Kubernetes
  doc/sqlflow.org_cn/figures/playground_argo_ui.jpg
  doc/sqlflow.org_cn/figures/playground_login_ui.jpg
  doc/sqlflow.org_cn/figures/playground_tutorial_list.jpg
  doc/sqlflow.org_cn/install_in_k8s.cn.md
Due: none

fix release model store with tag
  go/modelzooserver/modelzooserver.go
Due: copyright_checker

fix refactored test model zoo (#3008)
  go/model/model.go
  go/modelzooserver/modelzooserver_test.go
Due: copyright_checker

fix release model store with tag (#3010)
  go/modelzooserver/modelzooserver.go
Due: copyright_checker

fix modelzoo server get model
  go/codegen/experimental/codegen_step.go
  go/modelzooserver/modelzooserver.go
  go/modelzooserver/modelzooserver_test.go
  go/modelzooserver/using_model_test.go
  go/proto/modelzooserver.proto
  python/runtime/model/model.py
  python/runtime/modelzoo/.gitignore
  python/runtime/modelzoo/load.py
  scripts/test/prepare.sh
Due: copyright_checker, pylint, shellcheck

Implement generateRunCodeAndImage and hook it into the route method GenerateStepCodeAndImage.
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_step_run.go
  port-forward-log
Due: copyright_checker

add grpcio-tools package
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

add grpcio-tools into step Dockerfile
  docker/step/Dockerfile
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

fix modelzoo operation, fix grpcio-tools==1.28.1
  docker/step/Dockerfile
  go/cmd/sqlflow/model_zoo_client_test.go
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

follow comments
  docker/dev/build.sh
  docker/dev/install.sh
  docker/step/Dockerfile
  go/modelzooserver/modelzooserver.go
  go/modelzooserver/using_model_test.go
  go/proto/modelzooserver.proto
  python/runtime/model/.gitignore
  python/runtime/model/model.py
  python/runtime/model/modelzoo.py
  scripts/test/prepare.sh
Due: copyright_checker, pylint, shellcheck

polish column doc
  doc/language_guide.md
Due: none

remove tag in GetModelMeta
  go/codegen/experimental/codegen_step.go
  go/modelzooserver/modelzooserver.go
Due: copyright_checker

Convert Parameters from Go Array to Python Array
  go/codegen/experimental/codegen_step_run.go
Due: copyright_checker

add TODO
  go/modelzooserver/modelzooserver.go
Due: copyright_checker

Remove port-forward-log
  port-forward-log
Due: none

Remove unnecessary logging.
  go/codegen/experimental/codegen_step.go
Due: copyright_checker

Remove unnecessary empty line.
  go/codegen/experimental/codegen_step.go
Due: copyright_checker

Make experimental codegen read model from model zoo (#3013)
  docker/dev/build.sh
  docker/dev/install.sh
  docker/step/Dockerfile
  go/cmd/sqlflow/model_zoo_client_test.go
  go/codegen/experimental/codegen_step.go
  go/modelzooserver/modelzooserver.go
  go/modelzooserver/modelzooserver_test.go
  go/modelzooserver/using_model_test.go
  go/proto/modelzooserver.proto
  python/runtime/model/.gitignore
  python/runtime/model/model.py
  python/runtime/model/modelzoo.py
  scripts/test/prepare.sh
Due: copyright_checker, pylint, shellcheck
