Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: local
  hooks:
  - id: yamlfmt
    name: yamlfmt
    entry: bash ./scripts/pre-commit/yamlfmt.sh
    language: system
    files: \.(yaml|yml)$
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.20
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  sha: master
  hooks:
  - id: black
    args: [--line-length=79]
    # - repo: https://github.com/pre-commit/pre-commit-hooks
    #   rev: v2.2.3
    #   hooks:
    #   - id: flake8
    # - repo: git://github.com/skorokithakis/pre-commit-mypy
    #   rev: v0.701
    #   hooks:
    #   - id: mypy
    # - repo: https://github.com/asottile/seed-isort-config
    #   rev: v1.9.1
    #   hooks:
    #   - id: seed-isort-config

Install linters and pre-commit in CI image
  docker/ci/install-python.bash
Due: none

Make python setup.py quiet
  docker/dev/build.sh
Due: copyright_checker

Use :dev at pre-commit stage of CI
  .travis.yml
  docker/ci/install-python.bash
Due: yamlfmt

Silence python setup.py bdist_wheel completely
  docker/dev/build.sh
Due: copyright_checker

Use :dev as the base image of :ci
  Dockerfile
Due: none

Install python3-dev in :dev image
  docker/dev/install.sh
Due: copyright_checker

Update model zoo design ER image and re-phrase (#2219)
  doc/design/figures/model_zoo_er.png
  doc/design/model_zoo.md
Due: none

Add install-kubectl.bash
  Dockerfile
  docker/ci/install-kubectl.bash
Due: none

fix python tests
  python/sqlflow_submitter/tensorflow/estimator_example.py
  python/sqlflow_submitter/tensorflow/evaluate_example.py
  python/sqlflow_submitter/tensorflow/explain_example.py
  python/sqlflow_submitter/tensorflow/keras_example.py
Due: copyright_checker

Move scripts/test/setup_k8s.sh to scripts/travis/setup_minikube_and_argo.sh
  .travis.yml
  scripts/test/setup_k8s_env.sh
  scripts/travis/deploy.sh
  scripts/travis/setup_minikube_and_argo.sh
Due: copyright_checker, yamlfmt

setup_minikube.sh
  .travis.yml
  scripts/travis/setup_minikube.sh
Due: copyright_checker, yamlfmt

Simplify workflow.sh
  scripts/test/workflow.sh
Due: copyright_checker

fix workflow test random failed
  scripts/test/workflow.sh
Due: copyright_checker

update
  scripts/test/workflow.sh
Due: copyright_checker

polish workflow.sh
  scripts/test/workflow.sh
Due: copyright_checker

Add base structure of model zoo server (#2186)
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

pull docker/whaleasy on head
  scripts/test/workflow.sh
Due: copyright_checker

debug timeout
  scripts/test/workflow.sh
Due: copyright_checker

debug kubectl get wf
  scripts/test/workflow.sh
Due: copyright_checker

describe wf
  scripts/test/workflow.sh
Due: copyright_checker

list wf on ci
  scripts/test/workflow.sh
Due: copyright_checker

using fixed argo version
  scripts/test/setup_k8s_env.sh
Due: copyright_checker

polish bash
  scripts/test/workflow.sh
Due: copyright_checker

remove set -x
  scripts/test/workflow.sh
Due: copyright_checker

fix workflow test failed without any message (#2227)
  scripts/test/setup_k8s_env.sh
  scripts/test/workflow.sh
Due: copyright_checker

Install Docker in CI image for workflow.sh
  Dockerfile
Due: none

Simplify dockerfile dev (#2215)
  .travis.yml
  Dockerfile
  docker/ci/install-build-essential.bash
  docker/ci/install-elasticdl.bash
  docker/ci/install-hadoop.bash
  docker/ci/install-java.bash
  docker/ci/install-jupyter.bash
  docker/ci/install-kubectl.bash
  docker/ci/install-mysql.bash
  docker/ci/install-odps.bash
  docker/ci/install-pips.bash
  docker/ci/install-python.bash
  docker/ci/js/custom.js
  docker/ci/js/sqlflow.js
  docker/dev/Dockerfile
  docker/dev/build.sh
  docker/dev/install-java.bash
  docker/dev/install-python.bash
  docker/dev/install.sh
  scripts/test/setup_k8s_env.sh
  scripts/test/workflow.sh
  scripts/travis/build.sh
  scripts/travis/deploy.sh
  scripts/travis/setup_minikube.sh
Due: copyright_checker, jsbeautifier, yamlfmt

Merge the first CI stage PreCommit into the second
  .travis.yml
Due: yamlfmt

Try to add a job to the Deploy CI stage using macOS VM
  .travis.yml
Due: yamlfmt

Try macOS Travis CI VM
  .travis.yml
Due: yamlfmt

Call docker verison
  .travis.yml
Due: yamlfmt

Print Go verison
  .travis.yml
Due: yamlfmt

Deploy cli for macos
  .travis.yml
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker, yamlfmt

Merge the first CI stage PreCommit into the second (#2229)
  .travis.yml
Due: yamlfmt

chmod +x deploy_cli_macos.sh
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker

Don not install protoc
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker

Open Wiki repo access
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker

push only master to wiki repo
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker
