Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

fix pre-commit
  python/runtime/model/model.py
Due: copyright_checker, pylint

add gitignore
  python/runtime/dbapi/table_writer/.gitignore
Due: none

Fix explain into when shap values is not list (#2853)
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/xgboost/codegen_explain.go
  go/codegen/xgboost/template_explain.go
  go/executor/executor.go
  go/executor/pai.go
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

polish
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/xgboost.go
Due: copyright_checker

update docker usage docs
  doc/quick_start.md
  doc/run/docker.md
Due: none

update docker usage docs (#2856)
  doc/quick_start.md
  doc/run/docker.md
Due: none

Collect step's output to given file
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker, pylint

add gitignore (#2855)
  python/runtime/dbapi/table_writer/.gitignore
Due: none

add SQLFLOW_WORKFLOW_STEP_LOG_FILE evn to control log path
  go/workflow/couler/codegen.go
  go/workflow/couler/codegen_test.go
  go/workflow/couler/template.go
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker, pylint

polish structure
  python/runtime/local/submitter.py
  python/runtime/pai/create_result_table.py
  python/runtime/pai/get_pai_tf_cmd.py
  python/runtime/pai/pai_ml/kmeans.py
  python/runtime/pai/pai_ml/random_forest.py
  python/runtime/pai/pai_model.py
  python/runtime/pai/prepare_archive.py
  python/runtime/pai/submit_pai_task.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/table_ops.py
Due: copyright_checker, pylint

use codegen way to get py fc
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/xgboost.go
  go/ir/codegen_python_values.go
  go/ir/feature_column.go
Due: copyright_checker

update
  go/codegen/pai/template_tf.go
  go/codegen/tensorflow/template_train.go
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/maxcompute.py
  python/runtime/pai/entry.py
  python/runtime/pai/get_pai_tf_cmd.py
  python/runtime/pai/pai_ml/__init__.py
  python/runtime/pai/prepare_archive.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/table_ops.py
  python/runtime/pai/tensorflow_submitter/__init__.py
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/pai/tensorflow_submitter/train_estimator.py
  python/runtime/pai/tensorflow_submitter/train_keras.py
  python/runtime/pai/xgboost_submitter/__init__.py
  python/runtime/pai/xgboost_submitter/evaluate.py
  python/runtime/pai/xgboost_submitter/explain.py
  python/runtime/pai/xgboost_submitter/predict.py
  python/runtime/pai/xgboost_submitter/train.py
Due: copyright_checker, pylint

fix ut
  go/codegen/experimental/codegen_test.go
Due: copyright_checker

fix lint
  python/runtime/pai/__init__.py
  python/runtime/pai/pai_model.py
  python/runtime/pai/prepare_archive.py
  python/runtime/pai/submit_pai_task.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
  python/runtime/pai/submitter_train.py
Due: copyright_checker, pylint

support config https for jupyterhub
  docker/jupyterhub/jupyterhub_config.py
  python/couler/setup.py
Due: copyright_checker, pylint

update
  python/couler/setup.py
Due: copyright_checker, pylint

Support config https for jupyterhub (#2862)
  docker/jupyterhub/jupyterhub_config.py
Due: copyright_checker, pylint

fix pai xgb bug
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/ir/derivation.go
  go/ir/derivation_test.go
  go/sql/testdata/feature_derivation_case.go
  python/runtime/db.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

fix bug
  python/runtime/xgboost/evaluate.py
Due: copyright_checker, pylint

fix shape error
  python/runtime/db.py
Due: copyright_checker, pylint

fix tf train generator
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

fix bug (#2864)
  python/runtime/xgboost/evaluate.py
Due: copyright_checker, pylint

add e2e ut
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/cmd/sqlflowserver/testing.go
  go/sql/testdata/feature_derivation_case.go
Due: copyright_checker

polish
  go/cmd/sqlflowserver/e2e_common_cases.go
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

fix python derivation
  python/runtime/feature/derivation.py
  python/runtime/feature/derivation_test.py
Due: copyright_checker, pylint

Fix xgboost CSV data train bug (#2863)
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/cmd/sqlflowserver/testing.go
  go/ir/derivation.go
  go/ir/derivation_test.go
  go/sql/testdata/feature_derivation_case.go
  python/runtime/db.py
  python/runtime/feature/derivation.py
  python/runtime/feature/derivation_test.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

Polish pai submitter structure (#2859)
  go/codegen/pai/template_tf.go
  go/codegen/tensorflow/template_train.go
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/maxcompute.py
  python/runtime/local/submitter.py
  python/runtime/pai/create_result_table.py
  python/runtime/pai/entry.py
  python/runtime/pai/get_pai_tf_cmd.py
  python/runtime/pai/pai_ml/__init__.py
  python/runtime/pai/pai_ml/kmeans.py
  python/runtime/pai/pai_ml/random_forest.py
  python/runtime/pai/pai_model.py
  python/runtime/pai/prepare_archive.py
  python/runtime/pai/submit_pai_task.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/table_ops.py
  python/runtime/pai/tensorflow_submitter/__init__.py
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/pai/tensorflow_submitter/train_estimator.py
  python/runtime/pai/tensorflow_submitter/train_keras.py
  python/runtime/pai/xgboost_submitter/__init__.py
  python/runtime/pai/xgboost_submitter/evaluate.py
  python/runtime/pai/xgboost_submitter/explain.py
  python/runtime/pai/xgboost_submitter/predict.py
  python/runtime/pai/xgboost_submitter/train.py
Due: copyright_checker, pylint

WIP: runtime.pai use python feature column implementation
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  python/runtime/pai/submitter_train.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/pai/tensorflow_submitter/train_estimator.py
  python/runtime/pai/tensorflow_submitter/train_keras.py
Due: copyright_checker, pylint

update
  python/runtime/pai/pai_model.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/tensorflow_submitter/train.py
Due: copyright_checker, pylint

done train test
  python/runtime/dbapi/__init__.py
  python/runtime/dbapi/connection.py
  python/runtime/model/db.py
  python/runtime/pai/entry.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/temp_file.py
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

add comments
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

clean
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
Due: copyright_checker

Add pip in the step image. Because we will pip install additional python packages while building runnable image based on step image.
  docker/step/Dockerfile
Due: none

Refine feature column code generation (#2860)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/xgboost.go
  go/ir/codegen_python_values.go
  go/ir/feature_column.go
  go/ir/feature_column_test.go
Due: copyright_checker

Install python3-dev in the builder stage.
  docker/step/Dockerfile
Due: none

polish
  go/codegen/experimental/codegen_step.go
  python/runtime/model/db.py
Due: copyright_checker, pylint

Add pip in the step image. (#2866)
  docker/step/Dockerfile
Due: none

Distinguish XGBoost model when generating prediction workflow code (#2854)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_normal_stmt.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/xgboost.go
  go/codegen/pai/codegen.go
  go/codegen/pai/codegen_test.go
  go/executor/executor.go
  go/executor/pai.go
  go/model/model.go
  python/runtime/model/db.py
  python/runtime/model/model.py
Due: copyright_checker, pylint

add evaluate codegen
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/xgboost.go
  python/runtime/local/__init__.py
  python/runtime/local/submitter.py
  python/runtime/local/xgboost_submitter/evaluate.py
Due: copyright_checker, pylint

update
  go/codegen/experimental/codegen_step.go
Due: copyright_checker
