Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

fix maxcompute ci tests
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

update
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

fix deploy client
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

test fix maxcompute ci job
  scripts/test/maxcompute.sh
Due: copyright_checker, shellcheck

fix deploy client (#2635)
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

update
  scripts/test/maxcompute.sh
Due: copyright_checker, shellcheck

Fix db error on some maxcompute ci tests (#2634)
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

fix missing dot
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

Test use github actions to do CI
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

test
  scripts/test/maxcompute.sh
Due: copyright_checker, shellcheck

test
  docker/dev/find_fastest_resources.sh
Due: copyright_checker, shellcheck

test
  docker/dev/install.sh
Due: copyright_checker, shellcheck

pai access oss by checkpoint
  go/codegen/pai/tensorflow.go
  go/codegen/pai/tensorflow_test.go
Due: copyright_checker

polish
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/testing.go
  go/sql/testdata/xgboost_sparse_data_case_sql.go
Due: copyright_checker

Add a unit test
  go/codegen/pai/codegen_test.go
  go/codegen/pai/tensorflow.go
  go/codegen/pai/tensorflow_test.go
Due: copyright_checker

Add end-to-end unittest of sparse kv column data on PAI MaxCompute (#2630)
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/cmd/sqlflowserver/testing.go
  go/executor/pai.go
  go/sql/testdata/xgboost_sparse_data_case_sql.go
Due: copyright_checker

fix maxcompute tests
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_maxcompute_test.go
  go/executor/pre_exec.go
  python/runtime/db.py
  python/runtime/maxcompute.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/predict.py
  scripts/test/maxcompute.sh
Due: copyright_checker, pylint, shellcheck

add timeout
  scripts/test/maxcompute.sh
Due: copyright_checker, shellcheck

code generator design
  doc/design/codegen.md
Due: none

fix typo
  doc/design/codegen.md
Due: none

rename SQLFLOW_OSS_CHECKPOINT_DIR to SQLFLOW_OSS_CHECKPOINT_CONFIG
  go/cmd/sqlflowserver/e2e_alisa_test.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/pai/codegen_test.go
  go/codegen/pai/tensorflow.go
  go/codegen/pai/tensorflow_test.go
Due: copyright_checker

wip for test
  go/executor/pre_exec.go
  python/runtime/db.py
  python/runtime/maxcompute.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

fix missing dot (#2641)
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

A new format of RoleArn for PAI to access OSS (#2639)
  go/cmd/sqlflowserver/e2e_alisa_test.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/pai/codegen_test.go
  go/codegen/pai/tensorflow.go
  go/codegen/pai/tensorflow_test.go
Due: copyright_checker

update
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/codegen/tensorflow/codegen.go
  go/codegen/tensorflow/template_pred.go
  go/codegen/xgboost/codegen.go
  go/codegen/xgboost/template_pred.go
  go/executor/pre_exec.go
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

update
  go/cmd/sqlflowserver/e2e_common_cases.go
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/predict.py
  scripts/test/maxcompute.sh
Due: copyright_checker, pylint, shellcheck

test
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

test
  .github/workflows/main.yml
Due: none

update
  python/runtime/tensorflow/estimator_example.py
  python/runtime/tensorflow/keras_example.py
Due: copyright_checker, pylint

update
  .github/workflows/main.yml
Due: none

refine optflow code
  docker/ci/install-pips.bash
  go/codegen/optimize/codegen.go
  go/codegen/optimize/template_optimize.go
  go/executor/executor.go
  go/executor/pai.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/optimize/__init__.py
  python/sqlflow_submitter/optimize/model_generation_test.py
  python/sqlflow_submitter/optimize/optimize.py
  python/sqlflow_submitter/optimize/runner.py
  python/sqlflow_submitter/pai/model.py
  python/sqlflow_submitter/pai/utils.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/explain.py
Due: copyright_checker, pylint, shellcheck

Fix deploy cli for osx
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

done
  python/runtime/tensorflow/keras_example_reg.py
Due: copyright_checker, pylint

test deps
  .github/workflows/main.yml
  docker/mysql/Dockerfile
Due: none

update as comments
  doc/design/codegen.md
Due: none

update
  doc/design/codegen.md
Due: none

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
