Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Update
  docker/server/Dockerfile
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

Call apt update
  docker/server/Dockerfile
Due: none

Update
  docker/server/Dockerfile
Due: none

Correct
  docker/server/Dockerfile
Due: none

Build release image (#2384)
  docker/ci/Dockerfile
  docker/server/Dockerfile
  scripts/travis/build.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

add more test
  pkg/sql/executor_ir.go
  pkg/sql/executor_ir_test.go
Due: copyright_checker

Follow comments
  doc/design/to_run.md
Due: none

fix test
  pkg/sql/executor_ir_test.go
Due: copyright_checker

test ci
  docker/dev/install.sh
Due: copyright_checker, shellcheck

Summarize the discussion of TO RUN design (#2371)
  doc/design/to_run.md
  doc/design/to_run_stmt.md
Due: none

Support hints for alisa (#2369)
  pkg/parser/sqlflow_parser.go
  pkg/sql/executor_ir.go
  pkg/sql/executor_ir_test.go
  pkg/workflow/workflow.go
Due: copyright_checker

update design after more investigation
  doc/design/programming_solver.md
Due: none

add multi variable statement description
  doc/design/programming_solver.md
Due: none

test
  .travis.yml
Due: none

test
  .travis.yml
  docker/dev/install.sh
Due: copyright_checker, shellcheck

fix ci mysql and hive ut error, fix xgboost model prediction cannot select label in train bug
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/common.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/fields.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/db_writer/mysql.py
  python/sqlflow_submitter/db_writer/pai_maxcompute.py
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/predict.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

update sklearn version for ci failure
  docker/ci/install-pips.bash
Due: shellcheck

update by comment
  doc/design/programming_solver.md
Due: none

update
  doc/design/programming_solver.md
Due: none

remove unused pkg dependence for parser-hive
  java/parser-hive/pom.xml
Due: none

test sklearn install
  docker/ci/install-pips.bash
  python/sqlflow_submitter/xgboost/explain_test.py
Due: copyright_checker, pylint, shellcheck

remove unused pkg dependence for parser-hive (#2392)
  java/parser-hive/pom.xml
Due: none

test ci pip install upgrade
  docker/ci/install-pips.bash
  scripts/test/units.sh
Due: copyright_checker, shellcheck

Do some rephrase
  doc/design/to_run.md
Due: none

test ugly fix sklearn version
  scripts/test/units.sh
Due: copyright_checker, shellcheck

try to find out where sklearn version is changed
  docker/ci/Dockerfile
Due: none

change sklearn version
  docker/ci/install-pips.bash
  docker/dev/build.sh
Due: copyright_checker, shellcheck

server receive client uploaded trained model
  go.mod
  pkg/modelzooserver/modelzooserver.go
  pkg/proto/modelzooserver.proto
Due: copyright_checker

Update build.sh
  docker/dev/build.sh
Due: copyright_checker, shellcheck

Correct checkshell
  docker/dev/find_fastest_resources.sh
Due: copyright_checker, shellcheck

Remove ${}
  docker/dev/find_fastest_resources.sh
Due: copyright_checker, shellcheck

Change sklearn version according to models revision (#2395)
  docker/ci/install-pips.bash
  docker/dev/build.sh
Due: copyright_checker, shellcheck

choose better path to download hadoop
  docker/ci/install-hadoop.bash
Due: shellcheck

Follow suggestions
  docker/dev/find_fastest_resources.sh
Due: copyright_checker, shellcheck

Use find_fastest_resource.sh in dev image
  docker/dev/Dockerfile
  docker/dev/find_fastest_resources.sh
  docker/dev/install.sh
Due: copyright_checker, shellcheck

remove pmml codes for next PR
  docker/ci/install-pips.bash
  pkg/sql/codegen/pai/template_tf.go
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint, shellcheck

Update
  docker/dev/find_fastest_resources.sh
  docker/dev/install.sh
Due: copyright_checker, shellcheck

Update
  go.mod
Due: none

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
