Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Chinese doc: credit card fraud, DSW demo (#3045)
  doc/datasets/popularize_creditcardfraud.sql
  doc/sqlflow.org_cn/credit_card_fraud.cn.md
  doc/sqlflow.org_cn/figures/credit_card_fraud_explain.png
  doc/sqlflow.org_cn/tutorials/fraud-dnn.cn.md
Due: none

add alisa
  python/runtime/dbapi/pyalisa/alisa.py
Due: copyright_checker, pylint

support PAI explain
  go/codegen/experimental/codegen_step_explain.go
  python/runtime/local/submitter.py
  python/runtime/local/tensorflow_submitter/evaluate.py
  python/runtime/local/tensorflow_submitter/explain.py
  python/runtime/local/tensorflow_submitter/local_test_base.py
  python/runtime/pai/entry.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/step/tensorflow/explain.py
  python/runtime/tensorflow/explain.py
Due: copyright_checker, pylint

refine sqlfs
  python/runtime/model/db.py
Due: copyright_checker, pylint

refine executor env
  go/executor/executor.go
  python/runtime/pai_local/__init__.py
Due: copyright_checker, pylint

remove local/tensorflow_submitter dir
  python/runtime/local/tensorflow_submitter/estimator_test.py
  python/runtime/step/tensorflow/estimator_test.py
  python/runtime/step/tensorflow/keras_test.py
  python/runtime/step/tensorflow/local_test_base.py
Due: copyright_checker, pylint

remove runtime.pai.tensorflow_submitter
  python/runtime/pai/tensorflow_submitter/__init__.py
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint

update
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint

fix explain ut
  python/runtime/pai/entry.py
  python/runtime/step/tensorflow/explain.py
Due: copyright_checker, pylint

trigger ci
  python/runtime/model/db.py
Due: copyright_checker, pylint

fix flake8 check
  python/runtime/pai/entry.py
Due: copyright_checker, pylint

fix ci
  python/runtime/tensorflow/explain.py
Due: copyright_checker, pylint

fix actions yaml
  .github/workflows/main.yml
Due: none

update
  .github/workflows/main.yml
Due: none

Refine Python sqlfs (#3056)
  python/runtime/model/db.py
Due: copyright_checker, pylint

Remove tensorflow submitter (#3058)
  go/codegen/pai/template_tf.go
  go/codegen/tensorflow/template_train.go
  python/runtime/pai/entry.py
  python/runtime/pai/tensorflow_submitter/__init__.py
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train.py
  python/runtime/tensorflow/train_estimator.py
  python/runtime/tensorflow/train_keras.py
Due: copyright_checker, pylint

Always remove root perm dirs when pushing images (#3053)
  .github/workflows/main.yml
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

remove tensorflow_submitter
  python/runtime/pai/tensorflow_submitter/explain.py
Due: copyright_checker, pylint

Try fix QiNiu push
  scripts/travis/deploy_client.sh
  scripts/travis/deploy_tutorials.sh
Due: copyright_checker, shellcheck

Add overwrite account param
  scripts/travis/deploy_client.sh
  scripts/travis/deploy_tutorials.sh
Due: copyright_checker, shellcheck

Add overwrite account param
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

WIP
  python/runtime/pai/submitter_predict.py
  python/runtime/step/xgboost/__init__.py
  python/runtime/step/xgboost/evaluate.py
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
  python/runtime/step/xgboost/save.py
  python/runtime/step/xgboost/train.py
Due: copyright_checker, pylint

add missing tensorflow step explain
  python/runtime/step/tensorflow/explain.py
Due: copyright_checker, pylint

Try fix QiNiu push (#3059)
  scripts/travis/deploy_client.sh
  scripts/travis/deploy_tutorials.sh
Due: copyright_checker, shellcheck

fix pai ml model
  go/codegen/experimental/codegen_step.go
  python/runtime/model/model.py
  python/runtime/pai/submitter_train.py
Due: copyright_checker, pylint

Support PAI TensorFlow explanation using experimental codegen (#3055)
  go/codegen/experimental/codegen_step_explain.go
  python/runtime/local/submitter.py
  python/runtime/local/tensorflow_submitter/estimator_test.py
  python/runtime/local/tensorflow_submitter/evaluate.py
  python/runtime/local/tensorflow_submitter/explain.py
  python/runtime/pai/submitter_explain.py
  python/runtime/step/tensorflow/estimator_test.py
  python/runtime/step/tensorflow/explain.py
  python/runtime/step/tensorflow/keras_test.py
  python/runtime/step/tensorflow/local_test_base.py
  python/runtime/tensorflow/explain.py
Due: copyright_checker, pylint

fix attr init and check
  go/codegen/experimental/codegen_step.go
Due: copyright_checker

fix errorf
  go/codegen/experimental/codegen_step.go
Due: copyright_checker

move local/xgboost_submitter to step/xgboost
  python/runtime/local/submitter.py
  python/runtime/step/xgboost/__init__.py
  python/runtime/step/xgboost/evaluate.py
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
  python/runtime/step/xgboost/save.py
  python/runtime/step/xgboost/train.py
  python/runtime/step/xgboost/xgboost_local_test.py
  python/runtime/xgboost/model_save_test.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

fix pai explain
  python/runtime/pai/submitter_explain.py
Due: copyright_checker, pylint

move local/xgboost_submitter to step/xgboost (#3063)
  python/runtime/local/submitter.py
  python/runtime/step/xgboost/__init__.py
  python/runtime/step/xgboost/evaluate.py
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
  python/runtime/step/xgboost/save.py
  python/runtime/step/xgboost/train.py
  python/runtime/step/xgboost/xgboost_local_test.py
  python/runtime/xgboost/model_save_test.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

fix warm_start_from
  python/runtime/step/tensorflow/explain.py
Due: copyright_checker, pylint

move derivation to submitter
  python/runtime/local/submitter.py
  python/runtime/pai/submitter_train.py
  python/runtime/step/tensorflow/local_test_base.py
  python/runtime/step/tensorflow/train.py
  python/runtime/step/xgboost/train.py
  python/runtime/step/xgboost/xgboost_local_test.py
Due: copyright_checker, pylint

fix typo
  doc/run/docker.md
Due: none

wip
  python/runtime/local/submitter.py
  python/runtime/local/xgboost_submitter/evaluate.py
  python/runtime/local/xgboost_submitter/xgboost_local_test.py
  python/runtime/pai/entry.py
  python/runtime/step/xgboost/evaluate.py
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
  python/runtime/step/xgboost/train.py
  python/runtime/xgboost/model_save_test.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

wip
  python/runtime/step/xgboost/xgboost_local_test.py
Due: copyright_checker, pylint

fix ut
  python/runtime/step/tensorflow/explain.py
Due: copyright_checker, pylint

update
  python/runtime/step/tensorflow/explain.py
Due: copyright_checker, pylint

fix pre-commit
  python/runtime/local/submitter.py
  python/runtime/step/xgboost/explain.py
  python/runtime/step/xgboost/predict.py
Due: copyright_checker, pylint

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
