Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

Add libsvm format design doc (#2554)
  doc/design/libsvm_format_column.md
Due: none

Support libsvm column (#2551)
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_mysql_test.go
  pkg/codegen/tensorflow/template_evaluate.go
  pkg/codegen/tensorflow/template_explain.go
  pkg/codegen/tensorflow/template_pred.go
  pkg/codegen/tensorflow/template_train.go
  pkg/codegen/xgboost/codegen.go
  pkg/ir/derivation.go
  pkg/ir/derivation_test.go
  pkg/ir/feature_column.go
  pkg/ir/mock_ir.go
  pkg/workflow/couler/codegen_test.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/db_test.py
  python/sqlflow_submitter/tensorflow/input_fn.py
Due: copyright_checker, pylint

add sudo in server image
  docker/server/Dockerfile
Due: none

polish
  doc/design/libsvm_format_column.md
Due: none

fix ci
  cmd/sqlflow/main_test.go
  cmd/sqlflow/model_zoo_client.go
  cmd/sqlflow/model_zoo_client_test.go
  pkg/modelzooserver/modelzooserver.go
Due: copyright_checker

update
  doc/design/libsvm_format_column.md
Due: none

change libsvm to kv
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_mysql_test.go
  doc/design/numeric_column_clause.md
  pkg/ir/derivation.go
  pkg/ir/derivation_test.go
  pkg/ir/feature_column.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/db_test.py
Due: copyright_checker, pylint

fix syntax error
  .travis.yml
Due: none

go mod tidy (#2597)
  go.mod
  go.sum
Due: none

Polish sparse vector loading design doc (#2608)
  doc/design/libsvm_format_column.md
Due: none

rename libsvm_format_column.md -> sparse_transformer.md
  doc/design/sparse_transformer.md
Due: none

add option --local when releasing model
  cmd/sqlflow/main.go
  cmd/sqlflow/model_zoo_client.go
  cmd/sqlflow/model_zoo_client_test.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/using_model_test.go
  pkg/proto/modelzooserver.proto
Due: copyright_checker

add prediction, explanation support
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_hive_test.go
  pkg/codegen/xgboost/codegen.go
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/predict.py
Due: copyright_checker, pylint

Update
  scripts/test/hive.sh
  scripts/test/units.sh
Due: copyright_checker, shellcheck

Update
  scripts/travis/upload_codecov.sh
Due: copyright_checker, shellcheck

Rename scripts/test/units.sh into mysql.sh
  .travis.yml
  scripts/test/mysql.sh
Due: copyright_checker, shellcheck

make hive go test timeout larger
  scripts/test/hive.sh
Due: copyright_checker, shellcheck

fix ci
  cmd/sqlflow/main_test.go
Due: copyright_checker

rename libsvm_format_column.md -> sparse_transformer.md (#2610)
  doc/design/sparse_transformer.md
Due: none

Add more coverge
  .travis.yml
  scripts/test/hive.sh
  scripts/test/java.sh
  scripts/test/maxcompute.sh
  scripts/test/mysql.sh
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

disable push image on PR build
  .travis.yml
Due: none

modify yaml
  .travis.yml
Due: none

fix java test
  scripts/test/java.sh
Due: copyright_checker, shellcheck

fix cli tests when removing -p 1
  cmd/sqlflow/main_test.go
Due: copyright_checker

Fix bug
  scripts/test/java.sh
Due: copyright_checker, shellcheck

Revert to use -p 1 with gotest
  scripts/test/hive.sh
  scripts/test/maxcompute.sh
  scripts/test/mysql.sh
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

skip test case that need default model definitions
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/using_model_test.go
Due: copyright_checker

add glpk solver in Dockerfile, and add more tests
  docker/ci/install-pips.bash
  python/sqlflow_submitter/optimize/__init__.py
  python/sqlflow_submitter/optimize/model_generation_test.py
  python/sqlflow_submitter/optimize/optimize.py
Due: copyright_checker, pylint, shellcheck

change libsvm to kv (#2609)
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_mysql_test.go
  doc/design/numeric_column_clause.md
  pkg/ir/derivation.go
  pkg/ir/derivation_test.go
  pkg/ir/feature_column.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/db_test.py
Due: copyright_checker, pylint

fix hive ut
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_hive_test.go
  cmd/sqlflowserver/e2e_mysql_test.go
Due: copyright_checker

update
  cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

Make more tests report coverage to codecov.io (#2612)
  .travis.yml
  cmd/sqlflow/main_test.go
  scripts/test/hive.sh
  scripts/test/java.sh
  scripts/test/maxcompute.sh
  scripts/test/mysql.sh
  scripts/test/workflow.sh
  scripts/travis/upload_codecov.sh
Due: copyright_checker, shellcheck

Use qiniu north America bucket for cli release (#2606)
  .travis.yml
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

WIP: Add tidb parser deps support
  pkg/parser/external/tidb_parser.go
  pkg/parser/external/tidb_parser_test.go
Due: copyright_checker

follow comments
  cmd/sqlflow/model_zoo_client.go
  pkg/modelzooserver/modelzooserver.go
Due: copyright_checker

move glpk-utils installation to install.sh
  docker/ci/install-pips.bash
  docker/dev/install.sh
Due: copyright_checker, shellcheck

update
  docker/ci/install-pips.bash
Due: shellcheck

fix string escape in workflow codegen
  pkg/workflow/couler/template.go
Due: copyright_checker
