Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, yamlfmt

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

yamlfmt:
  name: yamlfmt
  entry: bash ./scripts/pre-commit/yamlfmt.sh
  language: system

Tensorflow training on pai use OSS to save checkpoints (#2112)
  pkg/sql/codegen/pai/codegen_test.go
  pkg/sql/codegen/pai/template_tf.go
  pkg/sql/codegen/pai/tensorflow.go
  pkg/sql/pai_submitter.go
  python/sqlflow_submitter/tensorflow/explain.py
  python/sqlflow_submitter/tensorflow/pai_distributed.py
  python/sqlflow_submitter/tensorflow/train_estimator.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker

Add a wrapper bash script for terminal users
  scripts/terminal/sh/sqlflow
Due: none

Support calling repl from host
  scripts/start.sh
Due: copyright_checker

WIP support time series multiple output on PAI
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/tensorflow/codegen.go
  python/sqlflow_submitter/tensorflow/input_fn.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker

Fix typos
  scripts/start.sh
Due: copyright_checker

update
  cmd/sqlflowserver/main_test.go
  python/sqlflow_submitter/tensorflow/input_fn.py
Due: copyright_checker

Fix typos and modify expression slightly
  doc/design/argo_workflow_on_sqlflow.md
Due: none

WIP: support to evaluate
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
Due: copyright_checker

Fix Docker image name
  scripts/terminal/sh/sqlflow
Due: none

Add support for more straight forward XGBoost API (#2013)
  doc/model_parameter.md
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/codegen_test.go
  pkg/sql/codegen/xgboost/docgen.go
  pkg/sql/executor_normal_stmt.go
Due: copyright_checker

update
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/parser/lexer.go
Due: copyright_checker

add show train stmt
  go.mod
  go.sum
  java/parse-interface/src/main/java/org/sqlflow/parser/parse/BaseParser.java
  java/parse-interface/src/main/java/org/sqlflow/parser/parse/ParseResult.java
  java/parser-calcite/src/main/java/org/sqlflow/parser/calcite/CalciteParserAdaptor.java
  java/parser-calcite/src/test/java/org/sqlflow/parser/calcite/CalciteParserAdaptorTest.java
  java/parser-hive/src/main/java/org/sqlflow/parser/hive/HiveParserAdaptor.java
  java/parser-hive/src/test/java/org/sqlflow/parser/hive/HiveParserAdaptorTest.java
  java/parser/src/main/java/org/sqlflow/parser/ParserFactory.java
  java/parser/src/main/java/org/sqlflow/parser/ParserGrpcServer.java
  java/parser/src/main/proto/Parser.proto
  java/parser/src/test/java/org/sqlflow/parser/ParserGrpcTest.java
  pkg/ir/ir.go
  pkg/model/model.go
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/parser/external/java_parser.go
  pkg/parser/external/parser.go
  pkg/parser/external/parser_test.go
  pkg/parser/external/test_cases.go
  pkg/parser/external/tidb_parser.go
  pkg/parser/external/tidb_parser_test.go
  pkg/parser/lexer.go
  pkg/parser/sqlflow_parser.go
  pkg/parser/sqlflow_parser_test.go
  pkg/proto/Parser.proto
  pkg/sql/executor_ir.go
  pkg/sql/ir_generator.go
  pkg/sql/submitter.go
Due: copyright_checker, google_style_java

support dist xgb
  pkg/parser/external/parser.go
  pkg/parser/sqlflow_parser.go
  pkg/sql/codegen/pai/cluster_config.go
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/pai/template_xgboost.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_train.go
  pkg/sql/executor_ir.go
  pkg/workflow/workflow.go
  python/sqlflow_submitter/tensorflow/pai_distributed.py
  python/sqlflow_submitter/xgboost/tracker.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker

Summarize diiscussion around model development process
  doc/design/model_zoo_dev.md
Due: none

Update model_zoo_dev.md
  doc/design/model_zoo_dev.md
Due: none

update
  python/sqlflow_submitter/tensorflow/input_fn.py
Due: copyright_checker

update
  cmd/repl/output.go
Due: copyright_checker

Fix typos and modify expression slightly (#2116)
  doc/design/argo_workflow_on_sqlflow.md
Due: none

quickstart in chinese
  doc/usage/figures/py3_kernel.jpg
  doc/usage/figures/quickstart_explain.jpg
  doc/usage/figures/quickstart_predict.jpg
  doc/usage/figures/quickstart_select.jpg
  doc/usage/figures/quickstart_train.jpg
  doc/usage/quickstart.cn.md
Due: none

update jpg
  doc/usage/figures/quickstart_predict.jpg
Due: none

Support training time series models with multiple output time points on PAI (#2115)
  pkg/sql/codegen/tensorflow/codegen.go
  python/sqlflow_submitter/tensorflow/input_fn.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker

Support to evaluate in the parser (#2118)
  cmd/repl/output.go
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/parser/lexer.go
Due: copyright_checker

show train stmt syntax part
  pkg/ir/ir.go
  pkg/model/model.go
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/parser/lexer.go
  pkg/parser/lexer_test.go
  pkg/sql/executor_ir.go
  pkg/sql/ir_generator.go
  pkg/sql/submitter.go
Due: copyright_checker

refine code
  pkg/parser/extended_syntax_parser.y
Due: none

add rabit helper
  python/sqlflow_submitter/xgboost/pai_rabit.py
  python/sqlflow_submitter/xgboost/tracker.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker

change order of parser stmt
  pkg/parser/extended_syntax_parser.y
Due: none

Summarize discussions about the model development process (#2121)
  doc/design/model_zoo_dev.md
Due: none

show train stmt syntax part (#2122)
  pkg/ir/ir.go
  pkg/model/model.go
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/parser/lexer.go
  pkg/parser/lexer_test.go
  pkg/sql/executor_ir.go
  pkg/sql/ir_generator.go
  pkg/sql/submitter.go
Due: copyright_checker

show train stmt parser part
  go.mod
  go.sum
  java/parse-interface/src/main/java/org/sqlflow/parser/parse/BaseParser.java
  java/parse-interface/src/main/java/org/sqlflow/parser/parse/ParseResult.java
  java/parser-calcite/src/main/java/org/sqlflow/parser/calcite/CalciteParserAdaptor.java
  java/parser-calcite/src/test/java/org/sqlflow/parser/calcite/CalciteParserAdaptorTest.java
  java/parser-hive/src/main/java/org/sqlflow/parser/hive/HiveParserAdaptor.java
  java/parser-hive/src/test/java/org/sqlflow/parser/hive/HiveParserAdaptorTest.java
  java/parser/src/main/java/org/sqlflow/parser/ParserFactory.java
  java/parser/src/main/java/org/sqlflow/parser/ParserGrpcServer.java
  java/parser/src/main/proto/Parser.proto
  java/parser/src/test/java/org/sqlflow/parser/ParserGrpcTest.java
  pkg/parser/external/java_parser.go
  pkg/parser/external/parser.go
  pkg/parser/external/parser_test.go
  pkg/parser/external/test_cases.go
  pkg/parser/external/tidb_parser.go
  pkg/parser/external/tidb_parser_test.go
  pkg/parser/sqlflow_parser.go
  pkg/parser/sqlflow_parser_test.go
  pkg/proto/Parser.proto
Due: copyright_checker, google_style_java

fix bug
  python/sqlflow_submitter/xgboost/dataset.py
Due: copyright_checker

Fix a typo
  cmd/repl/output.go
Due: copyright_checker

Fix a typo (#2130)
  cmd/repl/output.go
Due: copyright_checker

update contribute models doc (#2096)
  doc/contribute_models.md
Due: none

fix bug (#2129)
  python/sqlflow_submitter/xgboost/dataset.py
Due: copyright_checker

fix step env
  pkg/workflow/couler/codegen.go
Due: copyright_checker

fix step env (#2131)
  pkg/workflow/couler/codegen.go
Due: copyright_checker

Update model zoo designs
  doc/contribute_models.md
  doc/design/contribute_models_new.md
  doc/design/model_market.md
  doc/design/model_zoo.md
  doc/design/model_zoo_dev.md
Due: none

show train stmt parser refine
  cmd/sqlflowserver/main_test.go
  go.mod
  go.sum
  java/parse-interface/src/main/java/org/sqlflow/parser/parse/BaseParser.java
  java/parse-interface/src/main/java/org/sqlflow/parser/parse/ParseResult.java
  java/parser-calcite/src/main/java/org/sqlflow/parser/calcite/CalciteParserAdaptor.java
  java/parser-calcite/src/test/java/org/sqlflow/parser/calcite/CalciteParserAdaptorTest.java
  java/parser-hive/src/main/java/org/sqlflow/parser/hive/HiveParserAdaptor.java
  java/parser-hive/src/test/java/org/sqlflow/parser/hive/HiveParserAdaptorTest.java
  pkg/parser/external/tidb_parser.go
  pkg/parser/external/tidb_parser_test.go
Due: copyright_checker, google_style_java

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  yamlfmt: any of: \.(yaml|yml)$
