Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

Fix workflow UT
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

update hive.sh
  scripts/test/hive.sh
Due: copyright_checker, shellcheck

Update hive.sh
  scripts/test/hive.sh
Due: copyright_checker, shellcheck

add test case
  pkg/workflow/couler/codegen_test.go
Due: copyright_checker

wip: test remove go test -p 1
  pkg/sql/convergence_test.go
  pkg/sql/executor_ir_test.go
  scripts/test/hive.sh
  scripts/test/maxcompute.sh
  scripts/test/mysql.sh
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

Add glpk solver in docker image for tests (#2615)
  docker/dev/install.sh
  python/sqlflow_submitter/optimize/__init__.py
  python/sqlflow_submitter/optimize/model_generation_test.py
  python/sqlflow_submitter/optimize/optimize.py
Due: copyright_checker, pylint, shellcheck

add default executor for optimizing
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_hive_test.go
  cmd/sqlflowserver/e2e_mysql_test.go
  cmd/sqlflowserver/testing.go
  pkg/codegen/optimize/codegen.go
  pkg/codegen/optimize/template_optimize.go
  pkg/executor/executor.go
  pkg/sql/testdata/optimize_case_sql.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/optimize/__init__.py
  python/sqlflow_submitter/optimize/optimize.py
Due: copyright_checker, pylint

add default executor for optimizing
  cmd/sqlflowserver/e2e_common_cases.go
  pkg/codegen/optimize/codegen.go
  pkg/codegen/optimize/template_optimize.go
  python/sqlflow_submitter/optimize/__init__.py
  python/sqlflow_submitter/optimize/optimize.py
Due: copyright_checker, pylint

link some relative RUN together
  docker/server/Dockerfile
Due: none

refine data type infer code
  python/sqlflow_submitter/optimize/optimize.py
Due: copyright_checker, pylint

test
  cmd/sqlflow/main_test.go
Due: copyright_checker

fix hive sql error
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/sql/testdata/optimize_case_sql.go
Due: copyright_checker

Support prediction, evaluation and explanation of key-value sparse data in XGBoost models (#2611)
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_hive_test.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/codegen/xgboost/codegen.go
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/predict.py
  scripts/test/hive.sh
Due: copyright_checker, pylint, shellcheck

rename feature column methods
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/feature_column.py
Due: copyright_checker, pylint

a start up table inputs/outputs parsing
  go/parser/external/tidb_parser.go
  go/parser/external/tidb_parser_test.go
Due: copyright_checker

Add Python executor for optimize clause (#2621)
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_hive_test.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/testing.go
  go/codegen/optimize/codegen.go
  go/codegen/optimize/template_optimize.go
  go/executor/executor.go
  go/sql/testdata/optimize_case_sql.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/optimize/__init__.py
  python/sqlflow_submitter/optimize/optimize.py
Due: copyright_checker, pylint

rename feature column methods (#2625)
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/feature_column.py
Due: copyright_checker, pylint

compiler design
  doc/design/compiler.md
Due: none

Release model runs on the server (#2604)
  go/cmd/sqlflow/main.go
  go/cmd/sqlflow/model_zoo_client.go
  go/cmd/sqlflow/model_zoo_client_test.go
  go/model/model.go
  go/modelzooserver/input_check.go
  go/modelzooserver/modelzooserver.go
  go/modelzooserver/modelzooserver_test.go
  go/modelzooserver/using_model_test.go
  go/proto/modelzooserver.proto
Due: copyright_checker

fix ut
  go/ir/deps/sql_program_deps_graph_test.go
Due: copyright_checker

skip hive deps test
  go/ir/deps/sql_program_deps_graph_test.go
Due: copyright_checker

Fix couler sql escape problem (#2620)
  go/workflow/couler/codegen_test.go
  go/workflow/couler/template.go
Due: copyright_checker

Rename feature_specs and label_spec to feature_metas and label_meta respectively
  go/codegen/pai/template_xgboost.go
  go/codegen/xgboost/template_explain.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/db_test.py
  python/sqlflow_submitter/maxcompute.py
  python/sqlflow_submitter/tensorflow/input_fn.py
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/predict.py
Due: copyright_checker, pylint

Fix typo
  python/sqlflow_submitter/xgboost/dataset.py
Due: copyright_checker, pylint

minimize step and server image (#2605)
  docker/server/Dockerfile
  docker/step/Dockerfile
Due: none

Rename feature_specs and label_spec to feature_metas and label_meta respectively (#2627)
  go/codegen/pai/template_xgboost.go
  go/codegen/xgboost/template_explain.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/db_test.py
  python/sqlflow_submitter/maxcompute.py
  python/sqlflow_submitter/tensorflow/input_fn.py
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/predict.py
Due: copyright_checker, pylint

fix mysql ut
  scripts/test/mysql.sh
Due: copyright_checker, shellcheck

follow
  go/parser/external/tidb_parser.go
Due: copyright_checker

fix pre-commit failed
  python/runtime/tensorflow/keras_example.py
Due: copyright_checker, pylint

add e2e tests on pai
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/executor/pai.go
Due: copyright_checker

test_ci
  scripts/test/maxcompute.sh
Due: copyright_checker, shellcheck

Add tidb parser deps support (#2617)
  go/ir/deps/sql_program_deps_graph_test.go
  go/parser/external/tidb_parser.go
  go/parser/external/tidb_parser_test.go
Due: copyright_checker

fix e2e maxcompute ut
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

trigger ci
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker
