Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

fix typo
  cmd/sqlflowserver/e2e_mysql_test.go
  pkg/parser/ast/math_program.go
Due: copyright_checker

update
  cmd/sqlflowserver/e2e_mysql_test.go
  pkg/codegen/tensorflow/codegen.go
  pkg/ir/derivation.go
  pkg/ir/feature_column.go
  pkg/ir/ir_generator.go
Due: copyright_checker

update
  cmd/sqlflowserver/e2e_mysql_test.go
Due: copyright_checker

Add e2e test of TF CROSS column (#2530)
  cmd/sqlflowserver/e2e_mysql_test.go
  pkg/codegen/codegen_feature_column.go
  pkg/ir/derivation.go
  pkg/ir/derivation_test.go
  pkg/ir/feature_column.go
  pkg/ir/ir_generator.go
  pkg/ir/ir_generator_test.go
  python/sqlflow_submitter/db.py
Due: copyright_checker, pylint

solve conflict
  cmd/sqlflowserver/e2e_mysql_test.go
Due: copyright_checker

remove useless file
  pkg/sql/template_alps.go
Due: copyright_checker

Fix typo (#2546)
  cmd/sqlflowserver/e2e_mysql_test.go
  pkg/parser/ast/math_program.go
Due: copyright_checker

enable log in sqlflowserver
  cmd/sqlflowserver/main.go
  pkg/log/config.go
Due: copyright_checker

support libsvm column
  pkg/codegen/tensorflow/template_train.go
  pkg/codegen/xgboost/codegen.go
  pkg/ir/derivation.go
  pkg/ir/derivation_test.go
  pkg/ir/feature_column.go
  pkg/ir/mock_ir.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/db_test.py
  python/sqlflow_submitter/tensorflow/input_fn.py
Due: copyright_checker, pylint

Resolve comments
  pkg/executor/alisa.go
  pkg/executor/executor.go
  pkg/workflow/couler/codegen.go
Due: copyright_checker

minimize jupyter image size
  docker/jupyter/Dockerfile
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

modify doc
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

Polish type pkg/parser/ast.Expr (#2537)
  pkg/parser/ast/expr.go
  pkg/parser/ast/expr_test.go
Due: copyright_checker

remove useless file (#2549)
  pkg/sql/template_alps.go
Due: copyright_checker

Minimize sqlflow:jupyter image size (#2552)
  docker/jupyter/Dockerfile
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

update as comment
  doc/sqlflow.org_cn/model_list.md
  doc/sqlflow.org_cn/models/rnn_based_time_series.md
Due: none

update
  pkg/database/testing.go
Due: copyright_checker

use stdout when no log file is given
  cmd/sqlflowserver/main.go
  pkg/log/config.go
Due: copyright_checker

add libsvm format design doc
  doc/design/libsvm_format_column.md
Due: none

Rename parameters in the ir structs
  pkg/ir/ir.go
Due: copyright_checker

Add test for sqlfs read write maxcompute (#2545)
  go.mod
  go.sum
  pkg/database/testing.go
  pkg/sqlfs/table.go
  pkg/sqlfs/writer_test.go
  scripts/test/maxcompute.sh
Due: copyright_checker, shellcheck

Fix missed renaming
  pkg/ir/ir.go
Due: copyright_checker

change jupyter startup cmd
  doc/run/k8s/install-sqlflow.yaml
Due: none

Rename parameters in the ir structs (#2555)
  pkg/ir/ir.go
Due: copyright_checker

push image to aliyun registry
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

Add RNNBasedTimeSeriesModel introduction doc (#2524)
  doc/sqlflow.org_cn/model_list.md
  doc/sqlflow.org_cn/models/rnn_based_time_series.md
Due: none

update
  doc/design/libsvm_format_column.md
Due: none

change Tensor -> tensor
  doc/design/libsvm_format_column.md
Due: none

polish code
  pkg/executor/alisa.go
Due: copyright_checker

wip: save model to maxcompute for pai job
  cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  pkg/executor/alisa.go
  pkg/executor/pai.go
  pkg/executor/pai_test.go
Due: copyright_checker

update
  pkg/ir/derivation.go
  pkg/ir/derivation_test.go
  pkg/ir/feature_column.go
  pkg/workflow/couler/codegen_test.go
  python/sqlflow_submitter/tensorflow/input_fn.py
Due: copyright_checker, pylint

enhance IndicatorColumn type
  pkg/ir/feature_column.go
Due: copyright_checker

add jupyterhub in jupyter image
  docker/jupyter/install-jupyter.sh
  docker/jupyterhub/jupyterhub_config.py
Due: copyright_checker, pylint, shellcheck

Enable log in sqlflowserver (#2550)
  pkg/log/config.go
Due: copyright_checker

set jupyterhub version
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

follow comments
  pkg/ir/feature_column.go
Due: copyright_checker

done
  cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  pkg/executor/pai.go
Due: copyright_checker

fix deleting previous model dir on oss
  pkg/executor/pai.go
Due: copyright_checker

polish code (#2561)
  pkg/executor/alisa.go
Due: copyright_checker

Change jupyter image start command (#2558)
  doc/run/k8s/install-sqlflow.yaml
  docker/jupyter/install-jupyter.sh
  docker/jupyterhub/jupyterhub_config.py
Due: copyright_checker, pylint, shellcheck

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
