Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Add gracefully stop time for step to collect logs (#2877)
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker, pylint

add local xgboost explain
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/xgboost.go
  python/runtime/local/__init__.py
  python/runtime/local/submitter.py
  python/runtime/local/xgboost_submitter/explain.py
  python/runtime/local/xgboost_submitter/local_submitter_test.py
Due: copyright_checker, pylint

enlarge timeout
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

update xgb explain evaluate
  python/runtime/pai/entry.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/xgboost_submitter/evaluate.py
  python/runtime/pai/xgboost_submitter/explain.py
  python/runtime/pai/xgboost_submitter/predict.py
  python/runtime/pai/xgboost_submitter/train.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/explain.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

fix lint
  python/runtime/pai/xgboost_submitter/evaluate.py
  python/runtime/pai/xgboost_submitter/explain.py
  python/runtime/pai/xgboost_submitter/predict.py
  python/runtime/xgboost/dataset.py
Due: copyright_checker, pylint

fix lint
  python/runtime/pai/xgboost_submitter/explain.py
Due: copyright_checker, pylint

Add local xgboost explain (#2879)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/xgboost.go
  python/runtime/local/__init__.py
  python/runtime/local/submitter.py
  python/runtime/local/xgboost_submitter/explain.py
  python/runtime/local/xgboost_submitter/local_submitter_test.py
  scripts/test/workflow.sh
Due: copyright_checker, pylint, shellcheck

Update runtime pai explain evaluate (#2878)
  python/runtime/explainer.py
  python/runtime/pai/entry.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/tensorflow_submitter/evaluate.py
  python/runtime/pai/tensorflow_submitter/explain.py
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/pai/xgboost_submitter/evaluate.py
  python/runtime/pai/xgboost_submitter/explain.py
  python/runtime/pai/xgboost_submitter/predict.py
  python/runtime/pai/xgboost_submitter/train.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/evaluate.py
Due: copyright_checker, pylint

SQLFlow cloud playground support GitHub oauth
  doc/run/k8s/install-sqlflow-multi-users.yaml
  docker/jupyterhub/Dockerfile
  docker/jupyterhub/jupyterhub_config.py
Due: copyright_checker, pylint

Modify config
  doc/run/k8s/install-sqlflow-multi-users.yaml
  docker/jupyterhub/jupyterhub_config.py
Due: copyright_checker, pylint

wip Finish runtime pai
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

SQLFlow cloud playground support GitHub OAuth (#2881)
  doc/run/k8s/install-sqlflow-multi-users.yaml
  docker/jupyterhub/Dockerfile
  docker/jupyterhub/jupyterhub_config.py
Due: copyright_checker, pylint

finish runtime.pai test cases
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

Finish runtime pai (#2882)
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

unify runtime local/pai API to generate steps
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_step_evaluate.go
  go/codegen/experimental/codegen_step_explain.go
  go/codegen/experimental/codegen_step_predict.go
  go/codegen/experimental/codegen_step_train.go
  go/codegen/experimental/semantic_xgboost.go
  go/codegen/experimental/xgboost.go
  python/runtime/local/submitter.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/xgboost_submitter/explain.py
Due: copyright_checker, pylint

Fix step log bug
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker, pylint

fix ut
  go/workflow/couler/codegen_test.go
Due: copyright_checker

fix ut
  go/cmd/sqlflowserver/e2e_workflow_test.go
Due: copyright_checker

refine optimization_guide.md
  doc/tutorial/optimization_guide.md
Due: none

trigger ci
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_couler.go
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker, pylint

Polish cloud playground
  doc/run/k8s/install-sqlflow-multi-users.yaml
  docker/dev/install.sh
  docker/jupyter/Dockerfile
  docker/jupyterhub/Dockerfile
Due: copyright_checker, shellcheck

Polish code
  docker/jupyterhub/Dockerfile
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker, pylint

Fix step log bug (#2885)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_couler.go
  go/workflow/couler/codegen_test.go
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker, pylint

update
  python/runtime/local/submitter_test.py
Due: copyright_checker, pylint

Polish playground on cloud (#2887)
  doc/run/k8s/install-sqlflow-multi-users.yaml
  docker/dev/install.sh
  docker/jupyter/Dockerfile
  docker/jupyterhub/Dockerfile
Due: copyright_checker, shellcheck

refine optimization_guide.md (#2886)
  doc/tutorial/optimization_guide.md
Due: none

Unify runtime local/pai API to generate steps (#2884)
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_step_evaluate.go
  go/codegen/experimental/codegen_step_explain.go
  go/codegen/experimental/codegen_step_predict.go
  go/codegen/experimental/codegen_step_train.go
  go/codegen/experimental/semantic_xgboost.go
  go/codegen/experimental/xgboost.go
  python/runtime/local/submitter.py
  python/runtime/local/submitter_test.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/xgboost_submitter/explain.py
Due: copyright_checker, pylint

add refactored workflow codegen e2e pai and local
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_normal_stmt.go
  python/runtime/pai/get_pai_tf_cmd.py
  python/runtime/pai/xgboost_submitter/train.py
Due: copyright_checker, pylint

Expose optimize tutorial
  docker/jupyter/Dockerfile
Due: none

support null values for xgboost
  go/cmd/sqlflowserver/e2e_mysql_test.go
  python/runtime/db.py
  python/runtime/xgboost/dataset.py
Due: copyright_checker, pylint

fix pai submitter test
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

Expose optimize tutorial (#2893)
  docker/jupyter/Dockerfile
Due: none

Modify quick start doc
  doc/quick_start.md
Due: none

fix ODPS
  python/runtime/dbapi/maxcompute.py
  python/runtime/maxcompute.py
Due: copyright_checker, pylint

fix ODPS (#2897)
  python/runtime/dbapi/maxcompute.py
  python/runtime/maxcompute.py
Due: copyright_checker, pylint

update
  python/runtime/pai/xgboost_submitter/train.py
Due: copyright_checker, pylint

update
  go/cmd/sqlflowserver/e2e_mysql_test.go
  python/runtime/db.py
Due: copyright_checker, pylint

Modify quick start doc (#2896)
  doc/quick_start.md
Due: none

Fix numeric column type bug
  go/codegen/codegen_feature_column.go
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
