Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, yamlfmt

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

yamlfmt:
  name: yamlfmt
  entry: bash ./scripts/pre-commit/yamlfmt.sh
  language: system

specific worker from sql; run distribute ok
  doc/model_parameter.md
  pkg/sql/codegen/pai/cluster_config.go
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_train.go
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/pai_rabit.py
  python/sqlflow_submitter/xgboost/tracker.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker

pipe step error message
  cmd/sqlflowserver/main_test.go
  pkg/step/step.go
  pkg/tablewriter/ascii.go
  pkg/tablewriter/protobuf.go
  pkg/workflow/argo/fetch.go
  pkg/workflow/response/response.go
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker

Update quickstart.cn.md
  doc/usage/quickstart.cn.md
Due: none

Remove unnecessary }
  doc/usage/quickstart.cn.md
Due: none

Use titles instead of bullets
  doc/usage/quickstart.cn.md
Due: none

Shrink figure py3_kernel.png
  doc/usage/figures/py3_kernel.jpg
  doc/usage/figures/py3_kernel.png
  doc/usage/quickstart.cn.md
Due: none

change go sqlparser dependency
  go.mod
  java/parser-hive/src/main/java/org/sqlflow/parser/hive/HiveParserAdaptor.java
  pkg/parser/external/tidb_parser.go
Due: copyright_checker, google_style_java

rename folder
  doc/sqlflow.org_cn/figures/py3_kernel.png
  doc/sqlflow.org_cn/figures/quickstart_explain.jpg
  doc/sqlflow.org_cn/figures/quickstart_predict.jpg
  doc/sqlflow.org_cn/figures/quickstart_select.jpg
  doc/sqlflow.org_cn/figures/quickstart_train.jpg
  doc/sqlflow.org_cn/quickstart.cn.md
Due: none

show train stmt parser part (#2127)
  cmd/sqlflowserver/main_test.go
  go.mod
  java/parse-interface/src/main/java/org/sqlflow/parser/parse/BaseParser.java
  java/parse-interface/src/main/java/org/sqlflow/parser/parse/ParseResult.java
  java/parser-calcite/src/main/java/org/sqlflow/parser/calcite/CalciteParserAdaptor.java
  java/parser-calcite/src/test/java/org/sqlflow/parser/calcite/CalciteParserAdaptorTest.java
  java/parser-hive/src/main/java/org/sqlflow/parser/hive/HiveParserAdaptor.java
  java/parser-hive/src/test/java/org/sqlflow/parser/hive/HiveParserAdaptorTest.java
  java/parser/src/main/java/org/sqlflow/parser/ParserFactory.java
  java/parser/src/main/java/org/sqlflow/parser/ParserGrpcServer.java
  java/parser/src/main/proto/Parser.proto
  java/parser/src/test/java/org/sqlflow/parser/ParserGrpcTest.java
  pkg/parser/external/java_parser.go
  pkg/parser/external/parser.go
  pkg/parser/external/parser_test.go
  pkg/parser/external/test_cases.go
  pkg/parser/external/tidb_parser.go
  pkg/parser/external/tidb_parser_test.go
  pkg/parser/sqlflow_parser.go
  pkg/parser/sqlflow_parser_test.go
  pkg/proto/Parser.proto
Due: copyright_checker, google_style_java

Add quickstart in Chinese (#2124)
  doc/sqlflow.org_cn/figures/py3_kernel.png
  doc/sqlflow.org_cn/figures/quickstart_explain.jpg
  doc/sqlflow.org_cn/figures/quickstart_predict.jpg
  doc/sqlflow.org_cn/figures/quickstart_select.jpg
  doc/sqlflow.org_cn/figures/quickstart_train.jpg
  doc/sqlflow.org_cn/quickstart.cn.md
Due: none

add tutorial tutorial for chinese doc
  doc/sqlflow.org_cn/index.md
Due: none

save model
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/pai/template_xgboost.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_train.go
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker

add model zoo server figure
  doc/design/figures/model_zoo_server.png
Due: none

clean debug code
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_train.go
  pkg/sql/executor_ir.go
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/pai_rabit.py
  python/sqlflow_submitter/xgboost/tracker.py
Due: copyright_checker

remove debug info
  go.sum
  pkg/parser/external/parser.go
  pkg/parser/sqlflow_parser.go
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker

Fix randomly sorted xgboost objectives
  cmd/repl/prompt.go
  go.sum
Due: copyright_checker

add tutorial tutorial for chinese doc (#2133)
  doc/sqlflow.org_cn/index.md
Due: none

to evaluate add using clause
  go.sum
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
Due: copyright_checker

fix ci
  pkg/sql/codegen/xgboost/codegen_test.go
  python/sqlflow_submitter/xgboost/pai_rabit.py
Due: copyright_checker

remove num_workers from train.*
  pkg/sql/codegen/xgboost/codegen.go
Due: copyright_checker

update
  cmd/sqlflowserver/main_test.go
  pkg/ir/ir.go
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/sql/codegen/tensorflow/codegen.go
  pkg/sql/executor_ir.go
  pkg/sql/ir_generator.go
  pkg/sql/submitter.go
Due: copyright_checker

add files
  pkg/sql/codegen/tensorflow/template_evaluate.go
  python/sqlflow_submitter/tensorflow/evaluate.py
  python/sqlflow_submitter/tensorflow/evaluate_example.py
Due: copyright_checker

update
  cmd/sqlflowserver/main_test.go
  pkg/workflow/argo/fetch.go
  pkg/workflow/response/response.go
Due: copyright_checker

update
  pkg/workflow/response/response.go
Due: copyright_checker

fix ut
  pkg/workflow/couler/codegen_test.go
Due: copyright_checker

fix ut
  go.sum
  pkg/workflow/couler/codegen_test.go
Due: copyright_checker

fix #2142 #2143
  python/sqlflow_submitter/tensorflow/input_fn.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker

add e2e test
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

Enable cache
  python/sqlflow_submitter/tensorflow/input_fn.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker

update
  python/sqlflow_submitter/tensorflow/input_fn.py
Due: copyright_checker

follow comments
  doc/model_parameter.md
  pkg/sql/codegen/xgboost/codegen.go
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/pai_rabit.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker

Fix randomly sorted xgboost objectives (#2140)
  cmd/repl/prompt.go
  go.sum
Due: copyright_checker

fix typo
  python/sqlflow_submitter/tensorflow/pai_distributed.py
Due: copyright_checker

Add a design doc for decoupling the client code out of SQLFlow Core
  doc/design/cli.md
Due: none

Revised as comment
  doc/design/cli.md
Due: none

Revised as comments
  doc/design/cli.md
Due: none

Using xgb.RabitTracker to remove tracker.py
  python/sqlflow_submitter/xgboost/pai_rabit.py
  python/sqlflow_submitter/xgboost/tracker.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  yamlfmt: any of: \.(yaml|yml)$
