Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Adapt paiio with DB-API (#2809)
  python/runtime/dbapi/__init__.py
  python/runtime/dbapi/paiio.py
Due: copyright_checker, pylint

DB-API support Python2 so can run on PAI
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/hive.py
  python/runtime/dbapi/hive_test.py
  python/runtime/dbapi/maxcompute.py
  python/runtime/dbapi/maxcompute_test.py
  python/runtime/dbapi/mysql.py
  python/runtime/dbapi/mysql_test.py
  python/runtime/dbapi/paiio.py
Due: copyright_checker, pylint

disable actions maxcompute test (#2814)
  .github/workflows/main.yml
Due: none

polish db-api to support Python2 so can run on PAI
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/hive.py
  python/runtime/dbapi/hive_test.py
  python/runtime/dbapi/maxcompute.py
  python/runtime/dbapi/maxcompute_test.py
  python/runtime/dbapi/mysql.py
  python/runtime/dbapi/mysql_test.py
  python/runtime/dbapi/paiio.py
Due: copyright_checker, pylint

add save_to_oss/load_from_oss
  python/runtime/model/__init__.py
  python/runtime/model/model.py
  python/runtime/model/model_test.py
  python/runtime/model/tar.py
  python/runtime/oss.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

switch to github actions
  .travis.yml
  README.md
Due: none

Add GCN tutorial
  doc/tutorial/cora-gcn.md
Due: none

change pickle protocol
  python/runtime/model/model.py
Due: copyright_checker, pylint

make constraint optional (#2812)
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_hive_test.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/ir/ir_generator.go
  go/parser/extended_syntax_parser.y
  go/parser/extended_syntax_parser_test.go
Due: copyright_checker

add pyomo baron into step docker image
  docker/step/Dockerfile
Due: none

add more explanations on oss_model_dir doc
  python/runtime/model/model.py
  python/runtime/oss.py
Due: copyright_checker, pylint

fix typo
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/xgboost.go
Due: copyright_checker

fix typo (#2820)
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/xgboost.go
Due: copyright_checker

enable unittest for hive db-api
  scripts/test/hive.sh
Due: copyright_checker, shellcheck

Install BARON solver in Docker image (#2811)
  docker/dev/install.sh
  docker/step/Dockerfile
  python/runtime/optimize/model_generation_test.py
Due: copyright_checker, pylint, shellcheck

fix ut
  python/runtime/model/model.py
  python/runtime/model/tar.py
Due: copyright_checker, pylint

Polish DB-API to support Python2 so can run on PAI (#2815)
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/hive.py
  python/runtime/dbapi/hive_test.py
  python/runtime/dbapi/maxcompute.py
  python/runtime/dbapi/maxcompute_test.py
  python/runtime/dbapi/mysql.py
  python/runtime/dbapi/mysql_test.py
  python/runtime/dbapi/paiio.py
  scripts/test/hive.sh
Due: copyright_checker, pylint, shellcheck

Use unified DB-API in codebase.
  python/runtime/dbapi/hive.py
  python/runtime/dbapi/mysql.py
Due: copyright_checker, pylint

Use unified DB-API in codebase.
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/db_writer/hive.py
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/paiio.py
  python/runtime/import_model.py
  python/runtime/model/db.py
  python/runtime/optimize/local.py
  python/runtime/pai/kmeans.py
  python/runtime/pai/random_forest.py
  python/runtime/pai/submitter.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/explain.py
  python/runtime/xgboost/predict.py
  scripts/test/hive.sh
Due: copyright_checker, pylint, shellcheck

polish code
  python/runtime/db_test.py
Due: copyright_checker, pylint

remove debug info
  python/runtime/dbapi/paiio.py
  python/runtime/tensorflow/explain.py
Due: copyright_checker, pylint

fix ut
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

switch to github actions (#2818)
  .travis.yml
  README.md
Due: none

Add experimental workflow end2end test (#2813)
  .github/workflows/main.yml
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/parse_to_ir.go
  go/codegen/experimental/xgboost.go
  go/workflow/workflow.go
Due: copyright_checker

Add Model.save_to_oss and Model.load_from_oss (#2817)
  python/runtime/model/__init__.py
  python/runtime/model/model.py
  python/runtime/model/model_test.py
  python/runtime/model/tar.py
  python/runtime/oss.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

Update GCN tutorial
  doc/tutorial/cora-gcn.md
Due: none

Update
  doc/tutorial/cora-gcn.md
Due: none

save trained xgboost model
  go/codegen/experimental/xgboost.go
  python/runtime/feature/column_test.py
  python/runtime/feature/compile.py
  python/runtime/feature/derivation.py
  python/runtime/feature/derivation_test.py
  python/runtime/feature/field_desc.py
  python/runtime/local/xgboost/save.py
  python/runtime/local/xgboost/train.py
  python/runtime/local/xgboost/train_test.py
  python/runtime/model/model.py
  python/runtime/xgboost/model_save_test.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

fix flake8 check
  python/runtime/local/xgboost/train.py
  python/runtime/local/xgboost/train_test.py
  python/runtime/model/metadata.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

fix relative importing cause error
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/alps/template_train.go
  go/codegen/pai/template_tf.go
  go/codegen/pai/template_xgboost.go
  go/codegen/xgboost/template_train.go
  python/runtime/alisa/submitter.py
  python/runtime/explainer.py
  python/runtime/model/model.py
  python/runtime/model/model_test.py
  python/runtime/model/oss.py
  python/runtime/optimize/optflow.py
  python/runtime/pai/submitter.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/pai/tensorflow/train_keras.py
  python/runtime/pai/xgboost/evaluate.py
  python/runtime/pai/xgboost/explain.py
  python/runtime/pai/xgboost/predict.py
  python/runtime/pai/xgboost/train.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/import_model.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

clean up
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
Due: copyright_checker

fix ut
  python/runtime/xgboost/model_save_test.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

Fix relative importing cause error (#2823)
  go/codegen/alps/template_train.go
  go/codegen/pai/template_tf.go
  go/codegen/pai/template_xgboost.go
  go/codegen/xgboost/template_train.go
  python/runtime/alisa/submitter.py
  python/runtime/explainer.py
  python/runtime/model/model.py
  python/runtime/model/model_test.py
  python/runtime/model/oss.py
  python/runtime/optimize/optflow.py
  python/runtime/pai/submitter.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/pai/tensorflow/train_keras.py
  python/runtime/pai/xgboost/evaluate.py
  python/runtime/pai/xgboost/explain.py
  python/runtime/pai/xgboost/predict.py
  python/runtime/pai/xgboost/train.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/import_model.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

generate workflow step for normal statement run
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_normal_stmt.go
  python/runtime/dbapi/connection.py
Due: copyright_checker, pylint

clean up
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_normal_stmt.go
Due: copyright_checker

Use unified DB-API in codebase (#2821)
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/db_writer/hive.py
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/paiio.py
  python/runtime/model/db.py
  python/runtime/optimize/local.py
  python/runtime/pai/kmeans.py
  python/runtime/pai/random_forest.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/import_model.py
  python/runtime/tensorflow/predict.py
  python/runtime/testing.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/explain.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

fix ut
  go/codegen/experimental/xgboost.go
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
