Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

test self-hosted
  .github/workflows/main.yml
Due: none

do not auto update homebrew
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

update
  python/runtime/optimize/optimize.py
Due: copyright_checker, pylint

disable brew auto-update
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

correct role name
  go/codegen/pai/codegen_test.go
  go/codegen/pai/tensorflow.go
  go/codegen/pai/tensorflow_test.go
Due: copyright_checker

ref workflow design
  doc/design/codegen.md
Due: none

update
  doc/design/codegen.md
Due: none

test self host machine
  .github/workflows/main.yml
Due: none

Fix deploy cli for osx (#2644)
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

add submitter.py for pai runtime
  python/runtime/db.py
  python/sqlflow_submitter/pai/submitter.py
Due: copyright_checker, pylint

refine code
  python/sqlflow_submitter/pai/cluster_conf.py
  python/sqlflow_submitter/pai/entry/__init__.py
  python/sqlflow_submitter/pai/entry/tensorflow.py
  python/sqlflow_submitter/pai/submitter.py
Due: copyright_checker, pylint

revert db.py
  python/runtime/db.py
  python/sqlflow_submitter/pai/submitter.py
Due: copyright_checker, pylint

follow comments
  go/codegen/optimize/template_optimize.go
  python/runtime/db.py
  python/runtime/explainer.py
  python/runtime/optimize/optflow_submit.py
  python/runtime/optimize/optimize.py
  python/runtime/optimize/runner.py
  python/runtime/pai/model.py
  python/runtime/pai/oss.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

Fix typo
  docker/step/README.md
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

add test case and doc
  python/runtime/pai/cluster_conf.py
  python/runtime/pai/cluster_conf_test.py
  python/runtime/pai/entry/__init__.py
  python/runtime/pai/entry/tensorflow.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/tensorflow/pai_distributed.py
Due: copyright_checker, pylint

revert pai_distributed.py
  python/runtime/tensorflow/pai_distributed.py
Due: copyright_checker, pylint

add a comment
  go/codegen/pai/tensorflow.go
Due: copyright_checker

polish code
  python/runtime/db.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

fix ut
  python/runtime/pai/entry/tensorflow.py
  python/runtime/tensorflow/pai_distributed.py
Due: copyright_checker, pylint

polish code (#2650)
  python/runtime/db.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

Fix typo (#2648)
  docker/step/README.md
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

Correct role name (#2647)
  go/codegen/pai/codegen_test.go
  go/codegen/pai/tensorflow.go
  go/codegen/pai/tensorflow_test.go
Due: copyright_checker

test
  .github/workflows/main.yml
  scripts/test/mysql.sh
Due: copyright_checker, shellcheck

add file
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

add file
  .github/workflows/main.yml
Due: none

update
  .github/workflows/main.yml
  docker/dev/install.sh
  docker/mysql/Dockerfile
Due: copyright_checker, shellcheck

Refine OptFlow submission code to run on Kubemaker (#2643)
  docker/ci/install-pips.bash
  go/codegen/optimize/codegen.go
  go/codegen/optimize/template_optimize.go
  go/executor/executor.go
  go/executor/pai.go
  python/runtime/explainer.py
  python/runtime/optimize/__init__.py
  python/runtime/optimize/model_generation_test.py
  python/runtime/optimize/optflow_submit.py
  python/runtime/optimize/optimize.py
  python/runtime/optimize/runner.py
  python/runtime/pai/model.py
  python/runtime/pai/oss.py
Due: copyright_checker, pylint, shellcheck

update
  .github/workflows/main.yml
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

update
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

Fix maxcompute ci job (#2637)
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_maxcompute_test.go
  go/codegen/tensorflow/codegen.go
  go/codegen/tensorflow/template_pred.go
  go/codegen/xgboost/codegen.go
  go/codegen/xgboost/template_pred.go
  go/executor/pre_exec.go
  python/runtime/db.py
  python/runtime/maxcompute.py
  python/runtime/tensorflow/estimator_example.py
  python/runtime/tensorflow/keras_example.py
  python/runtime/tensorflow/keras_example_reg.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/predict.py
  scripts/test/maxcompute.sh
Due: copyright_checker, pylint, shellcheck

test
  .github/workflows/main.yml
  scripts/test/hive.sh
  scripts/test/maxcompute.sh
  scripts/test/prepare.sh
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

refine db_generator code
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/maxcompute.py
  python/runtime/optimize/optimize.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/dataset.py
  python/runtime/xgboost/explain.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

update
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

Add submitter for PAI platform in sqlflow.runtime (#2631)
  python/runtime/pai/cluster_conf.py
  python/runtime/pai/cluster_conf_test.py
  python/runtime/pai/entry/__init__.py
  python/runtime/pai/entry/tensorflow.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
  python/runtime/tensorflow/pai_distributed.py
Due: copyright_checker, pylint

test
  .github/workflows/main.yml
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/testing.go
  go/sql/testdata/xgboost_sparse_data_case_sql.go
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
