Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

update
  python/runtime/local/xgboost_submitter/train_test.py
Due: copyright_checker, pylint

Add xgboost predict method (#2835)
  python/runtime/db.py
  python/runtime/feature/field_desc.py
  python/runtime/local/xgboost/__init__.py
  python/runtime/local/xgboost/predict.py
  python/runtime/local/xgboost/train_predict_test.py
  python/runtime/local/xgboost/train_test.py
  python/runtime/model/model.py
Due: copyright_checker, pylint

add xgboost evaluation local code
  python/runtime/local/xgboost/__init__.py
  python/runtime/local/xgboost/evaluate.py
  python/runtime/local/xgboost/local_test.py
  python/runtime/local/xgboost/predict.py
Due: copyright_checker, pylint

add codegen predict
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_normal_stmt.go
  go/codegen/experimental/xgboost.go
  python/runtime/tensorflow/import_model.py
Due: copyright_checker, pylint

add temp_file.py (#2838)
  go/codegen/experimental/xgboost.go
  python/runtime/local/xgboost/train.py
  python/runtime/model/model.py
  python/runtime/model/model_test.py
  python/runtime/model/tar_test.py
  python/runtime/temp_file.py
Due: copyright_checker, pylint

replace temp_file apis
  go/codegen/experimental/xgboost.go
  python/runtime/local/xgboost/predict.py
  python/runtime/local/xgboost/train_predict_test.py
Due: copyright_checker, pylint

replace temp_file apis
  python/runtime/local/xgboost/evaluate.py
  python/runtime/local/xgboost/local_test.py
  python/runtime/local/xgboost/predict.py
Due: copyright_checker, pylint

polish
  python/runtime/local/xgboost/local_test.py
Due: copyright_checker, pylint

update
  python/runtime/local/xgboost/predict.py
Due: copyright_checker, pylint

custom notebook title
  docker/jupyter/js/custom.js
Due: jsbeautifier

fix couler generate evaluation step
  go/workflow/couler/codegen.go
Due: copyright_checker

fix couler evaluate step
  go/cmd/sqlflowserver/e2e_workflow_test.go
Due: copyright_checker

fix test
  go/cmd/sqlflowserver/e2e_workflow_test.go
Due: copyright_checker

update
  go/codegen/experimental/xgboost.go
Due: copyright_checker

Cleanup submitter code
  python/runtime/alisa/submitter.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

update
  python/runtime/local/xgboost_submitter/train_predict_test.py
Due: copyright_checker, pylint

Fix couler evaluate step (#2848)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/workflow/couler/codegen.go
Due: copyright_checker

custom notebook title (#2846)
  docker/jupyter/js/custom.js
Due: jsbeautifier

Unify local and PAI submitter (#2841)
  docker/step/Dockerfile
  go.mod
  go.sum
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/xgboost.go
  python/runtime/local/__init__.py
  python/runtime/local/submitter.py
  python/runtime/local/submitter_test.py
  python/runtime/local/xgboost_submitter/__init__.py
  python/runtime/local/xgboost_submitter/predict.py
  python/runtime/local/xgboost_submitter/save.py
  python/runtime/local/xgboost_submitter/train.py
  python/runtime/local/xgboost_submitter/train_predict_test.py
  python/runtime/pai/submitter.py
  python/runtime/xgboost/model_save_test.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

fix titanic maxcompute import with odps2 not enabled (#2843)
  doc/datasets/popularize_titanic_maxcompute.sql
Due: none

update
  go/codegen/experimental/xgboost.go
  python/runtime/local/__init__.py
  python/runtime/local/submitter.py
  python/runtime/local/xgboost_submitter/local_submitter_test.py
  python/runtime/local/xgboost_submitter/predict.py
Due: copyright_checker, pylint

Add workflow codegen for XGBoost predict (#2845)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_normal_stmt.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/xgboost.go
  python/runtime/local/__init__.py
  python/runtime/local/submitter.py
  python/runtime/local/xgboost_submitter/local_submitter_test.py
  python/runtime/local/xgboost_submitter/predict.py
  python/runtime/tensorflow/import_model.py
Due: copyright_checker, pylint

Cleanup submitter code (#2847)
  python/runtime/alisa/submitter.py
  python/runtime/pai/submitter.py
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

fix paiio read bug
  python/runtime/pai/submitter_test.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

Point quick start to our cloud playground
  doc/quick_start.md
Due: none

Fix paiio read full table bug (#2849)
  python/runtime/pai/submitter_test.py
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

add metadata save doc
  doc/design/save_model_metadata.md
Due: none

fix explain into when shap values is not list
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

update
  doc/design/save_model_metadata.md
Due: none

update
  doc/datasets/popularize_titanic.sql
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/xgboost/codegen_explain.go
  go/codegen/xgboost/template_explain.go
  go/executor/executor.go
  go/executor/pai.go
  python/runtime/xgboost/explain.py
Due: copyright_checker, pylint

add e2e test
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
Due: copyright_checker

update
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  python/runtime/xgboost/dataset.py
Due: copyright_checker, pylint

update
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
Due: copyright_checker

clean
  doc/datasets/popularize_titanic.sql
  python/runtime/xgboost/dataset.py
Due: copyright_checker, pylint

Add xgboost evaluation local code (#2844)
  python/runtime/local/xgboost_submitter/evaluate.py
  python/runtime/local/xgboost_submitter/local_submitter_test.py
  python/runtime/local/xgboost_submitter/predict.py
Due: copyright_checker, pylint

rename md file
  doc/design/get_model_metadata_in_prediction_codegen.md
Due: none

judge XGBoost model
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_normal_stmt.go
  go/codegen/experimental/codegen_step.go
  go/codegen/pai/codegen.go
  go/codegen/pai/codegen_test.go
  go/executor/executor.go
  go/executor/pai.go
  go/model/model.go
  python/runtime/model/db.py
  python/runtime/model/model.py
Due: copyright_checker, pylint

Add metadata save design doc (#2852)
  doc/design/get_model_metadata_in_prediction_codegen.md
Due: none
