Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: local
  hooks:
  - id: yamlfmt
    name: yamlfmt
    entry: bash ./scripts/pre-commit/yamlfmt.sh
    language: system
    files: \.(yaml|yml)$
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.20
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  sha: master
  hooks:
  - id: black
    args: [--line-length=79]
    # - repo: https://github.com/pre-commit/pre-commit-hooks
    #   rev: v2.2.3
    #   hooks:
    #   - id: flake8
    # - repo: git://github.com/skorokithakis/pre-commit-mypy
    #   rev: v0.701
    #   hooks:
    #   - id: mypy
    # - repo: https://github.com/asottile/seed-isort-config
    #   rev: v1.9.1
    #   hooks:
    #   - id: seed-isort-config

Use password with push to wiki repo
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker

Add user sqlflow-bot
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker

Chinese doc: add credit card fraud prediction example (#2223)
  doc/sqlflow.org_cn/credit_card_fraud.cn.md
  doc/sqlflow.org_cn/figures/fraud_xgb_decision_figure.png
  doc/sqlflow.org_cn/figures/fraud_xgb_explain_bar.png
  doc/sqlflow.org_cn/figures/fraud_xgb_explain_scatter.png
  doc/sqlflow.org_cn/index.md
Due: none

Update email
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker

Remove .git
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker

diagnosis missing model params (#2205)
  cmd/sqlflowserver/main_test.go
  pkg/sql/submitter.go
  python/sqlflow_submitter/tensorflow/diag.py
  python/sqlflow_submitter/tensorflow/train_estimator.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker

Deploy sqlflow cli to S3
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker

No export AWS crediential
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker

export AWS crediential in .travis.yml
  .travis.yml
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker, yamlfmt

Explicit sk
  .travis.yml
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker, yamlfmt

Explicit sk
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker

release model definitions and list them
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

clean up legacy model zoo code
  pkg/model/model.go
Due: copyright_checker

fix run normal query statements have comments
  pkg/sql/executor_normal_stmt.go
  pkg/sql/executor_normal_stmt_test.go
Due: copyright_checker

Update AWS key
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker

Print more length
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker

Print env vars in other jobs
  .travis.yml
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker, yamlfmt

Print env var length from .travis.yml
  .travis.yml
Due: yamlfmt

Print env var in Deploy stage
  .travis.yml
Due: yamlfmt

Print env var length
  .travis.yml
Due: yamlfmt

Print more env var lengths
  .travis.yml
Due: yamlfmt

Use Travsi encrypted environment variable
  .travis.yml
  scripts/travis/deploy_cli_macos.sh
Due: copyright_checker, yamlfmt

Use travis settings to pass in aws key
  .travis.yml
Due: yamlfmt

Add an empty env:
  .travis.yml
Due: yamlfmt

Correct Travis YAML keys
  .travis.yml
Due: yamlfmt

Rename deploy.sh into deploy_docker.sh
  .travis.yml
  scripts/travis/deploy_docker.sh
Due: copyright_checker, yamlfmt

Reanem deploy_cli_macos.sh into deploy_macos.sh
  scripts/travis/deploy_macos.sh
Due: copyright_checker

Move macOS deploy to deploy stage
  .travis.yml
  scripts/travis/deploy_docker.sh
  scripts/travis/deploy_macos.sh
Due: copyright_checker, yamlfmt

Update .travis.yml comment
  .travis.yml
Due: yamlfmt

Fix
  .travis.yml
Due: yamlfmt

Build client according to travis VM type
  scripts/travis/deploy_macos.sh
Due: copyright_checker

Deploy client for all OS
  .travis.yml
  scripts/travis/deploy_client.sh
  scripts/travis/deploy_server.sh
Due: copyright_checker, yamlfmt

fix run normal query statements have comments (#2234)
  pkg/sql/executor_normal_stmt.go
  pkg/sql/executor_normal_stmt_test.go
Due: copyright_checker

Add a Travis CI job to build and release the sqlflow client (#2236)
  .travis.yml
  scripts/travis/deploy_docker.sh
  scripts/travis/deploy_macos.sh
Due: copyright_checker, yamlfmt

fix ci
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
Due: copyright_checker

Update
  scripts/travis/deploy_client.sh
Due: copyright_checker

Deploy SQLFlow client for all OSes (#2237)
  .travis.yml
  scripts/travis/deploy_client.sh
  scripts/travis/deploy_server.sh
Due: copyright_checker, yamlfmt

move server ready check function for all e2e unit tests
  cmd/sqlflowserver/main_test.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/server/wait_port_ready.go
Due: copyright_checker

add sqlflow xgboost feature column support design doc
  doc/design/figures/xgboost_feature_column.md
Due: none
