Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

update doc
  doc/design/cli_model_zoo_cmd.md
Due: none

add ut on hive e2e
  go/cmd/sqlflowserver/e2e_hive_test.go
Due: copyright_checker

test clean up
  .github/workflows/main.yml
Due: none

refine python derivation.py (#2744)
  python/runtime/feature/derivation.py
Due: copyright_checker, pylint

Update command-line tool design to support list models/repos in Model Zoo (#2746)
  doc/design/cli_model_zoo_cmd.md
Due: none

add ut on hive e2e (#2747)
  go/cmd/sqlflowserver/e2e_hive_test.go
Due: copyright_checker

add error diagnostic to optimize model generation
  python/runtime/optimize/model_generation.py
  python/runtime/optimize/model_generation_test.py
Due: copyright_checker, pylint

parallel test jobs
  .github/workflows/main.yml
Due: none

fix ut bug
  python/runtime/optimize/model_generation.py
  python/runtime/optimize/model_generation_test.py
Due: copyright_checker, pylint

polish
  python/runtime/optimize/model_generation.py
  python/runtime/optimize/model_generation_test.py
Due: copyright_checker, pylint

remove is_pai for evaluate
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/pai/template_tf.go
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/tensorflow/evaluate.py
Due: copyright_checker, pylint

update
  .github/workflows/main.yml
Due: none

polish
  python/runtime/optimize/model_generation.py
Due: copyright_checker, pylint

update
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/tensorflow/template_evaluate.go
  python/runtime/tensorflow/evaluate.py
Due: copyright_checker, pylint

clean up
  .github/workflows/main.yml
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

Add list model zoo option to cli
  go/cmd/sqlflow/main.go
  go/cmd/sqlflow/main_test.go
  go/cmd/sqlflow/model_zoo_client.go
  go/cmd/sqlflow/model_zoo_client_test.go
  go/modelzooserver/modelzooserver.go
Due: copyright_checker

follow comments
  python/runtime/optimize/model_generation.py
  python/runtime/optimize/model_generation_test.py
Due: copyright_checker, pylint

refine some db code
  python/runtime/db.py
  python/runtime/db_writer/hive.py
  python/runtime/db_writer/maxcompute.py
  python/runtime/db_writer/mysql.py
  python/runtime/diagnostics.py
  python/runtime/maxcompute.py
  python/runtime/oss.py
Due: copyright_checker, pylint

polish
  python/runtime/db_writer/maxcompute.py
Due: copyright_checker, pylint

enable flake8
  scripts/pre-commit/pylint.sh
Due: copyright_checker, shellcheck

Fix windows uploading binary (#2743)
  .github/workflows/main.yml
Due: none

Add token validation check to math programming (#2748)
  python/runtime/optimize/model_generation.py
  python/runtime/optimize/model_generation_test.py
Due: copyright_checker, pylint

fix actions push linux binary
  .github/workflows/main.yml
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

Remove is pai for evaluate (#2749)
  go/codegen/pai/template_tf.go
  go/codegen/tensorflow/template_evaluate.go
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/tensorflow/evaluate.py
Due: copyright_checker, pylint

test
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

enable flake8 (#2752)
  scripts/pre-commit/pylint.sh
Due: copyright_checker, shellcheck

add docstring
  python/runtime/db_writer/maxcompute.py
  python/runtime/db_writer/mysql.py
  python/runtime/maxcompute.py
Due: copyright_checker, pylint

test
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

Refine some db codes (#2751)
  python/runtime/db.py
  python/runtime/db_writer/hive.py
  python/runtime/db_writer/maxcompute.py
  python/runtime/db_writer/mysql.py
  python/runtime/diagnostics.py
  python/runtime/maxcompute.py
  python/runtime/oss.py
Due: copyright_checker, pylint

test
  .github/workflows/main.yml
Due: none

unify eval estimator code
  go/codegen/pai/template_tf.go
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/import_model.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train.py
  python/symbol_extractor.py
Due: copyright_checker, pylint

clean up
  .github/workflows/main.yml
  scripts/travis/deploy_client.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

update
  go/codegen/pai/template_tf.go
  python/runtime/__init__.py
  python/runtime/import_custom_models.py
  python/runtime/import_model.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint

update
  go/codegen/pai/template_tf.go
Due: copyright_checker

polish import_model_module and doc
  python/runtime/import_model.py
Due: copyright_checker, pylint

polish doc
  python/runtime/import_model.py
Due: copyright_checker, pylint

clean up
  .github/workflows/main.yml
Due: none

clean up
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck
