Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

wip
  python/sqlflow_submitter/api/derive_feature_columns.py
  python/sqlflow_submitter/api/field_types.py
  python/sqlflow_submitter/api/test_train.py
  python/sqlflow_submitter/api/train.py
Due: copyright_checker, pylint

add comment
  pkg/sql/executor_ir.go
Due: copyright_checker

Fix hints format for alisa (#2419)
  pkg/sql/executor_ir.go
Due: copyright_checker

follow comments
  pkg/sql/codegen/codegen_feature_column.go
  pkg/sql/codegen/tensorflow/codegen.go
  python/sqlflow_submitter/xgboost/feature_column_test.py
Due: copyright_checker, pylint

split cases to files
  cmd/sqlflowserver/e2e_alisa_test.go
  cmd/sqlflowserver/e2e_alps_test.go
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_hive_test.go
  cmd/sqlflowserver/e2e_maxcompute_test.go
  cmd/sqlflowserver/e2e_mysql_test.go
  cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  cmd/sqlflowserver/e2e_workflow_test.go
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

polish
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_hive_test.go
  cmd/sqlflowserver/e2e_mysql_test.go
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

support incremental training in XGBoost
  pkg/ir/ir.go
  pkg/parser/extended_syntax_parser.y
  pkg/sql/alisa_submitter.go
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_train.go
  pkg/sql/executor_ir.go
  pkg/sql/ir_generator.go
  pkg/sql/pai_submitter.go
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

fix cp failed
  pkg/sql/alisa_submitter.go
  pkg/sql/alisa_submitter_test.go
Due: copyright_checker

use np.vectorize to simplify codes
  python/sqlflow_submitter/xgboost/feature_column.py
Due: copyright_checker, pylint

add uts
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/pai/codegen_test.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/ir_generator.go
Due: copyright_checker

split common functions out of test file
  cmd/sqlflowserver/testing.go
Due: copyright_checker

fix test
  cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

Build sqlflow:step in Travis CI
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

Add INDICATOR support in XGBoost models (#2416)
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/codegen_feature_column.go
  pkg/sql/codegen/tensorflow/codegen.go
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/feature_column.py
  python/sqlflow_submitter/xgboost/feature_column_test.py
Due: copyright_checker, pylint

Docker push sqlflow/sqlflow:step in Travis CI.
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

update
  doc/design/contribute_models_comparison.md
Due: none

Move tar function to a new package
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/tar_test.go
  pkg/modelzooserver/using_model_test.go
  pkg/tar/tar.go
  pkg/tar/tar_test.go
Due: copyright_checker

remove model zoo tar_test.go
  pkg/modelzooserver/tar_test.go
  pkg/tar/tar_test.go
Due: copyright_checker

support mathematical programming syntax parsing
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/parser/lexer.go
Due: copyright_checker

update as comment
  pkg/sql/pai_submitter.go
Due: copyright_checker

fix pai error
  pkg/sql/codegen/xgboost/template_train.go
Due: copyright_checker

change MarshalToJSONOrDie to MarshalToJSON
  pkg/sql/codegen/codegen_feature_column.go
  pkg/sql/codegen/tensorflow/codegen.go
Due: copyright_checker

update
  pkg/sql/alisa_submitter_test.go
  pkg/sql/pai_submitter.go
Due: copyright_checker

update
  pkg/sql/pai_submitter.go
Due: copyright_checker

refine comments
  pkg/ir/ir.go
Due: copyright_checker

change function name according go golint msg
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/using_model_test.go
  pkg/tar/tar.go
  pkg/tar/tar_test.go
Due: copyright_checker

Polish end2end test code to make it easier to read (#2420)
  cmd/sqlflowserver/e2e_alisa_test.go
  cmd/sqlflowserver/e2e_alps_test.go
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_hive_test.go
  cmd/sqlflowserver/e2e_maxcompute_test.go
  cmd/sqlflowserver/e2e_mysql_test.go
  cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  cmd/sqlflowserver/e2e_workflow_test.go
  cmd/sqlflowserver/main_test.go
  cmd/sqlflowserver/testing.go
Due: copyright_checker

fix copy XGBoost package failed (#2423)
  pkg/sql/alisa_submitter.go
  pkg/sql/pai_submitter.go
Due: copyright_checker

rename tar functions in tar.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/using_model_test.go
  pkg/tar/tar.go
  pkg/tar/tar_test.go
Due: copyright_checker

Initial version of TO RUN parse
  pkg/parser/extended_syntax_parser.y
Due: none

fix pai delete checkpoint error when save/load is the same
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/template_train.go
  pkg/sql/ir_generator.go
  pkg/sql/pai_submitter.go
Due: copyright_checker

follow comments
  pkg/sql/codegen/pai/codegen.go
Due: copyright_checker

Move tar function to a new package (#2429)
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/tar_test.go
  pkg/modelzooserver/using_model_test.go
  pkg/tar/tar.go
  pkg/tar/tar_test.go
Due: copyright_checker

fix ut
  cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

follow comments
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
Due: copyright_checker

change MarshalToJSONOrDie to MarshalToJSON (#2433)
  pkg/sql/codegen/codegen_feature_column.go
  pkg/sql/codegen/tensorflow/codegen.go
Due: copyright_checker

Build the image sqlflow:server, sqlflow:mysql, sqlflow:jupyter, sqlflow:step using cache if any
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

add model zoo server binary
  cmd/modelzooserver/main.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/using_model_test.go
Due: copyright_checker
