Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

test ci
  go/codegen/experimental/xgboost.go
Due: copyright_checker

fix workflow ut
  go/codegen/experimental/xgboost.go
Due: copyright_checker

build step image before run workflow test
  .github/workflows/main.yml
Due: none

fix is_query
  python/runtime/dbapi/connection.py
Due: copyright_checker, pylint

Generate workflow step for normal statement run (#2824)
  .github/workflows/main.yml
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_normal_stmt.go
  python/runtime/dbapi/connection.py
Due: copyright_checker, pylint

fix cwd error
  go/codegen/experimental/xgboost.go
  python/runtime/model/model.py
  python/runtime/model/tar.py
Due: copyright_checker, pylint

fix pai training with optimizer config
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/pai/tensorflow.go
  go/codegen/tensorflow/template_train.go
  python/runtime/model/oss.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint

remove template
  go/codegen/pai/template_tf.go
Due: copyright_checker

Fix pai training with optimizer config (#2828)
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/pai/template_tf.go
  go/codegen/pai/tensorflow.go
  go/codegen/tensorflow/template_train.go
  python/runtime/model/oss.py
  python/runtime/pai/tensorflow/train.py
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint

Save the trained xgboost model (#2822)
  go/codegen/experimental/xgboost.go
  python/runtime/feature/column_test.py
  python/runtime/feature/compile.py
  python/runtime/feature/derivation.py
  python/runtime/feature/derivation_test.py
  python/runtime/feature/field_desc.py
  python/runtime/local/xgboost/save.py
  python/runtime/local/xgboost/train.py
  python/runtime/local/xgboost/train_test.py
  python/runtime/model/metadata.py
  python/runtime/model/model.py
  python/runtime/model/tar.py
  python/runtime/xgboost/model_save_test.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

add dbconnstr gen
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/xgboost.go
  python/runtime/local/xgboost/train.py
Due: copyright_checker, pylint

add python table writer to output structed query results
  go/proto/sqlflow.proto
  python/runtime/dbapi/mysql_test.py
  python/runtime/dbapi/table_writer/__init__.py
  python/runtime/dbapi/table_writer/protobuf_writer.py
  python/runtime/dbapi/table_writer/sqlflow_pb2.py
Due: copyright_checker, pylint

fix pylint
  python/runtime/dbapi/mysql_test.py
  python/runtime/dbapi/table_writer/__init__.py
  python/runtime/dbapi/table_writer/protobuf_writer.py
  python/runtime/dbapi/table_writer/sqlflow_pb2.py
Due: copyright_checker, pylint

Remove hdfs params
  go/codegen/pai/template_xgboost.go
  go/codegen/tensorflow/codegen_test.go
  go/codegen/tensorflow/template_evaluate.go
  go/codegen/tensorflow/template_explain.go
  go/codegen/tensorflow/template_pred.go
  go/codegen/xgboost/codegen_test.go
  go/codegen/xgboost/template_evaluate.go
  go/codegen/xgboost/template_pred.go
  go/database/testing.go
  go/model/model.go
  go/modelzooserver/modelzooserver.go
  go/sql/session.go
  go/sqlfs/hive_writer.go
  go/sqlfs/hive_writer_test.go
  go/sqlfs/reader_test.go
  go/sqlfs/sql_writer.go
  go/sqlfs/sql_writer_test.go
  go/sqlfs/table.go
  go/sqlfs/table_test.go
  go/sqlfs/writer.go
  go/sqlfs/writer_test.go
Due: copyright_checker

fix ut
  go/codegen/tensorflow/codegen_test.go
  go/codegen/xgboost/codegen_test.go
  go/database/testing.go
  go/database/testing_test.go
Due: copyright_checker

fix ut
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_hive_test.go
  go/cmd/sqlflowserver/testing.go
  go/database/testing.go
  go/model/model.go
Due: copyright_checker

update
  python/runtime/dbapi/table_writer/sqlflow_pb2.py
Due: copyright_checker, pylint

remove debug code
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/model/model.go
Due: copyright_checker

Remove hdfs params (#2833)
  go/cmd/sqlflowserver/e2e_hive_test.go
  go/cmd/sqlflowserver/testing.go
  go/codegen/pai/template_xgboost.go
  go/codegen/tensorflow/codegen_test.go
  go/codegen/tensorflow/template_evaluate.go
  go/codegen/tensorflow/template_explain.go
  go/codegen/tensorflow/template_pred.go
  go/codegen/xgboost/codegen_test.go
  go/codegen/xgboost/template_evaluate.go
  go/codegen/xgboost/template_pred.go
  go/database/testing.go
  go/database/testing_test.go
  go/model/model.go
  go/modelzooserver/modelzooserver.go
  go/sql/session.go
  go/sqlfs/hive_writer.go
  go/sqlfs/hive_writer_test.go
  go/sqlfs/reader_test.go
  go/sqlfs/sql_writer.go
  go/sqlfs/sql_writer_test.go
  go/sqlfs/table.go
  go/sqlfs/table_test.go
  go/sqlfs/writer.go
  go/sqlfs/writer_test.go
Due: copyright_checker

add dbconnstr gen (#2829)
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/xgboost.go
  python/runtime/local/xgboost/train.py
Due: copyright_checker, pylint

update
  go/codegen/experimental/codegen_normal_stmt.go
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/table_writer/sqlflow_pb2.py
  scripts/test/prepare.sh
Due: copyright_checker, pylint, shellcheck

update
  go/codegen/experimental/codegen_normal_stmt.go
  python/runtime/dbapi/connection.py
Due: copyright_checker, pylint

Remove hdfs params in Python
  python/runtime/db.py
  python/runtime/db_writer/hive.py
  python/runtime/dbapi/hive.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/pai/xgboost/evaluate.py
  python/runtime/pai/xgboost/explain.py
  python/runtime/pai/xgboost/predict.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/explain.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

fomat code
  python/runtime/tensorflow/evaluate.py
Due: copyright_checker, pylint

add xgboost predict
  python/runtime/db.py
  python/runtime/feature/field_desc.py
  python/runtime/local/xgboost/__init__.py
  python/runtime/local/xgboost/predict.py
  python/runtime/local/xgboost/train_predict_test.py
  python/runtime/local/xgboost/train_test.py
  python/runtime/model/model.py
Due: copyright_checker, pylint

fix ut
  python/runtime/local/xgboost/train_predict_test.py
Due: copyright_checker, pylint

Complete alisa submitter
  python/runtime/alisa/submitter.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

add temp_file.py
  go/codegen/experimental/xgboost.go
  python/runtime/local/xgboost/train.py
  python/runtime/model/model.py
  python/runtime/model/model_test.py
  python/runtime/model/tar_test.py
  python/runtime/temp_file.py
Due: copyright_checker, pylint

format code
  python/runtime/alisa/submitter.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

unify local and pai submitter
  docker/step/Dockerfile
  go.mod
  go.sum
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/xgboost.go
  python/runtime/local/__init__.py
  python/runtime/local/submitter.py
  python/runtime/local/submitter_test.py
  python/runtime/local/xgboost_submitter/__init__.py
  python/runtime/local/xgboost_submitter/save.py
  python/runtime/local/xgboost_submitter/train.py
  python/runtime/local/xgboost_submitter/train_test.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

update
  go/codegen/experimental/xgboost.go
  python/runtime/local/submitter.py
  python/runtime/local/xgboost_submitter/train.py
Due: copyright_checker, pylint

WIP add back all in one image
  docker/ci/Dockerfile
  docker/ci/install-jupyter-ci.sh
  docker/ci/start.sh
Due: copyright_checker, shellcheck

Add GCN tutorial (#2819)
  doc/tutorial/cora-gcn.md
Due: none

fix titanic maxcompute import with odps2 not enabled
  doc/datasets/popularize_titanic_maxcompute.sql
Due: none

Alisa submitter add predict and explain (#2840)
  python/runtime/alisa/submitter.py
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

Remove hdfs params in Python (#2834)
  python/runtime/db.py
  python/runtime/db_writer/hive.py
  python/runtime/dbapi/hive.py
  python/runtime/pai/tensorflow/evaluate.py
  python/runtime/pai/tensorflow/explain.py
  python/runtime/pai/tensorflow/predict.py
  python/runtime/pai/xgboost/evaluate.py
  python/runtime/pai/xgboost/explain.py
  python/runtime/pai/xgboost/predict.py
  python/runtime/tensorflow/evaluate.py
  python/runtime/tensorflow/explain.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/evaluate.py
  python/runtime/xgboost/explain.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

update
  go/codegen/experimental/xgboost.go
  python/runtime/local/xgboost_submitter/train_test.py
  python/runtime/xgboost/model_save_test.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

fix merge
  python/runtime/pai/submitter.py
Due: copyright_checker, pylint

Add python table writer to output structed query results (#2832)
  go/codegen/experimental/codegen_normal_stmt.go
  go/proto/sqlflow.proto
  python/runtime/dbapi/mysql_test.py
  python/runtime/dbapi/table_writer/__init__.py
  python/runtime/dbapi/table_writer/protobuf_writer.py
  scripts/test/prepare.sh
Due: copyright_checker, pylint, shellcheck

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
