Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Collect step log (#2943)
  go/workflow/argo/fetch.go
Due: copyright_checker

add predict go code
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_step_predict.go
  python/runtime/local/submitter.py
  python/runtime/local/tensorflow_submitter/predict.py
Due: copyright_checker, pylint

Add the API placeholder for submit_local_run
  go/codegen/experimental/codegen_step_run.go
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

add predict go code (#2946)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_step_predict.go
  python/runtime/local/submitter.py
  python/runtime/local/tensorflow_submitter/predict.py
Due: copyright_checker, pylint

Resolve the CI issue: Block nesting too deep in Executor.ExecuteRun.
  go/executor/executor.go
Due: copyright_checker

Add e2e test case for TO RUN statement.
  go/cmd/sqlflowserver/e2e_workflow_test.go
Due: copyright_checker

Reformat the indent of SQL statement in the TO RUN test case.
  go/cmd/sqlflowserver/e2e_workflow_test.go
Due: copyright_checker

Update the dbname to caseDB variable in the test case for TO RUN.
  go/cmd/sqlflowserver/e2e_workflow_test.go
Due: copyright_checker

Add submit_local_run in __init__.py
  python/runtime/local/__init__.py
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

Fix UT failure.
  go/cmd/sqlflowserver/e2e_workflow_test.go
Due: copyright_checker

support pai training
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  python/runtime/db.py
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

done pai tests
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/sql/testdata/weighted_keyvalue_case_sql.go
Due: copyright_checker

fix lint
  python/runtime/db.py
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

add predict python code
  python/runtime/local/create_result_table.py
  python/runtime/local/tensorflow_submitter/local_submitter_test.py
  python/runtime/local/tensorflow_submitter/predict.py
  python/runtime/local/xgboost_submitter/predict.py
  python/runtime/step/tensorflow/train.py
  python/runtime/step/tensorflow/train_keras.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train_keras.py
Due: copyright_checker, pylint

update comments
  go/codegen/experimental/codegen_step_predict.go
Due: copyright_checker

fix ci
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/codegen/tensorflow/template_train.go
  go/ir/derivation.go
  go/ir/derivation_test.go
  go/sql/executor_ir_test.go
Due: copyright_checker

fix flags parse error
  python/runtime/local/tensorflow_submitter/tensorflow_local_test.py
  python/runtime/local/xgboost_submitter/xgboost_local_test.py
  python/runtime/pai/pai_distributed.py
  scripts/test/mysql.sh
Due: copyright_checker, pylint, shellcheck

Fix pai ui bug
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

fix ci
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/sql/testdata/weighted_keyvalue_case_sql.go
  go/workflow/couler/codegen_test.go
Due: copyright_checker

port tf local code go
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_step_evaluate.go
  go/codegen/experimental/codegen_step_explain.go
  python/runtime/local/submitter.py
  python/runtime/local/tensorflow_submitter/evaluate.py
  python/runtime/local/tensorflow_submitter/explain.py
  python/runtime/local/xgboost_submitter/evaluate.py
  python/runtime/local/xgboost_submitter/explain.py
  python/runtime/local/xgboost_submitter/local_submitter_test.py
Due: copyright_checker, pylint

Polish code
  go/sql/executor_ir.go
Due: copyright_checker

Fix pai ui bug (#2948)
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

Print error message if the program execution of TO RUN statement failed. (#2945)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/executor/executor.go
Due: copyright_checker

Add TensorFlow local predict Python code (#2947)
  go/codegen/experimental/codegen_step_predict.go
  python/runtime/local/create_result_table.py
  python/runtime/local/tensorflow_submitter/predict.py
  python/runtime/local/tensorflow_submitter/tensorflow_local_test.py
  python/runtime/local/xgboost_submitter/predict.py
  python/runtime/local/xgboost_submitter/xgboost_local_test.py
  python/runtime/pai/pai_distributed.py
  python/runtime/step/tensorflow/train.py
  python/runtime/step/tensorflow/train_keras.py
  python/runtime/tensorflow/predict.py
  python/runtime/tensorflow/train_keras.py
  scripts/test/mysql.sh
Due: copyright_checker, pylint, shellcheck

Add scorecard model e2e
  doc/datasets/popularize_give_me_some_credit.sql
  doc/tutorial/scripts/pre_give_me_some_credit.py
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/sql/executor_ir.go
Due: copyright_checker, pylint

update
  doc/tutorial/scripts/pre_give_me_some_credit.py
Due: copyright_checker, pylint

update
  go/sql/executor_ir.go
Due: copyright_checker

remove support of string keys
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/ir/derivation.go
  go/ir/derivation_test.go
  go/ir/ir_generator.go
  go/sql/testdata/weighted_keyvalue_case_sql.go
  python/runtime/db.py
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

port tf local code go (#2949)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_step_evaluate.go
  go/codegen/experimental/codegen_step_explain.go
  python/runtime/local/submitter.py
  python/runtime/local/tensorflow_submitter/evaluate.py
  python/runtime/local/tensorflow_submitter/explain.py
  python/runtime/local/xgboost_submitter/evaluate.py
  python/runtime/local/xgboost_submitter/explain.py
  python/runtime/local/xgboost_submitter/xgboost_local_test.py
Due: copyright_checker, pylint

fix ci
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/codegen/pai/tensorflow.go
  go/ir/ir_generator_test.go
  python/runtime/db.py
Due: copyright_checker, pylint

Fix pai ut
  python/runtime/pai/tensorflow_submitter/train.py
Due: copyright_checker, pylint

update
  python/runtime/db.py
Due: copyright_checker, pylint

add evaluate code
  go/cmd/sqlflowserver/e2e_workflow_test.go
  python/runtime/local/create_result_table.py
  python/runtime/local/tensorflow_submitter/evaluate.py
  python/runtime/local/tensorflow_submitter/predict.py
  python/runtime/local/tensorflow_submitter/tensorflow_local_test.py
  python/runtime/local/xgboost_submitter/evaluate.py
  python/runtime/step/tensorflow/train.py
  python/runtime/temp_file.py
  python/runtime/tensorflow/evaluate.py
Due: copyright_checker, pylint

update
  python/runtime/db.py
  python/runtime/db_test.py
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

Fix pai ut (#2952)
  python/runtime/pai/tensorflow_submitter/train.py
Due: copyright_checker, pylint

enable dist predict
  go/codegen/pai/cluster_config.go
  go/codegen/pai/codegen.go
  go/codegen/pai/template_xgboost.go
  go/sql/executor_ir.go
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

add ut for distributed pred by: predict.num_workers=3
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
Due: copyright_checker

print timestamp for predict
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

add conn.close
  python/runtime/local/tensorflow_submitter/tensorflow_local_test.py
  python/runtime/local/xgboost_submitter/explain.py
  python/runtime/local/xgboost_submitter/train.py
  python/runtime/local/xgboost_submitter/xgboost_local_test.py
Due: copyright_checker, pylint

tiny fix
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
