Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

fix ci
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/using_model_test.go
Due: copyright_checker

follow comments
  pkg/model/model.go
Due: copyright_checker

Support feature column in XGBoost models (#2361)
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/codegen_feature_column.go
  pkg/sql/codegen/pai/template_xgboost.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/codegen_explain.go
  pkg/sql/codegen/xgboost/template_evaluate.go
  pkg/sql/codegen/xgboost/template_explain.go
  pkg/sql/codegen/xgboost/template_pred.go
  pkg/sql/codegen/xgboost/template_train.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/xgboost/__init__.py
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/evaluate.py
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/feature_column.py
  python/sqlflow_submitter/xgboost/predict.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

support pmml saving of XGBoost models
  docker/ci/install-pips.bash
  pkg/sql/codegen/pai/template_tf.go
  python/sqlflow_submitter/xgboost/model_save_test.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint, shellcheck

Add more content in Run an Python Program section.
  doc/design/to_run.md
Due: none

polish save model to local file method name
  python/sqlflow_submitter/xgboost/model_save_test.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

Support pmml saving of XGBoost models (#2411)
  docker/ci/install-pips.bash
  pkg/sql/codegen/pai/template_tf.go
  python/sqlflow_submitter/xgboost/model_save_test.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint, shellcheck

Prepare images for playground
  doc/run/k8s/install-sqlflow.yaml
  docker/ci/install-python.bash
  docker/jupyter/Dockerfile
  docker/mysql/Dockerfile
  docker/mysql/install-mysql-server.bash
  docker/server/Dockerfile
  docker/step/Dockerfile
  scripts/travis/install_minikube.sh
Due: copyright_checker, shellcheck

Prepare images for playground (#2413)
  doc/run/k8s/install-sqlflow.yaml
  docker/ci/install-python.bash
  docker/jupyter/Dockerfile
  docker/mysql/Dockerfile
  docker/mysql/install-mysql-server.bash
  docker/server/Dockerfile
  docker/step/Dockerfile
  scripts/travis/install_minikube.sh
Due: copyright_checker, shellcheck

Rename output_table_name to output_table
  doc/design/to_run.md
Due: none

Polish sqlflow playground k8s config
  doc/run/k8s/install-sqlflow.yaml
  docker/dev/find_fastest_resources.sh
Due: copyright_checker, shellcheck

Add an example of distributed data computing using Dask.
  doc/design/to_run.md
Due: none

Do some rephrase
  doc/design/to_run.md
Due: none

End2end test using a modelzoo model when predicting (#2405)
  pkg/model/model.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/using_model_test.go
  pkg/proto/modelzooserver.proto
  python/sqlflow_submitter/db.py
Due: copyright_checker, pylint

Polish sqlflow playground k8s config (#2414)
  doc/run/k8s/install-sqlflow.yaml
  docker/dev/find_fastest_resources.sh
Due: copyright_checker, shellcheck

Do some update on the dask sample code.
  doc/design/to_run.md
Due: none

Add TO RUN execution details on different platforms.
  doc/design/to_run.md
Due: none

Do some rephrase.
  doc/design/to_run.md
Due: none

Add content about sqlflow.runner
  doc/design/to_run.md
Due: none

Add the section of TO RUN semantics
  doc/design/to_run.md
Due: none

Do some reformat.
  doc/design/to_run.md
Due: none

add label for sqlflow-server yaml
  doc/run/k8s/install-sqlflow.yaml
Due: none

add INDICATOR support and uts
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/codegen_feature_column.go
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/feature_column.py
  python/sqlflow_submitter/xgboost/feature_column_test.py
Due: copyright_checker, pylint

fix sklearn version for pai
  pkg/sql/codegen/pai/template_tf.go
Due: copyright_checker

add python lib
  docker/step/Dockerfile
Due: none

fix sklearn version for pai (#2417)
  pkg/sql/codegen/pai/template_tf.go
Due: copyright_checker

add label for sqlflow-server yaml (#2415)
  doc/run/k8s/install-sqlflow.yaml
  docker/step/Dockerfile
Due: none

WIP: python api for model developers
  python/sqlflow_submitter/api/__init__.py
  python/sqlflow_submitter/api/train.py
Due: copyright_checker, pylint

fix hints format for alisa
  pkg/sql/executor_ir.go
Due: copyright_checker

add comments on why skip explain ut change IntArrayToJSONString to MarshalOrDie
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/codegen_feature_column.go
  pkg/sql/codegen/tensorflow/codegen.go
Due: copyright_checker

change MarshalOrDie comments
  pkg/sql/codegen/codegen_feature_column.go
Due: copyright_checker

SQLFlow TO RUN statement design doc. (#2355)
  doc/design/to_run.md
Due: none

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
