Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

add more information to log while error occurs (#2317)
  pkg/workflow/argo/fetch.go
Due: copyright_checker

Add random seed for deterministic result of tf training (#2322)
  pkg/sql/convergence_test.go
  python/sqlflow_submitter/seeding.py
  python/sqlflow_submitter/tensorflow/pai_distributed.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

upload coverage to codecov (#2321)
  .travis.yml
  README.md
  scripts/test/units.sh
  scripts/travis/upload_codecov.sh
Due: copyright_checker, shellcheck

parse python classes
  pkg/modelzooserver/get_model_classes.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/tar.go
  pkg/modelzooserver/tar_test.go
Due: copyright_checker

enable log to /dev/null
  cmd/sqlflowserver/main_test.go
  pkg/log/config.go
Due: copyright_checker

fix log max-living days
  pkg/log/config.go
Due: copyright_checker

remove more logs
  cmd/sqlflowserver/main_test.go
  pkg/workflow/argo/fetch_test.go
Due: copyright_checker

Polish language guide document
  doc/language_guide.md
Due: none

retry uploading sqlflow cli
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

fix create predict result table error
  pkg/sql/executor_ir.go
Due: copyright_checker

mute mvn install for parse-interface; disable shellcheck
  docker/dev/build.sh
Due: copyright_checker, shellcheck

fix pred failed with select .. limit ..;
  pkg/sql/executor_ir.go
Due: copyright_checker

fix create predict result table error (#2329)
  pkg/sql/executor_ir.go
Due: copyright_checker

add retry limit
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

fix pred failed with select .. limit ..; (#2330)
  pkg/sql/executor_ir.go
Due: copyright_checker

Enable log to /dev/null in CI (#2324)
  cmd/sqlflowserver/main_test.go
  docker/dev/build.sh
  pkg/log/config.go
  pkg/workflow/argo/fetch_test.go
Due: copyright_checker, shellcheck

fix xgboost dist train data sharding
  python/sqlflow_submitter/xgboost/dataset.py
Due: copyright_checker, pylint

polish code
  python/sqlflow_submitter/xgboost/dataset.py
Due: copyright_checker, pylint

Support upload model repo files and release the model (#2292)
  go.mod
  pkg/modelzooserver/get_model_classes.go
  pkg/modelzooserver/input_check.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/tar.go
  pkg/modelzooserver/tar_test.go
  pkg/modelzooserver/templates.go
Due: copyright_checker

use alternative odps,calcite parsers for maxcompute
  java/parser/src/main/java/org/sqlflow/parser/ParserFactory.java
  java/parser/src/test/java/org/sqlflow/parser/ParserFactoryTest.java
  pkg/parser/external/parser.go
Due: copyright_checker, google_style_java

use alternative odps,calcite parsers for maxcompute (#2332)
  java/parser/src/main/java/org/sqlflow/parser/ParserFactory.java
  java/parser/src/test/java/org/sqlflow/parser/ParserFactoryTest.java
  pkg/parser/external/parser.go
Due: copyright_checker, google_style_java

add mathematical programming with sqlflow design
  doc/design/programming_solver.md
Due: none

diag attribute error
  doc/design/diag_attribute_error.md
Due: none

contract in docstring
  doc/design/diag_attribute_error.md
Due: none

diagnostic attribute error design
  doc/design/diag_attribute_error.md
Due: none

update
  doc/design/diag_attribute_error.md
Due: none

update by comment
  doc/language_guide.md
Due: none

add ut on pai
  cmd/sqlflowserver/main_test.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

Initial version of TO RUN design doc.
  doc/design/to_run_stmt.md
Due: none

update
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

Update a comment
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

Add comments to .travis.yml
  .travis.yml
Due: none

Do some rephrase
  doc/design/to_run_stmt.md
Due: none

Remove a redundent starting of MySQL server
  .travis.yml
Due: none

Update a comment (#2336)
  scripts/test/workflow.sh
Due: copyright_checker, shellcheck

Retry uploading sqlflow cli (#2327)
  scripts/travis/deploy_client.sh
Due: copyright_checker, shellcheck

Update .travis.yml
  .travis.yml
Due: none

Add find_fastest_apt_source.sh
  docker/dev/find_fastest_apt_source.sh
Due: copyright_checker, shellcheck

Make it exectuable
  docker/dev/find_fastest_apt_source.sh
Due: copyright_checker, shellcheck

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
