Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

update vocabulary type
  python/runtime/feature/column_test.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

update
  python/runtime/feature/column_test.py
Due: copyright_checker, pylint

update
  docker/jupyter/Dockerfile
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

remove unused import
  python/runtime/dbapi/mysql_connection.py
Due: copyright_checker, pylint

Fix develop jupyter image build (#2790)
  docker/jupyter/Dockerfile
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

update
  go/codegen/experimental/xgboost.go
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

update
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

update
  python/runtime/feature/compile.py
  python/runtime/feature/derivation.py
  python/runtime/feature/derivation_test.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

fix tests
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

fix actions maxcompute test not running
  .github/workflows/main.yml
Due: none

update
  python/runtime/feature/column.py
  python/runtime/feature/column_test.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

Generate workflow step code using runtime fea der (#2791)
  go/codegen/alps/codegen.go
  go/codegen/codegen_python_values.go
  go/codegen/codegen_python_values_test.go
  go/codegen/experimental/codegen.go
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/xgboost.go
  go/codegen/tensorflow/codegen.go
  go/codegen/xgboost/codegen.go
  python/runtime/feature/__init__.py
  python/runtime/feature/compile.py
  python/runtime/feature/derivation.py
  python/runtime/feature/derivation_test.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

polish mysql db-api
  python/runtime/dbapi/mysql_connection.py
  python/runtime/dbapi/mysql_connection_test.py
Due: copyright_checker, pylint

Add MySQL db-api implementation (#2793)
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/mysql_connection.py
  python/runtime/dbapi/mysql_connection_test.py
Due: copyright_checker, pylint

update and fix
  python/runtime/alisa/submitter.py
  python/runtime/db.py
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/mysql_connection.py
  python/runtime/dbapi/mysql_connection_test.py
  python/runtime/feature/__init__.py
  scripts/pre-commit/pylint.sh
Due: copyright_checker, pylint, shellcheck

fix travis ci env
  .travis.yml
Due: none

fix actions maxcompute test not running (#2795)
  .github/workflows/main.yml
Due: none

generate python feacol code
  go/codegen/alps/codegen.go
  go/codegen/codegen_feature_column.go
  go/codegen/experimental/xgboost.go
  go/codegen/tensorflow/codegen.go
  go/codegen/xgboost/codegen.go
  go/ir/codegen_python_values.go
  go/ir/codegen_python_values_test.go
  go/ir/feature_column.go
  go/ir/feature_column_test.go
Due: copyright_checker

Add hive DB-API
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/hive.py
  python/runtime/dbapi/hive_test.py
  python/runtime/dbapi/mysql.py
  python/runtime/dbapi/mysql_test.py
Due: copyright_checker, pylint

modify doc
  python/runtime/dbapi/hive.py
Due: copyright_checker, pylint

Add maxcompute DB-API
  python/runtime/dbapi/maxcompute.py
  python/runtime/dbapi/maxcompute_test.py
Due: copyright_checker, pylint

Enable flake8 check on CI (#2788)
  .github/workflows/main.yml
  .travis.yml
  python/runtime/alisa/submitter.py
  python/runtime/db.py
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/mysql_connection.py
  python/runtime/dbapi/mysql_connection_test.py
  python/runtime/feature/__init__.py
  scripts/pre-commit/pylint.sh
Due: copyright_checker, pylint, shellcheck

push images on self hosted machine
  .github/workflows/main.yml
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

update
  .github/workflows/main.yml
Due: none

format code
  python/runtime/dbapi/hive.py
  python/runtime/dbapi/hive_test.py
  python/runtime/dbapi/mysql.py
Due: copyright_checker, pylint

test install.sh
  docker/dev/install.sh
Due: copyright_checker, shellcheck

fix go mirrors
  docker/dev/install.sh
Due: copyright_checker, shellcheck

generate python feacol code (#2797)
  go/codegen/alps/codegen.go
  go/codegen/codegen_feature_column.go
  go/codegen/experimental/xgboost.go
  go/codegen/tensorflow/codegen.go
  go/codegen/xgboost/codegen.go
  go/ir/codegen_python_values.go
  go/ir/codegen_python_values_test.go
  go/ir/feature_column.go
  go/ir/feature_column_test.go
Due: copyright_checker

add feature_columns <-> dict
  python/runtime/feature/column.py
  python/runtime/feature/derivation.py
  python/runtime/feature/derivation_test.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

clean up
  .github/workflows/main.yml
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

add clean up
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

update clean up script
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

Add hive DB-API (#2798)
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/hive.py
  python/runtime/dbapi/hive_test.py
  python/runtime/dbapi/mysql.py
  python/runtime/dbapi/mysql_test.py
Due: copyright_checker, pylint

fix ut
  python/runtime/feature/column_test.py
Due: copyright_checker, pylint

remove unused import
  python/runtime/dbapi/maxcompute.py
Due: copyright_checker, pylint
