Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

add clickhouse url dsn handle
  go/database/db.go
  go/database/get_database.go
Due: copyright_checker

add clickhouse create table case
  go/executor/fields.go
  go/executor/pre_exec.go
Due: copyright_checker

add clickhouse datatype handle
  go/ir/derivation.go
Due: copyright_checker

rewrite using tar - cmd to gocode with gzip tar lib
  go/model/model.go
  go/model/tar.go
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

add clickhouse datasource case
  go/cmd/sqlflow/main.go
Due: copyright_checker

add clickhouse py driver
  docker/ci/install-pips.bash
  docker/dev/install.sh
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

add go deps
  go.mod
  go.sum
Due: none

update readme
  README.md
Due: none

change create table order by to tuple
  go/sqlfs/table.go
Due: copyright_checker

fix gzip tar bugs
  go/model/model.go
  go/model/tar.go
  python/runtime/db_writer/clickhouse.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

change create table order by to tuple() and fix untar commands
  go/executor/pre_exec.go
  go/model/model.go
Due: copyright_checker

add clickhouse docs
  doc/run/docker.md
  doc/run_with_clickhouse.md
Due: none

change cannot to can't
  go/sqlfs/sql_writer.go
Due: copyright_checker

remove local dev test files
  test/m.go
  test/m.py
Due: copyright_checker, pylint

add testing files
  go/tests/testing.go
Due: copyright_checker

fix pylint and go unit tests
  go/database/db_test.go
  python/runtime/db_writer/clickhouse.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

fix pre-commit errors
  python/sql_data.py
Due: copyright_checker, pylint

fix pre-commit errors
  docker/jupyterhub/jupyterhub_config.py
Due: copyright_checker, pylint

fix pre-commit errors
  go/model/tar.go
Due: copyright_checker

fix pre-commit errors
  python/runtime/dbapi/table_writer/protobuf_writer.py
Due: copyright_checker, pylint

fix pre-commit errors
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

fix: Add missing commas
  python/tools/spell_check.py
Due: copyright_checker, pylint

support workflow serviceAccount and namespace
  go.mod
  go.sum
  go/proto/sqlflow.proto
  go/sqlflowserver/sqlflowserver.go
  go/workflow/argo/fetch.go
  go/workflow/argo/fetch_test.go
  go/workflow/argo/k8s_api.go
  go/workflow/argo/workflow.go
  go/workflow/response/response.go
  go/workflow/workflow.go
  go/workflow/workflow_test.go
Due: copyright_checker

test update ci
  .github/workflows/main.yml
Due: none

test ci
  .github/workflows/main.yml
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

test ci
  .github/workflows/main.yml
Due: none

test ci
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

test ci
  go/workflow/workflow.go
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

test ci
  .github/workflows/main.yml
  scripts/test/code-style-deps.sh
Due: copyright_checker, shellcheck

test ci
  scripts/test/code-style-deps.sh
Due: copyright_checker, shellcheck

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
