Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: local
  hooks:
  - id: yamlfmt
    name: yamlfmt
    entry: bash ./scripts/pre-commit/yamlfmt.sh
    language: system
    files: \.(yaml|yml)$
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.20
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  sha: master
  hooks:
  - id: black
    args: [--line-length=79]
    # - repo: https://github.com/pre-commit/pre-commit-hooks
    #   rev: v2.2.3
    #   hooks:
    #   - id: flake8
    # - repo: git://github.com/skorokithakis/pre-commit-mypy
    #   rev: v0.701
    #   hooks:
    #   - id: mypy
    # - repo: https://github.com/asottile/seed-isort-config
    #   rev: v1.9.1
    #   hooks:
    #   - id: seed-isort-config

update
  python/sqlflow_submitter/tensorflow/input_fn.py
Due: copyright_checker

Add a design doc for decoupling the client code out of SQLFlow Core (#2136)
  doc/design/cli.md
Due: none

Enable distributed XGBoost train on PAI (#2134)
  cmd/sqlflowserver/main_test.go
  doc/model_parameter.md
  pkg/sql/codegen/pai/cluster_config.go
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/pai/template_xgboost.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/codegen_test.go
  pkg/sql/codegen/xgboost/template_train.go
  pkg/workflow/workflow.go
  python/sqlflow_submitter/tensorflow/pai_distributed.py
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/pai_rabit.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker

follow comments
  cmd/sqlflowserver/main_test.go
  pkg/ir/ir.go
  pkg/sql/codegen/tensorflow/codegen.go
Due: copyright_checker

follow comments
  doc/contribute_models.md
  doc/design/contribute_models_new.md
  doc/design/model_zoo.md
Due: none

update by comments
  pkg/sql/codegen/tensorflow/template_evaluate.go
  pkg/sql/ir_generator.go
  pkg/sql/submitter.go
  python/sqlflow_submitter/tensorflow/evaluate.py
Due: copyright_checker

Enable cache for training and validation (#2145)
  python/sqlflow_submitter/tensorflow/input_fn.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker

Support TO EVALUATE execution for Tensorflow and Keras (#2139)
  cmd/sqlflowserver/main_test.go
  pkg/ir/ir.go
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/sql/codegen/tensorflow/codegen.go
  pkg/sql/codegen/tensorflow/template_evaluate.go
  pkg/sql/executor_ir.go
  pkg/sql/ir_generator.go
  pkg/sql/submitter.go
  python/sqlflow_submitter/tensorflow/evaluate.py
  python/sqlflow_submitter/tensorflow/evaluate_example.py
Due: copyright_checker

update follows comment
  pkg/step/step.go
  pkg/tablewriter/protobuf.go
Due: copyright_checker

pipe step error message to server side (#2135)
  cmd/sqlflowserver/main_test.go
  pkg/step/step.go
  pkg/tablewriter/ascii.go
  pkg/tablewriter/protobuf.go
  pkg/workflow/argo/fetch.go
  pkg/workflow/couler/codegen_test.go
  pkg/workflow/response/response.go
  python/couler/couler/steps/sqlflow_step.py
Due: copyright_checker

Update model zoo designs (#2132)
  doc/contribute_models.md
  doc/design/contribute_models_new.md
  doc/design/figures/model_zoo_server.png
  doc/design/model_market.md
  doc/design/model_zoo.md
  doc/design/model_zoo_dev.md
Due: none

decoupling sqlflow client from server
  Dockerfile
  cmd/sqlflow/emacs_key_bindings.go
  cmd/sqlflow/index.html
  cmd/sqlflow/input.go
  cmd/sqlflow/main.go
  cmd/sqlflow/main_test.go
  cmd/sqlflow/output.go
  cmd/sqlflow/prompt.go
  cmd/sqlflow/repl.go
  cmd/sqlflow/repl_test.go
  cmd/sqlflow/rpc_stream_renderer.go
  pkg/proto/response.go
  pkg/sql/executor_ir.go
  pkg/step/step.go
Due: copyright_checker

refine according to cr
  Dockerfile
  cmd/sqlflow/repl.go
  cmd/sqlflow/repl_test.go
  pkg/step/step.go
  pkg/workflow/argo/fetch_test.go
  scripts/tensorflow_step_image/Dockerfile
  scripts/tensorflow_step_image/README.md
Due: copyright_checker

pick pai log viewer url from output
  go.mod
  go.sum
  pkg/parser/external/parser.go
  pkg/sql/alisa_submitter.go
  pkg/sql/pai_submitter.go
  pkg/sql/pai_submitter_test.go
Due: copyright_checker

update
  go.sum
  pkg/parser/external/parser.go
Due: copyright_checker

rename repl to main
  cmd/sqlflow/main.go
  cmd/sqlflow/main_test.go
Due: copyright_checker

WIP support to evaluate on PAI
  cmd/sqlflowserver/main_test.go
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/pai/template_tf.go
  pkg/sql/codegen/pai/tensorflow.go
  pkg/sql/pai_submitter.go
  python/sqlflow_submitter/tensorflow/evaluate.py
Due: copyright_checker

decoupling sqlflow client from server (#2149)
  Dockerfile
  cmd/repl/repl.go
  cmd/repl/repl_test.go
  cmd/sqlflow/emacs_key_bindings.go
  cmd/sqlflow/index.html
  cmd/sqlflow/input.go
  cmd/sqlflow/main.go
  cmd/sqlflow/main_test.go
  cmd/sqlflow/output.go
  cmd/sqlflow/prompt.go
  cmd/sqlflow/rpc_stream_renderer.go
  pkg/proto/response.go
  pkg/sql/executor_ir.go
  pkg/step/step.go
  pkg/workflow/argo/fetch_test.go
  scripts/tensorflow_step_image/Dockerfile
  scripts/tensorflow_step_image/README.md
Due: copyright_checker

update
  pkg/sql/codegen/pai/template_tf.go
Due: copyright_checker

design for sqlflow diagnosis
  doc/design/diagnosis.md
Due: none

clean up
  cmd/sqlflowserver/main_test.go
Due: copyright_checker

disable tensorflow warning logs by default
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker

fix comments
  python/sqlflow_submitter/tensorflow/evaluate.py
Due: copyright_checker

fix comments
  pkg/sql/codegen/pai/tensorflow.go
Due: copyright_checker

Rhapsody of Code Refactory
  doc/design/refactory.md
Due: none

disable tensorflow warning logs by default (#2157)
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker

update as comment
  doc/design/diagnosis.md
Due: none

update
  doc/design/diagnosis.md
Due: none

polish enum type to string
  doc/design/diagnosis.md
Due: none

Fix dec model training is ignoring sample dimensions
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker

update goalisa module
  go.mod
  go.sum
Due: none

fix comments
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/pai/tensorflow.go
  pkg/sql/executor_ir_test.go
  pkg/sql/pai_submitter.go
Due: copyright_checker

Fix useless error message at start
  cmd/sqlflow/main.go
Due: copyright_checker

pick pai log viewer url from output (#2151)
  go.mod
  go.sum
  pkg/sql/alisa_submitter.go
  pkg/sql/pai_submitter.go
  pkg/sql/pai_submitter_test.go
Due: copyright_checker

update sqlflow repl mode doc
  doc/build.md
  doc/run/repl.md
Due: none

change BaseParser to accept more parse result fields
  java/parse-interface/src/main/java/org/sqlflow/parser/parse/BaseParser.java
  java/parser-calcite/src/main/java/org/sqlflow/parser/calcite/CalciteParserAdaptor.java
  java/parser-hive/src/main/java/org/sqlflow/parser/hive/HiveParserAdaptor.java
Due: google_style_java

Fix useless error message at start (#2163)
  cmd/sqlflow/main.go
Due: copyright_checker

Slightly improve syntax error message
  pkg/parser/lexer.go
  pkg/parser/sqlflow_parser_test.go
Due: copyright_checker
