Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

optimize syntax support group by
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/parser/lexer.go
Due: copyright_checker

update time series tutorial model name (#2443)
  doc/tutorial/energe_lstmbasedtimeseries.md
Due: none

Model zoo cli (#2438)
  cmd/sqlflow/main.go
  cmd/sqlflow/main_test.go
  cmd/sqlflow/model_zoo_client.go
  cmd/sqlflow/model_zoo_client_test.go
  cmd/sqlflowserver/e2e_common_cases.go
  go.mod
  go.sum
  pkg/model/model.go
Due: copyright_checker

support inc training in tf
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_hive_test.go
  cmd/sqlflowserver/e2e_maxcompute_test.go
  cmd/sqlflowserver/e2e_mysql_test.go
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/pai/template_tf.go
  pkg/sql/codegen/pai/tensorflow.go
  pkg/sql/codegen/tensorflow/codegen.go
  pkg/sql/codegen/tensorflow/template_train.go
  python/sqlflow_submitter/tensorflow/diag.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train.py
  python/sqlflow_submitter/tensorflow/train_estimator.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

support inc training in tf
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_hive_test.go
  cmd/sqlflowserver/e2e_maxcompute_test.go
  cmd/sqlflowserver/e2e_mysql_test.go
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/pai/template_tf.go
  pkg/sql/codegen/pai/tensorflow.go
  pkg/sql/codegen/tensorflow/codegen.go
  pkg/sql/codegen/tensorflow/template_train.go
  python/sqlflow_submitter/tensorflow/diag.py
  python/sqlflow_submitter/tensorflow/pai_distributed.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train.py
  python/sqlflow_submitter/tensorflow/train_estimator.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

add optimize IR
  pkg/ir/ir.go
Due: copyright_checker

Add the missing semicolon
  pkg/parser/extended_syntax_parser.y
Due: none

fix db close bug
  cmd/sqlflowserver/testing.go
  pkg/model/model.go
  pkg/sql/executor_ir.go
Due: copyright_checker

fix more forgotten close
  cmd/sqlflow/main_test.go
  cmd/sqlflowserver/testing.go
  pkg/database/testing.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/using_model_test.go
  pkg/sql/codegen/pai/kmeans.go
  pkg/sql/codegen/pai/pai.go
  pkg/sql/codegen/pai/random_forests.go
  pkg/sql/pai_submitter.go
  pkg/sql/submitter.go
  pkg/step/feature/derivation_test.go
Due: copyright_checker

fix ci failure
  pkg/database/testing.go
Due: copyright_checker

update
  docker/modelzooserver/Dockerfile
  scripts/travis/build.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

polish doc
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

fix PAI warm_start_from cannot load bug
  cmd/sqlflowserver/e2e_common_cases.go
  pkg/sql/codegen/pai/template_tf.go
  python/sqlflow_submitter/tensorflow/diag.py
Due: copyright_checker, pylint

Close DB connection in time (#2447)
  cmd/sqlflow/main_test.go
  cmd/sqlflowserver/testing.go
  pkg/model/model.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/using_model_test.go
  pkg/sql/codegen/pai/kmeans.go
  pkg/sql/codegen/pai/pai.go
  pkg/sql/codegen/pai/random_forests.go
  pkg/sql/executor_ir.go
  pkg/sql/pai_submitter.go
  pkg/sql/submitter.go
  pkg/step/feature/derivation_test.go
Due: copyright_checker

update
  docker/modelzooserver/Dockerfile
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

Fix typos in warning messages
  pkg/sql/executor_ir.go
  pkg/sql/pai_submitter.go
Due: copyright_checker

fix pai ci
  pkg/sql/codegen/pai/template_xgboost.go
Due: copyright_checker

fix develop ci building docker image
  docker/step/Dockerfile
Due: none

Test ci change apt-source
  docker/dev/find_fastest_resources.sh
Due: copyright_checker, shellcheck

fix typo
  docker/dev/find_fastest_resources.sh
Due: copyright_checker, shellcheck

fix develop ci building docker image (#2451)
  docker/step/Dockerfile
Due: none

Add a unit test to cover none-existed models in increment training
  cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

add optimize IR (#2445)
  pkg/ir/ir.go
Due: copyright_checker

optimize syntax support group by (#2444)
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/parser/lexer.go
Due: copyright_checker

fix apt-get install failed
  docker/modelzooserver/Dockerfile
Due: none

Add a unit test to cover none-existed models in increment training (#2455)
  cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

Design doc for model metadata storage
  doc/design/model_meta_storage.md
Due: none

Support TO RUN statement parsing. (#2442)
  pkg/parser/extended_syntax_parser.y
  pkg/parser/extended_syntax_parser_test.go
  pkg/parser/lexer.go
Due: copyright_checker

fix pai ci (#2450)
  pkg/sql/codegen/pai/template_xgboost.go
Due: copyright_checker

update
  docker/modelzooserver/Dockerfile
Due: none

make warm_start_from condition stricter
  python/sqlflow_submitter/tensorflow/diag.py
Due: copyright_checker, pylint

polish saveCode -> loadCode
  pkg/sql/codegen/pai/tensorflow.go
Due: copyright_checker

polish
  pkg/sql/codegen/pai/tensorflow.go
Due: copyright_checker

polish model zoo server
  pkg/modelzooserver/input_check.go
  pkg/modelzooserver/input_check_test.go
  pkg/modelzooserver/modelzooserver.go
Due: copyright_checker

fix ci
  pkg/modelzooserver/input_check.go
  pkg/modelzooserver/input_check_test.go
Due: copyright_checker

Incremental training of TensorFlow models (#2446)
  cmd/sqlflowserver/e2e_common_cases.go
  cmd/sqlflowserver/e2e_hive_test.go
  cmd/sqlflowserver/e2e_maxcompute_test.go
  cmd/sqlflowserver/e2e_mysql_test.go
  pkg/sql/codegen/pai/codegen.go
  pkg/sql/codegen/pai/codegen_test.go
  pkg/sql/codegen/pai/template_tf.go
  pkg/sql/codegen/pai/tensorflow.go
  pkg/sql/codegen/tensorflow/codegen.go
  pkg/sql/codegen/tensorflow/template_train.go
  python/sqlflow_submitter/tensorflow/diag.py
  python/sqlflow_submitter/tensorflow/pai_distributed.py
  python/sqlflow_submitter/tensorflow/predict.py
  python/sqlflow_submitter/tensorflow/train.py
  python/sqlflow_submitter/tensorflow/train_estimator.py
  python/sqlflow_submitter/tensorflow/train_keras.py
Due: copyright_checker, pylint

Refine model zoo CLI UT
  cmd/sqlflow/model_zoo_client_test.go
Due: copyright_checker

Revised as comments
  cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

Polish model zoo server (#2458)
  pkg/modelzooserver/input_check.go
  pkg/modelzooserver/input_check_test.go
  pkg/modelzooserver/modelzooserver.go
Due: copyright_checker
