Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Update residual local models repo (#2378)
  docker/dev/build.sh
  go.mod
Due: copyright_checker, shellcheck

Update install-sqlflow.yaml
  doc/run/k8s/install-sqlflow.yaml
Due: none

add hits for workflow
  pkg/parser/sqlflow_parser.go
  pkg/sql/executor_ir.go
  pkg/workflow/workflow.go
Due: copyright_checker

Add interface documentation
  python/extract_docstring.py
  python/sql_data.py
Due: copyright_checker, pylint

fix ci
  pkg/workflow/workflow.go
Due: copyright_checker

test travis vm build
  .travis.yml
Due: none

test
  docker/dev/install.sh
Due: copyright_checker, shellcheck

polish
  pkg/modelzooserver/image_build.go
  python/sqlflow_submitter/import_custom_models.py
Due: copyright_checker, pylint

Polish install-sqlflow.yaml (#2377)
  doc/run/k8s/install-sqlflow.yaml
Due: none

cli add model zoo command (#2370)
  doc/design/cli_model_zoo_cmd.md
Due: none

Move /Dockerfile to /docker/ci/Dockerfile (#2379)
  docker/ci/Dockerfile
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

Update to_run.md
  doc/design/to_run.md
Due: none

Build the release image
  docker/release/Dockerfile
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

CI docker push sqlflow:release
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

Use docker/release/install.sh to install pre-built SQLFlow into release and ci images
  docker/ci/Dockerfile
  docker/release/Dockerfile
  docker/release/install.sh
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

chmod +x docker/release/install.sh
  docker/release/install.sh
Due: copyright_checker, shellcheck

Temporarily disable CI deployment of sqlflow client
  .travis.yml
Due: none

Do not use install.sh
  docker/ci/Dockerfile
  docker/release/Dockerfile
Due: none

Remove docker/release/install.sh
  docker/release/install.sh
Due: copyright_checker, shellcheck

Rename docker/release into docker/server
  docker/server/Dockerfile
Due: none

Rename docker tag from :release to :server
  scripts/travis/build.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

Create directory beffore copying
  docker/server/Dockerfile
Due: none

Remove uncessary exported environment variable IPYTHON_STARTUP
  docker/ci/Dockerfile
  docker/ci/install-jupyter.bash
Due: shellcheck

Temporarily disable CI deployment of sqlflow client (#2385)
  .travis.yml
Due: none

Remove uncessary exported environment variable IPYTHON_STARTUP (#2386)
  docker/ci/Dockerfile
  docker/ci/install-jupyter.bash
Due: shellcheck

End2end test modelzoo releasing model definition (#2363)
  .travis.yml
  pkg/modelzooserver/get_model_classes.go
  pkg/modelzooserver/image_build.go
  pkg/modelzooserver/image_build_test.go
  pkg/modelzooserver/input_check.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/tar_test.go
  pkg/modelzooserver/templates.go
Due: copyright_checker

separate notebook image
  docker/ci/Dockerfile
  docker/ci/start.sh
  docker/notebook/Dockerfile
  docker/notebook/install-jupyter.bash
  docker/notebook/js/custom.js
  docker/notebook/js/sqlflow.js
  docker/notebook/start.bash
  go.mod
  scripts/travis/deploy_docker.sh
Due: copyright_checker, jsbeautifier, shellcheck

update
  docker/ci/Dockerfile
Due: none

update as comment
  docker/jupyter/Dockerfile
  docker/jupyter/install-jupyter.bash
  docker/jupyter/js/custom.js
  docker/jupyter/js/sqlflow.js
  docker/notebook/start.bash
  scripts/travis/deploy_docker.sh
Due: copyright_checker, jsbeautifier, shellcheck

add ut
  pkg/sql/executor_ir_test.go
Due: copyright_checker

polish unit test
  pkg/sql/executor_ir_test.go
Due: copyright_checker

build notebook image (#2387)
  docker/ci/Dockerfile
  docker/ci/start.sh
  docker/jupyter/Dockerfile
  docker/jupyter/install-jupyter.bash
  docker/jupyter/js/custom.js
  docker/jupyter/js/sqlflow.js
  go.mod
  scripts/travis/deploy_docker.sh
Due: copyright_checker, jsbeautifier, shellcheck

Fix bug
  docker/dev/build.sh
  docker/jupyter/Dockerfile
  go.mod
  scripts/travis/build.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

Fix bug (#2390)
  docker/dev/build.sh
  docker/jupyter/Dockerfile
  go.mod
  scripts/travis/build.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

Update build.sh
  scripts/travis/build.sh
Due: copyright_checker, shellcheck

test ci
  .travis.yml
Due: none

fix typo
  pkg/sql/executor_ir.go
Due: copyright_checker

Add interface notes
  python/sql_data.py
Due: copyright_checker, pylint

fix ut again
  cmd/sqlflowserver/main_test.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/db_writer/mysql.py
  python/sqlflow_submitter/db_writer/pai_maxcompute.py
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/predict.py
Due: copyright_checker, pylint

Add interface notes (#2391)
  python/sql_data.py
Due: copyright_checker, pylint

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
