Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

update
  doc/design/libsvm_format_column.md
Due: none

update
  pkg/executor/pai.go
  pkg/executor/pai_test.go
Due: copyright_checker

push image to aliyun registry (#2559)
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

config sqlflow image
  docker/jupyterhub/Dockerfile
  docker/jupyterhub/jupyterhub_config.py
Due: copyright_checker, pylint

unique ir_generator_test.go
  pkg/ir/ir_generator_test.go
  pkg/sql/executor_ir_test.go
  pkg/sql/ir_generator_test.go
Due: copyright_checker

update test case name
  pkg/sql/executor_ir_test.go
Due: copyright_checker

upgrade pysqlflow to 0.12.0
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

Enhance IndicatorColumn type check (#2560)
  pkg/ir/feature_column.go
Due: copyright_checker

fix typo
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

upgrade pysqlflow to 0.12.0 (#2571)
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

config sqlflow image (#2566)
  docker/jupyterhub/Dockerfile
  docker/jupyterhub/jupyterhub_config.py
Due: copyright_checker, pylint

fix deleting previous model dir on oss (#2564)
  pkg/executor/pai.go
Due: copyright_checker

Update the module order in go.mod
  go.mod
Due: none

update to follow comments
  doc/design/libsvm_format_column.md
Due: none

remove unessesary mkdir
  pkg/executor/pai.go
Due: copyright_checker

fix typo (#2573)
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

Save model to maxcompute for pai job (#2563)
  pkg/executor/alisa.go
  pkg/executor/pai.go
Due: copyright_checker

make combiner optional
  cmd/sqlflowserver/e2e_mysql_test.go
  pkg/ir/ir_generator.go
Due: copyright_checker

fix develop branch build failed
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

fix develop branch build failed (#2576)
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

Fix invalide table format
  doc/sqlflow.org_cn/models/rnn_based_time_series.md
Due: none

simplify STL model ut
  cmd/sqlflowserver/e2e_mysql_test.go
Due: copyright_checker

add numeric column clause design
  doc/design/numeric_typed_column_clause.md
Due: none

wip: support release model repo using kaniko on kubernetes
  pkg/modelzooserver/image_build.go
  pkg/modelzooserver/image_build_test.go
Due: copyright_checker

rename file
  doc/design/numeric_column_clause.md
Due: none

make combiner optional (#2575)
  cmd/sqlflowserver/e2e_mysql_test.go
  pkg/ir/ir_generator.go
Due: copyright_checker

update cli usage doc
  doc/run/cli.md
Due: none

update
  pkg/modelzooserver/image_build.go
Due: copyright_checker

mock model meta
  pkg/ir/ir_generator.go
  pkg/ir/ir_generator_test.go
  pkg/model/model.go
Due: copyright_checker

Unique ir_generator_test.go (#2570)
  pkg/ir/ir_generator.go
  pkg/ir/ir_generator_test.go
  pkg/model/model.go
  pkg/sql/executor_ir_test.go
  pkg/sql/ir_generator_test.go
Due: copyright_checker

Merge submitAlisaTask and submitAlisaPyODPSTask into one method submitAlisaTask.
  pkg/executor/alisa.go
Due: copyright_checker

Add a simple E2E test for TO RUN statement
  cmd/sqlflowserver/e2e_workflow_test.go
  pkg/executor/alisa.go
Due: copyright_checker

update
  doc/design/numeric_column_clause.md
Due: none

simplify STL model ut (#2578)
  cmd/sqlflowserver/e2e_mysql_test.go
Due: copyright_checker

Update the test case name for TO RUN workflow.
  cmd/sqlflowserver/e2e_workflow_test.go
Due: copyright_checker

fix deploy docker images
  scripts/travis/build.sh
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

remove NUMERIC COLUMN
  cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  doc/design/alps_submitter.md
  doc/design/ant_xgboost.md
  doc/design/elasticdl_on_sqlflow.md
  doc/design/train_parameters.md
  doc/design/xgboost_feature_column.md
  doc/language_guide.md
  pkg/ir/derivation.go
  pkg/ir/ir_generator.go
  pkg/ir/ir_generator_test.go
  pkg/sql/executor_ir_test.go
Due: copyright_checker

update
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

Add missed python modules to the step image
  docker/step/Dockerfile
Due: none
