Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

test ci
  .pre-commit-config.yaml
  go/workflow/workflow.go
  go/workflow/workflow_test.go
Due: copyright_checker

test ci
  .github/workflows/main.yml
  go/workflow/workflow_test.go
  scripts/pre-commit/docgen.sh
  scripts/pre-commit/pylint.sh
Due: copyright_checker, shellcheck

test ci
  scripts/test/mysql.sh
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

fix tests
  .github/workflows/main.yml
  go.mod
  go.sum
  go/cmd/sqlflow/model_zoo_client_test.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/modelzooserver/image_build_test.go
  go/modelzooserver/modelzooserver_test.go
  go/modelzooserver/using_model_test.go
  go/sql/executor_ir_test.go
  go/workflow/couler/codegen_test.go
  go/workflow/workflow_test.go
  python/runtime/step/xgboost/save.py
  python/runtime/tensorflow/predict.py
  scripts/test/mysql.sh
  scripts/test/prepare.sh
Due: copyright_checker, pylint, shellcheck

skip failed tests
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
Due: copyright_checker

skip failed tests
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

skip failed tests
  python/runtime/optimize/model_generation_test.py
  python/runtime/xgboost/model_save_test.py
Due: copyright_checker, pylint

fix tests
  python/runtime/xgboost/model_save_test.py
Due: copyright_checker, pylint

fix tests
  python/runtime/optimize/model_generation_test.py
  python/runtime/xgboost/model_save_test.py
Due: copyright_checker, pylint

fix tests
  .github/workflows/main.yml
Due: none

Support workflow serviceAccount and namespace (#3134)
  .github/workflows/main.yml
  .pre-commit-config.yaml
  go.mod
  go.sum
  go/cmd/sqlflow/model_zoo_client_test.go
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/modelzooserver/image_build_test.go
  go/modelzooserver/modelzooserver_test.go
  go/modelzooserver/using_model_test.go
  go/proto/sqlflow.proto
  go/sql/executor_ir_test.go
  go/sqlflowserver/sqlflowserver.go
  go/workflow/argo/fetch.go
  go/workflow/argo/fetch_test.go
  go/workflow/argo/k8s_api.go
  go/workflow/argo/workflow.go
  go/workflow/couler/codegen_test.go
  go/workflow/response/response.go
  go/workflow/workflow.go
  go/workflow/workflow_test.go
  python/runtime/optimize/model_generation_test.py
  python/runtime/step/xgboost/save.py
  python/runtime/tensorflow/predict.py
  python/runtime/xgboost/model_save_test.py
  scripts/pre-commit/docgen.sh
  scripts/pre-commit/pylint.sh
  scripts/test/code-style-deps.sh
  scripts/test/mysql.sh
  scripts/test/prepare.sh
Due: copyright_checker, pylint, shellcheck

Adding tarfile member sanitization to extractall()
  python/runtime/model/tar.py
Due: copyright_checker, pylint
