Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

correct estimator_predict args
  python/runtime/pai/tensorflow_submitter/predict.py
Due: copyright_checker, pylint

correct estimator_predict args (#2966)
  python/runtime/pai/tensorflow_submitter/predict.py
Due: copyright_checker, pylint

remove local executor
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_test.go
  go/executor/executor.go
  go/sqlflowserver/sqlflowserver.go
Due: copyright_checker

fix ut
  go/cmd/sqlflow/main_test.go
  go/cmd/sqlflowserver/testing.go
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/hive.py
  python/runtime/dbapi/table_writer/protobuf_writer.py
Due: copyright_checker, pylint

fix alisa
  go/cmd/sqlflowserver/testing.go
  go/executor/executor.go
Due: copyright_checker

fix caseTrainRegression by enlarge batch_size and epoch
  go/cmd/sqlflowserver/e2e_common_cases.go
Due: copyright_checker

update weighted_category_column derivation
  go/ir/derivation.go
  go/ir/ir_generator.go
  go/ir/ir_generator_test.go
Due: copyright_checker

add weighted column in Python
  python/runtime/feature/column.py
  python/runtime/feature/column_test.py
  python/runtime/feature/compile.py
  python/runtime/feature/derivation.py
  python/runtime/feature/derivation_test.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

polish code
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/executor/executor.go
Due: copyright_checker

update
  go/codegen/experimental/parse_to_ir.go
  go/executor/executor.go
Due: copyright_checker

update
  go/executor/executor.go
Due: copyright_checker

add weighted column in Python (#2968)
  python/runtime/feature/column.py
  python/runtime/feature/column_test.py
  python/runtime/feature/compile.py
  python/runtime/feature/derivation.py
  python/runtime/feature/derivation_test.py
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

clean up
  python/runtime/pai/xgboost_submitter/train.py
  python/runtime/tensorflow/train.py
Due: copyright_checker, pylint

Add sample SQL statements for TO RUN.
  doc/tutorial/fraud-analysis.md
Due: none

Add the SQL statement to show the two dimensional binning result.
  doc/tutorial/fraud-analysis.md
Due: none

Add some introduction about TO RUN statement.
  doc/tutorial/fraud-analysis.md
Due: none

Add some content about the data binning.
  doc/tutorial/fraud-analysis.md
Due: none

Add tutorial deployment to QiNiu script
  .github/workflows/main.yml
  scripts/travis/deploy_tutorials.sh
Due: copyright_checker, shellcheck

Add tutorial deployment to QiNiu script
  scripts/travis/deploy_tutorials.sh
Due: copyright_checker, shellcheck

add env SQLFLOW_USE_EXPERIMENTAL_CODEGEN
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/executor/executor.go
  go/workflow/workflow.go
  scripts/test/hive.sh
  scripts/test/mysql.sh
Due: copyright_checker, shellcheck

Infer weighted categorical columns (#2964)
  go/ir/derivation.go
  go/ir/ir_generator.go
  go/ir/ir_generator_test.go
  python/runtime/tensorflow/train_estimator.py
Due: copyright_checker, pylint

update upload file
  scripts/travis/deploy_tutorials.sh
Due: copyright_checker, shellcheck

Replace the normal statement query with the refactorized codegen (#2967)
  go/cmd/sqlflow/main_test.go
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/cmd/sqlflowserver/testing.go
  go/codegen/experimental/codegen_couler.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_test.go
  go/codegen/experimental/parse_to_ir.go
  go/executor/executor.go
  go/sqlflowserver/sqlflowserver.go
  go/workflow/workflow.go
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/hive.py
  python/runtime/dbapi/table_writer/protobuf_writer.py
  scripts/test/hive.sh
  scripts/test/mysql.sh
Due: copyright_checker, pylint, shellcheck

Test sqlflow ipython magic in ci (#2925)
  .github/workflows/main.yml
  docker/jupyter/install-jupyter.sh
  scripts/test/ipython.sh
Due: copyright_checker, shellcheck

replace experimental codegen
  go/codegen/experimental/parse_to_ir.go
  go/executor/executor.go
  go/sql/executor_ir.go
  python/runtime/feature/compile.py
  python/runtime/xgboost/feature_column.py
Due: copyright_checker, pylint

uncomment debug logic
  scripts/travis/deploy_tutorials.sh
Due: copyright_checker, shellcheck

write maxcompute table by slice_id in paiio
  python/runtime/db.py
  python/runtime/db_writer/pai_maxcompute.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

fix optimizer/loss
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

Add GitHub action to deploy tutorials to QiNiu Cloud (#2969)
  .github/workflows/main.yml
  scripts/travis/deploy_tutorials.sh
Due: copyright_checker, shellcheck

write maxcompute table by slice_id in paiio (#2971)
  python/runtime/db.py
  python/runtime/db_writer/pai_maxcompute.py
  python/runtime/xgboost/predict.py
Due: copyright_checker, pylint

speed up imports
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/codegen/experimental/codegen_normal_stmt.go
  python/runtime/dbapi/__init__.py
  python/runtime/dbapi/table_writer/protobuf_writer.py
Due: copyright_checker, pylint

update dock link
  doc/tutorial/fraud-dnn.md
  doc/tutorial/housing-explain.md
  doc/tutorial/housing-xgboost.md
  doc/tutorial/iris-dnn.md
  doc/tutorial/optimization_guide.md
Due: none

commit
  go/codegen/experimental/codegen_normal_stmt.go
  python/runtime/dbapi/connection.py
Due: copyright_checker, pylint

fix optimizer/loss (#2972)
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

polish maxcompute writer
  python/runtime/db_writer/pai_maxcompute.py
Due: copyright_checker, pylint

speed up imports (#2973)
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/codegen/experimental/codegen_normal_stmt.go
  python/runtime/dbapi/__init__.py
  python/runtime/dbapi/table_writer/protobuf_writer.py
Due: copyright_checker, pylint

some code clean ups
  python/runtime/pai/tensorflow_submitter/predict.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/step/tensorflow/train.py
  python/runtime/step/tensorflow/train_estimator.py
  python/runtime/step/tensorflow/train_keras.py
  python/runtime/tensorflow/train.py
  python/runtime/tensorflow/train_estimator.py
Due: copyright_checker, pylint

Add dsw link for some doc (#2965)
  doc/tutorial/fraud-dnn.md
  doc/tutorial/housing-explain.md
  doc/tutorial/housing-xgboost.md
  doc/tutorial/iris-dnn.md
  doc/tutorial/optimization_guide.md
Due: none

update
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
