Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Add download model doc (#2917)
  doc/export_model.md
  doc/quick_start.md
Due: none

Update language guide
  doc/language_guide.md
Due: none

fix pai py3 test again
  python/runtime/model/oss.py
Due: copyright_checker, pylint

fix pai py3 test again (#2932)
  python/runtime/model/oss.py
Due: copyright_checker, pylint

Update language guide (#2931)
  doc/language_guide.md
Due: none

test add codecov report
  .codecov.yml
Due: none

update
  .codecov.yml
  .github/workflows/main.yml
Due: none

update
  .codecov.yml
Due: none

add python coverage
  scripts/test/mysql.sh
Due: copyright_checker, shellcheck

update
  scripts/test/mysql.sh
Due: copyright_checker, shellcheck

put token to secret
  .codecov.yml
  .github/workflows/main.yml
Due: none

Test add codecov report (#2933)
  .codecov.yml
  .github/workflows/main.yml
  scripts/test/mysql.sh
Due: copyright_checker, shellcheck

Small doc fix
  README.md
  doc/language_guide.md
Due: none

push more coverage data
  .github/workflows/main.yml
  scripts/test/hive.sh
  scripts/test/workflow.sh
  scripts/travis/upload_codecov.sh
Due: copyright_checker, shellcheck

install pytest-cov
  docker/dev/install.sh
Due: copyright_checker, shellcheck

install pytest-cov
  scripts/test/prepare.sh
Due: copyright_checker, shellcheck

Add install SQLFlow playground on Kubernetes doc
  doc/run/k8s/install-sqlflow-multi-users.yaml
  doc/run/kubernetes.md
  docker/jupyterhub/Dockerfile
  docker/jupyterhub/jupyterhub_config.py
  docker/jupyterhub/provision.sh
Due: copyright_checker, pylint, shellcheck

polish code
  docker/jupyterhub/Dockerfile
Due: none

Push more coverage data (#2935)
  .github/workflows/main.yml
  docker/dev/install.sh
  scripts/test/hive.sh
  scripts/test/prepare.sh
  scripts/test/workflow.sh
  scripts/travis/upload_codecov.sh
Due: copyright_checker, shellcheck

Add logview url for dtm log collection
  go/workflow/argo/fetch.go
Due: copyright_checker

fix ut
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_step_train.go
  go/codegen/experimental/semantic_xgboost.go
  python/runtime/local/submitter.py
  python/runtime/local/xgboost_submitter/local_submitter_test.py
  python/runtime/local/xgboost_submitter/train.py
Due: copyright_checker, pylint

add weighted_category_column support
  go/ir/derivation_test.go
  go/ir/feature_column.go
  go/ir/ir_generator.go
  go/ir/ir_generator_test.go
  go/ir/mock_ir.go
  python/runtime/db.py
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

fix ut
  python/runtime/local/submitter_test.py
Due: copyright_checker, pylint

Add logview url for dtm log collection (#2938)
  go/workflow/argo/fetch.go
Due: copyright_checker

Fix some small doc problem (#2934)
  README.md
  doc/language_guide.md
Due: none

polish
  go/codegen/experimental/codegen_step_train.go
Due: copyright_checker

[Refactory] TensorFlow local codegen (#2926)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_step_train.go
  go/codegen/experimental/semantic_xgboost.go
  python/runtime/local/submitter.py
  python/runtime/local/submitter_test.py
  python/runtime/local/tensorflow_submitter/__init__.py
  python/runtime/local/tensorflow_submitter/train.py
  python/runtime/local/xgboost_submitter/local_submitter_test.py
  python/runtime/local/xgboost_submitter/train.py
Due: copyright_checker, pylint

add tf local python code
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/ir/feature_column.go
  python/__init__.py
  python/runtime/feature/field_desc.py
  python/runtime/local/tensorflow_submitter/train.py
  python/runtime/pai/entry.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/step/__init__.py
  python/runtime/step/tensorflow/__init__.py
  python/runtime/step/tensorflow/train.py
  python/runtime/step/tensorflow/train_estimator.py
  python/runtime/step/tensorflow/train_keras.py
Due: copyright_checker, pylint

fix flake8 check
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

add start time and end time for logview page
  go/workflow/argo/fetch.go
Due: copyright_checker

modify according comments
  doc/run/k8s/install-sqlflow-multi-users.yaml
  doc/run/kubernetes.md
  docker/jupyterhub/jupyterhub_config.py
Due: copyright_checker, pylint

Add TensorFlow local Python code and uts (#2941)
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/ir/feature_column.go
  python/__init__.py
  python/runtime/feature/field_desc.py
  python/runtime/local/tensorflow_submitter/train.py
  python/runtime/pai/entry.py
  python/runtime/pai/tensorflow_submitter/train.py
  python/runtime/step/__init__.py
  python/runtime/step/tensorflow/__init__.py
  python/runtime/step/tensorflow/train.py
  python/runtime/step/tensorflow/train_estimator.py
  python/runtime/step/tensorflow/train_keras.py
Due: copyright_checker, pylint

change time span to 24h
  go/workflow/argo/fetch.go
Due: copyright_checker

Add install SQLFlow playground on Kubernetes doc (#2937)
  doc/run/k8s/install-sqlflow-multi-users.yaml
  doc/run/kubernetes.md
  docker/jupyterhub/Dockerfile
  docker/jupyterhub/jupyterhub_config.py
  docker/jupyterhub/provision.sh
Due: copyright_checker, pylint, shellcheck

fix pai import error
  python/runtime/pai/tensorflow_submitter/train.py
Due: copyright_checker, pylint

wip
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/cmd/sqlflowserver/testing.go
  go/codegen/alps/template_train.go
  go/codegen/codegen_feature_column.go
  go/codegen/pai/tensorflow.go
  go/codegen/tensorflow/codegen.go
  go/codegen/tensorflow/template_evaluate.go
  go/codegen/tensorflow/template_explain.go
  go/codegen/tensorflow/template_pred.go
  go/codegen/tensorflow/template_train.go
  go/ir/derivation.go
  go/ir/feature_column.go
  go/ir/ir_generator.go
  go/ir/ir_generator_test.go
  python/runtime/db.py
  python/runtime/tensorflow/input_fn.py
Due: copyright_checker, pylint

fix pai import error (#2944)
  python/runtime/pai/tensorflow_submitter/train.py
Due: copyright_checker, pylint

add mysql tests
  go/cmd/sqlflowserver/e2e_common_cases.go
  go/codegen/tensorflow/codegen.go
  python/runtime/db.py
  python/runtime/tensorflow/input_fn.py
  python/runtime/tensorflow/predict.py
Due: copyright_checker, pylint

Print error message if to run execution failed.
  go/executor/executor.go
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
