Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Add more description about TO RUN function standards.
  doc/design/to_run_stmt.md
Due: none

Do some rephrase
  doc/design/to_run_stmt.md
Due: none

Add sample code for data_preprocessor.py
  doc/design/to_run_stmt.md
Due: none

Resolve the comments.
  doc/design/to_run_stmt.md
Due: none

add script to find best go proxy
  docker/dev/find_fastest_go_proxy.sh
Due: copyright_checker, shellcheck

Add script to find fastest resources for building
  docker/dev/find_fastest_go_proxy.sh
Due: copyright_checker, shellcheck

Add faster docker mirror check script
  docker/dev/find_fastest_resources.sh
  scripts/travis/start_argo.sh
Due: copyright_checker, shellcheck

update statement design, unify variable in expressions
  doc/design/programming_solver.md
Due: none

build mysql docker image
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

support fc in xgb 1st version codes, not complete
  pkg/sql/codegen/pai/template_xgboost.go
  pkg/sql/codegen/tensorflow/codegen.go
  pkg/sql/codegen/xgboost/codegen.go
  pkg/sql/codegen/xgboost/codegen_explain.go
  pkg/sql/codegen/xgboost/template_evaluate.go
  pkg/sql/codegen/xgboost/template_explain.go
  pkg/sql/codegen/xgboost/template_pred.go
  pkg/sql/codegen/xgboost/template_train.go
  python/sqlflow_submitter/db.py
  python/sqlflow_submitter/xgboost/__init__.py
  python/sqlflow_submitter/xgboost/dataset.py
  python/sqlflow_submitter/xgboost/evaluate.py
  python/sqlflow_submitter/xgboost/explain.py
  python/sqlflow_submitter/xgboost/feature_column.py
  python/sqlflow_submitter/xgboost/predict.py
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

fix transform_fn pass
  pkg/sql/codegen/pai/template_xgboost.go
  python/sqlflow_submitter/xgboost/train.py
Due: copyright_checker, pylint

fix missing files
  pkg/sql/codegen/common.go
  pkg/sql/codegen/tensorflow/codegen.go
  pkg/util/util.go
Due: copyright_checker

build mysql docker image (#2360)
  scripts/travis/deploy_docker.sh
Due: copyright_checker, shellcheck

Upgrade pysqlflow version
  docker/ci/install-jupyter.bash
Due: shellcheck

Update install-jupyter.bash
  docker/ci/install-jupyter.bash
Due: shellcheck

end2end test modelzoo
  pkg/modelzooserver/image_build.go
  pkg/modelzooserver/image_build_test.go
  pkg/modelzooserver/input_check.go
  pkg/modelzooserver/modelzooserver.go
  pkg/modelzooserver/modelzooserver_test.go
  pkg/modelzooserver/templates.go
Due: copyright_checker

Polish fraud chinese tutorial
  doc/sqlflow.org_cn/credit_card_fraud.cn.md
Due: none

install sqlflow with single user
  doc/run/k8s/install-sqlflow.yaml
  doc/run/kubernetes.md
Due: none

Fix typos
  doc/design/migration_to_python.md
Due: none

Fix weird lines
  doc/design/migration_to_python.md
Due: none

Rephrase
  doc/design/migration_to_python.md
Due: none

Fix punctuation and rephrase
  doc/design/migration_to_python.md
Due: none

Fix link
  doc/design/migration_to_python.md
Due: none

Overall design of the migration to python
  doc/design/migration_to_python.md
Due: none

Fix missed subject
  doc/design/migration_to_python.md
Due: none

Fix case
  doc/design/migration_to_python.md
Due: none

Fix punctuation
  doc/design/migration_to_python.md
Due: none

Rephrase a bit
  doc/design/migration_to_python.md
Due: none

Revised as comments
  doc/design/migration_to_python.md
Due: none

install sqlflow playground with single-user mode on Kubernetes (#2353)
  doc/run/k8s/install-sqlflow.yaml
  doc/run/kubernetes.md
Due: none

make AutoClassifier compatible with python2
  docker/dev/build.sh
Due: copyright_checker, shellcheck

update
  pkg/modelzooserver/image_build.go
  pkg/modelzooserver/image_build_test.go
Due: copyright_checker

update
  pkg/modelzooserver/modelzooserver.go
Due: copyright_checker

make AutoClassifier compatible with python2 (#2365)
  docker/dev/build.sh
Due: copyright_checker, shellcheck

Upgrade pysqlflow version (#2362)
  docker/ci/install-jupyter.bash
Due: shellcheck

Polish fraud chinese tutorial (#2354)
  doc/sqlflow.org_cn/credit_card_fraud.cn.md
Due: none

fix import any package name
  python/sqlflow_submitter/import_custom_models.py
  python/sqlflow_submitter/tensorflow/train.py
Due: copyright_checker, pylint

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
