Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

.pre-commit-config.yaml:

repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.5
  hooks:
  - id: go-fmt
  - id: go-lint
  - id: validate-toml
  - id: no-go-testing
- repo: local
  hooks:
  - id: copyright_checker
    name: copyright_checker
    entry: python ./scripts/pre-commit/copyright.py
    language: system
    files: \.(go|py|sh)$
- repo: local
  hooks:
  - id: documentation_checker
    name: documentation_checker
    entry: bash ./scripts/pre-commit/docgen.sh
    language: system
- repo: local
  hooks:
  - id: google_style_java
    name: google_style_java
    entry: bash ./scripts/pre-commit/google_java_format.sh
    language: system
    files: \.(java)$
    verbose: true
- repo: local
  hooks:
  - id: jsbeautifier
    name: jsbeautifier
    entry: bash ./scripts/pre-commit/jsbeautifier.sh
    language: system
    files: \.(js)$
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: bash ./scripts/pre-commit/pylint.sh
    language: system
    files: \.py$
    verbose: true
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: bash ./scripts/pre-commit/shellcheck.sh
    language: system
    files: \.(bash|sh)$
    verbose: true

fix modelzooserver test case
  go/cmd/sqlflow/model_zoo_client_test.go
  go/modelzooserver/modelzooserver_test.go
  go/modelzooserver/using_model_test.go
  go/sql/executor_ir.go
  python/runtime/model/model.py
  python/runtime/model/modelzoo.py
Due: copyright_checker, pylint

Resolve comments.
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

Add experimental codegen for Python executor (#2970)
  go/cmd/sqlflow/model_zoo_client_test.go
  go/codegen/experimental/parse_to_ir.go
  go/executor/executor.go
  go/modelzooserver/using_model_test.go
  go/sql/executor_ir.go
  python/runtime/model/model.py
  python/runtime/model/modelzoo.py
Due: copyright_checker, pylint

modify doc
  doc/sqlflow.org_cn/install_in_k8s.cn.md
Due: none

make ci run twice
  scripts/test/hive.sh
  scripts/test/mysql.sh
Due: copyright_checker, shellcheck

polish
  scripts/test/hive.sh
  scripts/test/mysql.sh
Due: copyright_checker, shellcheck

modify install_sqlflow_vm_box.cn.md
  doc/sqlflow.org_cn/install_sqlflow_vm_box.cn.md
Due: none

fix Hive ut error
  go/cmd/sqlflowserver/testing.go
Due: copyright_checker

test ci
  python/runtime/optimize/local.py
Due: copyright_checker, pylint

update readme definition part
  README.md
Due: none

Make CI run on both legacy codegen and experimental codegen (#3016)
  go/cmd/sqlflowserver/testing.go
  scripts/test/hive.sh
  scripts/test/mysql.sh
Due: copyright_checker, shellcheck

remove experimental backend
  go/workflow/workflow.go
Due: copyright_checker

update title
  doc/sqlflow.org_cn/install_sqlflow_vm_box.cn.md
Due: none

Create ci.md
  doc/tutorial/ci.md
Due: none

Create ci.md (#3023)
  doc/tutorial/ci.md
Due: none

remove experimental backend (#3019)
  go/workflow/workflow.go
Due: copyright_checker

make pai and alisa run on local mode
  go/executor/alisa.go
  go/executor/executor.go
  go/executor/pai.go
Due: copyright_checker

modify doc
  doc/sqlflow.org_cn/install_sqlflow_vm_box.cn.md
Due: none

Resolve pre-commit issue. The line is too long in Python files.
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

Update column grammar doc (#3007)
  doc/language_guide.md
Due: none

Resolve pre-commit issue.
  go/codegen/experimental/codegen_step_run.go
Due: copyright_checker

make pai and alisa run on local mode (#3024)
  go/executor/alisa.go
  go/executor/executor.go
  go/executor/pai.go
Due: copyright_checker

Add the implementation of local run.
  port-forward-log
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

Resolve the pre-commit issue.
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

make mysql field to be TEXT
  python/runtime/feature/field_desc.py
Due: copyright_checker, pylint

fix pai train error 1
  go/cmd/sqlflow/rpc_stream_renderer.go
  go/codegen/experimental/codegen_step_evaluate.go
  go/codegen/experimental/codegen_step_explain.go
  go/codegen/experimental/codegen_step_predict.go
  go/codegen/experimental/codegen_step_train.go
  go/executor/alisa.go
  go/executor/executor.go
  go/executor/pai.go
  python/runtime/pai/entry.py
  python/runtime/pai/get_pai_tf_cmd.py
  python/runtime/pai/submit_pai_task.py
  python/runtime/pai/submitter_train.py
Due: copyright_checker, pylint

Chinese doc: install in VM (#3004)
  doc/sqlflow.org_cn/install_sqlflow_vm_box.cn.md
Due: none

Chinese doc: install SQLFLow in Kubernetes (#3012)
  doc/sqlflow.org_cn/figures/playground_argo_ui.jpg
  doc/sqlflow.org_cn/figures/playground_login_ui.jpg
  doc/sqlflow.org_cn/figures/playground_tutorial_list.jpg
  doc/sqlflow.org_cn/install_in_k8s.cn.md
Due: none

update readme definition part (#3018)
  README.md
Due: none

fix flake8
  python/runtime/pai/entry.py
Due: copyright_checker, pylint

fix tmp directory
  python/runtime/alisa/submitter.py
  python/runtime/pai/submitter_train.py
Due: copyright_checker, pylint

fix create temp table
  python/runtime/pai/submitter_train.py
Due: copyright_checker, pylint

fix go maxcompute select error
  go/executor/fields.go
  go/executor/sql_stmt.go
  go/ir/derivation.go
Due: copyright_checker

fix mysql ut fail
  go/executor/fields.go
  go/executor/sql_stmt.go
  go/ir/derivation.go
Due: copyright_checker

Fix PAI train error (#3026)
  go/cmd/sqlflow/rpc_stream_renderer.go
  go/codegen/experimental/codegen_step_evaluate.go
  go/codegen/experimental/codegen_step_explain.go
  go/codegen/experimental/codegen_step_predict.go
  go/codegen/experimental/codegen_step_train.go
  go/executor/alisa.go
  go/executor/executor.go
  go/executor/pai.go
  python/runtime/alisa/submitter.py
  python/runtime/pai/entry.py
  python/runtime/pai/get_pai_tf_cmd.py
  python/runtime/pai/submit_pai_task.py
  python/runtime/pai/submitter_train.py
Due: copyright_checker, pylint

Refactor TO RUN to compiler arch: Go side. (#3015)
  go/codegen/experimental/codegen_step.go
  go/codegen/experimental/codegen_step_run.go
  python/runtime/local/__init__.py
  python/runtime/local/submitter.py
Due: copyright_checker, pylint

Fix label access on clustering model
  go/executor/executor.go
  go/sql/executor_ir_test.go
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

format code
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

Chinese doc: add quick start
  doc/sqlflow.org_cn/quick_start_cn.md
Due: none

update predict
  python/runtime/local/create_result_table.py
  python/runtime/local/tensorflow_submitter/predict.py
Due: copyright_checker, pylint
