Repository sql-machine-learning/sqlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, google_style_java, jsbeautifier, pylint, shellcheck

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/pre-commit/copyright.py
  language: system

google_style_java:
  name: google_style_java
  entry: bash ./scripts/pre-commit/google_java_format.sh
  language: system
  verbose: true

jsbeautifier:
  name: jsbeautifier
  entry: bash ./scripts/pre-commit/jsbeautifier.sh
  language: system

pylint:
  name: pylint
  entry: bash ./scripts/pre-commit/pylint.sh
  language: system
  verbose: true

shellcheck:
  name: shellcheck
  entry: bash ./scripts/pre-commit/shellcheck.sh
  language: system
  verbose: true

Fix go maxcompute select error (#3029)
  go/executor/fields.go
  go/executor/sql_stmt.go
  go/ir/derivation.go
Due: copyright_checker

fix argo yaml generate with datasource string contains special char
  python/couler/couler/argo.py
Due: copyright_checker, pylint

refine executor step
  go/executor/executor.go
Due: copyright_checker

fix executor
  go/executor/executor.go
  go/sql/executor_ir.go
Due: copyright_checker

add default shape for label
  go/ir/ir_generator.go
Due: copyright_checker

Fix UseExperimentalExecutor (#3032)
  go/executor/executor.go
  go/sql/executor_ir.go
Due: copyright_checker

Fix label access on clustering model (#3030)
  go/executor/executor.go
  go/ir/ir_generator.go
  go/sql/executor_ir_test.go
  python/runtime/local/create_result_table.py
  python/runtime/local/tensorflow_submitter/predict.py
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

update
  go/workflow/couler/codegen_test.go
Due: copyright_checker

make pai_local run successfully
  python/runtime/model/model.py
  python/runtime/model/tar.py
  python/runtime/pai/entry.py
  python/runtime/pai/prepare_archive.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai_local/__init__.py
  python/runtime/pai_local/try_run.py
  python/runtime/step/tensorflow/train.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

fix circular reference
  python/runtime/pai_local/try_run.py
Due: copyright_checker, pylint

update
  python/couler/couler/argo.py
  python/couler/tests/test_argo.py
Due: copyright_checker, pylint

install mysqldb in jupyter notebook
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

Make pai_local executor can run using experimental codegen (#3034)
  python/runtime/model/model.py
  python/runtime/model/tar.py
  python/runtime/pai/entry.py
  python/runtime/pai/prepare_archive.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai_local/__init__.py
  python/runtime/pai_local/try_run.py
  python/runtime/step/tensorflow/train.py
  python/runtime/xgboost/train.py
Due: copyright_checker, pylint

Chinese tutorial for DNN on iris
  doc/tutorial/iris-dnn.cn.md
  doc/tutorial/iris-dnn.md
Due: none

Rephrase
  doc/tutorial/iris-dnn.cn.md
Due: none

prepare to pai predict submission
  go/codegen/experimental/codegen_step.go
  go/executor/alisa.go
  go/executor/pai.go
  go/executor/pai_local.go
  go/model/model.go
  python/runtime/model/model.py
  python/runtime/model/oss.py
  python/runtime/pai/__init__.py
  python/runtime/pai/pai_model.py
  python/runtime/pai/submitter_predict.py
  python/runtime/pai/submitter_train.py
  python/runtime/pai/table_ops.py
  python/runtime/pai_local/__init__.py
Due: copyright_checker, pylint

fix pylint
  python/runtime/alisa/submitter.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
Due: copyright_checker, pylint

polish PAI
  python/runtime/pai/submitter_predict.py
Due: copyright_checker, pylint

install mysqldb in jupyter notebook (#3037)
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

add pyalisa init
  python/runtime/dbapi/pyalisa/__init__.py
Due: copyright_checker, pylint

add alisa.py
  python/runtime/dbapi/pyalisa/alisa.py
Due: copyright_checker, pylint

add pop.py
  python/runtime/dbapi/pyalisa/pop.py
Due: copyright_checker, pylint

add pop_test
  python/runtime/dbapi/pyalisa/pop_test.py
Due: copyright_checker, pylint

update pysqlflow version
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

Revise as recommended
  doc/tutorial/iris-dnn.cn.md
  doc/tutorial/iris-dnn.md
Due: none

fix pai/submitter_test.py
  python/runtime/pai/submitter_test.py
Due: copyright_checker, pylint

add link to playground in readme
  README.md
Due: none

some code cleanup
  go/proto/sqlflow.proto
  go/sqlflowserver/sqlflowserver.go
  go/sqlflowserver/sqlflowserver_test.go
  go/workflow/argo/fetch.go
  go/workflow/argo/fetch_test.go
  go/workflow/argo/submit.go
  go/workflow/argo/workflow.go
  go/workflow/couler/codegen.go
  go/workflow/couler/codegen_test.go
  go/workflow/workflow.go
Due: copyright_checker

remove modelDir argument of sqlflowserver
  doc/design/high_available_sqlflow_server.md
  go/cmd/sqlflowserver/e2e_alps_test.go
  go/cmd/sqlflowserver/e2e_hive_test.go
  go/cmd/sqlflowserver/e2e_maxcompute_test.go
  go/cmd/sqlflowserver/e2e_mysql_test.go
  go/cmd/sqlflowserver/e2e_pai_maxcompute_test.go
  go/cmd/sqlflowserver/e2e_workflow_test.go
  go/cmd/sqlflowserver/main.go
  go/cmd/step/step.go
  go/codegen/experimental/parse_to_ir.go
  go/executor/executor.go
  go/ir/ir_generator.go
  go/ir/ir_generator_test.go
  go/sql/convergence_test.go
  go/sql/executor_ir.go
  go/sql/executor_ir_test.go
  go/sqlflowserver/sqlflowserver.go
  go/sqlflowserver/sqlflowserver_test.go
  go/step/step.go
Due: copyright_checker

update
  go/model/model.go
  go/model/model_test.go
Due: copyright_checker

Chinese doc: credit card fraut, dsw demo
  doc/datasets/popularize_creditcardfraud.sql
  doc/sqlflow.org_cn/credit_card_fraud.cn.md
  doc/sqlflow.org_cn/figures/credit_card_fraud_explain.png
  doc/sqlflow.org_cn/fraud-dnn.cn.md
Due: none

fix workflow env bool value
  python/couler/couler/argo.py
Due: copyright_checker, pylint

update pysqlflow version (#3040)
  docker/jupyter/install-jupyter.sh
Due: copyright_checker, shellcheck

rename alisa to client
  python/runtime/dbapi/pyalisa/client.py
Due: copyright_checker, pylint

fix unit test
  go/cmd/sqlflow/main_test.go
  go/cmd/sqlflowserver/e2e_alisa_test.go
  go/ir/ir_generator_test.go
  go/modelzooserver/using_model_test.go
  go/sql/executor_ir_test.go
  go/step/step_test.go
Due: copyright_checker

try to fix baron download
  docker/dev/install.sh
Due: copyright_checker, shellcheck

unify save db
  python/runtime/dbapi/connection.py
  python/runtime/dbapi/maxcompute.py
  python/runtime/model/model.py
  python/runtime/step/tensorflow/train.py
Due: copyright_checker, pylint

remove oss metadata
  go/codegen/experimental/codegen_step.go
  python/runtime/alisa/submitter.py
  python/runtime/model/db.py
  python/runtime/model/model.py
  python/runtime/model/modelzoo.py
  python/runtime/pai/pai_model.py
  python/runtime/pai/submitter_evaluate.py
  python/runtime/pai/submitter_explain.py
  python/runtime/pai/submitter_predict.py
  python/runtime/pai/submitter_train.py
Due: copyright_checker, pylint

update
  python/runtime/model/model.py
  python/runtime/model/oss.py
Due: copyright_checker, pylint

Path conditions:
  copyright_checker: any of: \.(go|py|sh)$
  google_style_java: any of: \.(java)$
  jsbeautifier: any of: \.(js)$
  pylint: any of: \.py$
  shellcheck: any of: \.(bash|sh)$
